<div class="modal fade" [class.show]="alert && alert.type" tabindex="-1" role="dialog" aria-hidden="true" [style.display]="alert.message ? 'block' : 'none'">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Alert</h5>
        <button type="button" class="close" aria-label="Close" (click)="alert={}">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <fa-icon [icon]="['fas',alert.type == 'success' ? 'check-circle' : 'exclamation-triangle']"></fa-icon> {{ alert.message }}
      </div>
    </div>
  </div>
</div>

<div class="container">
    <div class="contact-us">
        <div class="row">
          <div class="col-md-3"></div>
          <div class="col-md-7">
            <aside>
              <ul>
                <li>
                  <a routerLink="/contact-us" routerLinkActive="active"><span>Project Enquire</span></a>
                </li>
                <li>
                    <a routerLink="/careers" routerLinkActive="active"><span>Careers</span></a>
                </li>
              </ul>
          </aside>
            <main>
                <div class="form-header">
                    <h3>Hello! <span class="blackterm">You can leave a message</span></h3>
                    <p>Our team will reach out to you</p>
                </div>
                <form [formGroup]="form" (ngSubmit)="onSubmit()" [class.ng-submitted]="submitted">
                    <div class="form-group">
                      <label class="label">Name</label>
                        <input type="text" class="form-control" placeholder="John Deo" formControlName="name" maxlength="30"/>
                        <div class="error-feedback" *ngIf="hasError('name','required')">Please enter your name</div>
                        <div class="error-feedback" *ngIf="hasError('name','remote')">{{ form.get('name').getError('remote') }}</div>
                      </div>
                      <div class="form-group">
                        <label class="label">Phone Number</label>
                          <input type="tel" class="form-control" placeholder="9800098000" formControlName="phone" maxlength="15"/>
                          <div class="error-feedback" *ngIf="hasError('phone','required')">Please enter your contact number</div>
                          <div class="error-feedback" *ngIf="hasError('phone','pattern')">Phone number is less than 10 digits</div>
                          <div class="error-feedback" *ngIf="hasError('phone','remote')">{{ form.get('phone').getError('remote') }}</div>
                      </div>
                      <div class="form-group">
                        <label class="label">Email</label>
                        <input type="email" class="form-control" placeholder="official.email@company.com" formControlName="email" maxlength="30"/>
                        <div class="error-feedback" *ngIf="hasError('email','required')">Please enter your email</div>
                        <div class="error-feedback" *ngIf="hasError('email','pattern')">Please provide a valid email address</div>
                        <div class="error-feedback" *ngIf="hasError('email','remote')">{{ form.get('email').getError('remote') }}</div>
                      </div>
                      <div class="form-group">
                        <label class="label">Write your Message</label>
                        <textarea class="form-control" rows="5" placeholder="A brief about your project requirement" formControlName="message" maxlength="500"></textarea>
                        <div class="error-feedback" *ngIf="hasError('message','required')">Please leave a message</div>
                        <div class="error-feedback" *ngIf="hasError('message','remote')">{{ form.get('message').getError('remote') }}</div>
                      </div>
                      <div class="form-group text-center">
                        <button type="submit" class="btn btn-primary btn-block">Enquire</button>
                      </div>
                 </form>
            </main>
          </div>
          <div class="col-md-2"></div>
        </div>
        
      </div>
</div>
