
<div class="contact">
<div class="banner">
   <div class="container">
      <div class="contact-layout">    
         <div class="row">
         <div class="col-md-6 contact-left">
            <h1>We are eager to <span> get in touch </span> with you as well </h1>
            <h6>you can drop us an email at <span> <a href="mailto:hello@uxmint.in?subject=Query and Collabration!">hello@uxmint.in</a></span></h6>
         </div>
         </div>
      </div>
   </div>
</div>
   <div class="contact-layout1">
      <div class="row">
         <div class="container">
         <div class="layouts">
            <h2>Let us Know what you are looking <br> forward to discuss.</h2>
            <form [formGroup]="form" id="contactForm" name="contactForm" class="contactForm" autocomplete="off">
               <div class="row  layout-right">
                  <div class="col-md-5"  *ngFor="let position of positions">
                     <div class="custom-control custom-checkbox custom-control-inline">
                        <input type="checkbox" [id]="position.id" [(ngModel)]="position.checked" [value]="position.value" formControlName="position" (change)="onChange(position.value)"  class="custom-control-input">
                        <label class="checkbox custom-control-label" [for]="position.id">{{ position.name }}</label>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-md-5">
                     <div class="form-group bg-light">
                        <label class="label" for="name">Name</label>
                        <input type="text" class="form-control" formControlName="name" name="name" id="name" placeholder="Your name">
                     </div>
                     <div *ngIf="hasError('name','required')" class="form-text">Please enter Name</div>
                  </div>
                  <div class="col-md-5">
                     <div class="form-group bg-light">
                        <label class="label" for="email">Email </label>
                        <input type="email" class="form-control" formControlName="email" name="email" id="email" placeholder="Your@email.com">
                     </div>
                     <div *ngIf="hasError('email','email')" class="form-text">The email should be in the format: abc@domain.tld</div>
                     <div *ngIf="hasError('email', 'required')" class="form-text">Please enter email ID</div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-md-5">
                     <div class="form-group bg-light">
                        <label class="label" for="phone">Phone</label>
                        <input type="text" class="form-control" formControlName="phone" name="phone" id="phone" placeholder="Your phone number">
                     </div>
                     <div *ngIf="hasError('phone','required')" class="form-text">Please enter Mobile number</div>
                     <div *ngIf="hasError('phone','pattern')" class="form-text">Please enter valid Mobile number</div>
                  </div>
                  <div class="col-md-5">
                     <div class="form-group bg-light">
                        <label class="label" for="business">Business/ Organisation</label>
                        <input type="text" class="form-control" formControlName="business" name="business" id="business" placeholder="Your Business/Organisation">
                     </div>
                     <div *ngIf="hasError('business','required')" class="form-text">Please enter Business/ Organisation</div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-md-10">
                     <div class="form-group bg-light">
                        <label class="label" for="message">Message</label>
                        <textarea name="message" class="form-control" formControlName="message" id="message" cols="30" rows="4" placeholder="Start typing here..."></textarea>
                     </div>
                     <div *ngIf="hasError('message','required')" class="form-text">Please enter message</div>
                     <div *ngIf="hasError('message','minlength')" class="form-text">Message should be at least 15 characters</div>
                  </div>
               </div>
               <div class="row">
                  <div class="anime-button lets-talk">
                     <a  class="swipe-button" (click)="submit()">Submit</a>
                   </div>
               </div>
            </form>
         </div>
      </div>
         </div>
      </div>
   <div class="contact-layout2">
      <div class="container">
         <div class="row">
            <div class="col-md-6">
               <div class="layout-left">
                  <h3>
                     you can drop in to the premises <br> between 10.00 AM to 6.00 PM, <br> Monday to Friday
                  </h3>
                  <p>
                     Plot no, 16, Nethaji Street,<br> Annai Indira Nagar, Okkiyam, Thoraipakkam,<br> Chennai, Tamilnadu - 600097
                  </p>
                  <h4>Landmark: Opp to Holiday Inn</h4>
               </div>
            </div>
            <div class="col-md-6 only-mobile">
                  <div class="map-route">
                     <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15554.630321513676!2d80.2329007!3d12.9297159!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x6cbe4ea9c7e5f037!2suxmint.design!5e0!3m2!1sen!2sin!4v1639991627222!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                  </div>
            </div>
         </div>
      </div>
   </div>
   <div class="contact-layout3">
      <div class="row">
         <div class="col-md-6 layout-left">
            <h3>INDIA</h3>
            <P>No. 2 Sundaram Street, Narayanan Nagar, <br>Pallikaranai, Chennai - 600100</P>
         </div>
         <div class="col-md-6 layout-left">
            <h3>USA</h3>
            <p>651 N Broad St Suite 206<br> Middletown, Delaware - 19709</p>
         </div>
      </div>
   </div>
</div>