<div class="contact">
   <div class="banner">
      <div class="container">
         <div class="contact-layout">
            <h1>We are eager to <span> get in touch </span><br> with you as well </h1>
            <h6>you can drop us an email at <span>hello@uxmint.in</span></h6>
         </div>
      </div>
   </div>
   <div class="contact-layout1">
      <div class="row">
         <div class="container">
         <div class="layouts">
            <h2>Let us Know what you are looking <br> forward to discuss.</h2>
            <form [formGroup]="form" id="contactForm" name="contactForm" class="contactForm">
               <div class="row  layout-right">
                  <div class="col-md-5"  *ngFor="let position of positions">
                     <div class="custom-control custom-checkbox custom-control-inline">
                        <input type="checkbox" [id]="position.id" [(ngModel)]="position.checked" [value]="position.value" formControlName="position" (change)="onChange(position.value)"  class="custom-control-input">
                        <label class="checkbox custom-control-label" [for]="position.id">{{ position.name }}</label>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-md-5">
                     <div class="form-group bg-light">
                        <label class="label" for="name">Name</label>
                        <input type="text" class="form-control" formControlName="name" name="name" id="name" placeholder=" Your name">
                     </div>
                  </div>
                  <div class="col-md-5">
                     <div class="form-group bg-light">
                        <label class="label" for="email">Email </label>
                        <input type="email" class="form-control" formControlName="email" name="email" id="email" placeholder=" Your@email.com">
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-md-5">
                     <div class="form-group bg-light">
                        <label class="label" for="phone">Phone</label>
                        <input type="text" class="form-control" formControlName="phone" name="phone" id="phone" placeholder=" Your phone number">
                     </div>
                  </div>
                  <div class="col-md-5">
                     <div class="form-group bg-light">
                        <label class="label" for="business">Business/ Organisation</label>
                        <input type="text" class="form-control" formControlName="business" name="business" id="business" placeholder=" Your Business/Organisation">
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-md-10">
                     <div class="form-group bg-light">
                        <label class="label" for="message">Message</label>
                        <textarea name="message" class="form-control" formControlName="message" id="message" cols="30" rows="4" placeholder=" Start typing here..."></textarea>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="button">
                     <div class="btn btnn" (click)="submit()">Submit</div>
                  </div>
               </div>
            </form>
         </div>
      </div>
         </div>
      </div>
   <div class="contact-layout2">
      <div class="row">
         <div class="col-md-6">
            <div class="layout-left">
               <h3>
                  you can drop in to the premises <br> between 10.00 AM to 6.00 PM, <br> Monday to Friday
               </h3>
               <p>
                  Plot no, 16, Nethaji Street,<br> Annai Indira Nagar, Okkiyam, Thoraipakkam,<br> Chennai, Tamilnadu - 600096
               </p>
               <h4>Landmark: Opp to Holiday Inn</h4>
            </div>
         </div>
         <div class="col-md-6 only-mobile">
            <div class="map-route">
               <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15554.638548413615!2d80.2329289!3d12.9295839!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xd520a88b9abf07ec!2sUXMINT!5e0!3m2!1sen!2sin!4v1617021616096!5m2!1sen!2sin" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
         </div>
      </div>
   </div>
   <div class="contact-layout3">
      <div class="row">
         <div class="col-md-6 layout-left">
            <h3>INDIA</h3>
            <P>Alta vida, 4b, Thaiyur, near Kelambakkam,<br> Old Mahabalipuram Road, Chennai - 603103</P>
         </div>
         <div class="col-md-6 layout-left">
            <h3>USA</h3>
            <p>651 N Broad St Suite 206<br> Middletown, Delaware - 19709</p>
         </div>
      </div>
   </div>
</div>