@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
:host{
    padding-top: 100px;
    margin-top: -200px;
}
.banner{
    background-color: #f7f5f0;
    background-image: url('/assets/images/contactUs.svg');
    background-repeat: no-repeat;
    background-position: right;
    padding-top: 200px;
    .contact-layout{
    h1{
        font-size: 76px;
        font-weight: 100;
        color: #3B3B3B;
        font-family: "Muli", sans-serif;
        span{
            color: #000000;
        }
    }
    h6{ 
        font-size: 26px;
        font-weight: 100;
        padding-top: 25px;
        color: #3B3B3B;
        font-family: "Muli", sans-serif;
         span a{
            color: #000000;
            text-decoration: underline;
            
        }
    }
}
@include media-breakpoint-down(lg) {
    height: 650px;
    padding: 245px 0px;
}
@include media-breakpoint-down(md) {
    height: 540px;
    padding: 180px 0px;
    .contact-layout{
        h1{
            font-size: 36px;
            font-weight: 100;
        }
        h6{
            font-size: 24px;
            font-weight: 100;
        }
    }
    .only-web{
        display: none;
    }
    .contact-left{
        padding: 0px 10px;
    }
}
  @include media-breakpoint-down(sm) {
        height: 500px;
        padding: 150px 0px;
        .only-web{
            display: none;
        }
        .contact-left{
            padding: 0px 10px;
        }
    }
}
.contact-layout1{
    padding: 100px;
  .layouts{
    h2{
        font-size: 36px;
        font-weight: 100;
        color: #000000;
        font-family: "Muli", sans-serif;
    }
  }
  .custom-control-label {
    position: initial;
    margin-bottom: 50px;
    vertical-align: top;
}
.button{
    margin-top: 40px;
    padding-left: 15px;
}
.btnn{
    border: 2px solid #0D0D0D;
    border-radius: 0;
    color: #0D0D0D;
    cursor: pointer;
    font-size: 20px;
    font-weight: 100;
    padding: 5px 20px;
    font-family: "Muli", sans-serif;
    &:hover{
        background-color: #C3343C;
        color: #FFFFFF;
        border: 2px solid #E2E2E2;
    }
}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link{
    background-color: #F5E69D !important;
    font-size: 36px;
    font-weight: 100;
    font-weight: 500;
    padding: 120px 100px;
    border-radius: 0;
} 
.nav-pills a{
    color: #FFF;
    font-size: 36px;
    font-weight: 100;
    padding: 120px 100px;
    background-color: #282829;
    border-radius: 0;
    font-family: "Muli", sans-serif;
} 
    .layout-right{
        .checkbox {
            display: block;
            position: relative;
            padding-left: 15px;
            margin: 20px 0px;
            cursor: pointer;
            line-height: 34px;
            font-size: 20px;
            font-family: "Muli", sans-serif;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
          }
          .checkbox input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
          }
        
        .form-control-file{
            border: none;
            font-size: 20px;
            font-weight: 100;
           background-color: #f8f9fa;
            padding-left: 5px;
            transition: none !important;
        }
        .form-control:focus{
            border-color: #ced4da;
            box-shadow: none;
          }
    }
    @include media-breakpoint-down(lg) { 
        .layout-left{
            padding: 100px 40px;
        }
        .layout-right{
            padding: 40px 10px;
        }
        .custom-control-inline {
            display: inline-flex;
            padding-left: 28px;
        }
        .ml-4, .mx-4 {
            margin-left: -5.5rem !important;
        }
    }
    @include media-breakpoint-down(md) {
        .layout-left{
            padding: 100px 0px;
        }
        .layout-right{
            padding: 40px 0px;
        }
        .custom-control-inline {
            display: inline-flex;
            padding-left: 28px;
        }
        .ml-4, .mx-4 {
            margin-left: -5.5rem !important;
        }
    }
    @include media-breakpoint-down(sm) {
        padding: 10px;
        .d-flex{
            flex-direction: column;
        }
        .layout-left{       
            padding: 100px 0px;
        }
        h2{
            font-size: 24px;
            font-weight: 100;
            padding-left: 0%;
        }
        .layout-right{
            padding: 0px;
            .layouts{
                height: 1650px;
                overflow: hidden;
            }
            ::-webkit-scrollbar {
                display: none;
            }
        }
        .button{
          padding-left: 5%;
        }
       
        .custom-control-inline {
            display: inline-flex;
            padding-left: 10%;
        }
        .ml-4, .mx-4 {
            margin-left: -5.5rem !important;
        }
    }
}
.contact-layout2{
    background-color: #F7F5F5;
    .container{
        max-width: 1400px;
        padding: 0 10px;
        margin: 0 auto;
    }
    .map-route{
        padding: 0px
    }
    .layout-left{
        padding: 100px 80px;
        h3{
            font-size: 28px;
            font-weight: 100;
            color: #3B3B3B;
            line-height: 48px;
            font-family: "Muli", sans-serif;
        }
        p{
            font-size: 18px;
            color: #707071;
            margin-top: 40px;
            font-family: "Muli", sans-serif;
            line-height: 30px;
        }
        h4{
            font-size: 18px;
            font-weight: 100;
            color: #3B3B3B;
            margin-top: 40px;
            font-family: "Muli", sans-serif;
        }
    }
    img{
        width: 100%;
    }
    @include media-breakpoint-down(lg) {
        padding: 0px 20px;
        .layout-left{
            padding: 35px 100px;
        }
        img{
            width: 140%;
        }
    }
    @include media-breakpoint-down(md) {
        .layout-left{
            padding: 40px 60px;
            h3{
                font-size: 24px;
                font-weight: 100;
                line-height: 48px;
            }
            p{
                font-size: 20px;
                margin-top: 65px;
            }
            h4{
                font-size: 20px;
                font-weight: 100;
                margin-top: 30px;
            }
        }
        img{
            width: 220%;
        }
    }
    @include media-breakpoint-down(sm) {
        .layout-left{
            padding: 30px 40px;
        }
    }
}
.contact-layout3{
    background-color: #EBEBEB;
    padding: 100px 100px;
    .layout-left{
h3{
    font-size: 28px;
    font-weight: 100;
    color: #3B3B3B;
   padding-bottom: 20px;
   font-family: "Muli", sans-serif;
}
p{
    font-size: 18px;
    color: #707071;
    padding-bottom: 20px;
    font-family: "Muli", sans-serif;
}
    }
    @include media-breakpoint-down(lg) {
        padding: 90px 80px;
    }
    @include media-breakpoint-down(md) {
        padding: 70px 50px;
        h3{
            font-size: 24px;
            font-weight: 100;
            margin-bottom: 20px;
        }
        p{
            font-size: 20px;
        }
    }
    @include media-breakpoint-down(sm) {
        padding: 60px 20px;
    }
}
.custom-control-label::before{
    width: 24px;
    height: 24px;
}
.custom-checkbox .custom-control-label::before{
    border-radius: 0px;
}
.custom-control-input:checked ~ .custom-control-label::before{
    color: #fff;
    border-color: #C3343C;
    background-color: #C3343C;
}
.custom-control-label::after{
    top: 0px;
    left: -27px;
    width: 2rem;
    height: 2rem;
}
.form-control{
    border: none;
    font-size: 20px;
    font-family: "Muli", sans-serif;
    background-color: #f8f9fa;
    padding-left: 10px;
    box-shadow: none !important;
}
.label{
    color: #282829;
    font-size: 20px;
    font-weight: 400;
    padding-left: 10px;
    padding-top: 15px;
}
iframe {
    width:100%;
    height:560px;
  }
  .form-text {
    color: #dc3545;
    margin-bottom: 15px;
    margin-top: -14px;
    font-family: "Muli", sans-serif;
}
::placeholder { 
    color: #6A737C;
    font-size: 16px;
    opacity: 0.6; 
    font-weight: 400;
    font-family: "Muli", sans-serif;
  }
  .contact-left{
      padding: 155px 0px;
  }

// *********************** BUTTONS red ***************
.anime-button{
    display: flex;
    margin-left: 14px;
    margin-top: -20px;
    a{
        border: 2px solid #0D0D0D;
        border-radius: 0;
        color: #0D0D0D;
        cursor: pointer;
        font-size: 20px;
        padding: 10px 20px;
        font-family: "Muli", sans-serif;
        margin-top: 30px;
        position: relative;
        transition:all .3s;
        z-index: 1;
        text-decoration: none;
        overflow:hidden;
    }
    a::before{
        content:"";
        position: absolute;
        width: 100%;
        height: 100%;
        top:0;
        left:0;
        background-color: #000000;
        transition:all .3s;
        transform: translateX(-100%);
        z-index: -1;
        overflow:hidden;
    }
    a:hover:before{
        transform: translateX(0);
    }
    a:hover{
        color: #fff;
        border: 2px solid #000000;
    
    }
}


