<!-- Car usability testing -->
<section class="car-usability">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
      <h1>AUTOMOBILE USABILITY TESTING</h1>
    </div>
      <div class="col-md-8">
        <p>A multi-national automobile manufacturing company approached us for Usability Testing of alert system for their luxury segment vehicles to be launched Asian Market.</p>
    </div>
    </div>
  </div>
</section>
<!-- Car usability testing -->

<!-- image -->
<div class="image">
  <div class="step-image">
  <img src="/assets/images/projects/car-usability/car.png"/>
</div>
</div>
 <!-- image -->

  <!-- About Project -->
<section class="about-project">
  <div class="container">
    <div class="heading">
      <h1>ABOUT PROJECT</h1>
    </div>
    <div class="row">
      <div class="col-md-5">
        <p>An initial Pilot Testing was conducted with fewer users to understand the scenarios in which the prototype was put to use and the 
          results were used to create detailed scenarios for different user segment in real-time scenario.
        </p>
        <p>On the iterated version several participants were asked to test the prototype; the analysis and the results varied for 
          different user segments.
        </p>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-5">
        <h3>Goal</h3>
          <p>Primary objective of this usability testing of prototype system was to observe the Behaviour under different 
            conditions in target user segments; with the parameters of Cognition, Acceptance and Reach. 
            How Culture & Environment impacts the understanding of the functionalities? </p>
          <p>Understanding the preference of end-users for "Alert System" in terms of "Visual", "Audio" and "Haptics".
          </p>
      </div>
    </div>
  </div>
</section>
<!-- About Project -->

<!-- Testing process -->
<section class="testing-process">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
      <h1>TESTING PROCESS</h1>
    </div>
  </div>
    <div class="row">
      <div class="col-md-5">
        <h3>Testing Environment</h3>
        <p>Vehicle was tested in Natural Environment (to the extent possible) in calm road and broad daylight
          condition; while other pedestrians/vehicles were passing by the testing vehicle.
        </p>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-5">
        <h3>Equipment</h3>
        <p>Vehicle was provided with the prototype installed.
          Prototype was simulated for different scenarios with various alerts "Visual", "Audio" and "Haptics".
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
      <h1>Testing Summary</h1>
      <p>The various touch points on user preferences, cultural impact, segment variance and the enhancements required were 
        provided based on the exhaustive usability testing done on different user segments ranging from children, teenagers, 
        adults, parents and elderly.
      </p>
      <div class="types">
        <p>- Environmental</p>
        <p>- Emotional</p>
        <p>- Intellectual</p>
        <p>- Ergonomical</p>
        <p>- Senses</p>
      </div>
    </div>
    </div>
  </div>
</section>
<!-- Testing process -->

<!-- Other Works -->
<section class="other-works">
  <div class="container">
    <div class="other-works-heading">
        <h3>OTHER WORKS</h3>
    </div>
    <div class="other-works-body">
        <div class="row space">
          <div class="col-md-4">
            <div class="step-image" routerLink="/projects/event-management">
              <img src="/assets/images/projects/project1.jpg" alt="Case Study"/>
              <div class="text-hover">
                  <h4>Event Management</h4>
                  <h6>Read Case Study <fa-icon [icon]="['fas','chevron-right']"></fa-icon></h6>
              </div>
          </div>
        </div>
          <div class="col-md-4">
            <div class="step-image" routerLink="/projects/networking">
              <img src="/assets/images/projects/project2.jpg" alt="Case Study"/>
              <div class="text-hover">
                  <h4>Network Scalability</h4>
                  <h6>Read Case Study <fa-icon [icon]="['fas','chevron-right']"></fa-icon></h6>
              </div>
          </div>
          </div>
          <div class="col-md-4">
            <div class="step-image" routerLink="/projects/skill-development">
              <img src="/assets/images/projects/project3.jpg" alt="Case Study"/>
              <div class="text-hover">
                  <h4>Skill Development</h4>
                  <h6>Read Case Study  <fa-icon [icon]="['fas','chevron-right']"></fa-icon></h6>
              </div>
          </div>
        </div>
        </div>
    </div>
  </div>
</section>
<!-- /Other Works -->
