<div class="services">
    <div class="banner">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="banner-content">
                        <h1>End To End Development</h1>
                        <hr class="line">
                        <p>Designing scalable platform harnessing the technology for business reach to their end users with the better user experience, engagement and adaptablity.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="service-layout1">
        <div class="row">
            <div class="col-md-6 left-layout">
                <div class="container">
                    <h3>A product with good User Experience will Improve Productivity drastically</h3>
                </div>
            </div>
            <div class="col-md-6 right-layout">
                <img src="./assets/images/services/image.png">
            </div>
        </div>
    </div>
    <div class="service-layout2">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <h3>Back-end Development is building the base & dimensions of a product</h3>
                    <p>From design to development to implemation support, our consultants can do it all.</p>
                </div>
                <div class="col-md-4">
                    <div class="list">
                        <img src="./assets/images/services/icon-22.svg"><span>Understanding Systems</span>
                    </div>
                    <div class="list">
                        <img src="./assets/images/services/icon-23.svg"><span>Backend Framework</span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="list">
                        <img src="./assets/images/services/icon-24.svg"><span>API Web Service</span>
                    </div>
                    <div class="list">
                        <img src="./assets/images/services/icon-25.svg"><span>Scalability</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="service-layout3">
        <div class="container">
            <div class="d-flex">
                <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-pills" orientation="vertical">
                  <li ngbNavItem="discussion">
                    <a ngbNavLink>Implementation</a>
                    <ng-template ngbNavContent>
                      <h2>Implementation</h2>
                      <p>We define the stubs in correlation with the Interface needs with scope for future enhancements with minimal changes. The API driven development allows us to integrate with multiple platforms and services in agile mode. We manage the code via Git repositories for a hassle free hand-over and deployment.</p>
                    </ng-template>
                  </li>
                  <li ngbNavItem="discovery">
                    <a ngbNavLink>Testing & Support</a>
                    <ng-template ngbNavContent>
                        <h2>Testing & Support</h2>
                        <p>Quality is the key for any product success, with a well-defined quality process we delivery the product or application that are ready for go-live.</p>
                        <p>With the core implementation done there is always scope for changes and customer exprience enhancements for which we work along with your team in Release/Patch Managment to suite the end-user demand.</p>
                    </ng-template>
                  </li>
                </ul>
              
                <div [ngbNavOutlet]="nav" class="ml-4 px-5"></div>
              </div>
        </div>
    </div>
    <div class="service-layout3-responsive">
        <ngb-accordion [closeOthers]="true" activeIds="static-1">
          <ngb-panel id="static-1"  >  
             <ng-template ngbPanelTitle>
                <div class="dis_flex">
                   <div> Implementation </div>
                   <div class="arrow_rotate">  <img src="./assets/images/about/arrow.png"> </div>
                </div>
              </ng-template> 
            <ng-template ngbPanelContent >
             <div class="row">
                <div class="col-md-6 design-left">
                    <p>We define the stubs in correlation with the Interface needs with scope for future enhancements with minimal changes. The API driven development allows us to integrate with multiple platforms and services in agile mode. We manage the code via Git repositories for a hassle free hand-over and deployment.</p>
                </div>
             </div>
            </ng-template>
          </ngb-panel>
          <ngb-panel id="static-2">
             <ng-template ngbPanelTitle>
                <div class="dis_flex">
                   <div>Testing & Support</div>
                   <div class="arrow_rotate">  <img src="./assets/images/about/arrow.png"> </div>
                </div>
              </ng-template> 
             <ng-template ngbPanelContent>
                <div class="row">
                   <div class="col-md-6 design-left">
                    <p>Quality is the key for any product success, with a well-defined quality process we delivery the product or application that are ready for go-live.</p>
                    <p>With the core implementation done there is always scope for changes and customer exprience enhancements for which we work along with your team in Release/Patch Managment to suite the end-user demand.</p>
                   </div>
                </div>
             </ng-template>
           </ngb-panel>
        </ngb-accordion>
      </div>
</div>