
<div class="career">
    <div class="banner">
       <div class="container">
          <div class="career-layout1">
             <h1>Drop in your detail <br> if you want to be <span> a part of us</span> </h1>
             <h4>Candidates can share their resume with portfolio to  <span><a href="mailto:hello@uxmint.in?subject=Query and Collabration!">hello@uxmint.in</a></span></h4>
          </div>
       </div>
    </div>
    <div class="career-layout">
       <div class="container">
          <div class="career-design">
             <h1>Open opportunities</h1>
             <mat-card> 
             <div class="row designer">
                <div class="col-md-3">
                   <h2> UX Designer </h2>
                  <h6>Fulltime </h6> 
                </div>
                <div class="col-md-3">
                  <h5>Chennai | India</h5><h6>Location</h6>
               </div>
                <div class="col-md-3">
                  <h5>2 - 4 Years</h5><h6>Experience </h6> 
                </div>
                <div class="col-md-3 text-right">
                  <div class="anime-button">
                     <div class="btn btnn" routerLink="/career/job-description">View</div>
                  </div>
                </div>
             </div>
            </mat-card>
          </div>
       </div>
    </div>
 </div>