@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
:host{
    padding-top: 0px;
}
.career{
    .banner{
        background-color: #D3B1FF;
        padding-top: 140px;
        height: 700px;
        padding: 250px 0px;
        h1{
            font-size: 56px;
            color: #3B3B3B;
            font-family: Baskerville;
            span{
                color: #C3343C;
            }
        }
        h4{
            font-size: 26px;
            color: #3B3B3B;
            padding-top: 25px;
            font-family: Muli;
            span a{
                color: #C3343C;
                text-decoration: underline;
                cursor: pointer;
            }
        }
        @include media-breakpoint-down(lg) {
            height: 650px;
        }
        @include media-breakpoint-down(md) {
            height: 540px;
            h1{
                font-size: 36px;
            }
            h6{
                font-size: 24px;
            }
        }
        @include media-breakpoint-down(sm) {
            height: 600px;
        }
    }  
    .career-layout{
        padding: 150px 30px;
        .career-design{
            //padding: 70px 30px;
            h1{
                font-size: 36px;
                color: #3B3B3B;
                padding-bottom: 30px; 
                font-weight: 200;
                font-family: Baskerville;
             }
            .designer{
                padding: 10px 40px;
            h2{
                color: #3B3B3B;
                font-size: 24px;
                font-weight: 500;
                cursor: pointer;
                font-family: Muli;
            }
            h6{
                font-size: 20px;
                padding-top: 5px;
                font-weight: 400;
                color: #707071;
                font-family: Muli;
            }
            h5{
                font-size: 20px; 
                font-family: Muli;
                font-weight: 400;
            }
            .button{
                margin-top: 10px;
            }
            .btnn{
                border: 2px solid #0D0D0D;
                border-radius: 0;
                color: #0D0D0D;
                cursor: pointer;
                font-size: 20px;
                padding: 5px 20px;
                font-family: Muli;
                &:hover{
                    background-color: #C3343C;
                    color: #FFFFFF;
                    border: 2px solid #E2E2E2;
                }
            }
        }
    }
    @include media-breakpoint-down(lg) {  
        padding: 100px 30px;
        .career-design{
        padding: 60px 0px;
        }
}
@include media-breakpoint-down(md) {  
                padding: 50px 0px;
                .career-design{
                padding: 50px 0px;
                h2{
                    font-size: 24px;
                    //padding-bottom: 25px; 
                }           
                .designer{
                padding-top: 40px;
                h1{
                    font-size: 24px;
                    font-weight: 500;
                }
                h6{
                    font-size: 20px;
                }
                .button{
                     text-align: left;
                }
                .btn-white{
                width: 85px;
                padding: 8px 15px;
                }
            }
        }
}
@include media-breakpoint-down(sm) {  
            .only-mobile{
                display: none;
            }
            padding: 100px 0px;
            .career-design{
            padding: 0px 0px;
            }
        }
    }
}