@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
:host{
    padding-top: 0px;
}
.career{
    .banner{
        background-color: #995BEB;
        padding-top: 140px;
        top: -100px;
        position: relative;
        height: 830px;
        padding: 350px 0px;
        h1{
            font-size: 56px;
            color: #000000;
            font-family: Baskerville;
            span{
                color: #FFFFFF;
            }
        }
        h6{
            font-size: 36px;
            color: #282829;
            padding-top: 25px;
            font-family: Muli;
            span{
                color: #FFFFFF;
                text-decoration: underline;
            }
        }
        @include media-breakpoint-down(lg) {
            height: 650px;
        }
        @include media-breakpoint-down(md) {
            height: 540px;
            h1{
                font-size: 36px;
            }
            h6{
                font-size: 24px;
            }
        }
        @include media-breakpoint-down(sm) {
            height: 600px;
        }
    }  
    .career-layout{
        padding: 100px 30px;
        .career-design{
            padding: 70px 30px;
            color: #292929;
            h1{
                font-size: 36px;
                color: #808080;
                padding-bottom: 25px; 
                font-weight: 200;
                font-family: Baskerville;
             }
            .designer{
                padding: 20px 0px;
            h2{
                font-size: 24px;
                font-weight: 500;
                cursor: pointer;
                font-family: Muli;
            }
            h6{
                font-size: 20px;
                padding-top: 5px;
                font-weight: 400;
                color: #808080;
                font-family: Muli;
            }
            h5{
                font-size: 20px; 
                font-family: Muli;
                font-weight: 400;
            }
            .button{
                margin-top: 10px;
            }
            .btn-white{
               background-color: #2A71F6;
                border-radius: 0;
                color: #FFFFFF;
                cursor: pointer;
                font-size: 20px;
                font-family: Muli;
                padding: 8px 25px;
            }
        }
    }
    @include media-breakpoint-down(lg) {  
        padding: 100px 30px;
        .career-design{
        padding: 60px 0px;
        }
}
@include media-breakpoint-down(md) {  
                padding: 50px 0px;
                .career-design{
                padding: 50px 0px;
                h2{
                    font-size: 24px;
                    padding-bottom: 25px; 
                }           
                .designer{
                padding-top: 40px;
                h1{
                    font-size: 24px;
                    font-weight: 500;
                }
                h6{
                    font-size: 20px;
                }
                .btn-white{
                width: 85px;
                padding: 8px 15px;
                }
            }
        }
}
@include media-breakpoint-down(sm) {  
            .only-mobile{
                display: none;
            }
            padding: 100px 0px;
            .career-design{
            padding: 0px 0px;
            }
        }
    }
}