@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
:host{
    padding-top: 0px;
}
.engagement{
    .banner{
        padding-top: 140px;
        height: 700px;
        padding: 250px 0px;
        background-color: #FAA55B;
        .engagement-layout{
        h1{
            font-size: 56px;
            color: #3B3B3B;
            font-family: Baskerville;
            span{
                color: #FFFFFF;
            }
            #nextline::after{
                content: "\a";
                white-space: pre;
            }
        }
        h6{ 
            font-size: 36px;
            padding-top: 25px;
            color: #3B3B3B;
            font-family: 'Muli', sans-serif;
             span{
                color: #FFFFFF;
                //border-bottom: 2px solid #FFF;
            }
        }
    }      
}
@include media-breakpoint-down(lg) {
    .banner{
        height: 670px;
        padding: 245px 0px;
        .engagement-layout{
            h1{
                #nextline::after{
                    content: "\a";
                    white-space: pre;
                }
            }
        }
    }
}
@include media-breakpoint-down(md) {
    .banner{
        height: 500px;
        padding: 180px 0px;
        .engagement-layout{
            h1{
                font-size: 36px;
                #nextline::after{
                    content: "\a";
                    white-space: none;
                }
            }
            h6{ 
                font-size: 24px;
                padding-top: 15px;
            }
        }
    }
}
@include media-breakpoint-down(sm) {
    .banner{
        height: 600px;
        padding: 150px 0px;
        .engagement-layout{
            h1{
                margin-bottom: 40px;
              }
          }
       }
   }
}
.only-mobile{
    display: none;
}
@include media-breakpoint-down(sm) {
    .only-mobile{
        display: block;
        margin-top: -100px;
        ::ng-deep{
            .card{
                background-color: #FAA55B!important;
            }
        }
        ::ng-deep{
        .card-header {
            background-color: #FAA55B!important;
        }
        .btn-link:hover {
            color: #FFFFFF;
            font-size: 20px;
        }
        .btn-link {
            font-size: 20px;
            font-weight: 700; 
            color: #FFFFFF;
            text-decoration: none;
            width: 100%;
        }
        .dis_flex{
            display:flex;
            align-items: center;
            justify-content: space-between;
        }
        .btn:focus  {
             outline: 0;
             box-shadow: none !important; 
        }
        .collapsed .arrow_rotate{
            -ms-transform: rotate(180deg);  
            transform: rotate(180deg);
        }
    }
    h2{
        font-size: 20px;
        color: #FFFFFF;
    }
        .design-left{
            padding: 40px 20px;
            p{
                font-size: 20px;
                color: #FFFFFF;
                padding-top: 10px;
            }
        }
        .design-right{
            padding: 30px 20px;
              .logo-image{
                padding-top: 10px;
                padding-bottom: 20px;
              }
              p{
                font-size: 20px;
                color: #FFFFFF;
                margin-left: 80px;
                margin-top: -55px;
            }
        }
    }
    .feature-work{
        display: none;
    }
}
.feature-work{
    background-color: #FAA55B;
    padding: 0 0 4px 5px;
    .row{
        margin-right: 0;
        margin-left: 0;
    }
    .card{
        border: none;
        padding: 100px 170px 100px 100px;
        height: 600px;
        background-color: #FAA55B;
        p{
            font-size: 18px;
            color: #FFFFFF;
            font-family: 'Muli', sans-serif;
        }
        h2{
            font-size: 48px;
            font-weight: 500;
            margin-bottom: 40px;
            color: #FFFFFF;
            font-family: Baskerville;
        }
    }
    .design-right{
        padding: 150px 30px;

          .logo-image{
            padding-top: 10px;
            padding-bottom: 20px;
          }
          p{
            font-size: 18px;
            color: #FFFFFF;
            font-family: 'Muli', sans-serif;
        }
    }
    .mt-2, .my-2 {
        margin-top: 0 !important;
    }
    .nav-pills{
        a{
            padding: 6px 180px 6px 180px;
        }
        .nav-link{
            border-radius: 0;
            background-color: #E6E6E6;
        }
        .nav-link.active{
            background-color: #FAA55B;
        }
    }
    @include media-breakpoint-down(lg) {
        padding: 0 0 4px 5px;
        .card{
            border: none;
            padding: 100px 60px 0px 80px;
        }
    }
    @include media-breakpoint-down(md) {
        padding: 0 0 4px 5px;
        .card{
            border: none;
            padding: 100px 10px 0px 25px;
            h2{
                font-size: 38px;
            }
        }
        .design-right{
            padding: 150px 0px 20px 0;
        }
    }
}
// Carousel
.item{
    padding: 0;
}
.ngucarousel-indicator-two{
    text-align: center;
    width: 100%;
    padding-bottom: 40px;
    padding-top: 0px;
    padding-left: 0px;
    li{
        display: inline-block;
        line-height: 22px;
        a{
            display: block;
            margin: 0 5px;
            width: 15px;
            height: 15px;
            border: 2px solid #FFF;
            background-color: #FFF !important;
            text-indent: -999px;
            overflow: hidden;
            border-radius: 10px;
            cursor: pointer;
            &.active{
                width: 11px;
                height: 11px;
                border: 8px solid #000;
                background-color: #000 !important;
            }
        }
    }
}
::ng-deep .tile{
    border-radius: 15px;
    box-shadow: none !important;
}

// *********** HEADER START*********** //

header{
    z-index: 1;
    background-color: #FAA55B;
}
.nav-item{
    margin-left: 22px;
}
.header-logo{
    display: inline-flex;
    flex-wrap: nowrap;
    cursor: pointer;
}
.ux-logo{
    img{
        margin-left: 28px;
        margin-top: 7px;
        width: 75%;
    }
}
h2{
    font-family: "Muli", sans-serif;
    font-size: 14px;
    color: #000000;
    margin-left: -14px;
    padding-top: 9px;
}
@include media-breakpoint-down(sm){
    h2{
        margin-left: -78px;
        padding-top: 13px;
    }
    .ux-logo{
        img{
            margin-left: 6px;
            margin-top: 7px;
            width: 54%;
        }}
}
.nav-link{
    font-family: 'Muli', sans-serif;
    font-size: 16px;
    color: #000000;
    font-weight: 400;
}
.lines{
    border-left: 1px solid #AAAAAA;
    height: 25px;
    margin-top: 8px;
    margin-left: 50px;
}
.menu-activator{
    cursor: pointer;
    position: relative;
    margin-left: 30px;
    @include media-breakpoint-down(lg){
        margin-left: 30px;
    }
    @include media-breakpoint-down(md){
        margin-left: 4px;
    }
    @include media-breakpoint-down(sm){
        margin-left: 2px;
    }
    img{
        height: 16px;
        width: auto;
        margin-left: 0px;
        margin-top: -5px;
        @include media-breakpoint-down(lg){
            height: 28px;
            margin-top: -5px;
        }
        @include media-breakpoint-down(md){
            height: 24px;
            margin-top: -10px;
        }
        @include media-breakpoint-down(sm){
            height: 21px;
            margin-top: -5px;
        }
    }
}
.nav-item a.active{
    color: #FFFFFF;
}

@include media-breakpoint-down(lg){
    img{
        margin-left: -20px;
        padding-top: 7px;
    }
    .lines{
      margin-left: 85px;
        }
        .nav-item{
            margin-left: 57px;
        }

}
@include media-breakpoint-down(md){
    .lines{
      margin-left: 45px;
        }
        .nav-item{
            margin-left: 15px;
        }
        .menu-activator{
            img{
               margin-left: 15px;
            }
        }

}
@include media-breakpoint-down(sm){
    .mobile-only{
        display: inline-block;
        a{
            color: #a3a3a3 !important;
        }
    }
    .mediaIcons{
        ul{
            list-style: none;
            display: inline-flex;
            li{
                span{
                    margin-right: 4px;
                }
            }
        }
    }
    .only-mobile{
        display: none;
    }
    .web-only{
        display: none;
    }
}


  // *********** HEADER ENDS *********** //
