@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
:host{
    
    padding-top: 100px;
    margin-top: -200px;
}
.engagement{
    .banner{
        padding: 300px 0px;
        background-color: #f7f5f0;
        .engagement-layout{
        h1{
            font-size: 76px;
            font-weight: 100;
            color: #3B3B3B;
            font-family: "Muli", sans-serif;
            span{
                color: #000000;
            }
            #nextline::after{
                content: "\a";
                white-space: pre;
            }
        }
        h6{ 
            font-size: 36px;
            font-weight: 100;
            padding-top: 25px;
            color: #3B3B3B;
            font-family: "Muli", sans-serif;
             span{
                color: #000000;
                //border-bottom: 2px solid #FFF;
            }
        }
    }      
}
@include media-breakpoint-down(lg) {
    .banner{
        height: 670px;
        padding: 245px 0px;
        .engagement-layout{
            h1{
                #nextline::after{
                    content: "\a";
                    white-space: pre;
                }
            }
        }
    }
}
@include media-breakpoint-down(md) {
    .banner{
        height: 500px;
        padding: 180px 0px;
        .engagement-layout{
            h1{
                font-size: 36px;
                font-weight: 100;
                #nextline::after{
                    content: "\a";
                    white-space: none;
                }
            }
            h6{ 
                font-size: 24px;
                font-weight: 100;
                padding-top: 15px;
            }
        }
    }
}
@include media-breakpoint-down(sm) {
    .banner{
        height: 600px;
        padding: 150px 0px;
        .engagement-layout{
            h1{
                margin-bottom: 40px;
              }
          }
       }
   }
}
.only-mobile{
    display: none;
}
@include media-breakpoint-down(sm) {
    .only-mobile{
        display: block;
        margin-top: -100px;
        ::ng-deep{
            .card{
                background-color: #FAA55B!important;
            }
        }
        ::ng-deep{
        .card-header {
            background-color: #FAA55B!important;
        }
        .btn-link:hover {
            color: #FFFFFF;
            font-size: 20px;
        }
        .btn-link {
            font-size: 20px;
            font-weight: 700; 
            color: #FFFFFF;
            text-decoration: none;
            width: 100%;
        }
        .dis_flex{
            display:flex;
            align-items: center;
            justify-content: space-between;
        }
        .btn:focus  {
             outline: 0;
             box-shadow: none !important; 
        }
        .collapsed .arrow_rotate{
            -ms-transform: rotate(180deg);  
            transform: rotate(180deg);
        }
    }
    h2{
        font-size: 20px;
        color: #FFFFFF;
    }
        .design-left{
            padding: 40px 20px;
            p{
                font-size: 20px;
                color: #FFFFFF;
                padding-top: 10px;
            }
        }
        .design-right{
            padding: 30px 20px;
              .logo-image{
                padding-top: 10px;
                padding-bottom: 20px;
              }
              p{
                font-size: 20px;
                color: #FFFFFF;
                margin-left: 80px;
                margin-top: -55px;
            }
        }
    }
    .feature-work{
        display: none;
    }
}
.feature-work{
    background-color: #FFFFFF;
    padding: 0 0 4px 5px;
    .row{
        margin-right: 0;
        margin-left: 0;
    }
    .card{
        border: none;
        padding: 100px 170px 100px 100px;
        height: 600px;
        background-color: #FFFFFF;
        p{
            font-size: 18px;
            color: #000000;
            font-family: "Muli", sans-serif;
        }
        h2{
            font-size: 48px;
            font-weight: 500;
            margin-bottom: 40px;
            color: #000000;
            font-family: "Muli", sans-serif;
        }
    }
    .design-right{
        padding: 150px 30px;

          .logo-image{
            padding-top: 10px;
            padding-bottom: 20px;
          }
          p{
            font-size: 18px;
            color: #000000;
            font-family: "Muli", sans-serif;
        }
    }
    .mt-2, .my-2 {
        margin-top: 0 !important;
    }
    .nav-pills{
        a{
            padding: 6px 180px 6px 180px;
        }
        .nav-link{
            border-radius: 0;
            background-color: #E6E6E6;
        }
        .nav-link.active{
            background-color: #FFFFFF;
        }
    }
    @include media-breakpoint-down(lg) {
        padding: 0 0 4px 5px;
        .card{
            border: none;
            padding: 100px 60px 0px 80px;
        }
    }
    @include media-breakpoint-down(md) {
        padding: 0 0 4px 5px;
        .card{
            border: none;
            padding: 100px 10px 0px 25px;
            h2{
                font-size: 38px;
            }
        }
        .design-right{
            padding: 150px 0px 20px 0;
        }
    }
}
// Carousel
.item{
    padding: 0;
}
.ngucarousel-indicator-two{
    text-align: center;
    width: 100%;
    padding-bottom: 40px;
    padding-top: 0px;
    padding-left: 0px;
    li{
        display: inline-block;
        line-height: 22px;
        a{
            display: block;
            margin: 0 5px;
            width: 15px;
            height: 15px;
            border: 2px solid #FFF;
            background-color: #d0d0d0 !important;
            text-indent: -999px;
            overflow: hidden;
            border-radius: 10px;
            cursor: pointer;
            &.active{
                width: 11px;
                height: 11px;
                border: 8px solid #000;
                background-color: #000 !important;
            }
        }
    }
}
::ng-deep .tile{
    border-radius: 15px;
    box-shadow: none !important;
}


.service-layout3{
    li{
        list-style-type: none;
        font-size: 28px;
        cursor: pointer;
        img{
            margin-right: 10px;
            &:active{
                color: #C3343C;
            }
        }
    }
    background-color: #FCFCFC;
    padding: 100px 220px;
    h3{
        font-size: 36px;
        font-weight: 100;
        font-family: "Muli", sans-serif;
    }
    h2{
        font-size: 50px;
        margin-bottom: 80px;
        text-align: center;
        color: #3b3b3b;
    }
    p{
        font-size: 15px;
        font-weight: 300;
        color: #707071;
        margin-bottom: 30px;
        line-height: 35px;
        font-family: "Muli", sans-serif;
        text-align: justify;
    }
    .li{
        font-size: 15px;
        font-weight: 300;
        color: #707071;
        line-height: 25px;
        font-family: "Muli", sans-serif;
        text-align: justify;
    }
    @include media-breakpoint-down(md){
        padding: 75px 0px;
        h2{
            font-size: 36px;
        }
    }
}