<!-- Web Development -->
<section class="web-development">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="case-study">
          <p>CASE STUDY</p>
        </div>
        <div class="heading">
          <h1><span class="text-primary">Web</span>  Development</h1>
          <p>Dashboard for Sales Pitching</p>
        </div>
          <div class="web">
          <p>WHAT WE DID</p>
        </div>
          <ul class="dev">
          <li>UX Research</li>
          <li>UI Design</li>
          <li>Front End Development</li>
          <li>Back End Development</li>
          </ul>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-7">
        <div class="step-image">
        <img src="/assets/images/projects/web-development/web-dev.png" alt="UX consulting"/>
      </div>
    </div>
    </div>
  </div>
  </section>
  <!-- Web Development -->

  <!-- About Project -->
<section class="about-project">
<div class="container">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-5">
         <h1>About Project</h1>
    </div>
    <div class="col-md-6">
        <p>A Conglomerate with global operation approached us for an Engineering Portal that would serve as a 
          Dashboard for showcasing all their previous Construction Portfolio. This would be predominantly used be the 
          Engireening and Marketing team for sales pitches.
        </p>
    </div>
  </div>
</div>
</section>
<!-- About Project -->

<!-- Platform we used -->
<section class="platform">
  <div class="container">
    <h1>Platform we used</h1>
    <p>Based on our analysis the portal was to be used in bigger screens for presentations by Sales Teams for Pitching
       & Admin to feed historic project data.
    </p>
    <div class="icon">
      <fa-icon [icon]="['fas','desktop']"></fa-icon>
    <p>Desktop Website</p>
  </div>
  </div>
</section>
<!-- Platform we used -->

<!-- Framework we used -->
<section class="framework">
  <div class="container">
     <h1>Framework we used</h1>
     <p>Angular, Google Charts, Java (Spring Boot) were the frameworks used since this application required scalability and 
       future enhancements to portable devices.
     </p>
     <h3>Framework we use</h3>
        <div class="row">
            <ul class="list-icons">
                <li>
                    <div class="step-image1">
                        <img src="/assets/images/services/fdicon6.png" alt="" />
                        <p>Angular</p>
                    </div>
                </li>
                <li>
                    <div class="step-image1">
                        <img src="/assets/images/services/fdicon7.png" alt="" />
                        <p>Google Charts</p>
                    </div>
                </li><li>
                    <div class="step-image1">
                        <img src="/assets/images/services/fdicon8.png" alt="" />
                        <p>Spring Boot</p>
                    </div>
                </li>
            </ul>
        </div>
  </div>
</section>
<!-- Framework we used -->

<!-- What we done -->
<section class="what-we-done">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <h1>What we did</h1>
        <p>We devised a one-stop solution for the repeated tasks by analysing the various segments involved in the 
          usage of proposed portal. Based on the inputs we found the predominant user group would be using the 
          application in bigger screens like projectors and the portals interactions were designed to support the Sales team.
        </p>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-6">
        <p>Due to the nature of the project it had volumes of numeric data which required representation 
          in Graphical Interface to better comprehend the numeric data by comparison and trends.</p>
      </div>
    </div>
  </div>
</section>
<!-- What we done -->

<!-- Web image -->
<section class="web-image">
  <div class="container">
    <div class="image">
       <img src="/assets/images/projects/web-development/web-dev.png" alt="UX consulting"/>
    </div>
  </div>
</section>
<!-- Web image -->


<!-- Other Works -->
<section class="other-works">
  <div class="container">
    <div class="other-works-heading">
        <h3>Other Works</h3>
    </div>
    <div class="other-works-body">
      <div class="row space">
        <div class="col-md-4">
          <div class="step-image" routerLink="/projects/social-review">
              <img src="/assets/images/projects/project4.png" alt="Case Study"/>
              <div class="text-hover">
                  <h4>Social Marketing</h4>
                  <h6>Read Case Study <fa-icon [icon]="['fas','chevron-right']"></fa-icon></h6>
              </div>
          </div>
      </div>
      <div class="col-md-4">
          <div class="step-image" routerLink="/projects/health">
              <img src="/assets/images/projects/project5.png" alt="Case Study"/>
              <div class="text-hover">
                  <h4>Healthy Buy</h4>
                  <h6>Read Case Study <fa-icon [icon]="['fas','chevron-right']"></fa-icon></h6>
              </div>
          </div>
      </div>
      <div class="col-md-4">
          <div class="step-image" routerLink="/projects/construction">
              <img src="/assets/images/projects/project6.png" alt="Case Study"/>
              <div class="text-hover">
                  <h4>Construction Portal</h4>
                  <h6>Read Case Study <fa-icon [icon]="['fas','chevron-right']"></fa-icon></h6>
              </div>
          </div>
      </div>
    </div>
    </div>
  </div>
</section>
<!-- /Other Works -->

