@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import '../../../../scss/colors';

/* Web Development */
.web-development{
    padding-top: 80px;
    .case-study{
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        padding-top: 30px;
    }
    .heading{
        font-family: 'Roboto', sans-serif;
        h1{
            font-size: 60px;
            font-weight: 400;
        }
        p{
            color: #575757;
            font-size: 16px;
            text-align: justify;
        }
    }
    .web{
        p{
            color: #575757;
            font-family: 'Roboto', sans-serif;
            font-size: 16px;
            padding-top: 40px;
        }
    }
    .dev{
        list-style: none;
        padding: 0;
        li{
            padding-right: 15px;
            display: inline-block;
            color: #000000;
            &:last-child{
                padding-right: 0;
            }
        }
    }
    .step-image{
    img{
        width: 120%;
        height: auto;
    }
}
}

@include media-breakpoint-down(md) {
    .web-development{
        padding-top: 20px;
        .case-study{
            font-size: 13px;
            padding-top: 50px;
        }
        .heading{
            h1{
                font-size: 40px;
            }
            p{
                font-size: 13px;
                line-height: 25px;
            }
        }
        .web{
            p{
                font-size: 13px;
            }
        }
        .dev{
            li{
                font-size: 13px;
            }
        }
        .step-image{
            img{
                width: 100%;
                height: auto;
            }
        }
    }
}

/*About Project */
.about-project{
    padding-top: 100px;
    padding-bottom: 100px;
    h1{
        font-family: 'Roboto', sans-serif;
        font-size: 60px;
        font-weight: 400;
    }
    p{
        color: #575757;
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        text-align: justify;
    }
}

@include media-breakpoint-down(md) {
    .about-project{
        padding-top: 80px;
        padding-bottom: 30px;
        h1{
            font-size: 40px;
        }
        p{
            font-size: 13px;
            line-height: 25px;
        }
    }
}

/* Platform we used */
.platform{
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #0D5F9B;
    color: #ffffff;
    h1{
        font-family: 'Roboto', sans-serif;
        font-size: 60px;
        font-weight: lighter;
        padding-bottom: 20px;
    }
    p{
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        font-weight: normal;
        text-align: justify;
    }
    .icon{
        fa-icon{
            font-size: 50px;
            vertical-align: middle;
            min-width: 26px;
            padding-right: 26px;
            display: inline-block;
            color: #1ED69F;
            padding: 10px;
        }
    p{
        padding-left: 10px;
    }
}
}

@include media-breakpoint-down(md) {
.platform{
    h1{
        font-size: 40px;
        padding-bottom: 10px;
    }
    p{
        font-size: 13px;
        line-height: 25px;
    }
    .icon{
        p{
            padding-left: 0px;
        }
    }
}
}

/* Framework we used */
.framework{
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #EFF5F9;
    h1{
        font-family: 'Roboto', sans-serif;
        font-size: 60px;
        font-weight: lighter;
    }
    p{
        padding-top: 30px;
        color: #575757;
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        font-weight: normal;
        text-align: justify;
    }
    h3{
        color: #000000;
        font-size: 20px;
        margin-bottom: 20px;
        margin-top: 20px;
    }
    .list-icons{
        list-style: none;
        padding: 0;
        li{
            padding-right: 38px;
            display: inline-block;
            padding-left: 15px;
        }
        p{
            color: #000000;
            text-align: center;
        }
    }
}

@include media-breakpoint-down(md) {
    .framework{
        h1{
            font-size: 40px;
        }
        p{
            padding-top: 10px;
        }
        .list-icons{
            li{
                padding-right: 50px;
            }
        }
    }
}

/* What we done */
.what-we-done{
    padding-top: 50px;
    padding-bottom: 50px;
    h1{
        font-family: 'Roboto', sans-serif;
        font-size: 60px;
        font-weight: lighter;
    }
    p{
        padding-top: 30px;
        color: #575757;
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        font-weight: normal;
        text-align: justify;
    }
    .list{
        padding-top: 60px;
        li{
        padding-top: 20px;
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        color: #575757;
        font-weight: normal;
        text-align: justify;
        }
    }
}

@include media-breakpoint-down(md) {
    .what-we-done{
        h1{
            font-size: 40px;
        }
        p{
            padding-top: 10px;
        }
    .list{
        padding-top: 10px;
    }
}
}


/* Web image */
.web-image{
    padding-top: 30px;
    padding-bottom: 30px;
    .image{
        img{
              width: 100%;
              height: auto;
}
}
}


/*  Web view */
.web-view{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #3B445B;
    .heading{
    h1{
        font-family: 'Roboto', sans-serif;
        font-size: 60px;
        font-weight: 400;
        padding-bottom: 30px;
        color: #ffffff;
    }
    img{
        width: 100%;
        padding-bottom: 100px;
    }
}
}
  @include media-breakpoint-down(md) {
.web-view{
         padding-top: 30px;
         padding-bottom: 20px;
         .heading{
        h1{
            font-size: 40px;
        }
        img{
            width: 100%;
            padding-bottom: 80px;
        }
    }
    .col-md-3{
        width: 50%;
        margin-bottom: 40px;
        margin-top: 10px;
    }
}
}
