<div class="blog">
    <div class="banner">
       <div class="container">
          <div class="blog-layout1">
             <h1>MINTify your thoughts <span> with <br> our latest blogs and articles</span> </h1>
             <h4>For more blogs like this checkout our <a href="https://medium.com/uxmint">Medium</a></h4>
          </div>
       </div>
    </div>
    <div class="blogs">
       <div class="container">
          <div class="row">
             <div class="col-md-4  image-center" *ngFor="let blog of blogs">
                <div class="blogs-image">
                   <img [src]="blog.imgURL">
                </div>
                <a [href]="blog.url" target="_blank">{{ blog.description }}</a>
                <h6>{{ blog.name }}</h6>
             </div>
          </div>
       </div>
    </div>
    <div class="craft">
      <div class="container">
        <div class="row">
           <div class="col-md-4">
           <h2>Let's craft <br>design together!</h2>
        </div>
           <div class="button">
               <div class="btn-white" routerLink="/contact-us">Let's Talk</div>
           </div>
      </div>
      </div>
   </div>
 </div>