@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
.blog{
    .banner{
        background-color: #E2E2E2;
        padding-top: 140px;
        height: 800px;
        padding: 200px 0px;
        h1{
            font-size: 56px;
            color: #C3343C;
            font-family: Baskerville;
            span{
                color: #3B3B3B;
            }
        }
        h4{
            font-size: 26px;
            color: #707071;
            padding-top: 25px;
            font-family: Muli;
            a{
                color: #C3343C;
                text-decoration: underline;
            }
        }
        @include media-breakpoint-down(lg) {
            height: 670px;
            padding: 230px 0px;
        }
        @include media-breakpoint-down(md) {
            h1{
                font-size: 36px;
            }
            h6{
                font-size: 24px;
               
            }
        }
        @include media-breakpoint-down(sm) {
            height: 600px;
            padding: 150px 0px;
        }
    }
    .blogs{
                 background-color: #F7F7F7;
                 padding: 150px 0px;
                 margin-top: -100px;
                 .cards{
                    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
                    transition: 0.3s;
                    width: 95%;
                    padding: 20px 15px;
                    height: 500pxpx;
                 }
             .image-center{
                 padding: 30px 30px;
                        h5{
                            font-size: 20px;
                            padding-top: 25px;
                            font-family: Baskerville;
                            a{
                                color: #3B3B3B;
                            }
                        }
                        span{
                            color: #707071;
                            font-family: Muli;
                            font-size: 16px;
                        }
                        img{
                            width: 100%;
                            padding: 30px 0px 0px 0px;
                        }
                    }  

     @include media-breakpoint-down(lg) {  
        padding: 130px 0px;
        .image-center{
          padding: 0 35px;
    }  
}
    @include media-breakpoint-down(md) {
        padding: 120px 0px;
        .image-center{
            padding: 0 30px;
            h5{
                font-size: 20px;
            }
        }  
    }
    @include media-breakpoint-down(sm) {
        padding: 110px 0px;
        .image-center{
            padding: 0 20px;
            h5{
                font-size: 18px;
            }
            }  
        }             
    }
    .craft{
        background-color: #C3343C;
        padding-top: 40px;
        padding-bottom: 40px;
        h2{
            font-size: 57px;
            font-family: Baskerville;
            color: #FFFFFF;
        }
        .button{
            margin-top: 80px;
        }
        .btn-white{
            border: 2px solid #FFFFFF;
            color: #FCFCFC;
            font-size: 20px;
            cursor: pointer;
            padding: 10px 20px;
            border-radius: 0px;
            font-family: Muli;
            &:hover{
                background-color: #FFFFFF;
                color: #C3343C;
            }
        }
        @include media-breakpoint-down(md){
            h2{
                font-size: 37px;
            }
        }
        @include media-breakpoint-down(sm){
            .button{
                margin-top: 50px;
               padding-left: 15px;
            }
        }
    }
}