<div class="blogs">
    <div class="banner">
       <div class="container">
          <div class="blog-layout1">
             <h1>MINTify your thoughts <span> with <br> our latest blogs and articles</span> </h1>
             <h4>For more blogs like this checkout our <span>Medium</span></h4>
          </div>
       </div>
    </div>
    <div class="blog-layout2">
       <div class="container">
          <div class="row">
             <div class="col-md-4 image-center">
                <div class="blogs-image">
                   <img src="./assets/images/home/image3.png">
                </div>
                <h5>Designing a successful product: Is not a daydream</h5>
                <span>by Udaya Kumar Sivagurunathan </span>
             </div>
             <div class="col-md-4 image-center">
                <div class="blogs-image">
                   <img src="./assets/images/home/image1.png">
                </div>
                <h5>How to experience Five Senses — in Digital Commerce</h5>
                <span>by Veera Thiruppal</span>
             </div>
             <div class="col-md-4 image-center">
                <div class="blogs-image">
                   <img src="./assets/images/home/image2.png">
                </div>
                <h5>Ever thought why does the colour green or sound of water brings calmness?</h5>
                <span>by Krithika Thirunavukkarasu</span>
             </div>
          </div>
       </div>
    </div>
 </div>