<div class="services">
    <div class="banner">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <div class="banner-content">
                        <h1>Usability testing</h1>
                        <hr class="line">
                        <p>Reduce the risk of usability issues before the product launces into the market</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="service-layout2">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h3>Usability testing is prevention is better than cure</h3>
                    <p>It helps the business to evaluates the product or website before it is launched in the market by testing it with a sample population small group of actual users.</p>
                </div>
                <div class="col-md-4">
                    <div class="list">
                        <img src="./assets/images/services/icon-26.svg" alt="Usaility Testing"><span>Understanding User Objectives</span>
                    </div>
                    <div class="list">
                        <img src="./assets/images/services/icon-27.svg" alt="Usaility Testing"><span>Reduction in Development Cost</span>
                    </div>
                    <div class="list">
                        <img src="./assets/images/services/icon-28.svg" alt="Usaility Testing"><span>Upfront Risk Mitigation</span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="list">
                        <img src="./assets/images/services/icon-29.svg" alt="Usaility Testing"><span>Identifiying Key Tasks</span>
                    </div>
                    <div class="list">
                        <img src="./assets/images/services/icon-30.svg" alt="Usaility Testing"><span>Better User Experience</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
  
<div class="testimonials">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <h2>Situations where usability testing will be of great use</h2>
      </div>
      <div class="col-md-7">
        <div class="services-scroll">
          <div class="card">
            <div class="row">
              <div class="col-md-12 text" *ngFor="let testimonial of testimonials">
                <p>{{ testimonial.description }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
    <div class="service-layout4">
      <div class="container">
        <h2>Testing methods we do</h2>
          <div class="row">
            <div class="col-md-5">
                    <h3>Controlled Environment Testing</h3>
            </div>
            <div class="col-md-7">
              <p>A controlled environment testing session is moderated in person or remotely by a trained researcher; who walks through the tasks to participants, answers their queries, and asks follow-up questions. Conversely, an uncontrolled test is done without direct supervision; participants might be in a lab, but it's more likely they are in their own homes and/or using their own devices to browse the website that is being tested. But they can also be unobtrusively monitored by the researcher.</p>
                </div>
          </div>
          <div class="row">
              <div class="col-md-5">
                <h3>Exploratory Testing</h3>
              </div>
              <div class="col-md-7">
                <p>Researchers or Participants can browse through the website or application without any pre-planned tasks. The aim of the testing is mostly to uncover maximum usability issues with minimal time. This type of testing typically can be done in the early stages of product development and helps researchers pinpoint gaps in the market, identify potential new features, and workshop new ideas.</p>
              </div>
          </div>
          <div class="row">
            <div class="col-md-5">
              <h3>Remote Testing</h3>
                </div>
                <div class="col-md-7">
                  <p>As the name suggest participants can be geographically in any location but would be instructed by trained researchers to brief them on the tasks to be performed and they are observed and analyzed based on their body language and facial expressions and follow-up questions.</p>
                    </div>
          </div>
          <div class="row">
            <div class="col-md-5">
              <h3>Contextual Testing</h3>
            </div>
            <div class="col-md-7">
              <p>Contextual testing is a semi-informal method to obtain information about the context of use, where users are first asked a set of standard questions and then observed and questioned while they use the website or application in their own environments. This method suits when an existing application needs revamp or enhancement to collect maximum possible data for the existing users.</p>
            </div>
          </div>
      </div>
  </div>
    <div class="service-layout3-responsive">
      <ngb-accordion [closeOthers]="true" activeIds="static-1">
        <ngb-panel id="static-1"  >  
           <ng-template ngbPanelTitle>
              <div class="dis_flex">
                 <div> Controlled Environment Testing </div>
                 <div class="arrow_rotate">  <img src="./assets/images/about/arrow.png" alt="Arrow"> </div>
              </div>
            </ng-template> 
          <ng-template ngbPanelContent >
           <div class="row">
              <div class="col-md-6 design-left">
                <p>A controlled environment testing session is moderated in person or remotely by a trained researcher; who walks through the tasks to participants, answers their queries, and asks follow-up questions. Conversely, an uncontrolled test is done without direct supervision; participants might be in a lab, but it's more likely they are in their own homes and/or using their own devices to browse the website that is being tested. But they can also be unobtrusively monitored by the researcher.</p>
              </div>
           </div>
          </ng-template>
        </ngb-panel>
        <ngb-panel id="static-2">
           <ng-template ngbPanelTitle>
              <div class="dis_flex">
                 <div>Exploratory Testing</div>
                 <div class="arrow_rotate">  <img src="./assets/images/about/arrow.png" alt="Arrow"> </div>
              </div>
            </ng-template> 
           <ng-template ngbPanelContent>
              <div class="row">
                 <div class="col-md-6 design-left">
                  <p>Researchers or Participants can browse through the website or application without any pre-planned tasks. The aim of the testing is mostly to uncover maximum usability issues with minimal time. This type of testing typically can be done in the early stages of product development and helps researchers pinpoint gaps in the market, identify potential new features, and workshop new ideas.</p>
                 </div>
              </div>
           </ng-template>
         </ngb-panel>
         <ngb-panel id="static-3">
           <ng-template ngbPanelTitle>
              <div class="dis_flex">
                 <div>Remote Testing</div>
                 <div class="arrow_rotate">  <img src="./assets/images/about/arrow.png" alt="Arrow"> </div>
              </div>
            </ng-template>
           <ng-template ngbPanelContent>
              <div class="row">
                 <div class="col-md-6 design-left">
                  <p>As the name suggest participants can be geographically in any location but would be instructed by trained researchers to brief them on the tasks to be performed and they are observed and analyzed based on their body language and facial expressions and follow-up questions.</p>
                 </div>
              </div>
           </ng-template>
         </ngb-panel>
         <ngb-panel id="static-4">
           <ng-template ngbPanelTitle>
              <div class="dis_flex">
                 <div>Contextual Testing</div>
                 <div class="arrow_rotate">  <img src="./assets/images/about/arrow.png" alt="Arrow"> </div>
              </div>
            </ng-template>
           <ng-template ngbPanelContent>
              <div class="row">
                 <div class="col-md-6 design-left">
                  <p>Contextual testing is a semi-informal method to obtain information about the context of use, where users are first asked a set of standard questions and then observed and questioned while they use the website or application in their own environments. This method suits when an existing application needs revamp or enhancement to collect maximum possible data for the existing users.</p>
                 </div>
              </div>
           </ng-template>
         </ngb-panel>
      </ngb-accordion>
    </div>
    <div class="process-layout">
      <div class="container">
         <div class="row">
            <div class="col-md-9">
               <h2>Process of our Usability Testing</h2>
            </div>
            <div class="col-md-3"></div>
         </div>
         <div class="layout">
         <div class="flex">
            <div class="process">
              <p>1. Task planning</p>
            </div>
            <div class="process-right">
             <p>2. Recruit Users</p>
            </div>
            <div class="process-right">
              <p>3. Test Execution</p>
            </div>
            <div class="process-right">
               <p>4. Analysis</p>
            </div>
            <div class="process-right">
              <p>5. Test Report</p>
            </div>
            <div class="process-right">
              <p>6. Recommendations</p>
            </div>
         </div>
        </div>
         <div class="flex only-mobile">
          <ol>
            <li>Task planning</li>
            <li>Recruit Users</li>
            <li>Test Execution</li>
            <li>Analysis</li>
            <li>Test Report</li>
            <li>Recommendations</li>
          </ol>
        
       </div>
         </div>
       
      </div>
      <div class="other-case-studies">
        <div class="row">
            <div class="col-md-6 left">
                <h2>Case Studies</h2>
                <div class="anime-button">
                  <a routerLink="/works">See All Works</a>
              </div>
            </div>
            <div class="col-md-6 right">
                <ngu-carousel class="blog-carousel" #blogCarousel [inputs]="blogsCarouselConfig" [dataSource]="otherCaseStudies">
                    <ngu-tile *nguCarouselDef="let item; let i = index">
                        <div class="class">
                            <div class="image">
                                <a [routerLink]="item.url"><img [src]="item.img" alt="Blogs"></a>
                            </div>
                            <h3><a [routerLink]="item.url">{{ item.title }}</a></h3>
                            <h4>{{ item.sub }}</h4>
                        </div>
                    </ngu-tile>
                    <ul class="ngucarousel-indicator" NguCarouselPoint>
                      <li *ngFor="let pointer of blogCarousel.pointNumbers; let i = index">
                        <a (click)="blogCarousel.moveTo(i)" [class.active]="blogCarousel.activePoint == i">&nbsp;</a>
                      </li>
                    </ul>
                </ngu-carousel>
            </div>
        </div>
    </div>
</div>