@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
.services{
    padding: 0px 0px;
    .only-mobile{
        display: none;
    }
.banner{
    // background-image: url('/assets/images/bg.png');
    height: 580px;
   // padding: 200px 0px;
    h1{
        font-size: 56px;
        color: #3B3B3B;
        font-family: Baskerville;
    }
    hr.line{
        border-bottom: 3px solid #C3343C;
        width: 30%;
        text-align: left;
        margin-left: 0;
        margin-top: -3px;
    }
    p{
        font-size: 18px;
        color: #707071;
        font-family: Muli;
    }
    .banner-content{
        padding-top: 200px;
        padding-bottom: 150px;
        padding-left: 80px;
        padding-right: 80px;
    }
    @include media-breakpoint-down(lg){
        .row{
            .col-md-5{
                flex: 0 0 60%;
                max-width: 60%;
            }
        }
    }
    @include media-breakpoint-down(md){
        height: 420px;
        .row{
            .col-md-5{
                flex: 0 0 80%;
                max-width: 80%;
            }
        }
        .banner-content{
            padding: 150px 0px;
        }
        h1{
            font-size: 36px;
        }
        p{
            font-size: 16px;
        }
    }
    @include media-breakpoint-down(sm){
        background-position: center;
        height: 560px;
        .row{
            .col-md-5{
                flex: 0 0 100%;
                max-width: 100%;
            }
        }
        .banner-content{
            padding: 250px 0px 200px 0;
        }
    }
}
.testimonials{
    padding: 60px 0;
    background: #FAFAFA;
    h3{
    font-weight: 600;
    font-size: 24px;
    color: #292929;
    }
    p{
    font-weight: 400;
    font-size: 16px;
    color: #000000;
    opacity: 0.6;
    }
    h2{
        font-size: 36px;
        font-family: Baskerville;
        padding: 85px 0px;
    }
    .card{
    background: #FAFAFA;
    border: none;
    border-radius: 10px;
    .image{
    img{
    border-radius: 10px 0 0 10px;
    }
    }
    .text{
    padding: 50px 60px 50px 0;
    }
    }
    ::ng-deep .carousel-inner {
    padding: 50px 100px 0 100px;
    }
    ::ng-deep .carousel-indicators {
    display: none;
    }
    ::ng-deep .carousel-control-prev {
    position: inherit;
    left: 90px;
    display: initial;
    }
    ::ng-deep .carousel-control-next {
    position: inherit;
    left: 100px;
    display: initial;
    }
    ::ng-deep .carousel-control-prev-icon {
    height: 50px;
    width: 50px;
    outline: #FFF;
    background-image: none;
    }
    ::ng-deep .carousel-control-next-icon{
    height: 50px;
    width: 50px;
    outline: #FFF;
    background-image: none;
    }
    ::ng-deep .carousel-control-next-icon:after {
    content: '\2191';
    font-size: 30px;
    font-weight: 300;
    color: #C3343C;
    }
    ::ng-deep .carousel-control-prev-icon:after {
    content: '\2193';
    font-size: 30px;
    font-weight: 300;
    color: #C3343C;
    }
    @include media-breakpoint-down(lg) {
    ::ng-deep .carousel-control-prev {
    position: inherit;
    left: 100px;
    }
    ::ng-deep .carousel-control-next {
    position: inherit;
    left: 100px;
    }
    .row{
    .col-md-3{
    flex: 0 0 32%;
    max-width: 32%;
    }
    .col-md-9{
    flex: 0 0 68%;
    max-width: 68%;
    }
    }
    .card{
    .text{
    padding: 30px 40px 30px 10px;
    }
    }
    }
    @include media-breakpoint-down(md) {
    h2{
    font-size: 28px;
    }
    h6{
    font-size: 20px;
    }
    h3{
    font-size: 20px;
    }
    h4{
    font-size: 18px;
    }
    ::ng-deep .carousel-inner {
    padding: 50px 0px 0 0px;
    }
    ::ng-deep .carousel-control-prev {
    position: inherit;
    left: 50px;
    }
    ::ng-deep .carousel-control-next {
    position: inherit;
    left: 50px;
    }
    }
    @include media-breakpoint-down(sm) {
    ::ng-deep .carousel-inner {
    padding-bottom: 30px;
    }
    ::ng-deep .carousel-control-prev {
    position: inherit;
    left: 50px;
    }
    ::ng-deep .carousel-control-next {
    position: inherit;
    left: 50px;
    }
    .card{
    .image{
    img{
    border-radius: 10px 10px 0 0;
    }
    }
    .text{
    padding: 20px 40px;
    }
    }
    .image{
    img{
    width: 100%;
    }
    }
    .row{
    .col-md-3{
    flex: 0 0 100%;
    max-width: 100%;
    }
    .col-md-9{
    flex: 0 0 100%;
    max-width: 100%;
    }
    }
    }
    }
.service-layout1{
    .row{
        margin-left: 0px !important;
        margin-right: 0px !important;
    }
    .left-layout{
       background-color: #C3343C;
       color: #FFFFFF;
       padding: 250px 0px 200px;
       h3{
           font-size: 48px;
           font-family: Baskerville;
       }
       @include media-breakpoint-down(lg){
        padding: 100px 0px;
       }
       @include media-breakpoint-down(md){
        h3{
            font-size: 30px;
            font-family: Baskerville;
        }
       }
    }
    .right-layout{
        background-color: #C3343C;
        @include media-breakpoint-down(sm){
            display: none;
        }
    }
    .col-md-6{
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    img{
        padding-top: 120px;
        width: 75%;
        padding-left: 40px;
    }
}
.service-layout2{
    background-color: #282829;
    color: #FFFFFF;
    padding: 150px 0px;
    h3{
        font-size: 36px;
        margin-bottom: 30px;
        font-family: Baskerville;
    }
    p{
        font-size: 18px;
        font-weight: 200;
        margin-top: 40px;
        font-family: Muli;
        line-height: 40px;
    }
    .list{
        padding: 30px;
        span{
            font-size: 20px;
            margin-left: 5px;
            font-weight: 200;
            font-family: Muli;
        }
    }

    @include media-breakpoint-down(lg){
        .row{
            .col-md-4{
                flex: 0 0 37%;
                max-width: 37%;
            }
            .col-md-4{
                flex: 0 0 35%;
                max-width: 35%;
            }
            .col-md-4{
                flex: 0 0 33%;
                max-width: 33%;
            }
        }
        .list{
            span{
                font-size: 18px;
            }
        }
    }
    @include media-breakpoint-down(md){
        .row{
            .col-md-4{
                flex: 0 0 100%;
                max-width: 100%;
            }
            .col-md-4{
                flex: 0 0 50%;
                max-width: 50%;
            }
            .col-md-4{
                flex: 0 0 33%;
                max-width: 33%;
            }
        }
        h3{
            font-size: 28px;
        }
        p{
            font-size: 18px;
        }
    }
    @include media-breakpoint-down(sm){
        padding: 100px 0;
        .list{
            padding: 12px;
        }
        .row{
            .col-md-4{
                flex: 0 0 100%;
                max-width: 100%;
            }
            .col-md-4{
                flex: 0 0 100%;
                max-width: 100%;
            }
            .col-md-4{
                flex: 0 0 100%;
                max-width: 100%;
            }
        }
    }
}
.service-layout3{
    background-color: #FFFFFF;
    padding: 150px 0px;
    color: #282829;
    li{
        list-style-type: none;
        font-size: 28px;
        cursor: pointer;
        svg{
            margin-right: 10px;
            margin-top: 7px;
        }
    }
    h2{
        font-size: 56px;
        font-family: Baskerville;
    }
    p{
        font-size: 16px;
        line-height: 30px;
        margin-top: 40px;
        font-family: Muli;
    }
    .li{
        font-size: 16px;
        margin-top: 6px;
    }
    @include media-breakpoint-down(md){
        padding: 75px 0px;
        h2{
            font-size: 36px;
        }
    }
    @include media-breakpoint-down(sm){
        display: none;
    }
}
}
.service-layout3-responsive{
    display: none;
}

@include media-breakpoint-down(sm) {
    .service-layout3-responsive{
        margin: 100px 0;
        display: block;
        .card{
            background-color: #FFFFFF !important;
        }
        ::ng-deep .card-header {
            background-color: #FFFFFF !important;
        }
        ::ng-deep .btn-link:hover {
            color: #C3343C;
            font-size: 20px;
        }
        ::ng-deep .btn-link {
            font-size: 20px;
            font-weight: 500;
            text-align: left;
            color: #282829;
            text-decoration: none;
            width: 100%;
        }
        ::ng-deep .btn-link.active {
            color: #C3343C;
        }
        ::ng-deep .dis_flex{
            display:flex;
            align-items: center;
            justify-content: space-between;
        }
        ::ng-deep .btn:focus  {
             outline: 0;
             box-shadow: none !important; 
        }
        ::ng-deep .collapsed .arrow_rotate{
            -ms-transform: rotate(180deg);  
            transform: rotate(180deg);
        }
    .design-left{
        padding: 10px 20px 40px 20px;
            p{
                font-size: 16px;
                color: #282829;
                padding-top: 10px;
            }
            .li{
                font-size: 16px;
                margin-top: 6px;
            }
        }
    }
}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link{
    background-color: #FFFFFF;
    color: #C3343C;
    font-size: 36px;
    font-weight: 600;
    font-family: Baskerville;
    svg{
        margin-top: 8px !important;
    }
    @include media-breakpoint-down(md){
        font-size: 28px;
        svg{
            margin-top: 0px !important;
        }
    }
}
.nav-pills{
    width: 150%;
}
.tab-content{
    width: 200%;
}
.nav-link{
    display: flex;
    padding: 0 20px 40px 20px;
}
.flex-column{
    padding: 25px 0px;
}
.nav-pills a{
    color: #282829;
    font-family: Baskerville;
    svg{
        margin-right: 10px;
    }
}

.process-layout{
    background-color: #C3343C;
    padding: 40px 0;
    color: #FFF;
    h2{
        font-size: 48px;
        font-weight: 500;
        padding-top: 60px;
        margin-bottom: 20px;
        line-height: 60px;
        font-family: Baskerville;
    }
    .layout{
    .flex{
        display: flex;
        padding: 50px 0px ;
        .process{
            margin-left: 0px;
            p{
                font-size: 16px;
            }
        }
       .process-right{
          margin-left: 8%;
           p{
               font-size: 16px;
               font-family: Muli;
           }
       }
    }
}
    @include media-breakpoint-down(lg) {
        .layout{
        .flex{
            display: flex;
            .process-right{
              margin-left: 4%;
            }
        }
    }
}
    @include media-breakpoint-down(md) {
        h2{
            font-size: 36px;
        }
        .layout{
        .flex{
            display: flex;
            .process{
                p{
                    font-size: 12px;
                }
            }
            .process-right{
                p{
                    font-size: 12px;
                }
            }
           .process-right{
               padding-left: 0%;
           }
        }
    }
    }
    @include media-breakpoint-down(sm) {
        padding: 40px 0;
        .layout{
            display: none;
        }
        .flex{
            overflow-y: scroll;
            display: flex;
            .process{
                p{
                    font-size: 12px;
                }
            }
            .process-right{
                p{
                    font-size: 12px;
                }
            }
         li{
             padding-top: 15px;
             padding-bottom: 15px;
             font-size: 16px;
         }
        }
      
    }
}

.service-layout4{
    background-color: #FCFCFC;
    padding: 200px 0px;
    h3{
        font-size: 36px;
        font-family: Baskerville;
    }
    p{
         font-size: 18px;
        line-height: 40px;
        font-family: Muli;
    }
    @include media-breakpoint-down(lg){
        padding: 200px 0px;
    }
    @include media-breakpoint-down(md){
        padding: 150px 0px;
    }
    @include media-breakpoint-down(sm){
        padding: 80px 0px;
    }
}
.situations-layout{
    background-color: #FFFFFF;
    padding: 150px 0px;
    //color: #FFF;
    h2{
        font-size: 36px;
        font-family: Baskerville;
        padding: 0px 45px;
    }
    .nav-link{
        display: flex;
        padding: 0 20px 40px 20px;
        margin-top: 90px;
    }
    .row{
        .col-md-5 {
            flex: 0 0 50%;
            max-width: 50%;
        }
        .col-md-7 {
            flex: 0 0 50%;
            max-width: 50%;
        }
    }
    @include media-breakpoint-down(lg) {
        padding: 100px 0px;
        .row{
            .col-md-5 {
                flex: 0 0 35%;
                max-width: 35%;
            }
            .col-md-7 {
                flex: 0 0 65%;
                max-width: 65%;
            }
        }
    }
    @include media-breakpoint-down(md) {
        padding: 80px 0px;
        h2{
            font-size: 20px;
        }
        .row{
            .col-md-5 {
                flex: 0 0 20%;
                max-width: 20%;
            }
            .col-md-7 {
                flex: 0 0 80%;
                max-width: 80%;
            }
        }
    }
    @include media-breakpoint-down(sm) {
        padding: 70px 0px;
        h2{
            padding-bottom: 40px;
        }
        .row{
            .col-md-5 {
                flex: 0 0 100%;
                max-width: 100%;
            }
            .col-md-7 {
                flex: 0 0 100%;
                max-width: 100%;
            }
        }
    }
}
::ng-deep .tab-content > .active{
    font-family: Muli;
}
