<div class="works">
    <div class="banner">
        <div class="container">
            <div class="row">
                <div class="col-md-5 ordertwo">
                    <div class="banner-header">
                        <h2>Event Hosting made stressless</h2>
                        <h6>UX <span>. UI .</span><span> Mobile </span><span>. Web .</span><span> B2C</span></h6>
                    </div>
                </div>
                <div class="col-md-7 orderone">
                    <div class="container">
                        <img src="./assets/images/works/event banner.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="about-project">
        <div class="container">
        <div class="row">
            <div class="col-md-4">
                    <h2>About Project</h2>
            </div>
            <div class="col-md-7">
                    <p>Marriages and family events are more emotionally connected to people’s lives in India; and the current generation is ready to outsource the events and sit back to enjoy a peaceful event without the hassles of organizing themselves. Connecting the dots between these two segments is the role of the platform.</p>
            </div>
        </div>
        </div>
    </div>
    <div class="image-event">
        <img src="./assets/images/works/event1.png">
    </div>
   
    <div class="approach">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h2>Approach</h2>
                </div>
                <div class="col-md-7">
                    <p>Our aim was to make the process more personal and reducing the stress involved while making important decisions</p>
                </div>
            </div>
        </div>
    </div>
    <div class="target-strategy">
        <div class="container">
            <div class="target">
                <div class="row">
                    <div class="col-md-4">
                        <h6>Target Audience</h6>
                    </div>
                    <div class="col-md-7">
                        <p>Venue Managers/Owners, Decorators, Photographers, Make-up artists, Stage Performers, Fashion Designers, Individuals Corporates in search of venue or event vendors</p>
                    </div>
                </div>
            </div>
            <div class="strategy">
                <div class="row">
                    <div class="col-md-4">
                        <h6>Strategy</h6>
                    </div>
                    <div class="col-md-7">
                       <p>Helping the user to select the best Venue, Caterer, Photographer, Decorator, etc for their event by providing social proof, reviews from trusted sources, previous works, budget and comparison.</p>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    <div class="needs-challenges">
        <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h1>100 +</h1>
                <h2>Users Interviewed</h2>
            </div>
            <div class="col-md-8">
                <div class="needs">
                    <div class="needs-right">
                       <h6>Needs</h6>
                       <p> - Shortlisted set of services that match your budget and spl. occasion</p>
                       <p>- Break down of the total cost for the service</p>
                       <p>- Similar works, Testimonials, Videos</p>
                       <p>- Team members, Portfolio</p>
                       <p>- Contact inline, Request call via phone</p>
                    </div>
                    <div class="needs-right">
                        <h6>Challenges</h6>
                       <p>- Decidophobia, Dilemma of selecting an option</p>
                       <p>- Not having a clarity on the cost of the service</p>
                       <p>- How skilled is this service provider?</p>
                       <p>- How many events have they done in past?</p>
                       <p>- What is the track record of this service provider?</p>
                       <p>- How to get in touch with the right service provider?</p>
                    </div>
                 </div>
            </div>
        </div>
        </div>
    </div>
    <div class="research">
        <div class="container">
            <div class="row">
                <div class="col-md-5"></div>
                <div class="col-md-7">
                    <h6>Converting qualitative and quantitative data collected from research into design solutions</h6>
                    <p>With the gathered data, We go ahead with the process of Information architecture, Task-flows, Wire frames, Feature mapping, prototyping to match our conceptual model to user’s mental models</p>
                </div>
            </div>
        </div>
    </div>
    <div class="image-event">
        <img src="./assets/images/works/management1.png">
    </div>
    <div class="image-event">
        <img src="./assets/images/works/management2.png">
    </div>
    <div class="image-event">
        <img src="./assets/images/works/eventmanagement3.png">
    </div>
    <div class="work-description">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h5>Logo Story</h5>
                    <h6>Rebranding to match with the vision of the business</h6>
                    <p>Balloons depict celebration, for all kinds of events. Right from Birthdays,<br> Parties, Weddings, etc And because event management is all about <br>gathering at a place to celebrate. Location plays a vital role</p>
                </div>
                <div class="col-md-4">
                    <img src="./assets/images/works/eventmanagement4.png">
                </div>
            </div>
        </div>
    </div>
    <div class="image-event">
        <img src="./assets/images/works/eventmanagement5.png">
    </div>
    <div class="event-image">
        <img src="./assets/images/works/eventmanagement6.png">
    </div>
    <div class="event-image">
        <img src="./assets/images/works/eventmanagement7.png">
    </div>
    <div class="other-case-studies">
        <div class="row">
            <div class="col-md-6 left">
                <h2>Other Case Studies</h2>
                <div class="button">
                    <div class="btn btnn" routerLink="/works">See All Works</div>
                </div>
            </div>
            <div class="col-md-6 right">
                <ngu-carousel class="blog-carousel" #blogCarousel [inputs]="blogsCarouselConfig" [dataSource]="otherCaseStudies">
                    <ngu-tile *nguCarouselDef="let item; let i = index">
                        <div class="class">
                            <div class="image">
                                <img [src]="item.img">
                            </div>
                            <h3>{{ item.title }}</h3>
                            <h4>{{ item.sub }}</h4>
                        </div>
                    </ngu-tile>
                    <ul class="ngucarousel-indicator" NguCarouselPoint>
                      <li *ngFor="let pointer of blogCarousel.pointNumbers; let i = index">
                        <a (click)="blogCarousel.moveTo(i)" [class.active]="blogCarousel.activePoint == i">&nbsp;</a>
                      </li>
                    </ul>
                </ngu-carousel>
            </div>
        </div>
    </div>
    <div class="craft">
        <div class="container">
          <div class="row">
             <div class="col-md-4">
             <h2>Let's craft design together!</h2>
          </div>
             <div class="button">
                 <div class="btn-white" routerLink="/contact-us">Let's Talk</div>
             </div>
        </div>
        </div>
     </div>
</div>