<!-- <div class="searvice-jumbotron">
  <div class="container">
      <div class="searvice-jumbotron-inner">
          <div class="row">
              <div class="col-md-5">
                  <h1><span class="highlight"> END TO END</span> DEVELOPMENT</h1>
                  <p>Designing scalable platform harnessing the technology for business reach to their end users with the better user experience, engagement and adaptablity.</p>
                      <h3><img src="/assets/images/services/end-to-end/ee-1.svg" alt="" /><span class="list">Understanding System</span></h3>
                      <h3><img src="/assets/images/services/end-to-end/ee-2.svg" alt="" /><span class="list">Defining Tech Stack</span></h3>
                      <h3><img src="/assets/images/services/end-to-end/ee-3.svg" alt="" /><span class="list">Implementation</span></h3>
                      <h3><img src="/assets/images/services/end-to-end/ee-4.svg" alt="" /><span class="list">Testing & Support</span></h3>
              </div>
              <div class="col-md-1"></div>
              <div class="col-md-5">
                  <div class="step-image1 head">
                      <img src="/assets/images/home/img-4.png" alt="" />
                  </div>
              </div>
          </div>
          <div class="row spacing">
              <div class="col-md-6">
                <span class="highlight1">UNDERSTANDING THE </span>
                  <h5>SYSTEM</h5>
                  <p>We draw the System Roadmap based on the Design Strategy for a better Usability. In this approach we have a clear roadmap that encompasses multiple factors like Defined User Base, quantum & type of data. 
                    This set-up allows the well defined ecosystem to boost the performance, enhance scalability to alignment with the Product Vision, also get started with minimal fuss.
                </p>
              </div>
              <div class="col-md-1"></div>
              <div class="col-md-5">
                <div class="step-image2">
                  <img src="/assets/images/services/end-to-end/image-2.svg" alt="" />
              </div>
              </div>
          </div>
      </div>
  </div>
</div> -->

<section class="end">
  <div class="container">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-7">
        <h1>End-to-End Development</h1>
        <p>It’ll aid us to understand your objectives. We need to get to the bottom
          of who you are, what you stand for and who you stand besid</p>
      </div>
      <div class="col-md-2"></div>
    </div>
    <div class="row">
      <!-- <div class="col-md-1"></div> -->
      <div class="col-md-3">
        <h3><img src="/assets/images/services/end-to-end/icon-1.svg" /><span>Understanding System</span></h3>
      </div>
      <div class="col-md-3">
        <h3><img src="/assets/images/services/end-to-end/icon-2.svg" /><span>Backend Framework</span></h3>
      </div>
      <div class="col-md-3">
        <h3><img src="/assets/images/services/end-to-end/icon-3.svg" /><span>API Web Service</span></h3>
      </div>
      <div class="col-md-3">
        <h3><img src="/assets/images/services/end-to-end/icon-4.svg" /><span>Scalability</span></h3>
      </div>
      <!-- <div class="col-md-1"></div> -->
    </div>
  </div>
</section>

<section class="spacing">
  <div class="container">
  <div class="row">
    <div class="col-md-6">
      <span class="highlight1">UNDERSTANDING THE </span>
        <h5>SYSTEM</h5>
        <p>We draw the System Roadmap based on the Design Strategy for a better Usability. In this approach we have a clear roadmap that encompasses multiple factors like Defined User Base, quantum & type of data. 
          This set-up allows the well defined ecosystem to boost the performance, enhance scalability to alignment with the Product Vision, also get started with minimal fuss.
      </p>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-5">
      <div class="step-image2">
        <img src="/assets/images/services/end-to-end/image-22.svg" alt="" />
    </div>
    </div>
</div>
</div>
</section>

<div class="service-step2">
  <div class="container">
      <div class="row">
        <div class="col-md-12">
        <h5>TECH STACK</h5>
        <p>We choose the right Tech Stack based on the detailed Analysis of User Behaviour and the Business needs in terms of, ease of use scalability interoperability with standardization adaptability with emerging trends integration with array of UI platforms (Responsive, Android, iOS & Wearables)</p>
        </div>
      </div>
      <div class="row">
          <ul class="list-icons">
              <li>
                  <div class="step-image1">
                      <img src="/assets/images/services/end-to-end/java.png" alt="" />
                      <p>Java</p>
                  </div>
              </li>
              <li>
                  <div class="step-image1">
                      <img src="/assets/images/services/end-to-end/spring-boot.png" alt="" />
                      <p>Spring Boot</p>
                  </div>
              </li><li>
                  <div class="step-image1">
                      <img src="/assets/images/services/end-to-end/php.png" alt="" />
                      <p>PHP</p>
                  </div>
              </li>
              <li>
                  <div class="step-image1">
                      <img src="/assets/images/services/end-to-end/mongodb.png" alt="" />
                      <p>MongoDB</p>
                  </div>
              </li>
              <li>
                <div class="step-image1">
                    <img src="/assets/images/services/end-to-end/sql.png" alt="" />
                    <p>SQL</p>
                </div>
            </li>
          </ul>
      </div>
  </div>
</div>

<div class="service-step3">
  <div class="container">
      <div class="row">
        <div class="col-md-5 m-first">
         <h5>IMPLEMENTATION</h5>
          <p>We define the stubs in correlation with the Interface needs with scope for future enhancements with minimal changes. The API driven development allows us to integrate with multiple platforms and services in agile mode.
             We manage the code via Git repositories for a hassle free hand-over and deployment. 
          </p>
      </div>
      <div class="col-md-1"></div>
          <div class="col-md-5 m-last">
            <div class="step-image">
              <img src="/assets/images/services/end-to-end/image-33.svg" alt="" />
          </div>
          </div>
      </div>
      <div class="row">
        <div class="col-md-5 m-first">
          <h5>TESTING & SUPPORT</h5>
          <p>Quality is the key for any product success, with a well-defined quality process we delivery the product or application that are ready for go-live.</p>
          <p>With the core implementation done there is always scope for changes and customer exprience enhancements for which we work along with your team in Release/Patch Managment to suite the end-user demand.</p>
      </div>
          <div class="col-md-1"></div>
          <div class="col-md-5 m-last">
            <div class="step-image">
              <img src="/assets/images/services/end-to-end/image-44.svg" alt="" />
            </div>
          </div>
      </div>
  </div>
</div>

<div class="service-step4">
  <div class="step-heading">
    <h4>OUR  SOLUTIONS  ARE  HELPING  AUDIENCE</h4>
    <div class="step-image">
      <img src="/assets/images/sample/line.svg" />
    </div>
</div>
    <div class="case-study">
    <div class="body">
    <div class="shadow p-3 mb-5 bg-white rounded">
      <div class="row">
         <div class="col-md-4">
          <div class="step-image">
              <img src="/assets/images/services/end-to-end/bd5.png" alt="" />
          </div>
         </div>
         <div class="col-md-8">
           <div class="text">
             <h5>WEB DEVELOPMENT</h5>
            <p>The portal was designed for a conglomerate with Global Operations to showcase their portfolio of works; the portal with rich UI for statistical and graphical representation used predominantly by Sales Team for proposal initiative.
            The portal demands for an aesthetic interface with a robust end-to-end framework to hold the statistical information.</p>
          <a routerLink="/projects/web-development"><h3>VIEW CASE STUDY  <fa-icon [icon]="['fas','chevron-right']"></fa-icon></h3></a>
         </div>
        </div>
        </div>
      </div>
    </div>
</div>

<!-- Services -->
<div class="services">
  <div class="container">
      <div class="services-heading">
          <h5>OTHER SERVICES</h5>
      </div>
      <div class="service-body">
          <div class="row">
            <div class="col-md-4">
              <div class="service" routerLink="/services/usability-testing">
                  <div class="service-icon">
                    <img src="/assets/images/home/usability-testing.svg" alt="Usablity Testing"/>
                  </div>
                  <h4>USABILITY TESTING</h4>
                  <p>By means of Usability Testing techniques we valuate the product or website’s user experience even before it is built or it hits the market to assess and iterate the design to reduce cost and enhance end user’s experience</p>
                  <a class="btn">Show More</a>
                </div>
          </div>
          <div class="col-md-4">
            <div class="service" routerLink="/services/interface-design">
              <div class="service-icon">
                <img src="/assets/images/home/interface-design.svg" alt="Interface Design"/>
              </div>
              <h4>INTERFACE DESIGN</h4>
              <p>Aesthetically good design can instil curiosity for the customers to move beyond the landing page. Make your website come alive with best UI.</p>
              <a class="btn">Show More</a>
          </div>
          </div>
              <div class="col-md-4">
                <div class="service" routerLink="/services/user-experience">
                  <div class="service-icon">
                      <img src="/assets/images/home/user-experience.svg" alt="User Experience"/>
                  </div>
                  <h4>USER EXPERIENCE</h4>
                  <p>We believe research brings insights our team of design experts connect with your business and ‘dev team to build a better product</p>
                  <a class="btn">Show More</a>
                </div>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- /Services -->