@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
:host{
    padding-top: 0px;
}
.banner{
    background-color: #FCFCFC;
    padding-top: 140px;
    height: 830px;
     h1{
         font-size: 64px;
         font-family: Baskerville;
         color: #3B3B3B;
         span{
             color: #C3343C;
         }
     }
     hr.line {
         border-top: 1px solid #DEDEDE;
         margin: 60px 0px;
         width: 76%;
       }
       h2{
        font-size: 82px;
        font-family: Muli;
        color: #C3343C;
    }
    h5{
        font-size: 24px;
        font-family: Muli;
        color: #3B3B3B;
        line-height: 36px;
        padding-top: 35px;
    }
    .web-only{
        margin-left: -165px;
    }
    @include media-breakpoint-down(lg){
        padding-top: 140px;
        height: 540px;
        h1{
            font-size: 32px;
        }
        hr.line {
            margin: 20px 0px;
        }
        .statistics{
            padding-top: 20px;
            .col-lg-4{
                max-width: 30%;
                flex: 0 0 30%;
            }
            .col-lg-8{
                max-width: 70%;
                flex: 0 0 70%;
            }
            .col-lg-6{
                max-width: 50%;
                flex: 0 0 50%;
            }
        }
        h2{
            font-size: 34px;
        }
        h5{
            padding-top: 0px;
            margin-left: -40px;
        }
        .only-mobile{
            margin-left: -120px;
        }
    }
    @include media-breakpoint-down(md){
        h5{
            margin-left: 0px;
        }
        .only-mobile{
            margin-left: -55px;
        }
        .col-lg-8{
            max-width: 80%!important;
            flex: 0 0 72%!important;
        }
        .col-lg-6{
            max-width: 47%!important;
            flex: 0 0 47%!important;
        }
    }
    @include media-breakpoint-down(sm){
        height: 570px;
        h1{
            font-size: 32px;
        }
        hr.line {
            margin: 20px 0px;
        }
        .only-mobile{
            margin-left: -15px;
        }
        .statistics{
            .col-md-6{
                //width: 30%;
            }
            .col-md-5{
                width: 60%;
            }
            .col-lg-4{
                max-width: 62%;
                flex: 0 0 62%;
            }
        }
        h2{
            font-size: 34px;
        }
        h5{
            padding-top: 0px;
        }
    }
 }
.works-list{
    .work-left{
        .left-content{
            padding: 140px 0px;
            h2{
                color: #3B3B3B;
                font-size: 56px;
                font-family: Baskerville;
                font-weight: 100;
            }
            p{
                color: #030303;
                font-size: 18px;
                font-family: Muli;
                font-weight: 100;
            }
            .outline-btn{
                border: 1px solid #000;
                border-radius: 0px;
                padding: 10px 20px;
                margin: 40px 0px;
                font-size: 18px;
                font-family: Muli;
                &:hover{
                    background-color: #C3343C;
                    color: #FFFFFF;
                    border: 1px solid #FFFFFF;
                }
            }
        }
    }
    .work-right{
        background-color: #FCFCFC;
        .right-content{
            padding: 140px 0px;
            h2{
                color: #000000;
                font-size: 56px;
                font-family: Baskerville;
                font-weight: 100;
            }
            p{
                color: #000000;
                font-size: 18px;
                font-family: Muli;
                font-weight: 100;
            }
            .outline-btn{
                border: 1px solid #000;
                border-radius: 0px;
                padding: 10px 20px;
                margin: 40px 0px;
                font-size: 18px;
                font-family: Muli;
                &:hover{
                    background-color: #C3343C;
                    color: #FFFFFF;
                    border: 1px solid #FFFFFF;
                }
            }
        }
    }
    @include media-breakpoint-down(lg){
        .work-left{
            padding: 85px;
        }
        .work-right{
            padding: 85px;
        }
    }
    @include media-breakpoint-down(sm){
        .work-left{
            padding: 20px;
            .left-content{
                padding: 90px 0px;
                padding-bottom: 10px;
                h2{
                    font-size: 44px;
                }
            }
            .right-image{
                img{
                    width: 100%;
                }
            }
        }
        .work-right{
            padding: 20px;
            .right-content{
                padding: 90px 0px;
                padding-bottom: 10px;
                h2{
                    font-size: 44px;
                }
            }
            .left-image{
                img{
                    width: 100%;
                }
            }
        }
    }
    @include media-breakpoint-down(lg){
        .work-left{
            .left-content{
                padding: 48px 0px;
                padding-bottom: 10px;
                padding-bottom: 10px;
                h2{
                    font-size: 38px;
                }
            }
            .right-image{
                img{
                    width: 100%;
                }
            }
        }
        .work-right{
            .right-content{
                padding: 90px 0px;
                padding-bottom: 10px;
                h2{
                    font-size: 44px;
                }
            }
            .left-image{
                img{
                    width: 100%;
                }
            }
        }
    }
    @include media-breakpoint-down(md){
        .work-left{
            .right-image{
                img{
                    width: 100%;
                    margin-top: 70px;
                }
            }
        }
        .work-right{
            .left-image{
                img{
                    width: 100%;
                    margin-top: 70px;
                }
            }
        }
    }
}
