<!-- Construction Portal -->
<section class="construction">
  <div class="container">
    <ul class="heading">
      <li><h1>Construction</h1></li>
      <li><h3>Portal</h3></li>
    </ul>
    <div class="row">
      <div class="col-md-6">
        <p></p>
    </div>
    </div>
  </div>
</section>
<!-- Construction Portal -->

<!-- image -->
<div class="image">
  <div class="step-image">
    <img src="/assets/images/projects/construction/construction.png" />
  </div>
</div>
 <!-- image -->

 <!-- About Project -->
<section class="about-project">
  <div class="container">
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-4">
        <h1>ABOUT PROJECT</h1>
      </div>
      <div class="col-md-6">
        <p>A Conglomerate with global operation approached us for an Engineering Portal that would serve as a Dashboard for 
          showcasing all their previous Construction Portfolio. This would be predominantly used be the Engireening and 
          Marketing team for sales pitches.
        </p>
          <ul class="list">
            <li>
              <h3>PLATFORM</h3>
              <p>Website</p>
            </li>
            <li>
              <h3>SEGMENT</h3>
              <p>B2B</p>
            </li>
          </ul>
        </div>
        <div class="col-md-1"></div>
      </div>
    </div>
    </section>
    <!-- About Project -->

    <!-- Challenges -->
<section class="challenges">
  <div class="container">
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-4">
        <h1>CHALLENGES</h1>
      </div>
      <div class="col-md-6">
        <p>- Preparing proposal presentation for every pitch</p>
        <p>- Searching previous project details from huge repository</p>
        <p>- Multiple version of presentations</p>
        <p>- Access to required data spontaneously</p>
        <p>- Interpretation of humongous numeric data</p>
        </div>
        <div class="col-md-1"></div>
      </div>
    </div>
    </section>
    <!-- Challenges -->

    <!-- How we solved -->
    <!--
  <section class="solved">
    <div class="container">
    <div class="heading">
      <h1>How we Solved</h1>
    </div>
    <div class="row">
      <div class="col-md-5">
        <p>Analysing the user groups
        </p>
        <p>Due to the nature of the project it had volumes of numeric data which required representation in Graphical Interface 
          to better comprehend the numeric data by comparison and trends.
        </p>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-5">
        <p>If you see Flash Drive listed under the USB hub the USB flash drive isdetected properly. You can
          verify is the drive is mounted by Selecting "Go > Go to folder" from the file menu and typing/Volumes/ 
          (Note:This is case sensitive). This will open the mount point for all drives connected to the Mac computer.
          You should see the drive mounted here.
        </p>
        <p>If the USB flash drive is not listed under USB hub please verify other USB devices work properly and 
          if possible test the USB flash drive using a different computer. If the USB flash drive is not detected on
          other computer or if other USB devices are working properly on this Mac then most likely the USB drive
          is not functional.
        </p>
        <p>If the USB drive appears non-functional per the above troubleshooting,</p>
      </div>
    </div>
  </div>
  </section>
  -->
  <!-- How we solved -->

  <!-- Web image -->
<!-- <section class="web-image">
  <div class="container">
    <div class="web">
       <img src="/assets/images/projects/web-development/web-dev.png" alt="UX consulting"/>
    </div>
  </div>
</section> -->
<section class="web-view">
  <div class="container">
      <div class="heading">
      <h1>Web View</h1>
      <div class="step-image">
      <img src="/assets/images/projects/web-development/web-dev.png">
    </div>
  </div>
  <div class="row">
      <div class="col-md-3">
          <div class="step-image">
              <img src="/assets/images/projects/construction/view1.png" />
          </div>
      </div>
      <div class="col-md-3">
          <div class="step-image">
              <img src="/assets/images/projects/construction/view2.png" />
          </div>
      </div>
      <div class="col-md-3">
          <div class="step-image">
              <img src="/assets/images/projects/construction/view3.png" />
            </div>
          </div>
          <div class="col-md-3">
              <div class="step-image">
                  <img src="/assets/images/projects/construction/view4.png" />
              </div>
          </div>
      </div>
      </div>
  </section>
<!-- Web image -->

<!-- Solution -->
<section class="solution">
  <div class="container">
  <div class="heading">
    <h1>Solution</h1>
  </div>
  <div class="row">
    <div class="col-md-5">
      <p>We devised a one-stop solution for the repeated tasks by analysing the various segments involved in the usage of 
        proposed portal. Based on the inputs we found the predominant user group would be using the application in bigger 
        screens like projectors and the portals interactions were designed to support the Sales team.
      </p>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-5">
      <p>Due to the nature of the project it had volumes of numeric data which required representation in Graphical Interface 
        to better comprehend the numeric data by comparison and trends.
      </p>
    </div>
  </div>
</div>
</section>
<!-- Solutions -->

<!-- Other Works -->
<section class="other-works">
  <div class="container">
    <div class="other-works-heading">
        <h3>Other Works</h3>
    </div>
    <div class="other-works-body">
        <div class="row space">
            <div class="col-md-4">
              <div class="step-image" routerLink="/projects/marketing">
                <img src="/assets/images/projects/project7.png" alt="Case Study"/>
                <div class="text-hover">
                    <h4>Website for startup</h4>
                    <h6>Read Case Study <fa-icon [icon]="['fas','chevron-right']"></fa-icon></h6>
                </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="step-image" routerLink="/projects/child-care">
              <img src="/assets/images/projects/project8.png" alt="Case Study"/>
              <div class="text-hover">
                  <h4>Child Care Portal</h4>
                  <h6>Read Case Study  <fa-icon [icon]="['fas','chevron-right']"></fa-icon></h6>
              </div>
          </div>
          </div>
          <div class="col-md-4">
            <div class="step-image" routerLink="/projects/health-care">
              <img src="/assets/images/projects/project9.png" alt="Case Study"/>
              <div class="text-hover">
                  <h4>Health Care System</h4>
                  <h6>Read Case Study  <fa-icon [icon]="['fas','chevron-right']"></fa-icon></h6>
              </div>
          </div>
        </div>
        </div>
    </div>
  </div>
</section>
<!-- /Other Works -->
