@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
:host{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
button{
    position: absolute;
    right: 54px;
    top: 14px;
    background-color: transparent;
    border: 0;
    color: #FFF;
    font-size: 30px;
    &:focus-visible{
        border: 0;
        outline: 0;
    }
    @include media-breakpoint-down(sm){
        right: 28px;
        top: 14px;
    }
}
.menu-content{
    padding: 60px;
    flex-grow: 1;
    h3{
        color: #e5e5e5;
        font-size: 18px;
        padding-top: 27px;
        text-transform: uppercase;
    }
    ul{
        margin: 0;
        padding: 0;
        list-style: none;
    }
    li{
        list-style: none;
        margin-bottom: 10px;
        padding-top: 27px;
        a{
            font-family: Mulish;
            font-size: 18px;
            color: #fbe1df;
            &:hover{
                text-decoration: none;
            }
        }
    }
    .small a{
        font-size: 18px;
    }
}
.menu-footer{
    background-color: #333;
    padding: 60px;
    h5{
        color: #999;
        font-size: 14px;
        text-transform: uppercase;
    }
    ul{
        margin: 0;
        padding: 0;
        list-style: none;
    }
    li{
        margin-bottom: 10px;
        display: inline-block;
        margin-right: 20px;
        a{
            color: #C3343C;
            font-size: 18px;
            &:hover{
                text-decoration: none;
            }
    }
    .medium{
        height: 23px;
        width: auto;
        padding-top: 5px;
    }
    }
}
@include media-breakpoint-down(lg){
    .menu-content{
        padding: 100px 10px;
        li{
            padding: 10px 0px;
        }
    }
}
@include media-breakpoint-down(md){
    .menu-content{
        padding: 100px 10px;
        li{
            padding: 10px 0px;
        }
    }
}
@include media-breakpoint-down(sm){
   
    .menu-content{
        padding: 70px 50px;
        li{
            padding: 10px 0px;
        }
    }
    .menu-footer{
      li{
            margin-bottom: 20px;
        }
    
    h5{
        margin-bottom: 20px;
    }
}
}
