<button type="button" (click)="activeModal.close()">&times;</button>
<div class="menu-content">
    <div class="row">
        <div class="col-md-4">
            <ul>
                <li>
                    <h3>What We Do</h3>
                </li>
                <li>
                    <a routerLink="/works" (click)="activeModal.close()">Work</a>
                </li>
                <li>
                    <a routerLink="/services" (click)="activeModal.close()">Services</a>
                </li>
                <li>
                    <a routerLink="/engagement-models" (click)="activeModal.close()">Engagement Models</a>
                </li>
            </ul>
        </div>
        <div class="col-md-4">
            <ul>
                <li>
                    <h3>Who We Are</h3>
                </li>
                <li>
                    <a routerLink="/about-us" (click)="activeModal.close()">About Us</a>
                </li>
                <li>
                    <a routerLink="/blogs" (click)="activeModal.close()">Blogs</a>
                </li>
                <li>
                    <a routerLink="/careers" (click)="activeModal.close()">Career</a>
                </li>
                <li>
                    <a routerLink="/contact-us" (click)="activeModal.close()">Contact</a>
                </li>
            </ul>
        </div>
        <div class="col-md-4">
            <ul class="small">
                <li>
                    <h3>Content</h3>
                </li>
                <li>
                    <a routerLink="/service/user-experience" (click)="activeModal.close()">User Experience</a>
                </li>
                <li>
                    <a routerLink="/service/interface-design" (click)="activeModal.close()">Interface Design</a>
                </li>
                <li>
                    <a routerLink="/service/ui-development" (click)="activeModal.close()">UI Development</a>
                </li>
                <li>
                    <a routerLink="/service/end-to-end-development" (click)="activeModal.close()">End to End Development</a>
                </li>
                <li>
                    <a routerLink="/service/usability-testing" (click)="activeModal.close()">Usability Testing</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="menu-footer">
    <div class="row">
        <div class="col-md-8">
            <h5>For a quick response</h5>
            <ul>
                <li>
                    <a routerLink="mailto:enquire@uxmint.in" (click)="activeModal.close()">hello@uxmint.in</a>
                </li>
                <li>
                    <a routerLink="tel:+91 9884053886" (click)="activeModal.close()">+91 9884053886</a>
                </li>
                <li>
                    <a routerLink="tel:+91 9940410072" (click)="activeModal.close()">+91 9940410072</a>
                </li>
            </ul>
        </div>
        <div class="col-md-4">
            <h5>Follow Us On</h5>
            <ul>
                <li>
                    <a href="https://www.linkedin.com/school/uxmint"> <img src="./assets/images/linkedin1.svg"></a>
                </li>
                <li>
                    <a href="https://medium.com/uxmint"> <img src="./assets/images/medium1.svg" class="medium"></a>
                </li>
            </ul>
        </div>
    </div>
</div>
