<!-- <div class="searvice-jumbotron">
    <div class="container">
            <div class="row">
                <div class="col-md-5">
                <h1><span class="highlight">USER</span> EXPERIENCE</h1>
                <p>Unravelling solutions for business problems in alignment with end-user expectations</p>
                    <h3><img src="/assets/images/services/user-experience/ux-1.svg" alt="" /><span class="list">Undestanding Business</span></h3>
                    <h3><img src="/assets/images/services/user-experience/ux-2.svg" alt="" /><span class="list">User Problems</span></h3>
                    <h3><img src="/assets/images/services/user-experience/ux-3.svg" alt="" /><span class="list">Support Solutions</span></h3>
                    <h3><img src="/assets/images/services/user-experience/ux-4.svg" alt="" /><span class="list">Manage</span></h3>
                </div>
                <div class="col-md-4">
                    <div class="step-image head">
                        <img src="/assets/images/services/user-experience/image-1.png" alt="" />
                        </div>
                </div>
            </div>
    </div>
</div> -->

<section class="experience">
    <div class="container">
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">      
            <h1>User Experience</h1>
            <div class="step-image">
                <!-- <img src="/assets/images/services/user-experience/line-1.svg" /> -->
              </div>    
          <p>Unravelling solutions for business problems in alignment with end-user expectations.
              Creating functional, Usable, Pleasurable Unique and Value for digital products
          </p>
        </div>
        <div class="col-md-3"></div>
      </div>
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-3">
          <h3><img src="/assets/images/services/user-experience/icon-1.svg" /><span>Understanding Business</span></h3>
        </div>
        <div class="col-md-2">
          <h3><img src="/assets/images/services/user-experience/icon-2.svg" /><span>Platform</span></h3>
        </div>
        <div class="col-md-2">
          <h3><img src="/assets/images/services/user-experience/icon-3.svg" /><span>Framework</span></h3>
        </div>
        <div class="col-md-2">
          <h3><img src="/assets/images/services/user-experience/icon-4.svg" /><span>Manage</span></h3>
        </div>
        <div class="col-md-2">
          <h3><img src="/assets/images/services/user-experience/icon-5.svg" /><span>Testing</span></h3>
        </div>
        <!-- <div class="col-md-1"></div> -->
      </div>
    </div>
  </section>

  <section class="service-step">
      <div class="container">
          <div class="row">
              <div class="col-md-3"></div>
              <div class="col-md-6">
                <div class="image1">
                    <img src="/assets/images/services/user-experience/image-3.svg" />
                  </div>
              </div>
              <div class="col-md-3"></div>
          </div>
          <div class="row">
              <div class="col-md-5">
                  <h5>STAKEHOLDER BUSINESS DISCUSSION</h5>
                  <p>We start our requirements gathering from the pillars of the business; the Product Owners, Business SME, 
                      CEO/CTO to get their perspectives, needs & current process issues that they encounter and the potential areas of improvement. 
                    Based on the inputs we define the features and the scope.</p>
                    <div class="row">
                        <div class="col-sm-1">
                            <img src="/assets/images/services/icons/line.svg" />
                        </div>
                        <div class="col-sm-8">
                            <h6><span> Stakeholder Interview</span></h6>
                            <h6><span> Business Requirement Gathering</span></h6>
                            <h6><span> Competitor Analysis</span></h6>
                            <h6><span> Affinity Mapping</span></h6>
                        </div>
                </div>
                <p>On a broader scope the vision for the product and the market context gets defined. 
                    Next step would be SWAT Analysis on the competitors in the market.</p>
              </div>
              <div class="col-md-1"></div>
              <div class="col-md-5">
                <h5>DISCOVERING USER PROBLEMS</h5>
                <p>We funnel the requirements from the Stakeholders, Business Team and the End-Users - align 
                    according to the Vision of the Product. It takes a series of process to get the inference 
                    from the Research Data. Based on the inputs gleaned from the extensive research and 
                    analysis we plot the Journey Maps & Persona. 
                    This allowing us to Empathise with the end-users bringing value to the Design Strategy.
                </p>
                <p>The Divergent & Convergent Thinking Process aims to unearth the innovative solutions 
                    and to nail the needs & challenges of the end-users & the business.</p>
                    <div class="row">
                        <div class="col-sm-1">
                            <img src="/assets/images/services/icons/line.svg" />
                        </div>
                        <div class="col-sm-8">
                            <h6><span> User Research</span></h6>
                            <h6><span> User Persona</span></h6>
                            <h6><span> Users Journey Map</span></h6>
                            <h6><span> Root Cause Analysis</span></h6>
                    </div>
                    </div>
              </div>
          </div>
      </div>
  </section>

<!-- <div class="service-step">
    <div class="container">
        <div class="row">
            <div class="col-12">
            <h5><span class="highlight">STAKEHOLDER </span>BUSINESS DISCUSSION</h5>
            </div>
        </div>
            <div class="row">
            <div class="col-md-5">
                <p>We start our requirements gathering from the pillars of the business; the Product Owners, Business SME, CEO/CTO to get their perspectives, needs & current process issues that they encounter and the potential areas of improvement. 
                    Based on the inputs we define the features and the scope.</p>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-5">
                <p>On a broader scope the vision for the product and the market context gets defined. Next step would be SWAT Analysis on the competitors in the market.</p>
            </div>
            </div>
            <div class="row">
                <div class="col-md-5 m-last">
                    <div class="row">
                        <div class="col-sm-1">
                            <img src="/assets/images/services/icons/line.svg" />
                        </div>
                        <div class="col-sm-8">
                            <h6><span> Stakeholder Interview</span></h6>
                            <h6><span> Business Requirement Gathering</span></h6>
                            <h6><span> Competitor Analysis</span></h6>
                            <h6><span> Affinity Mapping</span></h6>
                        </div>
                </div>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-5 m-first">
                    <div class="step-image">
                        <img src="/assets/images/services/user-experience/image-2.svg" alt="" />
                    </div>
                </div>
            </div>
    </div>
</div> -->

<!-- <div class="service-step1">
    <div class="container">
        <div class="row">
        <div class="col-12">
            <h5><span class="highlight">DISCOVERING </span>USER PROBLEMS</h5>
        </div>
        </div>
        <div class="row">
            <div class="col-md-5 m-first">
                <p>We funnel the requirements from the Stakeholders, Business Team and the End-Users - align 
                    according to the Vision of the Product. It takes a series of process to get the inference 
                    from the Research Data. Based on the inputs gleaned from the extensive research and 
                    analysis we plot the Journey Maps & Persona. 
                    This allowing us to Empathise with the end-users bringing value to the Design Strategy.</p>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-5 m-last">
                <p>The Divergent & Convergent Thinking Process aims to unearth the innovative solutions 
                    and to nail the needs & challenges of the end-users & the business.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
                <div class="step-image">
                    <img src="/assets/images/services/user-experience/image-3.svg" alt="" />
                </div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-5">
                <div class="row">
                    <div class="col-sm-1">
                        <img src="/assets/images/services/icons/line.svg" />
                    </div>
                    <div class="col-sm-8">
                        <h6><span> User Research</span></h6>
                        <h6><span> User Persona</span></h6>
                        <h6><span> Users Journey Map</span></h6>
                        <h6><span> Root Cause Analysis</span></h6>
                </div>
                </div>
            </div>
        </div>
    </div>
</div> -->

 <div class="service-step1">
    <div class="container">
        <div class="row">
            <div class="col-12">
           <h5>SUPPORTING SOLUTIONS</h5>
        </div>
        </div>
        <div class="row">
           <div class="col-md-5 m-first">
            <p>We combine the research and the insights to conceptualize to build the wireframes and 
                iterate the prototypes with the business, technical team and the consumers.</p>
                <div class="row">
                    <div class="col-sm-1">
                        <img src="/assets/images/services/icons/line.svg" />
                    </div>
                    <div class="col-sm-8">
                        <h6><span> Conceptual Model</span></h6>
                        <h6><span> Task Flow</span></h6>
                        <h6><span> Card Sorting</span></h6>
                        <h6><span> Information Architecture</span></h6>
                    </div>
                </div>
            </div>
        <div class="col-md-1"></div>
        <div class="col-md-5 m-last">
            <div class="step-image">
                <img src="/assets/images/services/user-experience/image-4.svg" alt="" />
            </div>
        </div>
        </div>
    </div>
</div>

<div class="service-step1">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
            <h5>TEST FEATURE VIABILITY</h5>
            <p>We value your time & effort, we employ Early Testing to avoid rework due to mismatch between the
                users/market needs. We design Visual Prototype and test in multiple stages. Iterate design based on
                the feedback avoiding changes during the product development or even worse after market launch 
                which could be very expensive for the business.</p>
                <div class="row">
                    <div class="col-sm-1">
                        <img src="/assets/images/services/icons/line.svg" />
                    </div>
                    <div class="col-sm-8">
                        <h6><span> Low Fidelity Wireframe</span></h6>
                        <h6><span> High Fidelity Wireframe</span></h6>
                        <h6><span> Clickable Prototyping</span></h6>
                        <h6><span> Iteration</span></h6>
                    </div>
                </div>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-5">
            <h5>MARKET LAUNCH</h5>
            <p>With multiple iterations and checkpoints at various stages we ensure the prototype is 
                ready for hassle freemarket development and market launch.</p>
                <div class="row">
                    <div class="col-sm-1">
                        <img src="/assets/images/services/icons/line.svg" />
                    </div>
                    <div class="col-sm-8">
                        <h6><span> Web Analytics</span></h6>
                        <h6><span> High Fidelity Wireframe</span></h6>
                        <h6><span> Clickable Prototyping</span></h6>
                        <h6><span> Iteration</span></h6>
                    </div>
                </div>
        </div>
    </div>
</div>
</div>
            <!-- <div class="row">
                <div class="col-md-5 m-first">
                    <p>We value your time & effort, we employ Early Testing to avoid rework due to mismatch between the
                        users/market needs. We design Visual Prototype and test in multiple stages. Iterate design based on
                        the feedback avoiding changes during the product development or even worse after market launch 
                        which could be very expensive for the business.</p>
                        <div class="row">
                            <div class="col-sm-1">
                                <img src="/assets/images/services/icons/line.svg" />
                            </div>
                            <div class="col-sm-8">
                                <h6><span> Low Fidelity Wireframe</span></h6>
                                <h6><span> High Fidelity Wireframe</span></h6>
                                <h6><span> Clickable Prototyping</span></h6>
                                <h6><span> Iteration</span></h6>
                            </div>
                        </div>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-5 m-last">
                    <div class="step-image">
                        <img src="/assets/images/services/user-experience/image-5.svg" alt="" />
                    </div>
                </div>
            </div> -->
   

<!-- <div class="service-step2">
    <div class="container">
        <div class="row">
            <div class="col-md-5 m-first">
              <h5>MARKET LAUNCH</h5>  
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-5 m-last">
                <p>With multiple iterations and checkpoints at various stages we ensure the prototype is 
                    ready for hassle freemarket development and market launch.</p>
                    <div class="row">
                        <div class="col-sm-1">
                            <img src="/assets/images/services/icons/line.svg" />
                        </div>
                        <div class="col-sm-8">
                            <h6><span> Web Analytics</span></h6>
                            <h6><span> High Fidelity Wireframe</span></h6>
                            <h6><span> Clickable Prototyping</span></h6>
                            <h6><span> Iteration</span></h6>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div> -->

<div class="service-step9">
    <div class="step-heading">
        <h4>OUR  SOLUTIONS  ARE  HELPING  AUDIENCE</h4>
        <div class="step-image">
            <img src="/assets/images/sample/line.svg" />
          </div>
    </div>
        <div class="case-study">
        <div class="body">
        <div class="shadow p-3 mb-5 bg-white rounded">
        <div class="row">
            <div class="col-md-4">
                <div class="step-image image">
                    <img src="/assets/images/projects/project1.jpg" alt="" />
                </div>
            </div>
            <div class="col-md-8">
                <div class="text">
                <h5>EVENT MANAGEMENT</h5>
                <p>The event management portal builds a network of people from the comfort of their home and enables to find venues and services for their Big Day! </p>
                <a routerLink="/projects/event-management"><h3>VIEW CASE STUDY  <fa-icon [icon]="['fas','chevron-right']"></fa-icon></h3></a>
                </div>
            </div>
        </div>
    </div>
        </div>
    </div>
</div>

<!-- Services -->
<div class="services">
    <div class="container">
        <div class="services-heading">
            <h5>OTHER SERVICES</h5>
        </div>
        <div class="service-body">
            <div class="row">
                <div class="col-md-4">
                    <div class="service" routerLink="/services/ui-dev">
                        <div class="service-icon">
                          <img src="/assets/images/home/ui-dev.svg" alt="UI Development" /> 
                        </div>
                        <h4>UI DEVELOPMENT</h4>
                        <p>We specialise in HTML/CSS JavaScript, Angular and back-end integration. We can liaise with the back-end team to
                          execute it pixel perfect.</p>
                        <a class="btn">Show More</a>
                      </div>
                </div>
                <div class="col-md-4">
                    <div class="service" routerLink="/services/end-to-end">
                        <div class="service-icon">
                          <img src="/assets/images/home/end-to-end.svg" alt="End-to-End Development"/>
                        </div>
                        <h4>END TO END DEVELOPMENT</h4>
                        <p>We build products which are innovative scalable & modular to solve critical business problems. We use Java Spring, REST API, PHP, MongoDB, MySQL</p>
                        <a class="btn">Show More</a>
                      </div>
                </div>
                <div class="col-md-4">
                    <div class="service" routerLink="/services/interface-design">
                      <div class="service-icon">
                        <img src="/assets/images/home/interface-design.svg" alt="Interface Design"/>
                      </div>
                      <h4>INTERFACE DESIGN</h4>
                      <p>Aesthetically good design can instil curiosity for the customers to move beyond the landing page. Make your website come alive with best UI</p>
                      <a class="btn">Show More</a>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Services -->