@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import '../../../../scss/colors';
h5{
    font-size: 53px;
    font-weight: 100;
    text-align: left;
    margin-bottom: 30px;
}
.highlight{
    color: #1ED69F;
}
p{
    color: #797979;
    font-size: 16px;
    text-align: justify;
    margin-bottom: 30px;
    margin-top: 10px;
}
.searvice-jumbotron-inner{
    h5{
        margin-top: 60px;  
    }
h3{
    color: #6C6C6C;
    font-size: 16px;
    text-align: left;
    font-weight: 100;
    margin-bottom: 20px;
}
.head{
    width:780px;
    height:618px;
}
.list1{
    margin-left: 33px;
}
.list2{
    margin-left: 25px;
}
.list3{
    margin-left: 26px;
}
}

.service-step{
    background-color: #F4F4F4;
    padding-top: 45px;
    padding-bottom: 45px;
    p{
        color: #797979;
        font-size: 16px;
        text-align: justify;
        margin-bottom: 30px;
        margin-top: 30px;
    }
    h6{
        color: #6C6C6C;
        font-size: 16px;
        font-weight: 100;
        margin-bottom: 16px;
        img{
            margin-bottom: 5px;
        }   
     }
}
.service-step1{
    background-color: #fff;
    padding-top: 45px;
    padding-bottom: 45px;
    h6{
        color: #6C6C6C;
        font-size: 16px;
        font-weight: 100;
        margin-bottom: 16px;
        img{
            margin-bottom: 5px;
        }   
    }
}
   
.service-step2{
    background-color: #F4F4F4;
    padding-top: 45px;
    padding-bottom: 45px;
    h6{
        color: #6C6C6C;
        font-size: 16px;
        font-weight: 100;
        margin-bottom: 16px;
        img{
            margin-bottom: 5px;
        }  
    }
}

@include media-breakpoint-down(md) {
    h5{
        font-size: 35px;
        font-weight: 100;
        text-align: left;
        margin-bottom: 30px;
    }
    .highlight{
        color: #1ED69F;
    }
    p{
        color: #797979;
        font-size: 13px;
        text-align: justify;
        margin-bottom: 30px;
        margin-top: 10px;
        line-height: 25px;
    }
    .searvice-jumbotron-inner{
        h5{
            margin-top: 50px; 
        }
    h3{
        color: #6C6C6C;
        font-size: 13px;
        text-align: left;
        font-weight: 100;
        margin-bottom: 20px;
    }
    .head{
        width: 100%;
        height: auto;
        margin-left: 0px;
    }
    .list1{
        margin-left: 33px;
    }
    .list2{
        margin-left: 25px;
    }
    .list3{
        margin-left: 26px;
    }
    }
    
    .service-step{
        background-color: #F4F4F4;
        padding-top: 45px;
        padding-bottom: 45px;
        p{
            color: #797979;
            font-size: 13px;
            text-align: justify;
            margin-bottom: 10px;
            margin-top: 10px;
            line-height: 25px;
        }
        h6{
            color: #6C6C6C;
            font-size: 13px;
            font-weight: 100;
            margin-bottom: 16px;
            padding-top: 10px;
            img{
                margin-bottom: 5px;
                width: 4%;
            }   
         }
         .row{
            .row{
                margin-left: 0;
                margin-right: 0;
             }
         }
    }
    .service-step1{
        .m-first{
            order: 2;
            h6{
                color: #6C6C6C;
                font-size: 13px;
                font-weight: 100;
                margin-bottom: 16px;
                img{
                    margin-bottom: 5px;
                    width: 4%;
                }   
            }
        }
        .m-last{
            order: 1;
        }
        }
       
        .service-step2{
            .m-first{
                order: 1;
                h6{
                    color: #6C6C6C;
                    font-size: 13px;
                    font-weight: 100;
                    margin-bottom: 16px;
                    img{
                        margin-bottom: 5px;
                        width: 4%;
                    }  
                }
            }
            .m-last{
                order: 2;
                h6{
                    color: #6C6C6C;
                    font-size: 13px;
                    font-weight: 100;
                    margin-bottom: 16px;
                    img{
                        margin-bottom: 5px;
                        width: 4%;
                    }  
                }
            }
        }
    }
