<div class="searvice-jumbotron">
    <div class="container">
        <div class="searvice-jumbotron-inner">
            <div class="row">
                <div class="col-md-5">
                <h1><span class="highlight">USER</span> EXPERIENCE</h1>
                <p>Unravelling solutions for business problems in alignment with end-user expectations</p>
                    <h3><img src="/assets/images/services/ux-1.svg" alt="" /><span class="list">Undestanding Business</span></h3>
                    <h3><img src="/assets/images/services/ux-2.svg" alt="" /><span class="list">User Problems</span></h3>
                    <h3><img src="/assets/images/services/ux-3.svg" alt="" /><span class="list">Support Solutions</span></h3>
                    <h3><img src="/assets/images/services/ux-4.svg" alt="" /><span class="list">Manage</span></h3>
                </div>
                <div class="col-md-4">
                    <div class="step-image head">
                        <img src="/assets/images/services/ux1.png" alt="" />
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="service-step">
    <div class="container">
        <div class="row">
            <div class="col-12">
            <h5><span class="highlight">STAKEHOLDER </span>BUSINESS DISCUSSION</h5>
        </div>
            <div class="step-image">
                <img src="/assets/images/services/ux2.svg" alt="" />
            </div>
            <div class="row">
            <div class="col-md-5">
                <p>We start our requirements gathering from the pillars of the business; the Product Owners, Business SME, CEO/CTO to get their perspectives, needs & current process issues that they encounter and the potential areas of improvement. 
                    Based on the inputs we define the features and the scope.</p>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-5">
                <p>On a broader scope the vision for the product and the market context gets defined. Next step would be SWAT Analysis on the competitors in the market.</p>
            </div>
            </div>
        </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-sm-6">
                            <h6><img src="/assets/images/services/check.svg" alt="" /><span> Stakeholder Interview</span></h6>
                            <h6><img src="/assets/images/services/check.svg" alt="" /><span> Business Requirement Gathering</span></h6>
                        </div>
                        <div class="col-sm-6">
                            <h6><img src="/assets/images/services/check.svg" alt="" /><span> Competitor Analysis</span></h6>
                            <h6><img src="/assets/images/services/check.svg" alt="" /><span> Affinity Mapping</span></h6>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>

<div class="service-step1">
    <div class="container">
        <div class="row">
            <div class="col-12">
            <h5><span class="highlight">DISCOVERING </span>USER PROBLEMS</h5>
        </div>
        </div>
        <div class="row">
            <div class="col-md-6 m-first">
                <p>We funnel the requirements from the Stakeholders, Business Team and the End-Users - align according to the Vision of the Product. It takes a series of process to get the inference from the Research Data. Based on the inputs gleaned from the extensive research and analysis we plot the Journey Maps & Persona. 
                    This allowing us to Empathise with the end-users bringing value to the Design Strategy.</p>
                <p>The Divergent & Convergent Thinking Process aims to unearth the innovative solutions and to nail the needs & challenges of the end-users & the business.</p>
                <h6><img src="/assets/images/services/check.svg" alt="" /><span> User Research</span></h6>
                <h6><img src="/assets/images/services/check.svg" alt="" /><span> User Persona</span></h6>
                <h6><img src="/assets/images/services/check.svg" alt="" /><span> Users Journey Map</span></h6>
                <h6><img src="/assets/images/services/check.svg" alt="" /><span> Root Cause Analysis</span></h6>
            </div>
            <div class="col-md-6 m-last">
                <div class="step-image">
                    <img src="/assets/images/services/ux3.svg" alt="" />
                </div>
            </div>
        </div>
    </div>
</div>

 <div class="service-step1">
    <div class="container">
        <div class="row">
            <div class="col-12">
           <h5>SUPPORTING <span class="highlight">SOLUTIONS</span></h5>
        </div>
        </div>
        <div class="row">
           <div class="col-md-6 m-first">
            <p>We combine the research and the insights to conceptualize to build the wireframes and iterate the prototypes with the business, technical team and the consumers.</p>
            <h6><img src="/assets/images/services/check.svg" alt="" /><span> Conceptual Model</span></h6>
            <h6><img src="/assets/images/services/check.svg" alt="" /><span> Task Flow</span></h6>
            <h6><img src="/assets/images/services/check.svg" alt="" /><span> Card Sorting</span></h6>
            <h6><img src="/assets/images/services/check.svg" alt="" /><span> Information Architecture</span></h6>
        </div>
        <div class="col-md-6 m-last">
            <div class="step-image">
                <img src="/assets/images/services/ux4.svg" alt="" />
            </div>
        </div>
        </div>
    </div>
</div>

<div class="service-step1">
    <div class="container">
        <div class="row">
            <div class="col-12">
            <h5>TEST FEATURE VIABLITY</h5>
        </div>
    </div>
            <div class="row">
                <div class="col-md-6 m-first">
                    <p>We value your time & effort, we employ Early Testing to avoid rework due to mismatch between the
                        users/market needs. We design Visual Prototype and test in multiple stages. Iterate design based on
                        the feedback avoiding changes during the product development or even worse after market launch which could be very expensive for the business.</p>
                    <h6><img src="/assets/images/services/check.svg" alt="" /><span> Low Fidelity Wireframe</span></h6>
                    <h6><img src="/assets/images/services/check.svg" alt="" /><span> High Fidelity Wireframe</span></h6>
                    <h6><img src="/assets/images/services/check.svg" alt="" /><span> Clickable Prototyping</span></h6>
                    <h6><img src="/assets/images/services/check.svg" alt="" /><span> Iteration</span></h6>
                </div>
                <div class="col-md-6 m-last">
                    <div class="step-image">
                        <img src="/assets/images/services/ux5.svg" alt="" />
                    </div>
                </div>
            </div>
    </div>
</div>

<div class="service-step2">
    <div class="container">
        <div class="row">
            <div class="col-md-6 m-first">
              <h5>MARKET LAUNCH</h5>  
            </div>
            <div class="col-md-6 m-last">
                <p>With multiple iterations and checkpoints at various stages we ensure the prototype is ready for hassle freemarket development and market launch.</p>
                <h6><img src="/assets/images/services/check.svg" alt="" /><span> Web Analytics</span></h6>
                <h6><img src="/assets/images/services/check.svg" alt="" /><span> High Fidelity Wireframe</span></h6>
                <h6><img src="/assets/images/services/check.svg" alt="" /><span> Clickable Prototyping</span></h6>
                <h6><img src="/assets/images/services/check.svg" alt="" /><span> Iteration</span></h6>
            </div>
        </div>
    </div>
</div>

<div class="service-step9">
        <div class="case-study">
        <div class="row">
            <div class="col-md-6">
                <div class="step-image image">
                    <img src="/assets/images/projects/project1.png" alt="Interface" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-10">
                <div class="text">
                <h5>EVENT MANAGEMENT</h5>
                <p>The event management portal builds a network of people from the comfort of their home and enables to find venues and services for their Big Day! </p>
                <a routerLink="/projects/event-management"><h3>VIEW CASE STUDY  <fa-icon [icon]="['fas','chevron-right']"></fa-icon></h3></a>
                </div>
            </div>
            <div class="col-md-1"></div>
            </div>
            </div>
        </div>
        </div>
</div>

<!-- Services -->
<div class="services">
    <div class="container">
        <div class="services-heading">
            <h5>OTHER SERVICES</h5>
        </div>
        <div class="service-body">
            <div class="row">
                <div class="col-md-4">
                    <div class="service" routerLink="/services/ui-dev">
                        <div class="service-icon">
                          <img src="/assets/images/services/one.png" alt="UI Development" /> 
                        </div>
                        <h4>UI DEVELOPMENT</h4>
                        <p>We specialise in HTML/CSS JavaScript, Angular and back-end integration. We can liaise with the back-end team to
                          execute it pixel perfect.</p>
                        <a class="btn">Show More</a>
                      </div>
                </div>
                <div class="col-md-4">
                    <div class="service" routerLink="/services/end-to-end">
                        <div class="service-icon">
                          <img src="/assets/images/services/four.png" alt="End-to-End Development"/>
                        </div>
                        <h4>END TO END DEVELOPMENT</h4>
                        <p>We build products which are innovative scalable & modular to solve critical business problems. We use Java Spring, REST API, PHP, MongoDB, MySQL</p>
                        <a class="btn">Show More</a>
                      </div>
                </div>
                <div class="col-md-4">
                    <div class="service" routerLink="/services/interface-design">
                      <div class="service-icon">
                        <img src="/assets/images/services/two.png" alt="Interface Design"/>
                      </div>
                      <h4>INTERFACE DESIGN</h4>
                      <p>Aesthetically good design can instil curiosity for the customers to move beyond the landing page. Make your website come alive with best UI</p>
                      <a class="btn">Show More</a>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Services -->