<div class="career-ux">
    <div class="banner">
       <div class="container">
          <div class="careerux-layout1 ">
             <h1>Drop in your detail <br> if you want to be <span> a part of us</span> </h1>
             <h6>Candidates can share their resume<br> with portfolio to  <span>work@uxmint.in</span></h6>
          </div>
       </div>
    </div>
    <div class="careerux-layout">
       <div class="container">
          <div class="careerux-design">
             <div class="row  justify-content-center">
                <!--div class="col-md-5 only-mobile">
                   <h1>UI Designer</h1>
                   <h6>Experience</h6>
                   <h5>2 to 4 years</h5>
                   <h6>Location</h6>
                   <h5>Chennai, India</h5>
                   <div class="button ">
                      <div class="btn btn-white" routerLink="/careers"> Back</div>
                   </div>
                </div>-->
                <div class="col-md-6 add-form">
                  <div class="container">
                      <form [formGroup]= "form" autocomplete="off">
                          <div class="form-group">
                              <div class="field-group">
                                  <span>Title</span>
                                  <mat-form-field appearance="outline">
                                      <input matInput type="text" placeholder="Ex: UI Developement" formControlName="title">
                                      <mat-error *ngIf="hasError('title','required')">Please enter Title</mat-error>
                                  </mat-form-field>
                              </div>
                              <div class="field-group">
                                  <span>URL</span>
                                  <mat-form-field appearance="outline">
                                      <input matInput type="text" placeholder="Type Linked in URL here" formControlName="url">
                                      <mat-error *ngIf="hasError('url','required')">Please enter URL</mat-error>
                                  </mat-form-field>
                              </div>
                              <div class="row">
                                  <div class="col-md-4">
                                      <div class="field-group">
                                          <span>Job Type</span>
                                          <mat-form-field appearance="outline">
                                              <mat-select placeholder="Ex: Full Time">
                                                <mat-option value="full-time">Full Time</mat-option>
                                                <mat-option value="part-time">Part Time</mat-option>
                                              </mat-select>
                                          </mat-form-field>
                                      </div>
                                  </div>
                                  <div class="col-md-4">
                                      <div class="field-group">
                                          <span>Job mode</span>
                                          <mat-form-field appearance="outline">
                                              <mat-select placeholder="Ex: Remote">
                                                <mat-option value="remote">Remote</mat-option>
                                                <mat-option value="content2">Content 2</mat-option>
                                              </mat-select>
                                          </mat-form-field>
                                      </div>
                                  </div>
                              </div>
                              <div class="field-group">
                                  <span>Location</span>
                                  <mat-form-field appearance="outline">
                                      <input matInput type="text" placeholder="Enter the  Location" formControlName="location">
                                      <mat-error *ngIf="hasError('location','required')">Please enter Location</mat-error>
                                  </mat-form-field>
                              </div>
                              <div class="field-group">
                                  <span>Description</span>
                                  <mat-form-field appearance="outline">
                                      <textarea matInput type="text" placeholder="Enter the  Description" formControlName="description"></textarea>
                                      <mat-error *ngIf="hasError('description','required')">Please enter Description</mat-error>
                                  </mat-form-field>
                              </div>
                              <div class="button">
                                 <div class="btn btn-white" (click)="submitcareer()">Submit</div>
                              </div>
                          </div>
                      </form>
                  </div>
              </div>
             </div>
          </div>
       </div>
    </div>
 </div>