@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

.career-ux{
    .banner{
        position: relative;
        background-color: #995BEB;
        height: 770px;
        padding: 245px 0px;
        h1{
            font-size: 56px;
            color: #000000;
            font-family: Baskerville;
            span{
                color: #FFFFFF;
            }
        }
        h6{
            font-size: 36px;
            color: #282829;
            padding-top: 25px;
            font-family: Muli;
            span{
                color: #FFFFFF;
                text-decoration: underline;
            }
        }
        @include media-breakpoint-down(lg) {
            height: 650px;
        }
        @include media-breakpoint-down(md) {
            height: 540px;
            h1{
                font-size: 36px;
            }
            h6{
                font-size: 24px; 
            }
        }
        @include media-breakpoint-down(sm) {
            display: none;
            height: 500px;
        }
    }

    .careerux-layout{
        .careerux-design{
            padding: 130px 30px;
            h1{
                font-size: 36px;
                font-weight: 500;
                color: #000000;
                font-family: Baskerville;
            }
            h6{
                font-size: 20px;
                color: #8B8B8F;
                padding-top: 50px;
                font-family: Muli;
            }
            h5{
                font-size: 20px;
                color: #282829; 
                font-family: Muli; 
            }
            .button{
                margin-top: 40px;
            }
            .btn-white{
                border: 2px solid #0D0D0D;
                border-radius: 0;
                color: #0D0D0D;
                cursor: pointer;
                font-size: 20px;
                font-family: Muli;
                padding: 8px 25px;
                &:hover{
                    background-color: #C3343C;
                    color: #FFFFFF;
                    border: 2px solid #FFFFFF;
                }
            }
            .btn-white:focus{
                border-color: #ced4da;
                box-shadow: none;
              }
        }
        .add-form{
            margin: 40px 0;
            .field-group{
                span{
                    font-size: 18px;
                    font-weight: 400;
                    color: #464646;
                    font-family: Muli;
                }
            }
            mat-form-field{
                width: 100%;
                border-radius: 6px;
                margin-bottom: 30px;
            }
            ::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
                padding: 20px 10px;
                border-top: 0;
            }
            .button{
                margin-top: 40px;
                .btn-white{
                    border: 2px solid #0D0D0D;
                    border-radius: 0;
                    color: #0D0D0D;
                    cursor: pointer;
                    font-size: 20px;
                    font-family: Muli;
                    padding: 8px 25px;
                    &:hover{
                        background-color: #C3343C;
                        color: #FFFFFF;
                        border: 2px solid #FFFFFF;
                    }
                }
                .btn-white:focus{
                    border-color: #ced4da;
                    box-shadow: none;
                  }
            }
        }
        @include media-breakpoint-down(lg) { 
            padding: 100px 30px;
            .careerux-design{
                padding: 50px 30px;
            }
        }

        @include media-breakpoint-down(md) { 

            padding: 80px 0px;
            .careerux-design{
                padding: 40px 0px;
                h1{
                    font-size: 28px;
                }
            }
        }

        @include media-breakpoint-down(sm) { 
            padding: 50px 0px;
            .only-mobile{
                display: none;
            } 
            .careerux-design{
                padding: 0px 0px;
            }
        }
    }
  
}