<div class="career-ux">
    <div class="banner">
       <div class="container">
          <div class="careerux-layout1 ">
             <h1>Drop in your detail <br> if you want to be <span> a part of us</span> </h1>
             <h6>Candidates can share their resume<br> with portfolio to  <span>work@uxmint.in</span></h6>
          </div>
       </div>
    </div>
    <div class="careerux-layout">
       <div class="container">
          <div class="careerux-design">
             <div class="row">
                <div class="col-md-5 only-mobile">
                   <h1>UI Designer</h1>
                   <h6>Experience</h6>
                   <h5>2 to 4 years</h5>
                   <h6>Location</h6>
                   <h5>Chennai, India</h5>
                   <div class="button ">
                      <div class="btn btn-white" routerLink="/careers"><img src="./assets/images/left-arrow.svg"> Back</div>
                   </div>
                </div>
                <div class="col-md-7 add-form">
                  <div class="container">
                      <form [formGroup]= "form" autocomplete="off">
                          <div class="form-group">
                              <div class="field-group">
                                  <span>Title</span>
                                  <mat-form-field appearance="outline">
                                      <input matInput type="text" placeholder="Ex: How human centre design building Successful products?" formControlName="title">
                                      <mat-error *ngIf="hasError('title','required')">Please enter Title</mat-error>
                                  </mat-form-field>
                              </div>
                              <div class="field-group">
                                  <span>URL</span>
                                  <mat-form-field appearance="outline">
                                      <input matInput type="text" placeholder="Type or Paste the URL here" formControlName="url">
                                      <mat-error *ngIf="hasError('url','required')">Please enter URL</mat-error>
                                  </mat-form-field>
                              </div>
                              <div class="row">
                                  <div class="col-md-4">
                                      <div class="field-group">
                                          <span>Job Type</span>
                                          <mat-form-field appearance="outline">
                                              <mat-select placeholder="Ex: Full Time">
                                                <mat-option value="full-time">Full Time</mat-option>
                                                <mat-option value="part-time">Part Time</mat-option>
                                              </mat-select>
                                          </mat-form-field>
                                      </div>
                                  </div>
                                  <div class="col-md-4">
                                      <div class="field-group">
                                          <span>Job mode</span>
                                          <mat-form-field appearance="outline">
                                              <mat-select placeholder="Ex: Remote">
                                                <mat-option value="remote">Remote</mat-option>
                                                <mat-option value="content2">Content 2</mat-option>
                                              </mat-select>
                                          </mat-form-field>
                                      </div>
                                  </div>
                              </div>
                              <div class="field-group">
                                  <span>Location</span>
                                  <mat-form-field appearance="outline">
                                      <input matInput type="text" placeholder="Ex: Disneyland Hotel, Anaheim, CA 92802, USA" formControlName="location">
                                      <mat-error *ngIf="hasError('location','required')">Please enter Location</mat-error>
                                  </mat-form-field>
                              </div>
                              <div class="field-group">
                                  <span>Description</span>
                                  <mat-form-field appearance="outline">
                                      <textarea matInput type="text" placeholder="Ex: Our mission is to drive and deliver innovative business and IT solutions to our clients to achieve their organizational and customer goals......." formControlName="description"></textarea>
                                      <mat-error *ngIf="hasError('description','required')">Please enter Description</mat-error>
                                  </mat-form-field>
                              </div>
                              <div class="button">
                                 <div class="btn btn-white" (click)="submitcareer()">Submit <img src="./assets/images/rightarrow-white.svg"></div>
                              </div>
                          </div>
                      </form>
                  </div>
              </div>
                <!--<div class="col-md-7 layout-right">
                   <div class="layouts">
                      <h2>Hey, Fill in the details below<br> to join us.</h2>
                      <form [formGroup]="careerform" id="careerForm" name="careerForm" class="careerForm">
                         <div class="row layouts1">
                            <div class="col-md-6"  *ngFor="let position of careerPositions">
                               <div class="custom-control custom-checkbox custom-control-inline">
                                     <input type="checkbox" [id]="position.id" [(ngModel)]="position.checked" [value]="position.value" formControlName="position" (change)="onCareerChange(position.value)"  class="custom-control-input">
                                     <label class="checkbox custom-control-label" [for]="position.id">{{ position.name }}</label>
                                  </div>
                            </div>
                         </div>
                         <div class="row">
                            <div class="col-md-5">
                               <div class="form-group bg-light">
                                  <label class="label" for="name">Name</label>
                                  <input type="text" class="form-control" formControlName="name" name="name" id="name" placeholder=" Your name">
                               </div>
                            </div>
                            <div class="col-md-5">
                               <div class="form-group bg-light">
                                  <label class="label" for="emailId">Email </label>
                                  <input type="email" class="form-control" formControlName="emailId" name="emailId" id="emailId" placeholder=" Your@email.com">
                               </div>
                            </div>
                            <div class="col-md-5">
                               <div class="form-group bg-light">
                                  <label class="label" for="phonenumber">Phone</label>
                                  <input type="text" class="form-control" formControlName="phonenumber" name="phonenumber" id="phonenumber" placeholder=" Your phone number">
                               </div>
                            </div>
                            <div class="col-md-5">
                               <div class="form-group bg-light">
                                  <label class="label" for="portfolioUrl">Portfolio URL</label>
                                  <input type="text" class="form-control" formControlName="portfolioUrl" name="portfolioUrl" id="portfolioUrl" placeholder=" Your Portfolio link">
                               </div>
                            </div>
                            <div class="col-md-10">
                               <div class="form-group bg-light">
                                  <label for="exampleFormControlFile1" class="label">Attach Resume</label>
                                  <input type="file" class="form-control-file" id="exampleFormControlFile1" placeholder=" Or drag & drop file here ">
                               </div>
                            </div>
                            <div class="button">
                               <div class="btn btn-white" (click)="submitcareer()">Submit <img src="./assets/images/rightarrow-white.svg"></div>
                            </div>
                         </div>
                      </form>
                   </div>
                </div>-->
             </div>
          </div>
       </div>
    </div>
 </div>