<div class="career-ux">
    <div class="banner">
       <div class="container">
          <div class="careerux-layout1 ">
             <h1>Drop in your detail <br> if you want to be <span> a part of us</span> </h1>
             <h4>Candidates can share their resume with portfolio to  <span>work@uxmint.in</span></h4>
          </div>
       </div>
    </div>
    <div class="careerux-layout">
          <div class="careerux-design">
             <div class="row justify-content-center">
                <div class="col-md-6 add-form">
                  <div class="container">
                    <h2>Add job vacancy </h2>
                      <form [formGroup]= "form" autocomplete="off">
                          <div class="form-group">
                              <div class="field-group">
                                  <span>Job Title</span>
                                  <mat-form-field appearance="outline">
                                      <input matInput type="text" placeholder="Ex: UI Developer" formControlName="title">
                                      <mat-error *ngIf="hasError('title','required')">Please enter Title</mat-error>
                                  </mat-form-field>
                              </div>
                              <div class="formField">
                                <div class="position">
                                   <label class="containerRadio">Full-time
                                     <input type="radio" name="radio">
                                     <span class="checkmark"></span>
                                   </label>
                                   <label class="containerRadio">Part-time
                                     <input type="radio" name="radio">
                                     <span class="checkmark"></span>
                                   </label>
                                 </div>
                             </div>
                              <div class="field-group">
                                  <span>Linkedin URL</span>
                                  <mat-form-field appearance="outline">
                                      <input matInput type="text" placeholder="Enter URL" formControlName="url">
                                      <mat-error *ngIf="hasError('url','required')">Please enter URL</mat-error>
                                  </mat-form-field>
                              </div>
                              <div class="formField">
                                <div class="position">
                                   <label class="containerRadio">On site
                                     <input type="radio" name="radio">
                                     <span class="checkmark"></span>
                                   </label>
                                   <label class="containerRadio">Remote
                                     <input type="radio" name="radio">
                                     <span class="checkmark"></span>
                                   </label>
                                 </div>
                             </div>
                             <div class="field-group">
                                <span>Location</span>
                                <mat-form-field appearance="outline">
                                    <mat-select placeholder="Ex: Location">
                                      <mat-option value="chennai">Chennai</mat-option>
                                      <mat-option value="thoraipakkam">Thoraipakkam</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                              <!--div class="field-group">
                                  <span>Location</span>
                                  <mat-form-field appearance="outline">
                                      <input matInput type="text" placeholder="" formControlName="location">
                                      <mat-error *ngIf="hasError('location','required')">Please enter Location</mat-error>
                                  </mat-form-field>
                              </div>-->
                              <h5>Experience :</h5>
                              <div class="row">
                                <h6>Min</h6>
                                <div class="col-md-4">
                                    <div class="field-group">
                                        <mat-form-field appearance="outline" class="min">
                                            <input matInput type="text" placeholder="0" formControlName="location">
                                        </mat-form-field>
                                    </div>
                                </div>
                                <h6>Max</h6>
                                <div class="col-md-4">
                                    <div class="field-group">
                                        <mat-form-field appearance="outline" class="min">
                                            <input matInput type="text" placeholder="0" formControlName="location">
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                              <div class="field-group">
                                  <span>Description</span>
                                  <mat-form-field appearance="outline">
                                      <textarea matInput type="text" placeholder="Enter the  Description" formControlName="description"></textarea>
                                      <mat-error *ngIf="hasError('description','required')">Please enter Description</mat-error>
                                  </mat-form-field>
                              </div>
                              <div class="row">
                                <div class="col-md-4">
                                    <div class="button">
                                      <div class="btn btn-white">Cancel</div>
                                   </div>
                               </div>
                                  <div class="col-md-4">
                                <div class="button">
                                    <div class="btn btn-white" (click)="submitcareer()">Submit</div>
                                 </div>
                                </div>
                              </div>
                          </div>
                      </form>
                  </div>
              </div>
             </div>
          </div>
       </div>
    </div>
 