<div class="career-ux">
   <div class="banner">
      <div class="container">
         <div class="careerux-layout1 ">
            <h1>Drop in your detail <br> if you want to be <span> a part of us</span> </h1>
            <h6>Candidates can share their resume<br> with portfolio to  <span>work@uxmint.in</span></h6>
         </div>
      </div>
   </div>
   <div class="careerux-layout">
      <div class="container">
         <div class="careerux-design">
            <div class="row">
               <div class="col-md-5 only-mobile">
                  <h1>UI Designer</h1>
                  <h6>Experience</h6>
                  <h5>2 to 4 years</h5>
                  <h6>Location</h6>
                  <h5>Chennai, India</h5>
                  <div class="button ">
                     <div class="btn btn-white"><img src="./assets/images/left-arrow.svg"> Back</div>
                  </div>
               </div>
               <div class="col-md-7 layout-right">
                  <div class="layouts">
                     <h2>Hey, Fill in the details below<br> to join us.</h2>
                     <div class="row">
                        <div class="col-md-6">
                           <label class="checkbox">UX Designer
                           <input type="checkbox" checked="checked">
                           <span class="checkmark"></span>
                           </label>
                           <label class="checkbox">Product Designer
                           <input type="checkbox">
                           <span class="checkmark"></span>
                           </label>
                           <label class="checkbox">Front-End Developer
                           <input type="checkbox">
                           <span class="checkmark"></span>
                           </label>
                        </div>
                        <div class="col-md-6">
                           <label class="checkbox">UI Designer
                           <input type="checkbox" checked="checked">
                           <span class="checkmark"></span>
                           </label>
                           <label class="checkbox">Brand Consultant
                           <input type="checkbox">
                           <span class="checkmark"></span>
                           </label>
                           <label class="checkbox">Mobile Developer
                           <input type="checkbox">
                           <span class="checkmark"></span>
                           </label>
                        </div>
                     </div>
                     <form  id="contactForm" name="contactForm" class="contactForm">
                        <div class="row">
                           <div class="col-md-5">
                              <div class="form-group bg-light">
                                 <label class="label" for="name">Name</label>
                                 <input type="text" class="form-control" name="name" id="name" placeholder=" Your name">
                              </div>
                           </div>
                           <div class="col-md-5">
                              <div class="form-group bg-light">
                                 <label class="label" for="email">Email </label>
                                 <input type="email" class="form-control" name="email" id="email" placeholder=" Your@email.com">
                              </div>
                           </div>
                           <div class="col-md-5">
                              <div class="form-group bg-light">
                                 <label class="label" for="name">Phone</label>
                                 <input type="text" class="form-control" name="name" id="name" placeholder=" Your phone number">
                              </div>
                           </div>
                           <div class="col-md-5">
                              <div class="form-group bg-light">
                                 <label class="label" for="name">Portfolio URL</label>
                                 <input type="text" class="form-control" name="name" id="name" placeholder=" Your Portfolio link">
                              </div>
                           </div>
                           <div class="col-md-10">
                              <div class="form-group bg-light">
                                 <label for="exampleFormControlFile1" class="label">Attach Resume</label>
                                 <input type="file" class="form-control-file" id="exampleFormControlFile1" placeholder=" Or drag & drop file here ">
                              </div>
                           </div>
                           <div class="button">
                              <div class="btn btn-white">Submit <img src="./assets/images/rightarrow-white.svg"></div>
                           </div>
                        </div>
                     </form>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>