@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
.services{
    padding: 50px 0px;
.banner{
    // background-image: url('/dev/assets/images/bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    top: -53px;
    height: 770px;
    h1{
        font-size: 96px;
        color: #C3343C;
        font-family: Baskerville;
    }
    hr.line{
        border-bottom: 10px solid gray;
        width: 50%;
        text-align: left;
        margin-left: 0;
        margin-top: -7px;
    }
    p{
        font-size: 24px;
        color: #000000;
        font-family: Muli;
    }
    .banner-content{
        padding: 300px 0px;
    }
    @include media-breakpoint-down(lg){
        .row{
            .col-md-5{
                flex: 0 0 60%;
                max-width: 60%;
            }
        }
    }
    @include media-breakpoint-down(md){
        height: 450px;
        .row{
            .col-md-5{
                flex: 0 0 80%;
                max-width: 80%;
            }
        }
        .banner-content{
            padding: 200px 0px;
        }
        h1{
            font-size: 36px;
        }
        p{
            font-size: 16px;
        }
    }
    @include media-breakpoint-down(sm){
        background-position: center;
        height: 560px;
        .row{
            .col-md-5{
                flex: 0 0 100%;
                max-width: 100%;
            }
        }
    }
}
.service-layout1{
    .row{
        margin-left: 0px !important;
        margin-right: 0px !important;
    }
    .left-layout{
       background-color: #C3343C;
       color: #FFFFFF;
       padding: 285px 0px;
       h3{
           font-size: 48px;
           font-family: Baskerville;
       }
       @include media-breakpoint-down(lg){
        padding: 100px 0px;
       }
       @include media-breakpoint-down(md){
        h3{
            font-size: 30px;
        }
       }
    }
    .right-layout{
        @include media-breakpoint-down(sm){
            display: none;
        }
    }
    .col-md-6{
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    img{
        width: 107%;
    }
}
.service-layout2{
    background-color: #282829;
    color: #FFFFFF;
    padding: 150px 0px;
    h3{
        font-size: 36px;
        margin-bottom: 30px;
        font-family: Baskerville;
    }
    p{
        font-size: 18px;
        font-weight: 200;
        margin-top: 40px;
        font-family: Muli;
    }
    .list{
        padding: 30px;
        span{
            font-size: 20px;
            margin-left: 5px;
            font-weight: 200;
            font-family: Muli;
        }
    }
    @include media-breakpoint-down(lg){
        .row{
            .col-md-5{
                flex: 0 0 37%;
                max-width: 37%;
            }
            .col-md-4{
                flex: 0 0 35%;
                max-width: 35%;
            }
            .col-md-3{
                flex: 0 0 28%;
                max-width: 28%;
            }
        }
    }
    @include media-breakpoint-down(md){
        .row{
            .col-md-5{
                flex: 0 0 100%;
                max-width: 100%;
            }
            .col-md-4{
                flex: 0 0 50%;
                max-width: 50%;
            }
            .col-md-3{
                flex: 0 0 50%;
                max-width: 50%;
            }
        }
        h3{
            font-size: 28px;
        }
        p{
            font-size: 20px;
        }
        .list{
            span{
                font-size: 18px;
            }
        }
    }
    @include media-breakpoint-down(sm){
        padding: 100px 0;
        .list{
            padding: 12px;
        }
        .row{
            .col-md-5{
                flex: 0 0 100%;
                max-width: 100%;
            }
            .col-md-4{
                flex: 0 0 100%;
                max-width: 100%;
            }
            .col-md-3{
                flex: 0 0 100%;
                max-width: 100%;
            }
        }
    }
}
.service-layout3{
    @include media-breakpoint-down(sm){
        display: none;
    }
    background-color: #FCFCFC;
    padding: 150px 0px;
    color: #282829;
    li{
        list-style-type: none;
        font-size: 28px;
        cursor: pointer;
        img{
            margin-right: 10px;
            &:active{
                color: #C3343C;
            }
        }
    }
    h2{
        font-size: 56px;
        font-family: Baskerville;
    }
    p{
        font-size: 16px;
        line-height: 30px;
        margin-top: 40px;
        font-family: Muli;
    }
    .li{
        font-size: 16px;
        margin-top: 6px;
    }
    @include media-breakpoint-down(md){
        h2{
            font-size: 36px;
        }
    }
}
}
.service-layout3-responsive{
    display: none;
}

@include media-breakpoint-down(sm) {
    .service-layout3-responsive{
        margin: 100px 0;
        display: block;
        .card{
            background-color: #FFFFFF !important;
        }
        ::ng-deep .card-header {
            background-color: #FFFFFF !important;
        }
        ::ng-deep .btn-link:hover {
            color: #C3343C;
            font-size: 20px;
        }
        ::ng-deep .btn-link {
            font-size: 20px;
            font-weight: 500; 
            color: #282829;
            text-decoration: none;
            width: 100%;
        }
        ::ng-deep .btn-link.active {
            color: #C3343C;
        }
        ::ng-deep .dis_flex{
            display:flex;
            align-items: center;
            justify-content: space-between;
        }
        ::ng-deep .btn:focus  {
             outline: 0;
             box-shadow: none !important; 
        }
        ::ng-deep .collapsed .arrow_rotate{
            -ms-transform: rotate(180deg);  
            transform: rotate(180deg);
        }
    .design-left{
        padding: 10px 20px 40px 20px;
            p{
                font-size: 16px;
                color: #282829;
                padding-top: 10px;
            }
            .li{
                font-size: 16px;
                margin-top: 6px;
            }
        }
    }
}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link{
    background-color: #FCFCFC;
    color: #C3343C;
    font-size: 36px;
    font-weight: 600;
    font-family: Baskerville;
    svg{
        margin-top: 8px !important;
    }
    @include media-breakpoint-down(md){
        font-size: 28px;
        svg{
            margin-top: 0px !important;
        }
    }
}
.nav-pills{
    width: 150%;
}
.tab-content{
    width: 200%;
}
.nav-link{
    display: flex;
    padding: 0 20px 40px 20px;
}
.nav-pills a{
    color: #282829;
    font-family: Baskerville;
    svg{
        margin-right: 10px;
    }
}
// .flex-column{
//     padding: 75px 0px;
// }