<header>
  <div class="header-container">
      <nav class="navbar navbar-expand">
          <div class="row header-logo">
              <div class="col-md-3 ux-logo">
                  <img src="./assets/images/logo6.svg" routerLink="/" alt="Logo">
              </div>
              <div class="col-md-7">
              <h2 routerLink="/">CONSULTING<br>SERVICES</h2>
              </div>
          </div>
          <div class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item web-only">
                <a class="nav-link" routerLinkActive="active" routerLink="/works"><span>Work</span></a>
              </li>
              <li class="nav-item web-only">
                  <a class="nav-link" routerLinkActive="active" routerLink="/about-us">About</a>
              </li>
              <li class="nav-item web-only">
                <a class="nav-link" routerLinkActive="active" routerLink="/services">Services</a>
              </li>
              <li class="nav-item web-only">
                  <a class="nav-link" routerLinkActive="active" routerLink="/contact-us">Let's Talk</a>
              </li>
              <div class="col-md-1 only-mobile">
                  <div class="lines"></div>
              </div>
              <li class="nav-item menu">
                  <a class="nav-link menu-activator" (click)="openMenu()"> <img src="./assets/images/menu.png" alt="menu"></a>
              </li>
            </ul>
          </div>
      </nav>
  </div>
</header>
<div class="services">
    <div class="banner">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <div class="banner-content">
                        <h1>Interface Design</h1>
                        <hr class="line">
                        <p>Having interface fluent enough for the user to communicate with the system or product is fundamental necessity.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="service-layout1">
        <div class="row">
            <div class="col-md-6 left-layout">
                <div class="container">
                    <h3>A product with
                        good Interface Design will
                        Establish a visual language for seamless interaction</h3>
                </div>
            </div>
            <div class="col-md-6 right-layout">
              <img src="./assets/images/services/Asset12.svg" alt="Interface Design">
            </div>
        </div>
    </div>
    <div class="service-layout2">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <h3>Interface Design is the bridge between User and System</h3>
                    <p>Aesthetically good design can instil curiosity for the customers to move beyond the landing page. Make your website come alive with best UI.</p>
                </div>
                <div class="col-md-4">
                    <div class="list">
                        <img src="./assets/images/services/icon-11.svg" alt="Interface Design"><span>Moodboard</span>
                    </div>
                    <div class="list">
                        <img src="./assets/images/services/icon-12.svg" alt="Interface Design"><span>Visual Language</span>
                    </div>
                    <div class="list">
                        <img src="./assets/images/services/icon-13.svg" alt="Interface Design"><span>Iconography</span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="list">
                        <img src="./assets/images/services/icon-14.svg" alt="Interface Design"><span>Design systems</span>
                    </div>
                    <div class="list">
                        <img src="./assets/images/services/icon-15.svg" alt="Interface Design"><span>Illustrations</span>
                    </div>
                    <div class="list">
                        <img src="./assets/images/services/icon-16.svg" alt="Interface Design"><span>Brand identity</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="service-layout4">
      <div class="container">
      <div class="row">
          <div class="col-md-5">
                  <h3>First impression of a product Matters a lot</h3>
          </div>
          <div class="col-md-6">
                 <p>Before even users start using a product, they perceive it. A percentage of their acceptance of the application is based on the visuals they see. Aesthetic and minimal design will retain customers. UI can be created & enhanced after wireframe phase, based on user testing feed back, if the product has not been catching up with the trend, to have a holistic design system or a visual language.</p>
              </div>
          </div>
      </div>
  </div>
    <div class="service-layout3">
        <div class="container">
            <div class="d-flex">
                <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-pills" orientation="vertical">
                  <li ngbNavItem="discussion">
                    <a ngbNavLink>
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40">
                            <g id="Group_6451" data-name="Group 6451" transform="translate(-9109 -470)">
                              <g id="Group_5751" data-name="Group 5751" transform="translate(8815 -2938)">
                                <rect id="Rectangle_4386" data-name="Rectangle 4386" width="24" height="24" transform="translate(302 3416)" fill="none" stroke="currentColor" stroke-linejoin="round" stroke-width="2"/>
                                <path id="Path_9486" data-name="Path 9486" d="M2793.531,12997.733v12.78h-3.454v10.205" transform="translate(-2478.037 -9581.294)" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                                <path id="Path_9487" data-name="Path 9487" d="M2810.073,13002.124s2.287,2.05,4.316,0" transform="translate(-2504 -9578)" fill="none" stroke="currentColor" stroke-linecap="round" stroke-width="2"/>
                                <path id="Path_9488" data-name="Path 9488" d="M2810.072,13002.123s7.242,6.492,13.667,0" transform="translate(-2503 -9570)" fill="none" stroke="currentColor" stroke-linecap="round" stroke-width="2"/>
                                <g id="Rectangle_4387" data-name="Rectangle 4387" transform="translate(318 3423)" fill="none" stroke="currentColor" stroke-width="2">
                                  <rect width="4" height="4" rx="2" stroke="none"/>
                                  <rect x="1" y="1" width="2" height="2" rx="1" fill="none"/>
                                </g>
                              </g>
                            </g>
                          </svg>
                        Design</a>
                    <ng-template ngbNavContent>
                      <h2>User Interface Design</h2>
                      <p>The Interface Design is the skeleton on which all the components are to be laid, it also pays way for a Responsive Design when it spans across devices; making it with at most precision helps speed up the Development process and by making reusable components wherever possible.</p>
                    </ng-template>
                  </li>
                  <li ngbNavItem="discovery">
                    <a ngbNavLink>
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40">
                            <g id="Group_6458" data-name="Group 6458" transform="translate(-9262 -536)">
                              <g id="Icon_feather-smartphone" data-name="Icon feather-smartphone" transform="translate(9266.5 541)">
                                <path id="Path_9474" data-name="Path 9474" d="M9.884,3H21.8a2.384,2.384,0,0,1,2.384,2.384V24.455A2.384,2.384,0,0,1,21.8,26.839H9.884A2.384,2.384,0,0,1,7.5,24.455V5.384A2.384,2.384,0,0,1,9.884,3Z" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                                <path id="Path_9475" data-name="Path 9475" d="M18,27h1.376" transform="translate(-2.599 -3.929)" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                                <path id="Path_9476" data-name="Path 9476" d="M11.23,13.709,13.6,16.077l5.156-5.156" transform="translate(0.85 -0.103)" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                              </g>
                            </g>
                          </svg>
                        Evaluation</a>
                    <ng-template ngbNavContent>
                    <h2>User Interface Evaluation</h2>
                      <p>Evaluating user interface design every once in a while will give us insights and ideas about enhancing design and business based on user’s feedback and analytics insights. Funnelling the areas of impact and enhancing the design helps the improve the overall customer satisfaction of the website or application.</p>
                    </ng-template>
                  </li>
                  <li ngbNavItem="solution">
                    <a ngbNavLink>
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40">
                            <g id="Group_6457" data-name="Group 6457" transform="translate(-9336 -523)">
                              <g id="Group_5753" data-name="Group 5753" transform="translate(9047.258 -2883)">
                                <path id="Path_9489" data-name="Path 9489" d="M12.379,0c6.837,0,12.379,5.8,12.379,5.8s-5.542,5.8-12.379,5.8S0,5.8,0,5.8,5.542,0,12.379,0Z" transform="translate(296.742 3420.5)" fill="none" stroke="currentColor" stroke-linejoin="round" stroke-width="2"/>
                                <g id="Ellipse_1155" data-name="Ellipse 1155" transform="translate(303 3420)" fill="none" stroke="currentColor" stroke-linejoin="round" stroke-width="2">
                                  <circle cx="6.5" cy="6.5" r="6.5" stroke="none"/>
                                  <circle cx="6.5" cy="6.5" r="5.5" fill="none"/>
                                </g>
                                <g id="Ellipse_1156" data-name="Ellipse 1156" transform="translate(307 3424)" fill="none" stroke="currentColor" stroke-linejoin="round" stroke-width="2">
                                  <circle cx="2.5" cy="2.5" r="2.5" stroke="none"/>
                                  <circle cx="2.5" cy="2.5" r="1.5" fill="none"/>
                                </g>
                              </g>
                            </g>
                          </svg>
                        Visual Design</a>
                    <ng-template ngbNavContent>
                      <h2>Visual Design System</h2>
                        <p>The standard that define the companies branding in reference to Theme/Colour usage, fonts styles, visuals in accordance with the Product Topography even extending to tone and grammar. A well defined interface brings attention and notice to the Product even among thousands of other brands.</p>
                    </ng-template>
                  </li>
                  <li ngbNavItem="test">
                    <a ngbNavLink>
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40">
                            <g id="Group_6456" data-name="Group 6456" transform="translate(-9421 -510)">
                              <g id="Group_5752" data-name="Group 5752" transform="translate(8447.5 -1077.5)">
                                <path id="Icon_open-flag" data-name="Icon open-flag" d="M9,0V12h6v3H27L21,9.09,27,3H18V0Z" transform="translate(977.5 1595.5)" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                                <line id="Line_126" data-name="Line 126" y2="24" transform="translate(983.5 1595.5)" fill="none" stroke="currentColor" stroke-linecap="round" stroke-width="2"/>
                              </g>
                            </g>
                          </svg>
                        Branding & Identity</a>
                    <ng-template ngbNavContent>
                        <h2>Branding & Identity</h2>
                        <p>A great product demands individuality; as per studies, “it is often said that customers form an opinion about a Company/Product within seconds. A well-designed logo is an easy way to convey to potential customers that your business is professional, trustworthy, and provides quality goods or services”. In short it defines the personality of the Product!</p>
                    </ng-template>
                  </li>
                </ul>
              
                <div [ngbNavOutlet]="nav" class="ml-4 px-5"></div>
              </div>
        </div>
    </div>
    <div class="service-layout3-responsive">
      <ngb-accordion [closeOthers]="true" activeIds="static-1">
        <ngb-panel id="static-1"  >  
           <ng-template ngbPanelTitle>
              <div class="dis_flex">
                 <div> User Interface Design </div>
                 <div class="arrow_rotate">  <img src="./assets/images/about/arrow.png" alt="Arrow"> </div>
              </div>
            </ng-template> 
          <ng-template ngbPanelContent >
           <div class="row">
              <div class="col-md-6 design-left">
                <p>The Interface Design is the skeleton on which all the components are to be laid, it also pays way for a Responsive Design when it spans across devices; making it with at most precision helps speed up the Development process and by making reusable components wherever possible.</p>
              </div>
           </div>
          </ng-template>
        </ngb-panel>
        <ngb-panel id="static-2">
           <ng-template ngbPanelTitle>
              <div class="dis_flex">
                 <div>User Interface Evaluation</div>
                 <div class="arrow_rotate">  <img src="./assets/images/about/arrow.png" alt="Arrow"> </div>
              </div>
            </ng-template> 
           <ng-template ngbPanelContent>
              <div class="row">
                 <div class="col-md-6 design-left">
                  <p>Evaluating user interface design every once in a while will give us insights and ideas about enhancing design and business based on user’s feedback and analytics insights. Funnelling the areas of impact and enhancing the design helps the improve the overall customer satisfaction of the website or application.</p>
                 </div>
              </div>
           </ng-template>
         </ngb-panel>
         <ngb-panel id="static-3">
           <ng-template ngbPanelTitle>
              <div class="dis_flex">
                 <div>Visual Design System</div>
                 <div class="arrow_rotate">  <img src="./assets/images/about/arrow.png" alt="Arrow"> </div>
              </div>
            </ng-template>
           <ng-template ngbPanelContent>
              <div class="row">
                 <div class="col-md-6 design-left">
                  <p>The standard that define the companies branding in reference to Theme/Colour usage, fonts styles, visuals in accordance with the Product Topography even extending to tone and grammar. A well defined interface brings attention and notice to the Product even among thousands of other brands.</p>
                 </div>
              </div>
           </ng-template>
         </ngb-panel>
         <ngb-panel id="static-4">
           <ng-template ngbPanelTitle>
              <div class="dis_flex">
                 <div>Branding & Identity</div>
                 <div class="arrow_rotate">  <img src="./assets/images/about/arrow.png" alt="Arrow"> </div>
              </div>
            </ng-template>
           <ng-template ngbPanelContent>
              <div class="row">
                 <div class="col-md-6 design-left">
                  <p>A great product demands individuality; as per studies, “it is often said that customers form an opinion about a Company/Product within seconds. A well-designed logo is an easy way to convey to potential customers that your business is professional, trustworthy, and provides quality goods or services”. In short it defines the personality of the Product!</p>
                 </div>
              </div>
           </ng-template>
         </ngb-panel>
      </ngb-accordion>
    </div>
    <div class="other-case-studies">
      <div class="row">
          <div class="col-md-6 left">
              <h2>Case Studies</h2>
              <div class="button">
                  <div class="btn btnn" routerLink="/works">See All Works</div>
              </div>
          </div>
          <div class="col-md-6 right">
              <ngu-carousel class="blog-carousel" #blogCarousel [inputs]="blogsCarouselConfig" [dataSource]="otherCaseStudies">
                  <ngu-tile *nguCarouselDef="let item; let i = index">
                      <div class="class">
                          <div class="image">
                              <a [routerLink]="item.url"><img [src]="item.img" alt="Blogs"></a>
                          </div>
                          <h3><a [routerLink]="item.url">{{ item.title }}</a></h3>
                          <h4>{{ item.sub }}</h4>
                      </div>
                  </ngu-tile>
                  <ul class="ngucarousel-indicator" NguCarouselPoint>
                    <li *ngFor="let pointer of blogCarousel.pointNumbers; let i = index">
                      <a (click)="blogCarousel.moveTo(i)" [class.active]="blogCarousel.activePoint == i">&nbsp;</a>
                    </li>
                  </ul>
              </ngu-carousel>
          </div>
      </div>
  </div>
</div>