<!-- Skill Development -->
<section class="skill-dev">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <div class="heading">
            <h1>Skill Development</h1>
            <p>Platform for designers, design aspirants/students, mentor to collaborate and share their 
              ideology, design method, process and uplift their skills in the Design domain.
            </p>
              <div class="background">
                  <img src="/assets/images/projects/skill-development/background.png" alt="Skill development"/>
              </div>
        </div>
      </div>
      <div class="col-md-7">
        <div class="image-skill">
        <img src="/assets/images/projects/skill-development/skill-dev.png" alt="Skill development"/>
      </div>
      </div>
    </div>
  </div>
  </section>
  <!-- Skill Development -->

  <!-- About Project -->
<section class="about-project">
  <div class="container">
    <div class="heading">
      <h1>About Project</h1>
    </div>
    <div class="row">
      <div class="col-md-5">
        <p>Platform for students, designers, mentor to collaborate and share their ideology and uplift 
          their skills in the design field. emotionally connected to peoples lives and the current 
          younger generation is ready to spend a lot to make their events more memorable.
        </p>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-5">
          <p>
          </p>
      </div>
    </div>
    <ul class="list">
      <li>
        <h3>PLATFORM</h3>
        <p>Mobile App & Website</p>
      </li>
      <li>
        <h3>SEGMENT</h3>
        <p>Skill Development</p>
      </li>
    </ul>
  </div>
  </section>
  <!-- About Project -->

  <!-- Process -->
  <section class="process">
    <div class="container">
        <h1>Process</h1>
    <div class="row">
      <div class="col-sm-3">
        <div class="step-image1">
          <img src="/assets/images/projects/skill-development/icon1.png"/>
      </div>
      <h6>Discover</h6>
      <p>- BG Research</p>
      <p>- Business Req Gathering</p>
      <p>- User research</p>
      </div>
      <div class = "vertical1"></div> 
      <div class="col-sm-3">
        <div class="step-image1">
          <img src="/assets/images/projects/skill-development/icon2.png"/>
      </div>
      <h6>Define</h6>
      <p>- Personas</p>
      <p>- Journey map</p>
      <p>- Root cause analysis</p>
      <p>- Conceptual Model</p>
      </div>
      <div class = "vertical2"></div> 
      <div class="col-sm-3">
        <div class="step-image1">
          <img src="/assets/images/projects/skill-development/icon3.png"/>
      </div>
      <h6>Design</h6>
      <p>- Feature Mapping</p>
      <p>- Information Architecture</p>
      <p>- Task Flow</p>
      <p>- Wireframe</p>
      </div>
      <div class = "vertical3"></div> 
      <div class="col-sm-3">
        <div class="step-image1">
          <img src="/assets/images/projects/skill-development/icon4.png"/>
      </div>
      <h6>Interface</h6>
      <p>- Design Systems</p>
      <p>- Visual Design</p>
      </div>
    </div>
  </div>
</section>
  <!-- Process -->

  <!-- Research -->
<section class="research">
    <div class="container">
        <h1>Research</h1>
    <div class="row research1">
      <div class="col-md-3">
        <h3>Objective</h3>
        <p>Enhance their skills in design 
          and bring collaboration 
          between different user segments
        </p>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-3">
        <h3>Target Audience</h3>
        <p>Students or Design Aspirants, 
          Graphic Designers, UX Designer, UI Designer, Developers & Mentors
        </p>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-4">
        <h3>Study</h3>
        <p>All segments of targer users were interviewed and surveyed
        </p>
        <div class="row box">
          <div class="col-sm-4">
            <h4><span class="highlight">7,000 </span></h4>
            <h6>Qualified Designers as of 2020</h6>
          </div> 
          <div class="col-sm-4">
            <h4><span class="highlight">60,000</span></h4>
            <h6>Will require more than</h6>
          </div>
          <div class="col-sm-4">
            <h4><span class="highlight">25,000</span></h4>
            <h6>Jobs available in Design field</h6>
          </div>
        </div>
      </div>
    </div>
    <div class="row research2">
      <div class="col-md-6">
        <h3>User Research</h3>
        <p>We have interviewed 100+ Personas</p>
        <div class="row">
        <div class="col-md-6">
        <div class="step-image1">
          <img src="/assets/images/projects/event-management/em4.png" alt="Event Management"/>
      </div>
    </div>
      <div class="col-md-6">
        <div class="set-list">
      <div class="set"><img src="/assets/images/projects/event-management/Ellipse 560.png"/><span class="profile"><img src="/assets/images/projects/event-management/em5.png"/></span><span class="highlights">8</span><span class="highlights1">Career Seekers</span></div><hr>
      <div class="set"><img src="/assets/images/projects/event-management/Ellipse 561.png"/><span class="profile"><img src="/assets/images/projects/event-management/em6.png"/></span><span class="highlights">8</span><span class="highlights1">Easy Goers</span></div><hr>
      <div class="set"><img src="/assets/images/projects/event-management/Ellipse 562.png"/><span class="profile"><img src="/assets/images/projects/event-management/em7.png"/></span><span class="highlights">9</span><span class="highlights1">The Upgraders</span></div>
    </div>
  </div>
  </div>
  </div>
      <div class="col-md-6">
        <p>Based on the interviewed data the affinity mapping was done and classified to Personas</p>
          <div class="step-image">
            <img src="/assets/images/projects/skill-development/research.png" />
        </div>
      </div>
    </div>
    </div>
  </section>
  <!-- Research -->

  <!-- Challenge & needs -->
<section class="challenges-needs">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h3>Challenges</h3>
        <p>Scope of the awareness in field is less</p>
        <p>No formal education in design</p>
        <p>Don't have a portfolio to enter the domain</p>
        <p>Difficult to do portfolio as no references</p>
        <p>No Guidance to enhance the Portfolio</p>
      </div>
      <div class="col-md-6">
        <h3>Needs</h3>
        <p>Create awareness among younger generation on Creative Job</p>
        <p>Understand how the field works</p>
        <p>Need a mentor to Guide</p>
        <p>Portfolio review by experts</p>
        <p>Current trends and new methods to debate with Industry Vetrans</p>
      </div>
    </div>
  </div>
</section>
<!-- Challenge & needs -->

<!-- Design -->
<section class="design">
  <div class="container">
    <h1>Design</h1>
    <div class="row">
      <div class="col-md-3">
        <h3>Feature Mapping</h3>
        <p>After segregation of data Root Cause Analysis done to get into the  
          Solutioning Process.
        </p>
      </div>
      <div class="col-md-1">
        <div class = "vertical1"></div>
      </div>
      <div class="col-md-3">
        <h3>Information Architecture</h3>
        <p>Closed Card Sorting was performed for the list of task and information 
          architecture is drawn for the task.
        </p>
      </div>
      <div class="col-md-1">
        <div class = "vertical2"></div>
      </div>
      <div class="col-md-3">
        <h3>Task Flow</h3>
        <p>All possibles scenarios are plotted with the help of Task Flow diagrams to ensure coverage. 
        </p>
      </div>
    </div>
  </div>
</section>
<!-- Design -->

<!-- Interface design -->
<section class="interface">
  <div class="container">
    <h1>Interface Design</h1>
    <div class="design-image step-image">
      <img src="/assets/images/projects/skill-development/interface.png" />
    </div>
  </div>
</section>
<!-- Interface design -->

<!-- Components -->
<section class="components">
  <div class="container">
    <div class="heading">
    <h1>Components</h1>
  </div>
    <div class="components-image step-image">
      <img src="/assets/images/projects/skill-development/components.png" />
    </div>
  </div>
</section>
<!-- Components -->

<!-- Icons -->
<section class="icons">
  <div class="container">
    <h1>Icons</h1>
    <div class="icons-image step-image">
      <img src="/assets/images/projects/skill-development/icons.png" />
    </div>
  </div>
</section>
<!-- Icons -->

<!-- App -->
<section class="app">
  <div class="container">
    <h1>App</h1>
    <div class="app-image step-image">
      <img src="/assets/images/projects/skill-development/app.png" />
    </div>
  </div>
</section>
<!-- App -->

<!-- Image -->
<section class="image">
  <div class="container">
    <div class="image1 step-image">
      <img src="/assets/images/projects/skill-development/image1.png" />
    </div>
  </div>
</section>
<!-- Image -->

    <!-- Web view -->
    <section class="web-view">
      <div class="container">
          <div class="heading">
          <h1>Web View</h1>
          <img src="/assets/images/projects/skill-development/web-view.png">
      </div>
      <div class="row">
          <div class="col-md-3">
              <div class="step-image">
                  <img src="/assets/images/projects/skill-development/view1.png"  />
              </div>
          </div>
          <div class="col-md-3">
              <div class="step-image">
                  <img src="/assets/images/projects/skill-development/view2.png"  />
              </div>
          </div>
          <div class="col-md-3">
              <div class="step-image">
                  <img src="/assets/images/projects/skill-development/view3.png"  />
                </div>
              </div>
              <div class="col-md-3">
                  <div class="step-image">
                      <img src="/assets/images/projects/skill-development/view4.png"  />
                  </div>
              </div>
          </div>
          </div>
      </section>
      <!-- Web view -->

       <!-- Other Works -->
<section class="other-works">
  <div class="container">
    <div class="other-works-heading">
        <h3>Other Works</h3>
    </div>
    <div class="other-works-body">
      <div class="row space">
        <div class="col-md-4">
          <div class="step-image" routerLink="/projects/networking">
              <img src="/assets/images/projects/project2.png" alt="Case Study"/>
              <div class="text-hover">
                  <h4>Network Scalability</h4>
                  <h6>Read Case Study <fa-icon [icon]="['fas','chevron-right']"></fa-icon></h6>
              </div>
          </div>
      </div>
      <div class="col-md-4">
        <div class="step-image" routerLink="/projects/skill-development">
            <img src="/assets/images/projects/project3.png" alt="Case Study"/>
            <div class="text-hover">
                <h4>Skill Development</h4>
                <h6>Read Case Study <fa-icon [icon]="['fas','chevron-right']"></fa-icon></h6>
            </div>
        </div>
    </div>
    <div class="col-md-4">
      <div class="step-image" routerLink="/projects/web-development">
          <img src="/assets/images/projects/project7.png" alt="Case Study"/>
          <div class="text-hover">
              <h4>Website for startup</h4>
              <h6>Read Case Study <fa-icon [icon]="['fas','chevron-right']"></fa-icon></h6>
          </div>
      </div>
  </div>
    </div>
    </div>
  </div>
</section>
<!-- /Other Works -->

