<div class="services">
    <div class="banner">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <div class="banner-content">
                        <h1>UI Development</h1>
                        <p>The design comes to life when the robust technologies are put in place to bring the best Experience.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="service-layout1">
        <div class="row">
            <div class="col-md-6 left-layout">
                <div class="container">
                    <h3>Our expertise in Language and framework for multiple platforms</h3>
                </div>
            </div>
            <div class="col-md-6 right-layout">
                <img src="./assets/images/services/image.png">
            </div>
        </div>
    </div>
    <div class="service-layout3">
      <div class="container">
          <div class="d-flex">
              <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-pills" orientation="vertical">
                <li ngbNavItem="discussion">
                  <a ngbNavLink>Understanding</a>
                  <ng-template ngbNavContent>
                    <h2>Business Understanding</h2>
                    <p>When it comes to selecting a platform it can be challenging, since that defines how the product can or cannot expand in future without technical boundaries. We strongly believe technology should aid a Product in scaling higher and not cripple the growth in any way. Based on the product vision and road map appropriate technology needs to be selected.</p>
                  </ng-template>
                </li>
              </ul>
              <div [ngbNavOutlet]="nav" class="ml-4 px-5"></div>
            </div>
      </div>
  </div>
  <div class="service-layout3-responsive">
      <ngb-accordion [closeOthers]="true" activeIds="static-1">
        <ngb-panel id="static-1"  >  
           <ng-template ngbPanelTitle>
              <div class="dis_flex">
                 <div> Business Understanding </div>
                 <div class="arrow_rotate">  <img src="./assets/images/about/arrow.png"> </div>
              </div>
            </ng-template> 
          <ng-template ngbPanelContent >
           <div class="row">
              <div class="col-md-6 design-left">
                <p>When it comes to selecting a platform it can be challenging, since that defines how the product can or cannot expand in future without technical boundaries. We strongly believe technology should aid a Product in scaling higher and not cripple the growth in any way. Based on the product vision and road map appropriate technology needs to be selected.</p>
              </div>
           </div>
          </ng-template>
        </ngb-panel>
      </ngb-accordion>
    </div>
    <div class="service-layout2">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <h3>UI development is where vision becomes accomplishment</h3>
                    <p>Helping the business reach the customers seamlessly to provide omni-channel experience.</p>
                </div>
                <div class="col-md-4">
                    <div class="list">
                        <img src="./assets/images/services/icon-17.svg"><span>Understanding Business</span>
                    </div>
                    <div class="list">
                        <img src="./assets/images/services/icon-19.svg"><span>Platform</span>
                    </div>
                    <div class="list">
                        <img src="./assets/images/services/icon-20.svg"><span>Framework</span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="list">
                        <img src="./assets/images/services/icon-18.svg"><span>Manage</span>
                    </div>
                    <div class="list">
                        <img src="./assets/images/services/icon-21.svg"><span>Testing</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

      <div class="repository">
        <div class="container">
            <div class="d-flex">
                <ul ngbNav #nav2="ngbNav" [(activeId)]="active2" class="nav-pills" orientation="vertical">
                  <li ngbNavItem="code-repository">
                    <a ngbNavLink> Code  Repository</a>
                    <ng-template ngbNavContent>
                      <h2>Code  Repository</h2>
                      <p>We manage the code in Git repository with version control to allow multiple teams to colloborate in a distributed environment.</p>
                    </ng-template>
                  </li>
                  <li ngbNavItem="testing-implementation">
                    <a ngbNavLink>Testing  & Implementation</a>
                    <ng-template ngbNavContent>
                    <h2>Testing  & Implementation</h2>
                    <p>We never settle for anything less than best, we iterate with the business and end-users to refine the interface periodically. With focus on cross-platform and cross-browser testing to achieve the best results.</p>
                    </ng-template>
                  </li>
                </ul>
                <div [ngbNavOutlet]="nav2" class="ml-4 px-5"></div>
            </div>
        </div>
    </div>
    <div class="repository-responsive">
        <ngb-accordion [closeOthers]="true" activeIds="static-1">
          <ngb-panel id="static-1"  >  
             <ng-template ngbPanelTitle>
                <div class="dis_flex">
                   <div>Code  Repository </div>
                   <div class="arrow_rotate">  <img src="./assets/images/about/arrow.png"> </div>
                </div>
              </ng-template> 
            <ng-template ngbPanelContent >
             <div class="row">
                <div class="col-md-6 design-left">
                    <p>We manage the code in Git repository with version control to allow multiple teams to colloborate in a distributed environment.</p>
                </div>
             </div>
            </ng-template>
          </ngb-panel>
          <ngb-panel id="static-2">
             <ng-template ngbPanelTitle>
                <div class="dis_flex">
                   <div><h2>Testing  & Implementation</h2></div>
                   <div class="arrow_rotate">  <img src="./assets/images/about/arrow.png"> </div>
                </div>
              </ng-template> 
             <ng-template ngbPanelContent>
                <div class="row">
                   <div class="col-md-6 design-left">
                    <p>We never settle for anything less than best, we iterate with the business and end-users to refine the interface periodically. With focus on cross-platform and cross-browser testing to achieve the best results.</p>
                   </div>
                </div>
             </ng-template>
           </ngb-panel>
        </ngb-accordion>
      </div>
</div>