@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
.services{
    //padding: 50px 0px;
.banner{
    // background-image: url('/assets/images/bg.png');
    height: 580px;
    padding: 200px 0px;
    h1{
        font-size: 56px;
        color: #3B3B3B;
        font-family: Baskerville;
    }
    hr.line{
        border-bottom: 3px solid #C3343C;
        width: 30%;
        text-align: left;
        margin-left: 0;
        margin-top: -3px;
    }
    p{
        font-size: 18px;
        color: #707071;
        font-family: 'Mulish';
    }
    @include media-breakpoint-down(lg){
        .row{
            .col-md-5{
                flex: 0 0 60%;
                max-width: 60%;
            }
        }
    }
    @include media-breakpoint-down(md){
        height: 420px;
        padding: 150px 0px;
        .row{
            .col-md-5{
                flex: 0 0 80%;
                max-width: 80%;
            }
        }
        h1{
            font-size: 36px;
        }
        p{
            font-size: 16px;
        }
    }
    @include media-breakpoint-down(sm){
        background-position: center;
        height: 500px;
        .row{
            .col-md-5{
                flex: 0 0 100%;
                max-width: 100%;
            }
        }
    }
}
.service-layout1{
    .row{
        margin-left: 0px !important;
        margin-right: 0px !important;
    }
    .left-layout{
       background-color: #C3343C;
       color: #FFFFFF;
       padding: 250px 0px 190px;
       h3{
           font-size: 48px;
           font-family: Baskerville;
       }
       @include media-breakpoint-down(lg){
        padding: 100px 0px;
       }
       @include media-breakpoint-down(md){
        h3{
            font-size: 30px;
        }
       }
       @include media-breakpoint-down(sm){
        padding: 150px 0px;
       }
    }
    .right-layout{
        background-color: #C3343C;
        @include media-breakpoint-down(sm){
            display: none;
        }
    }
    .col-md-6{
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    img{
        padding-top: 120px;
        width: 75%;
        padding-left: 40px;
    }
}
.service-layout2{
    background-color: #282829;
    color: #FFFFFF;
    padding: 150px 0px;
    h3{
        font-size: 36px;
        margin-bottom: 30px;
        font-family: Baskerville;
    }
    p{
        font-size: 18px;
        font-weight: 200;
        margin-top: 40px;
        font-family: 'Mulish';
    }
    .list{
        padding: 30px;
        span{
            font-size: 20px;
            margin-left: 5px;
            font-weight: 200;
            font-family: 'Mulish';
        }
    }
    @include media-breakpoint-down(lg){
        .row{
            .col-md-5{
                flex: 0 0 37%;
                max-width: 37%;
            }
            .col-md-4{
                flex: 0 0 35%;
                max-width: 35%;
            }
            .col-md-3{
                flex: 0 0 28%;
                max-width: 28%;
            }
        }
    }
    @include media-breakpoint-down(md){
        .row{
            .col-md-5{
                flex: 0 0 100%;
                max-width: 100%;
            }
            .col-md-4{
                flex: 0 0 50%;
                max-width: 50%;
            }
            .col-md-3{
                flex: 0 0 50%;
                max-width: 50%;
            }
        }
        h3{
            font-size: 28px;
        }
        p{
            font-size: 18px;
        }
        .list{
            span{
                font-size: 18px;
            }
        }
    }
    @include media-breakpoint-down(sm){
        padding: 100px 0;
        .list{
            padding: 12px;
        }
        .row{
            .col-md-5{
                flex: 0 0 100%;
                max-width: 100%;
            }
            .col-md-4{
                flex: 0 0 100%;
                max-width: 100%;
            }
            .col-md-3{
                flex: 0 0 100%;
                max-width: 100%;
            }
        }
    }
}
.service-layout3{
    @include media-breakpoint-down(sm){
        display: none;
    }
    background-color: #FCFCFC;
    padding: 150px 0px;
    color: #282829;
    li{
        list-style-type: none;
        font-size: 28px;
        cursor: pointer;
        svg{
            margin-right: 10px;
        }
    }
    .list{
        padding: 30px;
        img{
            width: 50px;
        }
        h6{
            font-size: 16px;
            line-height: 32px;
            font-weight: 300;
            padding-top: 10px;
            font-family: 'Mulish';
        }
        .lists{
            padding-left: 10px;
        }
    }
    h2{
        font-size: 56px;
        font-family: Baskerville;
    }
    p{
        font-size: 16px;
        line-height: 30px;
        margin-top: 40px;
        margin-left: 10px;
        font-family: 'Mulish';
    }
    .nav-pills{
        width: 150%;
        margin-top: -80px;
    }
    .li{
        font-size: 16px;
        font-family: 'Mulish';
        margin-top: 6px;
        margin-left: 10px;
    }
    .flex-column{
        padding: 100px 0px;
    }
    @include media-breakpoint-down(md){
        padding: 75px 0px;
        h2{
            font-size: 36px;
        }
        .row{
            .col-md-3 {
                flex: 0 0 40%;
                max-width: 33%;
            }
            .list{
                padding: 7px;
                padding-top: 35px;
            }
        }
      
    }
}
}
.service-layout3-responsive{
    display: none;
}
@include media-breakpoint-down(sm) {
    .service-layout3-responsive{
        margin: 100px 0;
        display: block;
        .list{
            padding: 30px;
            img{
                width: 50px;
            }
            h6{
                font-size: 16px;
                line-height: 32px;
                font-weight: 300;
                padding-top: 10px;
                font-family: 'Mulish';
            }
        }
        .card{
            background-color: #FFFFFF !important;
        }
        ::ng-deep .card-header {
            background-color: #FFFFFF !important;
        }
        ::ng-deep .btn-link:hover {
            color: #C3343C;
            font-size: 20px;
        }
        ::ng-deep .btn-link {
            font-size: 20px;
            font-weight: 500; 
            color: #282829;
            text-decoration: none;
            width: 100%;
        }
        ::ng-deep .btn-link.active {
            color: #C3343C;
        }
        ::ng-deep .dis_flex{
            display:flex;
            align-items: center;
            justify-content: space-between;
        }
        ::ng-deep .btn:focus  {
             outline: 0;
             box-shadow: none !important; 
        }
        ::ng-deep .collapsed .arrow_rotate{
            -ms-transform: rotate(180deg);  
            transform: rotate(180deg);
        }
    .design-left{
        padding: 10px 20px 40px 20px;
            p{
                font-size: 16px;
                color: #282829;
                padding-top: 10px;
            }
            .li{
                font-size: 16px;
                margin-top: 6px;
            }
            
        }
    }
}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link{
    background-color: #FCFCFC;
    color: #C3343C;
    font-size: 36px;
    font-weight: 600;
    font-family: Baskerville;
    svg{
        margin-top: 8px !important;
    }
    @include media-breakpoint-down(md){
        font-size: 28px;
        svg{
            margin-top: 0px !important;
        }
    }
}
.nav-pills{
    width: 150%;
    //margin-top: -80px;
}
.tab-content{
    width: 200%;
}
.nav-link{
    display: flex;
    padding: 0 20px 40px 20px;
}
.flex-column{
    padding: 25px 0px;
}
.nav-pills a{
    color: #282829;
    font-family: Baskerville;
    svg{
        margin-right: 10px;
    }
}
// Carousel

.other-case-studies{
    .row{
        margin-left: 0;
        margin-right: 0;
        .col-md-6.right{
            padding-left: 0;
            padding-right: 0;
        }
    }
   .left{
       padding: 40px 130px 80px 90px;
       background-color: #EBEBEB;
       h2{
           font-size: 57px;
           font-family: Baskerville;
           color: #282829;
           margin-top: 120px;
           margin-bottom: 80px;
       }
       @include media-breakpoint-down(md){
        padding: 100px 40px 80px 30px;
        h2{
            font-size: 30px;
            margin-top: 80px;
            margin-bottom: 40px;
        }
        .btn{
            font-size: 16px;
        }
       }
       @include media-breakpoint-down(sm){
        padding: 0px 40px 80px 20px;
       }
   }
   .right{
       .class{
           .image{
               img{
                   width: 100%;
               }
           }
           h3{
               font-size: 36px;
               font-family: Baskerville;
               margin: 40px 130px 20px 40px;
               a{
                color: #3B3B3B; 
               }
           }
           h4{
            font-family: 'Mulish';
            font-size: 20px;
               margin: 0 0 10px 40px;
           }
       }
       @include media-breakpoint-down(md){
        .class{
            h3{
                font-size: 24px;
            }
        }
       }
   }
}
.item{
padding: 0;
}
.ngucarousel-indicator{
width: 100%;
padding-bottom: 20px;
padding-top: 30px;
padding-left: 40px;
li{
    display: inline-block;
    line-height: 22px;
    a{
        display: block;
        margin: 0 5px;
        width: 15px;
        height: 15px;
       // border: 2px solid #FFF;
        background-color: #D0D0D0 !important;
        text-indent: -999px;
        overflow: hidden;
        border-radius: 10px;
        cursor: pointer;
        &.active{
            width: 11px;
            height: 11px;
            border: 8px solid #C3343C;
            background-color: #C3343C !important;
        }
    }
}
}
::ng-deep .tile{
border-radius: 15px;
box-shadow: none !important;
}
.btnn{
    border: 2px solid #0D0D0D;
    border-radius: 0;
    color: #0D0D0D;
    cursor: pointer;
    font-size: 20px;
    font-family: 'Mulish';
    padding: 10px 15px;
    &:hover{
        background-color: #C3343C;
        color: #FFFFFF;
        border: 2px solid #E2E2E2;
    }
}
// Carousel
