<div class="services">
    <div class="banner">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <div class="banner-content">
                        <h1>UI Development</h1>
                        <hr class="line"> 
                        <p>The design comes to life when the robust technologies are put in place to bring the best Experience.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="service-layout1">
        <div class="row">
            <div class="col-md-6 left-layout">
                <div class="container">
                    <h3>Crafting front end codes for intuitive controls and seamless integration with front end design and back end</h3>
                </div>
            </div>
            <div class="col-md-6 right-layout">
              <img src="./assets/images/services/Asset13.svg">
            </div>
        </div>
    </div>
    <div class="service-layout2">
      <div class="container">
          <div class="row">
              <div class="col-md-5">
                  <h3>UI development is where vision becomes accomplishment</h3>
                  <p>Helping the business reach the customers seamlessly to provide omni-channel experience.</p>
              </div>
              <div class="col-md-4">
                  <div class="list">
                      <img src="./assets/images/services/icon-17.svg"><span>Brief Understanding </span>
                  </div>
                  <div class="list">
                      <img src="./assets/images/services/icon-19.svg"><span>Platform</span>
                  </div>
                  <div class="list">
                      <img src="./assets/images/services/icon-20.svg"><span>Framework</span>
                  </div>
              </div>
              <div class="col-md-3">
                  <div class="list">
                      <img src="./assets/images/services/icon-18.svg"><span>Manage</span>
                  </div>
                  <div class="list">
                      <img src="./assets/images/services/icon-21.svg"><span>Testing</span>
                  </div>
              </div>
          </div>
      </div>
  </div>
    <div class="service-layout3">
      <div class="container">
          <div class="d-flex">
              <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-pills" orientation="vertical">
                <li ngbNavItem="discussion">
                  <a ngbNavLink><svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40">
                    <g id="Group_6482" data-name="Group 6482" transform="translate(-9301 -641)">
                      <rect id="Rectangle_4838" data-name="Rectangle 4838" width="40" height="40" transform="translate(9301 641)" fill="#fff" opacity="0"/>
                      <g id="Group_6470" data-name="Group 6470" transform="translate(8621 -801.5)">
                        <rect id="Rectangle_4391" data-name="Rectangle 4391" width="24" height="17" transform="translate(688 1456)" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                        <path id="Path_9490" data-name="Path 9490" d="M0,0H4.18V10.252H0" transform="translate(694.874 1455.68) rotate(-90)" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                        <path id="Path_9491" data-name="Path 9491" d="M4888,11047.5l-8.921-8.333h24.027l-8.907,8.333" transform="translate(-4191 -9583)" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                        <rect id="Rectangle_4392" data-name="Rectangle 4392" width="6" height="5" transform="translate(697 1462)" fill="none" stroke="currentColor" stroke-linejoin="round" stroke-width="2"/>
                      </g>
                    </g>
                  </svg>
                  Brief Understanding</a>
                  <ng-template ngbNavContent>
                    <h2>Brief Understanding</h2>
                   <p>When it comes to selecting a platform it can be challenging, since that defines how the product can or cannot expand in future without technical boundaries. We strongly believe technology should aid a Product in scaling higher and not cripple the growth in any way. Based on the product vision and road map appropriate technology needs to be selected.</p>
                  </ng-template>
                </li>
                <li ngbNavItem="platform">
                  <a ngbNavLink><svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40">
                    <g id="Group_6486" data-name="Group 6486" transform="translate(-9539 -653)">
                      <rect id="Rectangle_4841" data-name="Rectangle 4841" width="40" height="40" transform="translate(9539 653)" fill="#c3343c" opacity="0"/>
                      <g id="Group_6471" data-name="Group 6471" transform="translate(8644.5 -787)">
                        <path id="Path_9492" data-name="Path 9492" d="M9.839,0H19V14H0V9.625" transform="translate(922.5 1462) rotate(180)" fill="rgba(0,0,0,0)" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                        <path id="Path_9493" data-name="Path 9493" d="M10.042,13H16V0H0V5.766" transform="translate(913.5 1468.5) rotate(-90)" fill="rgba(0,0,0,0)" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                        <rect id="Rectangle_4396" data-name="Rectangle 4396" width="13" height="7" transform="translate(926.5 1458.5) rotate(90)" fill="rgba(0,0,0,0)" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                        <rect id="Rectangle_4397" data-name="Rectangle 4397" width="5" height="5" transform="translate(908.5 1466.5) rotate(90)" fill="rgba(0,0,0,0)" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                      </g>
                    </g>
                  </svg>
                    Platform</a>
                  <ng-template ngbNavContent>
                    <h2>Platform</h2>
                    <div class="row">
                      <div class="col-md-3">
                          <div class="list">
                              <img src="./assets/images/services/website.svg">
                              <h6>Website</h6>
                          </div>
                          <div class="list">
                            <img src="./assets/images/services/Hybrid.svg">
                            <h6>Hybrid</h6>
                        </div>
                        <div class="list">
                          <img src="./assets/images/services/Node.svg">
                          <h6>Node</h6>
                      </div>
                      </div>
                      <div class="col-md-3">
                          <div class="list">
                              <img src="./assets/images/services/HTML.svg">
                              <h6>HTML 5</h6>
                          </div>
                          <div class="list">
                              <img src="./assets/images/services/Angular.svg">
                              <h6>Angular</h6>
                          </div>
                          <div class="list">
                            <img src="./assets/images/services/React.svg">
                            <h6>React</h6>
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="list">
                          <img src="./assets/images/services/Windows.svg">
                          <h6>Windows</h6>
                      </div>
                      <div class="list">
                        <img src="./assets/images/services/Android.svg">
                        <h6>Android</h6>
                    </div>
                    <div class="list">
                        <img src="./assets/images/services/iOS.svg">
                        <h6 class="lists">iOS</h6>
                    </div>
                    </div>
                  </div>
                  </ng-template>
                </li>
                <li ngbNavItem="framework">
                  <a ngbNavLink><svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40">
                    <g id="Group_6490" data-name="Group 6490" transform="translate(-9689 -639)">
                      <rect id="Rectangle_4844" data-name="Rectangle 4844" width="40" height="40" transform="translate(9689 639)" fill="#c3343c" opacity="0"/>
                      <g id="Group_6472" data-name="Group 6472" transform="translate(8535 -803.041)">
                        <path id="Polygon_4" data-name="Polygon 4" d="M18.75,0,25,11,18.75,22H6.25L0,11,6.25,0Z" transform="translate(1169 1446.041) rotate(30)" fill="rgba(0,0,0,0)" stroke="currentColor" stroke-linejoin="round" stroke-width="2"/>
                        <path id="Path_9494" data-name="Path 9494" d="M5335.325,11032.758v23.947" transform="translate(-4161 -9583)" fill="rgba(0,0,0,0)" stroke="currentColor" stroke-width="2"/>
                        <path id="Path_9495" data-name="Path 9495" d="M5345.688,11038.687l-20.754,12.343" transform="translate(-4161 -9583)" fill="rgba(0,0,0,0)" stroke="currentColor" stroke-width="2"/>
                        <path id="Path_9496" data-name="Path 9496" d="M5324.934,11038.687l20.585,12.108" transform="translate(-4161 -9583)" fill="rgba(0,0,0,0)" stroke="currentColor" stroke-width="2"/>
                      </g>
                    </g>
                  </svg>
                  
                    Framework</a>
                  <ng-template ngbNavContent>
                    <h2>Framework</h2>
                  <p>We choose the right framework to suite the business needs in terms: ease of use, scalability, interoperability with standard technology, adaptability with emerging technologies and integration with back-end system.</p>
                  </ng-template>
                </li>
                <li ngbNavItem="manage">
                  <a ngbNavLink><svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40">
                    <g id="Group_6483" data-name="Group 6483" transform="translate(-9359 -639)">
                      <rect id="Rectangle_4839" data-name="Rectangle 4839" width="40" height="40" transform="translate(9359 639)" fill="#c3343c" opacity="0"/>
                      <g id="Icon_feather-settings" data-name="Icon feather-settings" transform="translate(9365.5 645.5)">
                        <path id="Path_9497" data-name="Path 9497" d="M22.5,18A4.5,4.5,0,1,1,18,13.5,4.5,4.5,0,0,1,22.5,18Z" transform="translate(-4.5 -4.5)" fill="rgba(0,0,0,0)" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                        <path id="Path_9498" data-name="Path 9498" d="M21.573,16.773a1.8,1.8,0,0,0,.36,1.985l.065.065a2.183,2.183,0,1,1-3.087,3.087l-.065-.065a1.815,1.815,0,0,0-3.076,1.287v.185a2.182,2.182,0,0,1-4.364,0v-.1a1.8,1.8,0,0,0-1.178-1.647,1.8,1.8,0,0,0-1.985.36L8.176,22a2.183,2.183,0,1,1-3.087-3.087l.065-.065a1.815,1.815,0,0,0-1.287-3.076H3.682a2.182,2.182,0,1,1,0-4.364h.1A1.8,1.8,0,0,0,5.429,10.23a1.8,1.8,0,0,0-.36-1.985L5,8.176A2.184,2.184,0,1,1,8.089,5.089l.065.065a1.8,1.8,0,0,0,1.985.36h.087a1.8,1.8,0,0,0,1.091-1.647V3.682a2.182,2.182,0,1,1,4.364,0v.1a1.815,1.815,0,0,0,3.076,1.287L18.824,5a2.183,2.183,0,1,1,3.087,3.087l-.065.065a1.8,1.8,0,0,0-.36,1.985v.087a1.8,1.8,0,0,0,1.647,1.091h.185a2.182,2.182,0,1,1,0,4.364h-.1a1.8,1.8,0,0,0-1.647,1.091Z" fill="rgba(0,0,0,0)" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                      </g>
                    </g>
                  </svg>
                  
                    Manage</a>
                  <ng-template ngbNavContent>
                    <h2>Manage</h2>
                  <p>We manage the code in Git repository with version control to allow multiple teams to collaborate in a distributed environment.</p>
                  </ng-template>
                </li>
                <li ngbNavItem="testing & implementation">
                  <a ngbNavLink><svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40">
                    <g id="Group_6454" data-name="Group 6454" transform="translate(-9542 -504)">
                      <g id="Group_5738" data-name="Group 5738" transform="translate(9150.5 -1367.1)">
                        <path id="Path_9457" data-name="Path 9457" d="M4734.6,11462.1v6.411l-7.87,13.03s-2.536,3.909,2.438,4.559c.148-.036,15.9,0,15.9,0s5.038.092,2.592-4.559c.075.031-8.112-13.03-8.112-13.03v-6.411" transform="translate(-4325.584 -9583)" fill="none" stroke="currentColor" stroke-width="2"/>
                        <path id="Path_9458" data-name="Path 9458" d="M0,0H7.908" transform="translate(407.54 1879.381)" fill="none" stroke="currentColor" stroke-linecap="round" stroke-width="2"/>
                        <line id="Line_99" data-name="Line 99" x2="14.784" transform="translate(404.02 1894.166)" fill="none" stroke="currentColor" stroke-linecap="round" stroke-width="2"/>
                      </g>
                      <path id="Rectangle_4831" data-name="Rectangle 4831" d="M0,0,7.875,35.348,40,40H0Z" transform="translate(9542 504)" fill="none" opacity="0"/>
                    </g>
                  </svg>
                    Testing & Implementation</a>
                  <ng-template ngbNavContent>
                    <h2>Testing & Implementation</h2>
                  <p>We never settle for anything less than best, we iterate with the business and end-users to refine the interface periodically. With focus on</p>
                  <div class="li">1. General Usability – Test the application with various users and scenarios</div>
                  <div class="li">2. Accessibility Testing – Test the application with accessible technologies and automated test tools</div>
                  <div class="li">3. Cross-platform and cross-browser testing to achieve the best results</div>
                  </ng-template>
                </li>
              </ul>
              <div [ngbNavOutlet]="nav" class="ml-4 px-5"></div>
            </div>
      </div>
  </div>
  <div class="service-layout3-responsive">
      <ngb-accordion [closeOthers]="true" activeIds="static-1">
        <ngb-panel id="static-1"  >  
           <ng-template ngbPanelTitle>
              <div class="dis_flex">
                 <div> Brief Understanding </div>
                 <div class="arrow_rotate">  <img src="./assets/images/about/arrow.png"> </div>
              </div>
            </ng-template> 
          <ng-template ngbPanelContent >
           <div class="row">
              <div class="col-md-6 design-left">
                <p>When it comes to selecting a platform it can be challenging, since that defines how the product can or cannot expand in future without technical boundaries. We strongly believe technology should aid a Product in scaling higher and not cripple the growth in any way. Based on the product vision and road map appropriate technology needs to be selected.</p>
              </div>
           </div>
          </ng-template>
        </ngb-panel>
        <ngb-panel id="static-2"  >  
          <ng-template ngbPanelTitle>
             <div class="dis_flex">
                <div> Platform </div>
                <div class="arrow_rotate">  <img src="./assets/images/about/arrow.png"> </div>
             </div>
           </ng-template> 
         <ng-template ngbPanelContent >
          <div class="row text-center">
             <div class="col-md-6 design-left">
              <div class="row">
                <div class="col-md-4">
                    <div class="list">
                        <img src="./assets/images/services/website.svg">
                        <h6>Website</h6>
                    </div>
                    <div class="list">
                      <img src="./assets/images/services/Hybrid.svg">
                      <h6>Hybrid</h6>
                  </div>
                  <div class="list">
                    <img src="./assets/images/services/Node.svg">
                    <h6>Node</h6>
                </div>
                </div>
                <div class="col-md-3">
                    <div class="list">
                        <img src="./assets/images/services/HTML.svg">
                        <h6>HTML 5</h6>
                    </div>
                    <div class="list">
                        <img src="./assets/images/services/Angular.svg">
                        <h6>Angular</h6>
                    </div>
                    <div class="list">
                      <img src="./assets/images/services/React.svg">
                      <h6>React</h6>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="list">
                    <img src="./assets/images/services/Windows.svg">
                    <h6>Windows</h6>
                </div>
                <div class="list">
                  <img src="./assets/images/services/Android.svg">
                  <h6>Android</h6>
              </div>
              <div class="list">
                  <img src="./assets/images/services/iOS.svg">
                  <h6>iOS</h6>
              </div>
              </div>
            </div>
             </div>
          </div>
         </ng-template>
       </ngb-panel>
        <ngb-panel id="static-3">  
          <ng-template ngbPanelTitle>
             <div class="dis_flex">
                <div> Framework </div>
                <div class="arrow_rotate">  <img src="./assets/images/about/arrow.png"> </div>
             </div>
           </ng-template> 
         <ng-template ngbPanelContent >
          <div class="row">
             <div class="col-md-6 design-left">
              <p>We choose the right framework to suite the business needs in terms: ease of use, scalability, interoperability with standard technology, adaptability with emerging technologies and integration with back-end system.</p>
             </div>
          </div>
         </ng-template>
       </ngb-panel>
       <ngb-panel id="static-4">  
        <ng-template ngbPanelTitle>
           <div class="dis_flex">
              <div> Manage </div>
              <div class="arrow_rotate">  <img src="./assets/images/about/arrow.png"> </div>
           </div>
         </ng-template> 
       <ng-template ngbPanelContent >
        <div class="row">
           <div class="col-md-6 design-left">
            <p>We manage the code in Git repository with version control to allow multiple teams to collaborate in a distributed environment.</p>
           </div>
        </div>
       </ng-template>
     </ngb-panel>
     <ngb-panel id="static-5">  
      <ng-template ngbPanelTitle>
         <div class="dis_flex">
            <div> Testing & Implementation </div>
            <div class="arrow_rotate">  <img src="./assets/images/about/arrow.png"> </div>
         </div>
       </ng-template> 
     <ng-template ngbPanelContent >
      <div class="row">
         <div class="col-md-6 design-left">
          <p>We never settle for anything less than best, we iterate with the business and end-users to refine the interface periodically. With focus on</p>
          <div class="li">1. General Usability – Test the application with various users and scenarios</div>
          <div class="li">2. Accessibility Testing – Test the application with accessible technologies and automated test tools</div>
          <div class="li">3. Cross-platform and cross-browser testing to achieve the best results</div>
         </div>
      </div>
     </ng-template>
   </ngb-panel>
      </ngb-accordion>
    </div>
</div>