<div class="career-ui">
    <div class="banner only-mobile">
       <div class="container">
          <div class="careerui-layout1 ">
             <h1>Drop in your detail <br> if you want to be <span> a part of us</span> </h1>
             <h6>Candidates can share their resume<br> with portfolio to  <span>work@uxmint.in</span></h6>
          </div>
       </div>
    </div>
    <div class="careerui-layout">
       <div class="container">
          <div class="careerui-design">
             <div class="row">
                <div class="col-md-5">
                   <h1>Graphic Design</h1>
                   <h6>Experience</h6>
                   <h5>3 to 6 years</h5>
                   <h6>Location</h6>
                   <h5>Chennai, India</h5>
                   <div class="button only-mobile">
                      <div class="btn btn-white " routerLink="/careers"><img src="./assets/images/left-arrow.svg"> Back</div>
                   </div>
                </div>
                <div class="col-md-7 description">
                   <h6>Job Description</h6>
                   <p>
                    The candidate would be responsible for creating posters for e-commerce brands for Web & Responsive platform. Need to work cross-functionally, to understand the needs from the brand managers, translate ideas to visuals and also coax with development team.
                   </p>
                   <h6>Responsibilities</h6>
                   <p>
                    - Creating banner images, marketing material for Retail Brands by following brand guidelines<br>
                    - Perform retouching and manipulation of images<br>
                    - Collaborate with the team to ensure consistency of designs across various media outlets<br>
                    - Create compelling and effective logos, designs in digital media<br>
                    - Maintain awareness of current industry and technology standards, social media, competitive landscape and market trends<br>
                   </p>
                   <h6>Skills</h6>
                   <p>
                    - Proven graphic designing experience [3-6 years]<br>
                    - A strong portfolio of banner design, typography and illustrations<br>
                    - Familiarity with design software and technologies (such as Photoshop, Sketch, InDesign, Illustrator)<br>
                    - A keen eye for aesthetics and details<br>
                    - Strong communication skills<br>
                    - Ability to work methodically and meet deadlines<br>
                   </p>
                   <h6>Optional Skills</h6>
                   <p>
                    - Degree in Design, Fine Arts or related field is a plus
                    - Exposure in Retail domain added advantage
                    - Understanding of HTML/CSS is a plus
                   </p>
                   <div class="button">
                      <div class="btn btn-white" routerLink="/career/ux/apply">Apply<img src="./assets/images/rightarrow-white.svg"></div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>