<section class="networking">
  <div class="container">
    <div class="heading">
    <div class="row">
      <div class="col-md-5">
        <h1>Network</h1>
        <h2>Scalability</h2>
        <p>Digital Transformation for India's largest telecom network service provider involved redesigning 
          the experience for customers, SMEs and business users. It involved breaking down complex manual process 
          of quote, billing & invoicing that spanned across multiple platforms and CRM systems with high level of 
          scalability & seamless customer experience.</p>
      </div>
      <div class="col-md-5">
        <div class="step-image">
          <img src="/assets/images/projects/networking/nm1.png" alt="Digital Transformation of Networing Platform"/>
      </div>
      </div>
    </div>
  </div>
  </div>
        <div class="layout1">
          <div class="container">
            <section class="about-project">
              <div class="container">
              <div class="row">
              <div class="col-md-6">
                <h2>About Project</h2>
              </div>
              <div class="col-md-6">
                <p>We were approached with redesign of their legacy system that required change in process from the ground-up. 
                  The portal was intertwined with multiple other platforms that was feeding inputs to the UI. The Dashboards 
                were a combination of financial and techincal data involving high cognition and technical knowledge for the end-users. 
              It was a challenge to break down the functionalities into atomic structures to ensure ease of use and reusability for the UI Development.</p>
              <div class="row">
                <div class="col-sm-6">
                  <h6>PLATFORM</h6>
                  <h5>Responsive Web Design</h5>
                </div>
                <div class="col-sm-6">
                  <h6>SEGMENT</h6>
                  <h5>B2B</h5>
                </div>
              </div>
              </div>
            </div>
          </div>
            </section>
            <div class="existing">
              <!-- <div class="container"> -->
                <div class="row">
                  <div class="col-md-5">
                    <h5>Existing Business</h5>
                    <p>Business segments like Hotel Management, Wedding Halls, Decorators, Photographers, Make-up Artists, Fashion Designers lean more and more into social media (Instagram & Facebook) to showcase their professional services.</p>
                  </div>
                  <div class="col-md-1"></div>
                  <div class="col-md-6">
                    <div class="row">
                    <div class="col-md-6">
                    <div class="shadow p-3 mb-5 bg-white rounded">
                      <div class="row">
                        <div class="col-md-8">
                          <h3>25 %</h3>
                          <h4>Client Retention</h4>
                        </div>
                        <div class="col-md-2">
                          <img src="/assets/images/projects/networking/img-1.svg" />
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="shadow p-3 mb-5 bg-white rounded">
                      <div class="row">
                        <div class="col-md-8">
                      <h3>25 %</h3>
                      <h4>Web Communication</h4>
                    </div>
                    <div class="col-md-2">
                      <img src="/assets/images/projects/networking/img-2.svg" />
                    </div>
                    </div>
                  </div>
                  </div>
                  <div class="col-md-6">
                    <div class="shadow p-3 mb-5 bg-white rounded">
                      <div class="row">
                        <div class="col-md-8">
                      <h3>25 %</h3>
                      <h4>New Customer</h4>
                    </div>
                    <div class="col-md-2">
                      <img src="/assets/images/projects/networking/img-3.svg" />
                    </div>
                    </div>
                    </div>
                  </div>
                </div>
                  </div>
                </div>
              <!-- </div> -->
            </div>
            <div class="layout2">
              <!-- <div class="container"> -->
                <div class="row">
                  <div class="col-md-6">
                    <h2>Challenges</h2>
                    <!-- <img src="/assets/images/projects/networking/nm10.png" /> -->
                    <p></p>
                    <p>- Heavy dependency on Support Team</p>
                    <p>- Delay in communication</p>
                    <p>- Outstanding customer payments</p>
                    <p>- Avoiding cheque payments</p>
                    <p>- Multiple follow-ups to customers on purchase and billing</p>
                  </div>
                  <div class="col-md-6">
                    <h2>Needs</h2>
                    <!-- <img src="/assets/images/projects/networking/nm10.png" /> -->
                    <p>- Promoting online and on-time payment of invoices</p>
                    <p>- Converting existing offline users to online process</p>
                    <p>- Reducing the manual intervention</p>
                    <p>- Avoiding delays in status intimation</p>
                    <p>- Improving customer retention</p>
                     
                  </div>
                </div>
              <!-- </div> -->
            </div>
            <div class="strategy">
              <!-- <div class="container"> -->
                <div class="row">
                  <div class="col-md-5">
                    <h5>Our Strategy</h5>
                    <p>Business segments like Hotel Management, Wedding Halls, Decorators, Photographers, Make-up Artists, Fashion Designers lean more and more into social media (Instagram & Facebook) to showcase their professional services.</p>
                  </div>
                  <div class="col-md-1"></div>
                  <div class="col-md-6">
                    <div class="row">
                    <div class="col-md-6">
                    <div class="shadow p-3 mb-5 bg-white rounded">
                      <div class="row">
                        <div class="col-md-8">
                          <h3>25 %</h3>
                          <h4>Client Retention</h4>
                        </div>
                        <div class="col-md-2">
                          <img src="/assets/images/projects/networking/img-1.svg" />
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="shadow p-3 mb-5 bg-white rounded">
                      <div class="row">
                        <div class="col-md-8">
                      <h3>25 %</h3>
                      <h4>Web Communication</h4>
                    </div>
                    <div class="col-md-2">
                      <img src="/assets/images/projects/networking/img-2.svg" />
                    </div>
                    </div>
                  </div>
                  </div>
                  <div class="col-md-6">
                    <div class="shadow p-3 mb-5 bg-white rounded">
                      <div class="row">
                        <div class="col-md-8">
                      <h3>25 %</h3>
                      <h4>New Customer</h4>
                    </div>
                    <div class="col-md-2">
                      <img src="/assets/images/projects/networking/img-3.svg" />
                    </div>
                    </div>
                    </div>
                  </div>
                </div>
                  </div>
                </div>
              <!-- </div> -->
            </div>
             <!-- <h2>DESIGN PROCESS</h2> -->
           <!-- <div class="row design-process">
              <div class="col-sm-3">
                <div class="step-image1">
                  <img src="/assets/images/projects/networking/nm2.png" alt="Network Management"/>
              </div>
              <h6>Discover</h6>
              <p>- Stakeholder Interview</p>
              <p>- Background Study</p>
              <p>- User Research</p>
              <p>- Competitor Analysis</p>
              </div>
              <div class = "vertical1"></div> 
              <div class="col-sm-3">
                <div class="step-image1">
                  <img src="/assets/images/projects/networking/nm3.png" alt="Network Management"/>
              </div>
              <h6>Define</h6>
              <p>- Personas</p>
              <p>- Journey Map</p>
              <p>- Emotional Web</p>
              <p>- Strategy Design</p>
              </div>
              <div class = "vertical2"></div> 
              <div class="col-sm-3">
                <div class="step-image1">
                  <img src="/assets/images/projects/networking/nm4.png" alt="Network Management"/>
              </div>
              <h6>Design</h6>
              <p>- Task Prioritisation</p>
              <p>- Information Architecture</p>
              <p>- Feature Mapping</p>
              <p>- Wireframe</p>
              <p>- Interface Design</p>
              </div>
              <div class = "vertical3"></div> 
              <div class="col-sm-3">
                <div class="step-image1">
                  <img src="/assets/images/projects/networking/nm5.png" alt="Network Management"/>
              </div>
              <h6>Iterate</h6>
              <p>- Usability Testing</p>
              <p>- Refine</p>
              </div>
            </div> -->
            <div class="row  research">
              <div class="col-md-4">
                <h2>Research</h2>
                <p>Our UX Consultants reached out to customer across India to get qualitative information on the current experience, 
                  areas of enhancement, the expected features, and their feedback. The details received were meticulously analysed and the 
                benchmarks were set.</p>
              </div>
              <div class="col-md-8">
                <ul class="list-icons">
                  <h5>Industries</h5>
                  <li>
                    <fa-icon [icon]="['fas','university']"></fa-icon>
                    <p>Banking</p>
                  </li>
                  <li>
                    <fa-icon [icon]="['fas','umbrella']"></fa-icon>
                    <p>Insurance</p>
                  </li>
                  <li>
                    <fa-icon [icon]="['fas','dollar-sign']"></fa-icon> 
                    <p>Finance</p> 
                  </li>
                  <li>
                    <fa-icon [icon]="['fas','store-alt']"></fa-icon>
                    <p>Brick & Mortar</p>
                  </li>
                </ul>
                <ul class="list-icons">
                  <li>
                    <fa-icon [icon]="['fas','hand-holding-heart']"></fa-icon>
                    <p>Health</p>
                  </li>
                  <li>
                    <fa-icon [icon]="['fas','graduation-cap']"></fa-icon>
                    <p>Education</p>
                  </li>
                  <li>
                    <div class="step-image1">
                      <img src="/assets/images/projects/networking/nm17.png" alt="Event Management"/>
                  </div>
                  <p>Many more</p>
                  </li>
                </ul>
              </div>
            </div>
            <div class="row  business">
              <div class="col-md-3">
              <h4>Business Requirement</h4>
              <p>The business was all set to convert its manual process to online, 
                but their in-house PoC had low user conversation and required 
                our expertise to re-think the touch points and optimise the tasks.</p>
              </div>
              <div class="col-md-1"></div>
              <div class="col-md-2">
                <h4>Goal</h4>
                <p>Redundant task removal<br>
                  Instantaneous access to 
                  products & services, billing and
                  dashboard <br>Adaptation
                  to new portal</p>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-2">
                  <h4>Mission</h4>
                  <p>To move the customer base
                    online from offline process</p>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-2">
                  <h4>Objectives</h4>
                  <p>Empowering the user to 
                    take control of the wheel<br>
                    Up selling and Cross 
                    selling other services &
                    products of the company</p>
                </div>
            </div>
            <div class="row quality">
              <div class="col-md-6">
              <p><span>Qualitative Data</span> Gathering was conducted among different users across India. 
                The gathered data was grouped based on their <span>personality traits & usage of the portal</span>.</p>
            </div>
            <div class="col-md-6"></div>
              <div class="col-md-3">
                <div class="row">
                  <div class="col-md-1">
                <div class="step-image2">
                  <img src="/assets/images/projects/networking/nm6.png" alt="Networking"/>
              </div>
            </div>
            <div class="col-md-10">
              <h3>23</h3>
              <h6>User interviews</h6>
            </div>
            </div>
              </div>
              <div class="col-md-3">
                <div class="row">
                  <div class="col-md-1">
                <div class="step-image2">
                  <img src="/assets/images/projects/networking/nm6.png" alt="Networking"/>
              </div>
            </div>
            <div class="col-md-10">
              <h3>03</h3>
              <h6>User groups</h6>
            </div>
            </div>
              </div>
              <div class="col-md-6">
              <div class="row list">
              <div class="col-md-4">
                <div class="step-image1">
                  <img src="/assets/images/projects/networking/nm7.png" alt="Networking"/>
              </div>
              <h5>The Owner</h5>
              <p>I'm responsible for taking decisions, commercial purchase</p>
              </div>
              <div class="col-md-4">
                <div class="step-image1">
                  <img src="/assets/images/projects/networking/nm8.png" alt="Networking"/>
              </div>
              <h5>Tech Savvy</h5>
              <p>I'm responsible for the technical support at my branch.</p>
              </div>
              <div class="col-md-4">
                <div class="step-image1">
                  <img src="/assets/images/projects/networking/nm9.png" alt="Networking"/>
              </div>
              <h5>The Operations</h5>
              <p>I'm responsible for accounting the spent and taking care of dues.</p>
              </div>
            </div>
          </div>
            </div>
           </div>
       
        <!-- <div class="layout2">
          <div class="container">
            <div class="row">
              <div class="col-md-6">
                <h2> <img src="/assets/images/projects/networking/nm10.png" />CHALLENGES</h2>
                <p></p>
                <p>- Heavy dependency on Support Team</p>
                <p>- Delay in communication</p>
                <p>- Outstanding customer payments</p>
                <p>- Avoiding cheque payments</p>
                <p>- Multiple follow-ups to customers on purchase and billing</p>
              </div>
              <div class="col-md-6">
                <h2> <img src="/assets/images/projects/networking/nm10.png" />NEEDS</h2>
                <p>- Promoting online and on-time payment of invoices</p>
                <p>- Converting existing offline users to online process</p>
                <p>- Reducing the manual intervention</p>
                <p>- Avoiding delays in status intimation</p>
                <p>- Improving customer retention</p>
                 
              </div>
            </div>
          </div>
        </div> -->
        <div class="layout3">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <h2>Design</h2>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3">
                <h4>Feature Mapping</h4>
                <p>After identifying major problems in
                  Root Cause Analysis, Solutioning
                  process was done for all the key
                  problems.</p>
              </div>
              <div class="col-md-1"></div>
              <div class="col-md-3">
                <h4>Information Architecture</h4>
                <p>Closed Card Sorting was performed for the
                  list of task and Information Architecture
                  was defined</p>
              </div>
              <div class="col-md-1"></div>
              <div class="col-md-3">
                <h4>Task Flow</h4>
                <p>All possibles scenarios are plotted with the 
                  help of Task Flow diagrams to ensure coverage.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
        <div class="layout4">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <h2>Interface Design</h2>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <div class="step-image">
                  <img src="/assets/images/projects/networking/nm11.png" alt="Networking"/>
              </div>
              </div>
            </div>
          </div>
        </div>
        <div class="layout5">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <h2>Atomic Components</h2>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <div class="step-image">
                  <img src="/assets/images/projects/networking/nm13.png" alt="Networking"/>
              </div>
              </div>
            </div>
          </div>
        </div>
        <div class="layout6">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <h2>Solution References</h2>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <div class="step-image">
                  <img src="/assets/images/projects/networking/nm12.png" alt="Networking"/>
              </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-5">
                <h5>Challenges</h5>
                <p>User has to fill up the lengthy sign up the
                  form manually User drop rate was high
                  (Google Analytics)</p>
              </div>
              <div class="col-md-1"></div>
              <div class="col-md-5">
                <h5>Solution</h5>
                <p>Guided sign-up process and simplified data entry</p>
              </div>
            </div>
          </div>
        </div>
        <div class="layout7">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <div class="step-image">
                  <img src="/assets/images/projects/networking/nm15.png" alt="Networking"/>
              </div>
              </div>
            </div>
          </div>
        </div>
        <div class="layout8">
          <div class="container">
            <div class="row">
              <div class="col-md-4">
                <h2>Responsive Layout</h2>
                  <p></p>
              </div>
              <div class="col-md-8">
                <div class="step-image">
                <img src="/assets/images/projects/networking/nm16.png" class="over-img" alt="Networking"/>
              </div>
              </div>
            </div>
            </div>
        </div>
  </section>
  
  
 <!-- Other Works -->
<section class="other-works">
  <div class="container">
    <div class="other-works-heading">
        <h3>Other Works</h3>
    </div>
    <div class="other-works-body">
      <div class="row space">
        <div class="col-md-4">
          <div class="step-image" routerLink="/projects/skill-development">
            <img src="/assets/images/projects/project3.jpg" alt="Case Study"/>
            <div class="text-hover">
                <h4>Skill Development</h4>
                <h6>Read Case Study <fa-icon [icon]="['fas','chevron-right']"></fa-icon></h6>
            </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="step-image" routerLink="/projects/social-review">
          <img src="/assets/images/projects/project4.jpg" alt="Case Study"/>
          <div class="text-hover">
              <h4>Social Marketing</h4>
              <h6>Read Case Study <fa-icon [icon]="['fas','chevron-right']"></fa-icon></h6>
          </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="step-image" routerLink="/projects/health">
        <img src="/assets/images/projects/project5.png" alt="Case Study"/>
        <div class="text-hover">
            <h4>Healthy Buy</h4>
            <h6>Read Case Study <fa-icon [icon]="['fas','chevron-right']"></fa-icon></h6>
        </div>
    </div>
  </div>
    </div>
    </div>
  </div>
</section>
<!-- /Other Works -->

