<!-- Home Carousel -->
<!-- <section class="home-carousel">
  <ngu-carousel [inputs]="servicesCarouselConfig" #homeCarousel [dataSource]="services">
    <ngu-tile *nguCarouselDef="let item">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="text">
              <div>
                <h3>{{ item.title }}</h3>
                <p>{{ item.description }}</p>
                <br>
                <a class="btn" [routerLink]="item.route">See our Works</a>
              </div>
            </div>
          </div>
          <div class="col-md-8">
            <img [src]="item.image" [alt]="item.name"/>
          </div>
        </div>
      </div>
    </ngu-tile>
  </ngu-carousel>
  <ul class="ngucarousel-indicator" NguCarouselPoint>
    <li *ngFor="let pointer of homeCarousel.pointNumbers; let i = index">
      <a (click)="homeCarousel.moveTo(i)" [class.active]="homeCarousel.activePoint == i">&nbsp;</a>
    </li>
  </ul>
  <div class="carousel-navigation">
    <div class="container" style="position: relative;">
      <ul>
        <li *ngFor="let item of services; index as i">
          <a (click)="homeCarousel.moveTo(i)" [class.active]="i == homeCarousel.activePoint">
            <img [src]="item.icon" [alt]="item.name"/>
            <span>{{ item.name }}</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section> -->
<!-- ./Home Carousel -->

<!-- Sample design -->
<section class="sample">
  <div class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
      <div class="s-img">
        <img src="/assets/images/sample/sample.webp" />
      </div>
    </div>
      <div class="col-md-2"></div>
    </div>
    <div class="row tab">
          <div class="col-md-1"></div>
          <div class="col-md-2 tab-link" routerLink="/services/user-experience">
            <img src="/assets/images/sample/ue.svg" />
            <p>USER EXPERIENCE</p>
          </div>
          <div class="col-md-2 tab-link" routerLink="/services/interface-design">
            <img src="/assets/images/sample/id.svg" />
            <p>INTERFACE DESIGN</p>
          </div>
          <div class="col-md-2 tab-link" routerLink="/services/ui-dev">
            <img src="/assets/images/sample/ui.svg" />
            <p>UI DEVELOPMENT</p>
          </div>
          <div class="col-md-3 tab-link" routerLink="/services/end-to-end">
            <img src="/assets/images/sample/ee.svg" />
            <p>END TO END DEVELOPMENT</p>
          </div>
          <div class="col-md-2 tab-link" routerLink="/services/usability-testing">
            <img src="/assets/images/sample/ut.svg" />
            <p>USABILITY TESTING</p>
          </div>
          <!-- <div class="col-md-1"></div> -->
    </div>
  </div>
</section>
<!-- Sample design -->


<!-- Services -->
<section class="services-offer">
  <div class="container">
      <div class="services-heading">
          <h4>WE CATER TO YOUR NEEDS</h4>
          <div class="step-image">
            <img src="/assets/images/sample/line.svg" />
          </div>
      </div>
      <div class="service-body">
        <div class="row">
          <div class="col-md-4">
              <div class="service">
                <!-- <div class="service-icon">
                    <img src="/assets/images/services/one.png" alt="UX Consulting"/>
                </div> -->
                <h4>DIGITAL TRANSFORMATION</h4>
                <p>We help clients transform their legacy system by reimagining their process to embrace continuous 
                  improvement and innovation to elevate customer experience.
                </p>
                <!-- <a class="bttn">Show More</a> -->
              </div>
          </div>
          <div class="col-md-4">
            <div class="service">
                <!-- <div class="service-icon">
                  <img src="/assets/images/services/two.png" alt="UI Design"/>
                </div> -->
                <h4>PRODUCT DEVELOPMENT</h4>
                <p>We help to bring a product live beginning from ideation to market launch. Our consultants can work 
                  as a true extension of internal business or development team to bring the product live.</p>
                <!-- <a class="bttn">Show More</a> -->
            </div>
        </div>
        <div class="col-md-4">
          <div class="service">
            <!-- <div class="service-icon">
              <img src="/assets/images/services/three.png" alt="UI Development" />
            </div> -->
            <h4>START UPS</h4>
            <p>We've been there and we exactly know the struggles and what it takes to build a product from the scratch. 
              We have the expertise to validate your ideas with the right process and to bring the right solutions for 
              your target customers and ensure a successful launch.</p>
            <!-- <a class="bttn">Show More</a> -->
          </div>
        </div>
        </div>
        <div class="row">
           <div class="col-md-4">
                <div class="service">
                  <!-- <div class="service-icon">
                    <img src="/assets/images/services/four.png" alt="End-to-End Development"/>
                  </div> -->
                  <h4>MOBILE APPS</h4>
                  <p>With the need for constant updates and customer interaction the demand for mobile apps have increased multifold. 
                    Aligning with the Native Ecosystem is the key to design for Android & iOS which helps in easier adaptability. 
                    Our designers can churn the right features and engagement with the best of customer experience.</p>
                  <!-- <a class="bttn">Show More</a> -->
                </div>
          </div>
          <div class="col-md-4">
            <div class="service">
              <!-- <div class="service-icon">
                <img src="/assets/images/services/five.png" alt="Usablity Testing"/>
              </div> -->
              <h4>ENTERPRISE APPLICATIONS</h4>
              <p>Its a huge decision when it comes to Enterprise Application Revamp. They can be complex and interwoven with multiple other systems. 
                We exactly know how to align the customer demand and the customer experience and build a scalable, component based mission 
                critical applications that form the back-bone of the business.
              </p>
              <!-- <a class="bttn">Show More</a> -->
            </div>
      </div>
          <div class="col-md-4 redirect">
              <div class="service">
                <!-- <div class="service-icon">
                  <img src="/assets/images/services/six.png" alt="Training"/>
                </div> -->
                <h4>INFORMATION PORTALS</h4>
                <p>Build the face of your business that speaks of the product or service offered and acts as the 
                  gateway for your business transactions. We focus on customer engagement and conversion.</p>
                <!-- <a class="bttn">Show More</a> -->
              </div>
          </div>
        </div>
      </div>

      <div class="row service-button">
        <div class="col-md-12">
        <a class="bttn" href="https://uxmint.design/services/user-experience">READ MORE</a> 
      </div>
      </div>
  </div>
</section>
<!-- /Services -->

<!-- Solutions -->
<div class="solutions">
  <div class="solution-heading">
    <h4>OUR  SOLUTIONS  ARE  HELPING  AUDIENCE</h4>
    <div class="step-image">
      <img src="/assets/images/sample/line.svg" />
    </div>
  </div>
  <div class="solution-body">
    <ngu-carousel class="solutions-carousel" #solutionCarousel [inputs]="solutionsCarouselConfig" [dataSource]="solutions">
      <ngu-tile *nguCarouselDef="let item; let i = index">
          <div class="solution">
            <div class="row">
              <div class="col-md-6">
                <div class="cover">
              <div class="image">
                  <img [src]="item.imageSrc" [alt]="item.title" />
              </div>
            </div>
            </div>
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10">
              <div class="description">
                  <h1>{{ item.title }}</h1>
                  <p>{{ item.description }}</p>
                  <a [routerLink]="item.link.route">{{ item.link.text }} <fa-icon [icon]="['fas','chevron-right']"></fa-icon></a>
              </div>
            </div>
            <div class="col-md-1"></div>
            </div>
            </div>
          </div>
          <!-- <div class="row">
            <ul class="ngucarousel-indicator-one" NguCarouselPoint>
              <li *ngFor="let pointer of solutionCarousel.pointNumbers; let i = index">
                <a (click)="solutionCarousel.moveTo(i)" [class.active]="solutionCarousel.activePoint == i">&nbsp;</a>
              </li>
            </ul>
          </div> -->
        </div>
      </ngu-tile>
      <ul class="ngucarousel-indicator-two" NguCarouselPoint>
        <li *ngFor="let pointer of solutionCarousel.pointNumbers; let i = index">
          <a (click)="solutionCarousel.moveTo(i)" [class.active]="solutionCarousel.activePoint == i">&nbsp;</a>
        </li>
      </ul>
    </ngu-carousel>
  </div>
</div>
<!-- /Solutions -->

<!-- Our Clients -->
<section class="our-clients">
  <div class="container">
    <div class="our-client-header">
        <h3>OUR CLIENTS</h3>
        <div class="step-image">
          <img src="/assets/images/sample/line.svg" />
        </div>
    </div>
    <div class="our-client-body">
        <div class="row">
          <div class="col-sm-1"></div>
          <div class="col-sm-1"></div>
            <div class="col-sm-2 client">
                  <img src="/assets/images/our-clients/logo010.png" alt="">
            </div>
            <div class="col-sm-2 client">
                  <img src="/assets/images/our-clients/logo020.png" alt="">
            </div>
            <div class="col-sm-2 client">
                  <img src="/assets/images/our-clients/logo030.png" alt="">
            </div>
            <div class="col-sm-2 client">
                <img src="/assets/images/our-clients/logo040.png" alt="">
          </div>
          <div class="col-sm-1"></div>
          <div class="col-sm-1"></div>
          </div>
          <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-1"></div>
            <div class="col-sm-2 client">
                  <img src="/assets/images/our-clients/logo050.png" alt="">
            </div>
            <div class="col-sm-2 client">
                  <img src="/assets/images/our-clients/logo060.png" alt="">
            </div>
            <div class="col-sm-2 client">
                  <img src="/assets/images/our-clients/logo070.png" alt="">
            </div>
            <div class="col-sm-2 client">
                <img src="/assets/images/our-clients/logo080.png" alt="">
          </div>
          <div class="col-sm-1"></div>
          <div class="col-sm-1"></div>
          </div>
    </div>
  </div>
</section>
<!-- /Our Clients -->
<!-- Our-team-->
<div class="our-team">
      <h1>OUR TEAM</h1>
      <div class="step-image">
        <img src="/assets/images/sample/line.svg" />
      </div>
</div>
<app-our-team></app-our-team>
<!-- /Our-team-->