@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
:host{
    padding-top: 0px;
}
h1{
    font-size: 72px;
    color: #C3343C;
    font-family: Baskerville;
    @include media-breakpoint-down(md) {
        font-size: 36px;
    }
}
h2{
    font-size: 57px;
    color: #3B3B3B;
    font-family: Baskerville;
    @include media-breakpoint-down(md) {
        font-size: 36px;
    }
}
h3{
    font-size: 24px;
    font-family: 'Muli', sans-serif;
    color: #707071;
    margin-bottom: 30px;
}
h4{
    font-size: 18px;
    font-weight: 400;
    color: #707071;
    line-height: 36px;
    padding-top: 10px;
}
p{
    font-size: 18px;
    color: #707071;
    padding-top: 10px;
    font-family: 'Muli', sans-serif;
    @include media-breakpoint-down(md) {
        font-size: 16px;
    }
}

.home{
    .banner{
        background-color: #E2E2E2;
        background-image: url('/assets/images/homebg.png');
        background-position: bottom;
        background-size: 100%;
        background-repeat: no-repeat;
        height: 700px;
        padding: 200px 0px;
        @include media-breakpoint-down(lg){
            height: 620px;
        }
        @include media-breakpoint-down(md){
            height: 500px;
            padding: 180px 0px;
        }
        @include media-breakpoint-down(sm){
            padding: 160px 0px;
            height: 480px;
        }
    }
    .feature-work{
        .row{
            margin-right: 0;
            margin-left: 0;
        }
        .card{
            border: none;
            padding: 100px 170px 5px 0px;
            margin-left: -15px;
        }
        .button{
            padding-top: 40px;
        }
        .step-image{
            text-align: center;
            margin-bottom: -12px;
            margin-left: -70px;
            img{
                padding-top: 100px;
                width: auto;
                height: 100%;
            }
        }
        .mt-2, .my-2 {
            margin-top: 0 !important;
        }
        @include media-breakpoint-down(lg){
            .card{
                padding: 100px 20px 100px 0px;
            }
            .step-image{
                margin-left: -40px;
                img{
                    width: 100%;
                }
            }
        }
        @include media-breakpoint-down(md){
            .step-image{
                padding: 30px 0px 10px 0px;
                margin-left: -20px;
            }
        }
        @include media-breakpoint-down(sm){
            margin-bottom: 150px;
            .card{
                padding: 40px 0px 0px 0px;
                height: 220px;
            }
            .step-image{
                padding: 60px 0px 30px 0px;
                display: none;
            }
            .button{
                padding-top: 0px;
            }
        }
    }
    .products{
        padding: 150px 0px;
background-color: #FFFFFF;
        .button{
            padding-top: 40px;
        }
        .icon{
            text-align: center;
            padding: 120px 0 40px 0;
            .icon1{
                padding: 20px 0 0 0;
            }
            .icon2{
                padding: 20px 20px 0 0;
            }
            .icon3{
                padding: 10px 10px 0 10px;
            }
            .icon4{
                padding: 0 0 0 10px;
            }
            .icon5{
                padding: 20px 0 0 0;
            }
            .icon6{
                padding: 0 0 0 0;
            }
        }
        @include media-breakpoint-down(lg){
            .row{
                .col-md-2{
                    flex: 0 0 33%;
                    max-width: 33%;
                }
            }
            .icon{
                padding: 60px 0 40px 0;
            }
        }
        @include media-breakpoint-down(md){
            padding: 100px 0;
            .btn{
                font-size: 16px;
            }
            .row{
                .col-md-2{
                    flex: 0 0 50%;
                    max-width: 50%;
                }
            }
        }
        @include media-breakpoint-down(sm){
            padding: 100px 0px;
            .button{
                padding-top: 0px;
            }
        }
    }
    .cater{
        background-color: #FCFCFC;
        padding: 100px 0px;
        color: #FFF;
        h2{
            padding-bottom: 30px;
        }
        .left{
            margin-left: -210px;
        }
         .icon{
            svg{
                margin-top: 20px;
                color: #6f6f6e;
            }
         }
        .types{
            background-color: #FFFFFF;
            cursor: pointer;
            margin-bottom: 25px;
            margin-left: 10px;
            &:hover{
                svg{
                    color: #C3343C !important;
                }
            }
        }
        .image{
            img{
               margin-top: 35px;
            }
        }
        @include media-breakpoint-down(lg){
            .types{
                margin-left: 0px;
            }
            .left{
                padding-left: 60px;
            }
        }
        @include media-breakpoint-down(md){
            .btn{
                font-size: 16px;
            }
            .icon{
                svg{
                   width: 35px;
                }
             }
             h4{
                 font-size: 16px;
             }
             .image{
                img{
                    width: 30px;
                }
            }
            .left{
                padding-left: 90px;
            }
        }
      
        @include media-breakpoint-down(sm){
            padding: 80px 0px 20px 0px;
            .btn{
                margin-bottom: 30px;
            }
            .left{
                padding-left: 200px;
            }
            .types{
                .col-md-3{
                    width: 18%;
                }
                .col-md-6{
                    width: 55%;
                }
                h4{
                    padding: 15px;
                }
            }
        }
    }
    .only-mobile{
        display: none;
    }
    .caters{
        padding: 50px;
        .col-md-5{
            padding-bottom: 5px;
            padding-top: 40px;
        }
        .row{
            .col-md-5 {
                flex: 0 0 50%;
                max-width: 50%;
            }
        }
        .cards{
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
            transition: 0.3s;
            width: 100%;
            padding: 20px 15px;
            height: 130px;
            h1{
                font-size: 56px;
                color: #3B3B3B;
                font-family: Baskerville;
            }
          
            p{
                font-size: 14px;
                font-family: 'Muli', sans-serif;
                color: #707071;
                //text-align: center;
            }
          }
          .cards:hover {
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
          }
          .button{
            padding-left: 20px;
            padding-top: 25px;
        }
    }
    @include media-breakpoint-down(sm) {
        .only-mobile{
            display: block;

        }
        .cater{
            display: none;
        }
    }
    .blogs{
        .row{
            margin-left: 0;
            margin-right: 0;
            .col-md-6.right{
                padding-left: 0;
                padding-right: 0;
            }
        }
       .left{
           padding: 40px 130px 80px 75px;
           background-color: #E2E2E2;
           h2{
               font-size: 57px;
             font-family: Baskerville;
               color: #3B3B3B;
               margin-top: 120px;
               margin-bottom: 80px;
           }
       }
       .right{
           .class{
               .image{
                   img{
                       width: 100%;
                   }
               }
               h3{
                   font-size: 36px;
                   font-family: Baskerville;
                   font-weight: 400;
                   margin: 40px 130px 20px 40px;
                   a{
                    color: #3B3B3B;
                   }
               }
               h4{
                   font-size: 18px;
                   font-family: 'Muli', sans-serif;
                   color: #707071;
                   margin: 0 0 10px 40px;
               }
           }
       }
       @include media-breakpoint-down(lg){
        .left{
            padding: 40px 100px 80px 60px;
        }
       }
       @include media-breakpoint-down(md){
        .left{
            padding: 40px 100px 80px 60px;
            h4{
                font-size: 18px;
            }
            h2{
                font-size: 24px;
                margin-top: 80px;
            }
        }
        .right{
            .class{
                h3{
                    font-size: 20px;
                }
                h4{
                    font-size: 16px;
                }
            }
        }
       }
       @include media-breakpoint-down(sm){
        .left{
            padding: 20px 40px 60px 20px;
            h4{
                display: none;
            }
            h2{
                margin-top: 40px;
                margin-bottom: 20px;
            }
        }
        .right{
            .class{
                h3{
                    margin: 20px 60px 20px 20px;
                }
                h4{
                    margin: 0 0 10px 20px;
                }
            }
        }
       }
    }
    .craft{
        background-color: #C3343C;
        padding-top: 40px;
        padding-bottom: 40px;
        h2{
            font-size: 57px;
            font-family: Baskerville;
            color: #FFFFFF;
        }
        .button{
            margin-top: 80px;
        }
        .btn-white{
            border: 2px solid #FFFFFF;
            color: #FCFCFC;
            font-size: 20px;
            cursor: pointer;
            padding: 10px 20px;
            border-radius: 0px;
            font-family: 'Muli', sans-serif;
            &:hover{
                background-color: #FFFFFF;
                color: #C3343C;
            }
        }
        @include media-breakpoint-down(md){
            h2{
                font-size: 37px;
            }
        }
        @include media-breakpoint-down(sm){
            .button{
                margin-top: 50px;
               padding-left: 15px;
            }
        }
    }
}

// Carousel
.item{
    padding: 0;
}
.ngucarousel-indicator{
    // text-align: center;
    width: 100%;
    padding-bottom: 20px;
    padding-top: 30px;
    padding-left: 40px;
    li{
        display: inline-block;
        line-height: 22px;
        a{
            display: block;
            margin: 0 5px;
            width: 15px;
            height: 15px;
            border: 2px solid #FFF;
            background-color: #D0D0D0 !important;
            text-indent: -999px;
            overflow: hidden;
            border-radius: 10px;
            cursor: pointer;
            &.active{
                width: 11px;
                height: 11px;
                border: 8px solid #C3343C;
                background-color: #C3343C !important;
            }
        }
    }
    @include media-breakpoint-down(sm){
        text-align: center;
        padding-left: 0px;
    }
}
.ngucarousel-indicator-two{
    text-align: center;
    width: 100%;
    padding-bottom: 80px;
    padding-top: 40px;
    padding-left: 0px;
    li{
        display: inline-block;
        line-height: 22px;
        a{
            display: block;
            margin: 0 5px;
            width: 15px;
            height: 15px;
            border: 2px solid #FFF;
            background-color: #D0D0D0 !important;
            text-indent: -999px;
            overflow: hidden;
            border-radius: 10px;
            cursor: pointer;
            &.active{
                width: 11px;
                height: 11px;
                border: 8px solid #C3343C;
                background-color: #C3343C !important;
            }
        }
    }
    @include media-breakpoint-down(sm){
        background-color: #3E4268;
        padding-bottom: 40px;
        padding-top: 20px;
        margin-bottom: 0 !important;
        margin-top: 0 !important;
    }
}
::ng-deep .tile{
    border-radius: 15px;
    box-shadow: none !important;
}
.btn{
    border: 2px solid #0D0D0D;
    border-radius: 0;
    color: #0D0D0D;
    cursor: pointer;
    font-size: 20px;
    padding: 10px 20px;
    font-family: 'Muli', sans-serif;
    margin-top: 30px;
    &:hover{
        background-color: #C3343C;
        color: #FFFFFF;
        border: 2px solid #FFFFFF;
    }
}
.btnn{
    border: 2px solid #0D0D0D;
    border-radius: 0;
    color: #0D0D0D;
    cursor: pointer;
    font-size: 20px;
    padding: 10px 20px;
    font-family: 'Muli', sans-serif;
    &:hover{
        background-color: #C3343C;
        color: #FFFFFF;
        border: 2px solid #E2E2E2;
    }
}
.custom-slider-main{
    background-color: #E2E2E2;
    display: flex;
    overflow-y: scroll;
    scroll-behavior: smooth;
    padding-left: 85px;
    }
    .icon{
        padding-right: 85px;
    }
    .custom-slider-main::-webkit-scrollbar-track {
    border: 1px solid #fff;
    padding: 2px 0px;
    margin: 20px;
    background-color: #e2e2e2;
    }
    .custom-slider-main::-webkit-scrollbar {
    width: 0px;
    height: 4px;
    }
    .custom-slider-main::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #737272;
    }
    @include media-breakpoint-down(lg){
        .flex{
         overflow-y: scroll;
         display: flex;
         padding: 0px 0px 0px 30px;
        }
     }