@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import '../../../scss/colors';

.sample{
    padding-top: 180px;
    padding-bottom: 50px;
    font-family: 'Noto Sans JP', sans-serif;
    .sample-text{
        text-align: left;
        padding-left: 20px;
        p{
            font-size: 34px;
            font-weight: 400;
            margin-bottom: -20px;
        }
        .step-image{
            text-align: left;
            margin-top: -25px;
            background-image: url('/assets/images/sample/line.svg');
            width: 34%;
            height: 8px;
            img{
                width: 0%;
                height: auto;
            }
        }
        h1{
            font-family: 'Noto Serif JP', serif;
            font-size: 34px;
            font-weight: 400;
            margin-top: 20px;
            //margin-bottom: -20px;
        }
        h2{
            font-family: 'Noto Serif JP', serif;
            font-size: 84px;
            font-weight: 400;
            margin-top: 0px;
        }
          .rw-wrapper {position: relative;}
          
          .rw-words {
            display: block;
            position: relative;
            margin: 20px auto;
          }
          
          .rw-words-1 span {
            font-size: 94px;
            font-weight: 400;
            position: absolute;
            width: 100%;
            opacity: 0;
            overflow: hidden;
            -webkit-animation: rotateWord 25s linear infinite 0s;
            -ms-animation: rotateWord 25s linear infinite 0s;
            animation: rotateWord 25s linear infinite 0s;
          }
          
          .rw-words-1 span:nth-child(2) {
            -webkit-animation-delay: 5s;
            -ms-animation-delay: 5s;
            animation-delay: 5s;
          }
          
          .rw-words-1 span:nth-child(3) {
            -webkit-animation-delay: 10s;
            -ms-animation-delay: 10s;
            animation-delay: 10s;
          }
          
          .rw-words-1 span:nth-child(4) {
            -webkit-animation-delay: 15s;
            -ms-animation-delay: 15s;
            animation-delay: 15s;
          }
          
          .rw-words-1 span:nth-child(5) { 
              -webkit-animation-delay: 20s; 
              -moz-animation-delay: 20s; 
              -o-animation-delay: 20s; 
              -ms-animation-delay: 20s; 
              animation-delay: 20s; 
          }
          
        //   .rw-words-1 span:nth-child(6) { 
        //       -webkit-animation-delay: 25s;
        //       -moz-animation-delay: 25s; 
        //       -o-animation-delay: 25s; 
        //       -ms-animation-delay: 25s; 
        //       animation-delay: 25s; 
        //   }
          
          @-webkit-keyframes rotateWord {
            0% {opacity: 0;}
            
            2% {
              opacity: 0;
              -webkit-transform: translateY(-30px);
            }
            
            5% {
              opacity: 1;
              -webkit-transform: translateY(0px);
            }
            
            17% {
              opacity: 1;
              -webkit-transform: translateY(0px);
            }
            
            20% {
              opacity: 0;
              -webkit-transform: translateY(30px);
            }
            
            80% {opacity: 0;}
            
            100% {opacity: 0;}
          }
          
          @-ms-keyframes rotateWord {
            0% {opacity: 0;}
            
            2% {
              opacity: 0;
              -ms-transform: translateY(-30px);
            }
            
            5% {
              opacity: 1;
              -ms-transform: translateY(0px);
            }
            
            17% {
              opacity: 1;
              -ms-transform: translateY(0px);
            }
            
            20% {
              opacity: 0;
              -ms-transform: translateY(30px);
            }
            
            80% {opacity: 0;}
            
            100% {opacity: 0;}
          }
          
          @keyframes rotateWord {
            0% {opacity: 0;}
            
            2% {
              opacity: 0;
              -webkit-transform: translateY(-30px);
              transform: translateY(-30px);
            }
            
            5% {
              opacity: 1;
              -webkit-transform: translateY(0px);
              transform: translateY(0px);
            }
            
            17% {
              opacity: 1;
              -webkit-transform: translateY(0px);
              transform: translateY(0px);
            }
            
            20% {
              opacity: 0;
              -webkit-transform: translateY(30px);
              transform: translateY(30px);
            }
            
            80% {opacity: 0;}
            
            100% {opacity: 0;}
          }
    }
    .text{
    .v1 { 
        border-left: 1px solid #A2A2A2;
        height: 230px;
        position: absolute;
    }
    h2{
        font-family: 'Noto Serif JP', serif;
        font-size: 24px;
        font-weight: 400;
        margin-left: 40px;
        padding-top: 50px;
    }
}
    .tab{
        padding-top: 50px;
        text-align: center;
        .tab-link{
            padding-top: 10px;
        p{
            font-size: 16px;
            font-weight: 300;
            padding-top: 10px;
            color: #676767;
        }
        &:hover{
                //box-shadow: 10px 26px 52px rgba(92, 94, 93, 0.34);
                cursor: pointer;
                color: #000;
            }
    }
    }
}

@include media-breakpoint-down(md) {
    .sample{
        padding-top: 150px;
        padding-bottom: 150px;
        .sample-text{
            padding-left: 0;
            p{
                font-size: 22px;
                margin-bottom: -15px;
            }
            .step-image{
                margin-top: 6px;
                width: 40%;
                height: 8px;
                img{
                    width: 0%;
                    height: auto;
                }
            }
            h1{
                font-family: 'Noto Serif JP', serif;
                font-size: 22px;
                margin-top: 70px;
                margin-bottom: -20px;
            }
            h2{
                font-family: 'Noto Serif JP', serif;
                font-size: 40px;
                font-weight: 400;
                margin-top: 0px;
            }
            .rw-words-1 span{
                font-size: 32px;
            }
        }
        .horizontal{
            border-top: 1px solid #A2A2A2;
            margin-top: 150px;
        }
        .text{
            .v1 { 
                display: none;
            }
            h2{
                font-size: 17px;
                margin-left: 0px;
                padding-top: 20px;
            }
        }
        .tab{
            display: none;
            // padding-top: 80px;
            // text-align: center;
            // p{
            //     font-size: 10px;
            //     padding-top: 10px;
            // }
        }
    }
}

/* Solutions */
.solution{
    margin-bottom: -130px;
}
.solution-heading{
    background-color: #F5F5F5;
    padding-top: 80px;
    padding-bottom: 250px;
    h4{
        font-family: 'Noto Serif JP', serif;
        text-align: center;
        font-size: 34px;
        line-height: 32px;
        font-weight: 400;
    }
    .step-image{
        text-align: center;
        img{
            width: auto;
            height: 8px;
        }
    }
}
.solution-carousel{
    top: -220px;
    .item{
        //padding: 0px;
        padding-top: 40px;
        padding-bottom: 20px;
        padding-left: 80px;
        padding-right: 80px;
        div.tile{
            box-shadow: none;
            //box-shadow: 10px 26px 52px rgba(92, 94, 93, 0.34);
            //display: flex;
            .solution-step{
                background-color: #FFFFFF;
                display: flex;
                align-items: center;
                .p-3{
                    padding: 0rem !important;
                }
                .cover{
                    filter: #606A74; 
                    -webkit-filter: grayscale(1);
                .image{
                    img{
                        width: 100%;
                        height: 360px;
                        transition-property: width, height;
                        transition-duration: 1s;
                        filter: #606A74; 
                        -webkit-filter: grayscale(1);
                    }
                    img:hover{
                        filter: none; 
                        -webkit-filter: grayscale(0);
                    }
                }
            }
            .cover:hover{
                filter: none;
                -webkit-filter: grayscale(0); 
            }
                .description{
                    //color: #FFFFFF;
                    padding-top: 70px;
                        h1{
                            font-weight: 400;
                            font-family: 'Noto Serif JP', serif;
                            font-size: 40px;
                            margin-top: 20px;
                            text-align: left;
                        }
                        p{
                            font-size: 14px;
                            font-weight: 400;
                            font-family: 'Noto Sans JP', sans-serif;
                            text-align: justify;
                            margin-bottom: 30px;
                            //color: #CBCBCB;
                        }
                        a{
                            font-size: 12px;
                            font-weight: 400;
                            font-family: 'Noto Sans JP', sans-serif;
                            cursor: pointer;
                            //color: #FDEE78;
                            text-decoration: none;
                        }
                    
                }
            }
        }
    }
}

@include media-breakpoint-down(sm) {
.solution{
    margin-bottom: -230px;
}
.solution-heading{
    padding-top: 50px;
    padding-bottom: 260px;
    h4{
        font-size: 20px;
        line-height: 24px;
    }
}
.solution-carousel{
    .item{
        padding-top: 0px;
        padding-bottom: 0px;
        padding-left: 20px;
        padding-right: 20px;
        div.tile{
            .solution-step{
                display: flex;
                flex-direction: column;
                padding: 0px;
                .cover{
                    .image{
                        img{
                            width: 100%;
                            height: auto;
                        }
                    }
                }
                
                .description{
                    padding-left: 15px;
                    padding-right: 15px;
                    padding-top: 20px;
                    padding-bottom: 20px;
                        h1{
                            font-weight: 300;
                            font-size: 25px;
                            margin-top: 10px;
                            text-align: left;
                        }
                        p{
                            font-size: 13px;
                            font-weight: 300;
                            text-align: justify;
                            margin-bottom: 30px;
                            line-height: 22px;
                        }
                        a{
                            font-size: 12px;
                            font-weight: 300;
                            cursor: pointer;
                            text-decoration: none;
                        }
                }
            }
        }
    }
}
}


section.home-carousel{
    //background-image: url('/assets/images/home/carousel-bg.png');
    //background-color: #60D6C9;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 20px;
    position: relative;
    .tile{
        box-shadow: none;
        .text{
            height: 100%;
            display: flex;
            align-items: center;
        }
        h3{
            font-size: 40px;
            font-weight: 300;
            //color: #FFFFFF;
        }
        p{
            font-size: 16px;
            text-align: justify;
            color: #797979;
        }
        .btn{
            font-size: 15px;
            font-weight: 300;
            //color: #FFFFFF;
            background-color: #EBEBEB;
            //border-color: #000000;
        }
        img{
            width: 120%;
            height: auto;
        }
    }
    .carousel-navigation{
        left: 0;
        right: 0;
        padding-top: 40px;
        ul{
            display: flex;
            list-style: none;
            justify-content: space-between;
            background-color: #FFF;
            box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
            padding: 0;
            text-align: center;
            padding: 0 20px;
            border-radius: 6px;
            margin-bottom: 0;
        }
        li{
            min-width: 20%;
            max-width: 20%;
        }
        a{
            position: relative;
            display: block;
            cursor: pointer;
            opacity: 0.6;
            padding: 24px 16px;
            //color: #000;
            font-size: 14px;
            line-height: 16px;
            filter: #606A74; 
            -webkit-filter: grayscale(1);
            // img{
            //     width: 100%;
            // }
            &:hover,
            &.active{
                filter: none; 
                -webkit-filter: grayscale(0);
                opacity: 1;
            }
            &>span{
                margin-top: 8px;
            }
            span{
                display: block;
                font-size: 13px;
                font-weight: 300;
            }
            &.active:after{
                position: absolute;
                content: '';
                background: #60D6C9;
                height: 8px;
                border-radius: 10px 10px 0 0;
                display: block;
                width: 100%;
                left: 0;
                top: -8px;
            }
        }
    }
    .ngucarousel-indicator{
        display: none;
    }
}
.ngucarousel-indicator{
    text-align: center;
    width: 100%;
    padding-bottom: 20px;
    padding-top: 50px;
    li{
        display: inline-block;
        a{
            display: block;
            margin: 0 5px;
            width: 15px;
            height: 15px;
            border: 1px solid #313030;
            border-color: #313030;
            text-indent: -999px;
            overflow: hidden;
            border-radius: 60%;
            background-color: #FFFFFF;
            cursor: pointer;
            &.active{
                width: 15px;
                height: 15px;
                background-color: #262745;
                border: 1px solid #313030;
            }
        }
    }
}

.ngucarousel-indicator-one{
    display: none;
}

.ngucarousel-indicator-two{
    text-align: center;
    width: 100%;
    padding-bottom: 20px;
    padding-top: 0px;
    padding-left: 0;
    li{
        display: inline-block;
        a{
            display: block;
            margin: 0 5px;
            width: 12px;
            height: 12px;
            border: 1px solid #313030;
            border-color: #A0A0A0;
            text-indent: -999px;
            overflow: hidden;
            border-radius: 60%;
            cursor: pointer;
            &.active{
                width: 12px;
                height: 12px;
                background-color: #FDEE78;
                border: 1px solid #A0A0A0;
            }
        }
    }
}

/* Our Clients */
.our-clients{
    margin-bottom: 100px;
}
.our-client-header{
    margin-bottom: 50px;
    h3{
        font-size: 34px;
        font-weight: 400;
        font-family: 'Noto Serif JP', serif;
        text-align: center;
    }
    .step-image{
        text-align: center;
        img{
            width: 12%;
            height: 20px;
        }
    }
}
.our-client-body{
    text-align: center;
    .row{
        margin-bottom: 50px;
    }
    .client{
        display: inline-block;
        margin-bottom:10px;
        img{
            width: 100%;
            filter: #606A74; 
            -webkit-filter: grayscale(1);
        }
        img:hover{
            width: 100%;
            filter: none; 
            -webkit-filter: grayscale(0);
        }
    }
    .client1{
        display: inline-block;
        margin-bottom: 35px;
        margin-top: 10px;
        img{
            max-width: 100%;
            filter: #606A74; 
            -webkit-filter: grayscale(1);
        }
        img:hover{
            max-width: 100%;
            filter: none; 
            -webkit-filter: grayscale(0);
        }
    }
}

.our-team{
    padding-bottom: 50px;
    h1{
        font-size: 34px;
        font-weight: 400;
        font-family: 'Noto Serif JP', serif;
        text-align: center;
    }
    .step-image{
        text-align: center;
        img{
            width: 10%;
            height: 30px;
        }
    }
}

.redirect{
    a{
        text-decoration: none;
    }
}

@include media-breakpoint-down(sm) {
    .section{
        padding-left: 10px;
        padding-right: 10px;
    }
    /* Solutions */
    .solutions{
        margin-bottom: 46px;
    }
    .solutions-heading{
        width: 80%;
        margin: 0 auto 24px;
        h4{
            font-size: 20px;
            line-height: 24px;
        }
    }
    .solutions-carousel{
        .item{
            padding: 10px 0 0;
            div.tile{
                .solutions-step{
                    display: flex;
                    flex-direction: column;
                    padding: 10px;
                    .cover{
                        .image{
                            img{
                                width: 100%;
                                height: auto;
                            }
                        }
                    }
                    
                    .description{
                        color: #FFFFFF;
                        padding-left: 0;
                        padding-right: 0;
                        padding-top: 20px;
                            h1{
                                font-weight: 300;
                                font-size: 25px;
                                margin-top: 10px;
                                text-align: left;
                            }
                            p{
                                font-size: 13px;
                                font-weight: 300;
                                text-align: justify;
                                margin-bottom: 30px;
                                line-height: 22px;
                            }
                            a{
                                font-size: 12px;
                                font-weight: 300;
                                cursor: pointer;
                                color: #FDEE78;
                                text-decoration: none;
                            }
                    }
                }
            }
        }
    }

    .carousel-indicator{
        text-decoration: none;
        text-align: center;
        width: 100%;
        padding-bottom: 40px;
        padding-top: 0;
        li{
            display: inline-block;
            a{
                display: block;
                margin: 0 5px;
                width: 12px;
                height: 12px;
                border: 1px solid #313030;
                //background-color: #313030;
                border-color: #A0A0A0;
                text-indent: -999px;
                overflow: hidden;
                border-radius: 60%;
                cursor: pointer;
                &.active{
                    width: 12px;
                    height: 12px;
                    background-color: #60D6C9;
                    border: 1px solid #A0A0A0;
                }
            }
        }
    }
    
    /* Our Clients */
    .our-clients{
        margin-bottom: 60px;
        .row{
            margin-bottom: 50px;
            .col-sm-2{
                width: 50%;
                padding-left: 20px;
                padding-right: 20px;
                margin-bottom: 30px;
            }
        }
    }
    .our-client-header{
        width: 80%;
        margin-top: 80px;
        margin-bottom: 20px;
        margin-left: 40px;
        margin-right: 30px;
        h3{
            font-size: 20px;
        }
        .step-image{
            text-align: center;
            img{
                width: 30%;
                height: 20px;
            }
        }
    }
    .our-client-body{
        text-align: center;
        .row{
            margin-bottom: 0;
        }
        .client{
            display: inline-block;
            margin-bottom:10px;
            img{
                width: 80%;
                filter: #606A74; 
                -webkit-filter: grayscale(1);
            }
            img:hover{
                width: 80%;
                filter: none; 
                -webkit-filter: grayscale(0);
            }
        }
        .client1{
            display: inline-block;
            margin-bottom: 35px;
            margin-top: 10px;
            img{
                max-width: 80%;
                filter: #606A74; 
                -webkit-filter: grayscale(1);
            }
            img:hover{
                max-width: 80%;
                filter: none; 
                -webkit-filter: grayscale(0);
            }
        }
    }
    .our-team{
        h1{
            font-size: 20px;
        }
        .step-image{
        text-align: center;
        img{
            width: 20%;
            height: 30px;
        }
    }
    }
}
@include media-breakpoint-down(md) {
    section.home-carousel{
        padding: 30px 0 0;
        margin-bottom: 10px;
        .tile{
            h3{
                font-size: 35px;
            }
            p{
                font-size: 13px;
            }
            .btn{
                font-size: 12px;
            }
            img{
                width: 100%;
                height: auto;
            }
        }
        .ngucarousel-indicator{
            display: block;
            padding: 20px 0;
            margin-bottom: 0;
        }
    }
    .carousel-navigation{
        display: none;
        }

        .ngucarousel-indicator-two{
            padding-top: 0px;
        }
        
        .ngucarousel-indicator-one{
            display: block;
            padding: 20px 0;
            margin-top: 30px;
            margin-bottom: 0;
            li{
                display: inline-block;
                a{
                    display: block;
                    margin: 0 5px;
                    width: 12px;
                    height: 12px;
                    border: 1px solid #313030;
                    border-color: #A0A0A0;
                    text-indent: -999px;
                    overflow: hidden;
                    border-radius: 60%;
                    background-color: #FFFFFF;
                    cursor: pointer;
                    &.active{
                        width: 12px;
                        height: 12px;
                        background-color: #FDEE78;
                        border: 1px solid #A0A0A0;
                    }
                }
            }
        }
        
}