<div class="home">
    <div class="banner">
       <div class="container">
          <h2>We design and bring</h2>
          <h1>Digital Transformation</h1>
          <p>UX Consulting. &nbsp;&nbsp;Usability Testing. &nbsp;&nbsp;User Interface Design. &nbsp;&nbsp;Front End Development.</p>
       </div>
    </div>
    <div class="feature-work">
            <div class="row">
               <div class="col-md-6">
                   <div class="card">
                       <h3>Feature Work</h3>
                       <h2>Digital Transformation for Telcom</h2>
                       <h4>UX . UI . Mobile . B2B</h4>
                       <div class="button">
                           <div class="btn" routerLink="/work/networking">Case Study</div>
                       </div>
                   </div>
               </div>
               <div class="col-md-6 step-image">
                   <div class="image">
                     <img src="./assets/images/home/transformation.png">
                   </div>
                  </div>
               </div>
           </div>
    <div class="products">
       <div class="container">
          <div class="row">
             <div class="col-md-9">
                <h2>Sculpting products that Users admire & Businesses benefit</h2>
             </div>
             <div class="col-md-3"></div>
          </div>
          <div class="row">
             <div class="col-md-7">
                <h3>We’ve created and collaborated on to build lots of great products like Information portals, Enterprise applications, Digital transformation, Mobile apps, Product Developments & More...</h3>
             </div>
             <div class="col-md-5"></div>
          </div>
          <div class="button">
             <div class="btn" routerLink="about-us">Get to know us</div>
          </div>
        </div>
    </div>
    <div class="logo">
      <div class="container">
    <div class="flex">
      <div class="icon">
         <img src="./assets/images/home/logo-1.png">
      </div>
      <div class="icon">
         <img src="./assets/images/home/logo-2.png">
      </div>
      <div class="icon">
         <img src="./assets/images/home/logo-3.png">
      </div>
      <div class="icon">
         <img src="./assets/images/home/logo-4.png">
      </div>
      <div class="icon">
         <img src="./assets/images/home/logo-5.png">
      </div>
      <div class="icon">
         <img src="./assets/images/home/logo-6.png">
      </div>
   </div>
</div>
</div>
    <div class="cater">
       <div class="container">
          <div class="row">
             <div class="col-md-6">
                <h2>We can cater our services to your needs</h2>
             </div>
            </div>
             <div class="row left">
             <div class="col-md-4">
                <div class="row types">
                   <div class="col-md-3">
                      <div class="icon">
                        <svg id="savedSVGExport0" xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48">
                           <g id="Group_6732" data-name="Group 6732">
                             <g id="Group_6729" data-name="Group 6729" transform="translate(2.4 2.4)">
                               <circle id="Ellipse_1134" data-name="Ellipse 1134" cx="4.2" cy="4.2" r="4.2" transform="translate(17.4 0)" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"/>
                               <ellipse id="Ellipse_1135" data-name="Ellipse 1135" cx="4" cy="4.5" rx="4" ry="4.5" transform="translate(7.6 34.601)" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"/>
                               <circle id="Ellipse_1136" data-name="Ellipse 1136" cx="4.5" cy="4.5" r="4.5" transform="translate(28.6 34.601)" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"/>
                               <ellipse id="Ellipse_1137" data-name="Ellipse 1137" cx="4.5" cy="4" rx="4.5" ry="4" transform="translate(-0.4 14.601)" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"/>
                               <ellipse id="Ellipse_1138" data-name="Ellipse 1138" cx="4.5" cy="4" rx="4.5" ry="4" transform="translate(34.6 14.601)" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"/>
                               <line id="Line_90" data-name="Line 90" y1="8.766" x2="11.183" transform="translate(7.2 6.898)" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"/>
                               <line id="Line_91" data-name="Line 91" x2="4.979" y2="12.314" transform="translate(5.096 22.702)" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"/>
                               <line id="Line_92" data-name="Line 92" x2="10.897" y2="9.149" transform="translate(25.103 6.515)" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"/>
                               <line id="Line_93" data-name="Line 93" x2="26" transform="translate(8.6 17.601)" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"/>
                               <line id="Line_94" data-name="Line 94" x2="13.2" transform="translate(15.6 39)" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"/>
                               <line id="Line_95" data-name="Line 95" y1="14" x2="21" transform="translate(14.6 21.601)" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"/>
                             </g>
                             <rect id="Rectangle_4938" data-name="Rectangle 4938" width="48" height="48" fill="none" opacity="0"/>
                           </g>
                         </svg>
                         
                      </div>
                   </div>
                   <div class="col-md-6">
                      <h4>Enterprise Applications</h4>
                   </div>
                   <div class="col-md-3">
                     <div class="image">
                        <img src="./assets/images/home/arrow.png">
                    </div>
                  </div>
                </div>
                </div>
            <div class="col-md-4">
                <div class="row types">
                   <div class="col-md-3">
                      <div class="icon">
                        <svg id="savedSVGExport1" xmlns="http://www.w3.org/2000/svg" width="48" height="48.27" viewBox="0 0 48 48.27">
                           <g id="Group_6731" data-name="Group 6731">
                             <rect id="Rectangle_4939" data-name="Rectangle 4939" width="48" height="48" fill="#fff" opacity="0"/>
                             <g id="Group_6726" data-name="Group 6726" transform="translate(4.799 2.4)">
                               <path id="Path_9441" data-name="Path 9441" d="M41.716,23.611C43.055,11.2,34.094,7.025,24.951,7.025A16.75,16.75,0,0,0,9.395,17.6a16.974,16.974,0,0,0,3.949,18.49v13.7a1.6,1.6,0,0,0,1.59,1.6H29.755a1.657,1.657,0,0,0,1.65-1.663V48.9A2.7,2.7,0,0,1,34.092,46.2H36.5a5.244,5.244,0,0,0,5.224-5.264V35.623h1.737a2.6,2.6,0,0,0,2.218-1.246,2.646,2.646,0,0,0,.115-2.557ZM12.966,26.4" transform="translate(-8.183 -7.025)" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"/>
                               <path id="Path_9442" data-name="Path 9442" d="M26.746,14.427l-2.7,5.476L18,20.782l4.373,4.262-1.032,6.019,5.4-2.842,5.4,2.842-1.032-6.019,4.373-4.262L29.438,19.9Z" transform="translate(-9.218 -5.545)" fill="none" stroke="currentColor" stroke-linejoin="round" stroke-width="3"/>
                             </g>
                           </g>
                         </svg>
                         
                      </div>
                   </div>
                   <div class="col-md-6">
                      <h4>Information Portals</h4>
                   </div>
                   <div class="col-md-3">
                     <div class="image">
                        <img src="./assets/images/home/arrow.png">
                    </div>
                  </div>
                </div>
               </div>
               <div class="col-md-4">
                <div class="row types">
                   <div class="col-md-3">
                      <div class="icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="48.414" height="48.3" viewBox="0 0 48.414 48.3">
                           <g id="Group_6733" data-name="Group 6733" transform="translate(0.414 0.3)">
                             <g id="Group_6727" data-name="Group 6727" transform="translate(1.2 1.2)">
                               <circle id="Ellipse_1127" data-name="Ellipse 1127" cx="12.3" cy="12.3" r="12.3" transform="translate(18.611)" fill="none" stroke="currentColor" stroke-linejoin="round" stroke-width="3"/>
                               <circle id="Ellipse_1128" data-name="Ellipse 1128" cx="4.5" cy="4.5" r="4.5" transform="translate(26.411 7.8)" fill="none" stroke="currentColor" stroke-linejoin="round" stroke-width="3"/>
                               <path id="Path_9443" data-name="Path 9443" d="M8.753,22.2s-1.278,6.24,1.808,9.439,9.368,2.15,9.368,2.15,1.277-6.24-1.81-9.439S8.753,22.2,8.753,22.2Z" transform="translate(-8.49 -4.592)" fill="none" stroke="currentColor" stroke-linejoin="round" stroke-width="3"/>
                               <path id="Path_9444" data-name="Path 9444" d="M16.451,50.046S14.291,30.89,27.112,22.768" transform="translate(-6.926 -4.446)" fill="none" stroke="currentColor" stroke-linejoin="round" stroke-width="3"/>
                             </g>
                             <rect id="Rectangle_4940" data-name="Rectangle 4940" width="48" height="48" fill="none" opacity="0"/>
                           </g>
                         </svg>
                         
                      </div>
                   </div>
                   <div class="col-md-6">
                     <h4>Product Development</h4>
                   </div>
                   <div class="col-md-3">
                     <div class="image">
                        <img src="./assets/images/home/arrow.png">
                    </div>
                  </div>
                </div>
             </div>
             </div>
            <div class="row left">
             <div class="col-md-4">
                <div class="row types">
                   <div class="col-md-3">
                      <div class="icon">
                        <svg id="Group_6735" data-name="Group 6735" xmlns="http://www.w3.org/2000/svg" width="48" height="48.3" viewBox="0 0 48 48.3">
                           <g id="Group_6725" data-name="Group 6725" transform="translate(6 2.4)">
                             <g id="Group_5682" data-name="Group 5682" transform="translate(0 0)">
                               <g id="Group_5681" data-name="Group 5681">
                                 <path id="Path_9440" data-name="Path 9440" d="M47.234,23.213c-4.256-3.343-8.448-6.683-12.688-10.026a5.5,5.5,0,0,1-2.36-5.536c.065-.578-.258-.773-.894-.578a5.382,5.382,0,0,0-3.368,2.64,4.328,4.328,0,0,1-4.39,2.567c-2.864-.131-4.639,1.417-6.166,3.608a21.386,21.386,0,0,0-3.109,7.729,44.414,44.414,0,0,0-1.14,8.752c-.131,2.257-.064,4.447-.131,6.692V45.31H41.082V40.8a4.288,4.288,0,0,0-1.177-3.292c-1.405-1.392-2.9-2.694-2.9-2.694a12.36,12.36,0,0,1-1.938-1.99l-5.182-6.7c.323.262.636.51.96.773A5.838,5.838,0,0,0,36.12,28.11a4.256,4.256,0,0,1,3.3.511,19.1,19.1,0,0,0,1.819,1.027,3.551,3.551,0,0,0,4.362-.862c.654-.785,1.309-1.571,1.963-2.344a2.238,2.238,0,0,0-.336-3.23Z" transform="translate(-12.988 -7)" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"/>
                               </g>
                             </g>
                             <line id="Line_78" data-name="Line 78" x2="28.8" transform="translate(0.014 44.4)" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"/>
                           </g>
                           <path id="Rectangle_4942" data-name="Rectangle 4942" d="M0,0H48V48H0Z" fill="none" opacity="0"/>
                         </svg>
                         
                      </div>
                   </div>
                   <div class="col-md-4">
                     <h4>Strategy Design</h4>
                   </div>
                   <div class="col-md-2"></div>
                   <div class="col-md-3">
                     <div class="image">
                        <img src="./assets/images/home/arrow.png">
                    </div>
                  </div>
                </div>
                </div>
                <div class="col-md-4">
                <div class="row types">
                   <div class="col-md-3">
                      <div class="icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48.301" viewBox="0 0 48 48.301">
                           <g id="Group_6734" data-name="Group 6734" transform="translate(0 0.301)">
                             <g id="Group_6730" data-name="Group 6730" transform="translate(2.4 1.199)">
                               <circle id="Ellipse_1139" data-name="Ellipse 1139" cx="7.835" cy="7.835" r="7.835" transform="translate(0 0)" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"/>
                               <path id="Path_9447" data-name="Path 9447" d="M42.694,32.691H34.859l-3.918,6.786,3.918,6.785h7.835l3.918-6.786Z" transform="translate(-3.412 -2.638)" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"/>
                               <rect id="Rectangle_4334" data-name="Rectangle 4334" width="14.4" height="14.4" transform="translate(0.6 29.224)" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"/>
                               <path id="Path_9448" data-name="Path 9448" d="M31,23.4H45.4L31,9Z" transform="translate(-3.4 -7.376)" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"/>
                             </g>
                             <rect id="Rectangle_4943" data-name="Rectangle 4943" width="48" height="48" fill="none" opacity="0"/>
                           </g>
                         </svg>
                         
                      </div>
                   </div>
                   <div class="col-md-6">
                     <h4>Mobile Applications</h4>
                   </div>
                   <div class="col-md-3">
                     <div class="image">
                        <img src="./assets/images/home/arrow.png">
                    </div>
                  </div>
                </div>
               </div>
               <div class="col-md-4">
                <div class="row types">
                   <div class="col-md-3">
                      <div class="icon">
                        <svg id="Group_6736" data-name="Group 6736" xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48">
  <g id="Group_6728" data-name="Group 6728" transform="translate(2.4 2.4)">
    <path id="Path_9445" data-name="Path 9445" d="M8,8" transform="translate(-8 -8)" fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="3"/>
    <path id="Path_9446" data-name="Path 9446" d="M43.453,27.166l-23.2-6.4L26.8,43.817l5.64-5.64L43.287,49.021l5.37-5.37L37.813,32.806Z" transform="translate(-5.55 -5.446)" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"/>
    <line id="Line_79" data-name="Line 79" y1="8" transform="translate(14.6 1.6)" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"/>
    <line id="Line_80" data-name="Line 80" x1="5.94" y1="5.94" transform="translate(3.03 4.83)" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"/>
    <line id="Line_81" data-name="Line 81" y1="5.94" x2="5.94" transform="translate(19.83 4.83)" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"/>
    <line id="Line_82" data-name="Line 82" y1="5.94" x2="5.94" transform="translate(3.03 20.43)" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"/>
    <line id="Line_83" data-name="Line 83" x2="9" transform="translate(-0.4 15.6)" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"/>
  </g>
  <rect id="Rectangle_4941" data-name="Rectangle 4941" width="48" height="48" fill="none" opacity="0"/>
</svg>

                      </div>
                   </div>
                   <div class="col-md-6">
                     <h4>Digital Transformation</h4>
                   </div>
                   <div class="col-md-3">
                     <div class="image">
                        <img src="./assets/images/home/arrow.png">
                    </div>
                  </div>
                </div>
                </div>
             </div>
              <div class="button">
                   <div class="btn" routerLink="services">View All</div>
                </div>
            </div>
          </div>
    <div class="blogs">
       <div class="row">
          <div class="col-md-6 left">
             <h2>MINTify your thoughts with our latest blogs and articles</h2>
             <div class="button">
                <div class="btn btnn" routerLink="blogs">Read Blog</div>
             </div>
          </div>
          <div class="col-md-6 right">
             <ngu-carousel class="blog-carousel" #blogCarousel [inputs]="blogsCarouselConfig" [dataSource]="blogs">
             <ngu-tile *nguCarouselDef="let item; let i = index">
                <div class="class">
                   <div class="image">
                      <img [src]="item.img">
                   </div>
                   <h3>{{ item.title }}</h3>
                   <h4>{{ item.sub }}</h4>
                </div>
             </ngu-tile>
             <ul class="ngucarousel-indicator" NguCarouselPoint>
                <li *ngFor="let pointer of blogCarousel.pointNumbers; let i = index">
                   <a (click)="blogCarousel.moveTo(i)" [class.active]="blogCarousel.activePoint == i">&nbsp;</a>
                </li>
             </ul>
             </ngu-carousel>
          </div>
       </div>
    </div>
    <div class="craft">
       <div class="container">
         <div class="row">
            <div class="col-md-4">
            <h2>Let's craft <br>design together!</h2>
         </div>
            <div class="button">
                <div class="btn-white" routerLink="contact-us">Let's Talk</div>
            </div>
       </div>
       </div>
    </div>
 </div>