@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
.works{
    padding-top: 100px;
    margin-top: -200px;
}
h2{
    font-size: 56px;
    font-family: "Muli", sans-serif;
    color: #3B3B3B;
    @include media-breakpoint-down(md) {
        font-size: 32px;
        padding-bottom: 15px;
    }
}
p{
    font-size: 18px;
    font-family: "Muli", sans-serif;
    color: #3B3B3B;
    @include media-breakpoint-down(md) {
        font-size: 14px;
    }
}
h6{
    font-size: 24px;
    font-family: "Muli", sans-serif;
    color: #3B3B3B;
    @include media-breakpoint-down(md) {
        font-size: 28px;
    }
}  
    .banner{
        background-color: #cadacb;
        padding-top: 140px;
       height: 730px;
       padding: 250px 0px;
        img{
            position: absolute;
            margin-top: -13%;
            width: 90%;
            //margin-left: 100px;
        }
        h6{
            font-weight: 300;
            font-size: 24px;
            margin-top: 40px;
        }
        @include media-breakpoint-down(lg){
            height: 645px;
            padding: 250px 0px;
            .banner-header{
                padding: 15px 0px;
            }
            img{
                margin-top: -8%;
            }
        }
        @include media-breakpoint-down(md){
            height: 501px;
            padding: 150px 0px;
            .banner-header{
                padding: 30px 0px;
            }
            h6{
                font-size: 20px;
            }
        }
        @include media-breakpoint-down(sm){
            height: 600px;
            padding: 350px 0px;
          
            img{
                width: 100%;
                margin-top: -65%;
                margin-left: -40px;
            }
        }
    }
    .about-project{
        background-color: #FCFCFC;
        padding: 200px 0px;
        p{
             font-size: 18px;
            line-height: 40px;
        }
        @include media-breakpoint-down(lg){
            padding: 150px 0px;
        }
        @include media-breakpoint-down(md){
            padding: 100px 0px;
        }
        @include media-breakpoint-down(sm){
            padding: 80px 0px;
        }
    }
    .image-event{
        img{
            width: 100%;
        }
        @include media-breakpoint-down(sm){
            img{
                width: 100%;
                display: none !important;
            }  
        }
    }
    .approach{
        background-color: #EBEBEB;
        padding: 200px 0px;
        p{
            font-size: 18px;
            font-family: "Muli", sans-serif;
            line-height: 40px;
        }
        @include media-breakpoint-down(lg){
            padding: 150px 0px;
        }
        @include media-breakpoint-down(md){
            padding: 100px 0px;
        }
        @include media-breakpoint-down(sm){
            padding: 80px 0px;
            h2{
                font-size: 36px;
                margin-bottom: 30px;
            }
        }
    }
    .wireframe{
        background-color: #FCFCFC;
        h2{
            font-family: "Muli", sans-serif;
            font-size: 36px;
            color: #3B3B3B;
        }
        @include media-breakpoint-down(sm){
            h2{
                font-size: 25px;
                line-height: 35px;
            }
        }
    }
    .target-strategy{
        background-color: #FCFCFC;
        color: #3D3D3D;
        padding: 150px 0px;
        .target{
            margin-bottom: 120px;
        }
        h6{
            font-size: 36px;
            font-family: "Muli", sans-serif;
        }
        p{
             font-size: 18px;
            font-family: "Muli", sans-serif;
            line-height: 35px;
        }
        @include media-breakpoint-down(lg){
            padding: 100px 0px;
            .target{
                margin-bottom: 70px;
            }
        }
        @include media-breakpoint-down(md){
            padding: 100px 0px;
            h6{
                padding-bottom: 15px;
            }
        }
        @include media-breakpoint-down(sm){
            padding: 80px 0px;
        }
    }
    .needs-challenges{
        background-color: #EBEBEB;
        color: #000000;
        padding: 50px 0px;
        h1{
            color: #000000;
            font-size: 116px;
            font-family: "Muli", sans-serif;
            margin-top: 100px;
        }
        h2{
            font-size: 56px;
            font-family: "Muli", sans-serif;
            color: #000000;
            font-weight: 300;
        }
        h6{
            margin-bottom: 25px;
            font-family: "Muli", sans-serif;
            font-size: 36px;
        }
        p{
            //font-weight: 300;
            font-size: 18px;
            font-family: "Muli", sans-serif;
        }
        .needs{
            height: 500px;
            overflow: auto;
        }
        ::-webkit-scrollbar {
            width: 0px;
        }
        .needs-right{
            padding: 28px 30px;
        }
        @include media-breakpoint-down(lg){
            padding: 50px 0px;
            h1{
                font-size: 100px;
            }
        }
        @include media-breakpoint-down(md){
            padding: 50px 0px;
            h1{
                font-size: 56px; 
            }
            h2{
                font-size: 36px;
            }
        }
        @include media-breakpoint-down(sm){
            padding: 0px 0px;
            .needs{
                height: 890px;
                overflow: hidden;
            }
            .needs-right{
                padding: 50px 0 0 0;
            }
        }
    }
    .design-system{
        padding: 60px 0px;
        color: #3B3B3B;
        background-color: #FCFCFC;
        p{
            font-family: "Muli", sans-serif;
            font-size: 26px;
            line-height: 40px;
            padding: 0px 100px;
            text-align: center;
        }
        @include media-breakpoint-down(lg){
            padding: 60px 0px;
        }
        @include media-breakpoint-down(md){
            padding: 60px 0px;
        }
        @include media-breakpoint-down(sm){
            padding: 60px 0px;
            p{
                padding: 0px 0px; 
            }
        }
    }
    .research{
        padding: 90px 0px;
        color: #3D3D3D;
        background-color: #FCFCFC;
        h6{
            line-height: 55px;
            font-family: "Muli", sans-serif;
        }
        p{
            font-family: "Muli", sans-serif;
            font-size: 18px;
            line-height: 40px;
        }
        @include media-breakpoint-down(lg){
            padding: 80px 0px;
        }
        @include media-breakpoint-down(md){
            padding: 80px 0px;
            h6{
               font-size: 28px;
               line-height: 43px;
            }
        }
        @include media-breakpoint-down(sm){
            padding: 80px 0px;
        }
    }
    .sify-image{
        img{
            width: 100%;
        }
    }

    .typography-image{
        background-color: #FCFCFC;
        text-align: center;
        padding: 100px 0px;
        margin-top: -50px;
        @include media-breakpoint-down(lg){
            //margin-top: -100px;
            padding: 0px 0px;
            img{
                width: 100%;
                margin-top: 100px;
            }
        }
        @include media-breakpoint-down(md){
            padding: 0px 0px;
            img{
                width: 100%;
                margin-top: 100px;
            }
        }
        @include media-breakpoint-down(sm){
            padding: 50px 0px;
            img{
                width: 100%;
                margin-top: 50px;
            }
        }
    }
    .craft{
        background-color: #000000;
        padding-top: 40px;
        padding-bottom: 40px;
        h2{
            font-size: 57px;
            font-family: "Muli", sans-serif;
            color: #FCFCFC;
        }
        .button{
            margin-top: 80px;
        }
        .btn-white{
            border: 2px solid #FFFFFF;
            color: #FCFCFC;
            font-size: 20px;
            padding: 8px;
            border-radius: 0px;
            font-family: "Muli", sans-serif;
            cursor: pointer;
            &:hover{
                background-color: #FFFFFF;
                color: #C3343C;
            }
        }
        @include media-breakpoint-down(md){
            h2{
                font-size: 37px;
            }
        }
        @include media-breakpoint-down(sm){
            .button{
                margin-top: 50px;
               padding-left: 15px;
            }
        }
    }
    .other-case-studies{
        .row{
            margin-left: 0;
            margin-right: 0;
            .col-md-6.right{
                padding-left: 0;
                padding-right: 0;
            }
        }
       .left{
           padding: 40px 130px 80px 90px;
           background-color: #EBEBEB;
           h2{
               font-size: 57px;
               font-family: "Muli", sans-serif;
               color: #282829;
               margin-top: 120px;
               margin-bottom: 80px;
           }
           @include media-breakpoint-down(md){
            padding: 100px 40px 80px 30px;
            h2{
                font-size: 30px;
                margin-top: 80px;
                margin-bottom: 40px;
            }
            .btn{
                font-size: 16px;
            }
           }
           @include media-breakpoint-down(sm){
            padding: 0px 40px 80px 20px;
           }
       }
       .right{
           .class{
               .image{
                   img{
                       width: 100%;
                   }
               }
               h3{
                   font-size: 36px;
                   font-family: "Muli", sans-serif;
                   margin: 40px 130px 20px 40px;
                   a{
                    color: #3B3B3B; 
                   }
               }
               h4{
                font-family: "Muli", sans-serif;
                font-size: 20px;
                   margin: 0 0 10px 40px;
               }
           }
           @include media-breakpoint-down(md){
            .class{
                h3{
                    font-size: 24px;
                }
            }
           }
       }
    }

// Carousel
.item{
    padding: 0;
}
.ngucarousel-indicator{
    width: 100%;
    padding-bottom: 20px;
    padding-top: 30px;
    padding-left: 40px;
    li{
        display: inline-block;
        line-height: 22px;
        a{
            display: block;
            margin: 0 5px;
            width: 15px;
            height: 15px;
           // border: 2px solid #FFF;
            background-color: #D0D0D0 !important;
            text-indent: -999px;
            overflow: hidden;
            border-radius: 10px;
            cursor: pointer;
            &.active{
                width: 11px;
                height: 11px;
                border: 8px solid #000000;
                background-color: #000000 !important;
            }
        }
    }
}
::ng-deep .tile{
    border-radius: 15px;
    box-shadow: none !important;
}
@include media-breakpoint-down(sm) {
    .banner{
        img{
            width: 90%;
            padding-left: 20px;
        }
    }
    }
    .btnn{
        border: 2px solid #0D0D0D;
        border-radius: 0;
        color: #0D0D0D;
        cursor: pointer;
        font-size: 20px;
        font-family: "Muli", sans-serif;
        padding: 10px 15px;
        &:hover{
            background-color: #C3343C;
            color: #FFFFFF;
            border: 2px solid #E2E2E2;
        }
    }

 