@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
h2{
    font-size: 56px;
    @include media-breakpoint-down(sm) {
        font-size: 36px;
    }
}
p{
    font-size: 24px;
    @include media-breakpoint-down(sm) {
        font-size: 20px;
    }
}
h6{
    font-size: 36px;
    @include media-breakpoint-down(sm) {
        font-size: 28px;
    }
}  
    .banner{
        background-color: #AFE000;
        position: relative;
        color: #FFFFFF;
        padding-top: 150px;
        .banner-header{
            padding: 150px 0px;
        }
        h6{
            font-weight: 300;
            margin-top: 30px;
        }
        @include media-breakpoint-down(lg){
            .banner-header{
                padding: 150px 0px;
            }
        }
        @include media-breakpoint-down(md){
            .banner-header{
                padding: 85px 0px;
            }
        }
    }
    .about-project{
        background-color: #FCFCFC;
        padding: 200px 0px;
        .row{
            margin-right: 0;
            margin-left: 0;
        }
        @include media-breakpoint-down(lg){
            padding: 200px 0px;
        }
        @include media-breakpoint-down(md){
            padding: 150px 0px;
        }
    }
    .image-event{
        img{
            width: 100%;
        }
        @include media-breakpoint-down(sm){
            img{
                width: 100%;
                display: none !important;
            }  
        }
    }
    .approach{
        background-color: #3C3C3C;
        color: #FCFCFC;
        padding: 200px 0px;
        h2{
            margin-bottom: 30px;
        }
        p{
            line-height: 40px;
        }
        @include media-breakpoint-down(lg){
            padding: 200px 0px;
        }
        @include media-breakpoint-down(md){
            padding: 150px 0px;
        }
        @include media-breakpoint-down(sm){
            padding: 150px 0px;
            h2{
                font-size: 36px;
                margin-bottom: 30px;
            }
            p{
                font-size: 24px;
                line-height: 40px;
            }
        }
    }
    .target-strategy{
        background-color: #FCFCFC;
        color: #3D3D3D;
        padding: 150px 0px;
        .strategy{
            margin-top: 30px;
        }
    }
    .needs-challenges{
        background-color: #3C3C3C;
        color: #FCFCFC;
        padding: 50px 0px;
        h2{
            color: #AFE000;
            font-weight: 300;
        }
        h6{
            margin-bottom: 25px;
        }
        p{
            font-weight: 300;
        }
        .needs{
            height: 500px;
            overflow: auto;
        }
        ::-webkit-scrollbar {
            width: 0px;
        }
        .needs-right{
            padding: 100px 30px;
        }
        @include media-breakpoint-down(lg){
            padding: 50px 0px;
        }
        @include media-breakpoint-down(md){
            padding: 50px 0px;
            h1{
                font-size: 72px; 
            }
            h2{
                font-size: 36px;
            }
        }
        @include media-breakpoint-down(sm){
            padding: 50px 0px;
            .needs{
                height: 1050px;
                overflow: hidden;
            }
            .needs-right{
                padding: 50px 30px;
            }
        }
    }
    .research{
        padding: 80px 0px;
        color: #3D3D3D;
        h6{
            line-height: 55px;
        }
        p{
            line-height: 40px;
        }
        @include media-breakpoint-down(lg){
            padding: 80px 0px;
        }
        @include media-breakpoint-down(md){
            padding: 80px 0px;
            h6{
               font-size: 28px;
               line-height: 43px;
            }
            p{
                font-size: 20px;
                line-height: 35px;
            }
        }
        @include media-breakpoint-down(sm){
            padding: 80px 0px;
        }
    }
    .green-image{
        background-color: #AFE000;
        padding: 100px 0px 100px 100px;
        img{
            width: 100%;
        }
    }
    .work-description{
        padding: 80px 0px;
        color: #3D3D3D;
        background-color: #FAFAFA;
        h6{
            line-height: 55px;
            margin-top: 100px;
        }
        p{
            line-height: 40px;
        }
        @include media-breakpoint-down(lg){
            padding: 80px 0px;
            img{
                width: 100%;
                margin-top: 100px;
            }
        }
        @include media-breakpoint-down(md){
            padding: 40px 0px;
            h6{
               font-size: 28px;
            }
            p{
               font-size: 24px;
            }
        }
        @include media-breakpoint-down(sm){
            padding: 40px 0px;
            img{
                width: 100%;
            }
    }
    }
    .typography-image{
        background-color: #FAFAFA;
        text-align: center;
        padding: 100px 0px;
        @include media-breakpoint-down(lg){
            padding: 100px 0px;
            img{
                width: 100%;
                margin-top: 100px;
            }
        }
        @include media-breakpoint-down(md){
            padding: 75px 0px;
            img{
                width: 110%;
                margin-top: 100px;
            }
        }
        @include media-breakpoint-down(sm){
            padding: 50px 0px;
            img{
                width: 100%;
                margin-top: 100px;
            }
        }
    }
    .other-case-studies{
        .row{
            margin-left: 0;
            margin-right: 0;
            .col-md-6.right{
                padding-left: 0;
                padding-right: 0;
            }
        }
       .left{
           padding: 40px 130px 80px 90px;
           background-color: #FF424B;
           h2{
               font-weight: 400;
               color: #FFF;
               margin-top: 120px;
               margin-bottom: 80px;
           }
           .btn{
               background-color: #FFF;
               border-radius: 0;
               color: #FF424B;
               cursor: pointer;
               font-size: 20px;
               font-weight: 400;
                img{
                    padding-left: 12px;
                }
           }
       }
       .right{
           .class{
               .image{
                   img{
                       width: 100%;
                   }
               }
               h3{
                   font-size: 36px;
                   font-weight: 500;
                   margin: 40px 130px 20px 40px;
               }
               h4{
                   font-size: 20px;
                   font-weight: 400;
                   margin: 0 0 10px 40px;
               }
           }
       }
    }

// Carousel
.item{
    padding: 0;
}
.ngucarousel-indicator{
    width: 100%;
    padding-bottom: 20px;
    padding-top: 30px;
    padding-left: 40px;
    li{
        display: inline-block;
        line-height: 22px;
        a{
            display: block;
            margin: 0 5px;
            width: 15px;
            height: 15px;
            border: 2px solid #FFF;
            background-color: #D0D0D0 !important;
            text-indent: -999px;
            overflow: hidden;
            border-radius: 10px;
            cursor: pointer;
            &.active{
                width: 11px;
                height: 11px;
                border: 8px solid #FF424B;
                background-color: #FF424B !important;
            }
        }
    }
}
::ng-deep .tile{
    border-radius: 15px;
    box-shadow: none !important;
}
@include media-breakpoint-down(sm) {
    .banner{
        img{
            width: 100%;
        }
    }
    }