<!-- App Development -->
<section class="app-development">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="case-study">
          <p>CASE STUDY</p>
        </div>
        <div class="heading">
          <h1><span class="text-primary">App</span> Development</h1>
          <p>Portal for business (commercial network services for companies) with high level of scalability to have the services currently done manually.</p>
        </div>
          <div class="web">
          <p>WHAT WE DONE</p>
        </div>
          <ul class="dev">
          <li>Front End Development</li>
          <li>Back End Development</li>
          </ul>
      </div>
      <div class="col-md-8">
        <img src="/assets/images/projects/app-development/app-dev.png" alt="UX consulting"/>
      </div>
    </div>
  </div>
  </section>
  <!-- App Development -->

  <!-- About Project -->
<section class="about-project">
<div class="container">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-5">
         <h1>About Project</h1>
    </div>
    <div class="col-md-6">
        <p>but lack the features to get requirements coordinate with customers provide quote sign 
          SLA deliver seamless service Marriages and events are more emotionally connected to peoples
          lives in India and the current younger generation is ready to spend a lot to make their 
          events more memorable.
        </p>
    </div>
  </div>
</div>
</section>
<!-- About Project -->

<!-- Platform we used -->
<section class="platform">
  <div class="container">
    <h1>Platform we used</h1>
    <p>We choose the right framework to suite the business needs in terms: easy of use, scalability, 
      interoperability with standard technology, adaptability with emerging technologies and integration 
      with back-end system
    </p>
    <div class="row">
      <ul class="list-icons">
          <li>
            <fa-icon [icon]="['fab','android']"></fa-icon>
            <p>Android</p>
          </li>
          <li>
            <fa-icon [icon]="['fab','apple']"></fa-icon>
            <p>iOS </p>
          </li>
          </ul>
          </div>
  </div>
</section>
<!-- Platform we used -->

<!-- Framework we used -->
<section class="framework">
  <div class="container">
     <h1>Framework we used</h1>
     <p>but lack the features to get requirements coordinate with customers provide quote</p>
     <h3>Framework we use</h3>
        <div class="row">
            <ul class="list-icons">
                <li>
                    <div class="step-image1">
                        <img src="/assets/images/services/fdicon6.png" alt="" />
                        <p>Angular </p>
                    </div>
                </li>
                <li>
                    <div class="step-image1">
                        <img src="/assets/images/services/fdicon7.png" alt="" />
                        <p>HTML CSS JS </p>
                    </div>
                </li><li>
                    <div class="step-image1">
                        <img src="/assets/images/services/fdicon8.png" alt="" />
                        <p>React JS </p>
                    </div>
                </li>
                <li>
                    <div class="step-image1">
                        <img src="/assets/images/services/fdicon9.png" alt="" />
                        <p>Node JS </p>
                    </div>
                </li>
            </ul>
        </div>
  </div>
</section>
<!-- Framework we used -->

<!-- What we done -->
<section class="what-we-done">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <h1>What we done</h1>
        <p>but lack the features to get requirements coordinate with customers provide quote sign 
          SLA deliver seamless service Marriages and events are more emotionally connected to peoples
          lives in India and the current younger generation is ready to spend a lot to make their 
          events more memorable.but lack the features to get requirements coordinate with customers provide quote sign 
          SLA
        </p>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-6">
        <ul class="list">
          <li>but lack the features to get requirements coordinate with customers provide quote sign 
              SLA deliver seamless service Marriages
          </li>
          <li>but lack the features to get requirements coordinate with customers provide quote sign 
              SLA deliver seamless service Marriages
          </li>
          <li>but lack the features to get requirements coordinate with customers provide quote sign 
              SLA deliver seamless service Marriages
          </li>
          <li>but lack the features to get requirements coordinate with customers provide quote sign 
              SLA deliver seamless service Marriages
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!-- What we done -->

<!-- Web image -->
<section class="web-image">
  <div class="container">
    <div class="image">
       <img src="/assets/images/projects/app-development/app.png" alt="UX consulting"/>
    </div>
  </div>
</section>
<!-- Web image -->

<!-- Other Works -->
<section class="other-works">
  <div class="container">
    <div class="other-works-heading">
        <h3>Other Works</h3>
    </div>
    <div class="other-works-body">
        <div class="row space">
          <div class="col-md-4">
            <div class="step-image" routerLink="/projects/web-development">
                <img src="/assets/images/projects/project7.png" alt="Case Study"/>
                <div class="text-hover">
                    <h4>Website for startup</h4>
                    <h6>Read Case Study <fa-icon [icon]="['fas','chevron-right']"></fa-icon></h6>
                </div>
            </div>
        </div>
        <div class="col-md-4">
          <div class="step-image" routerLink="/projects/car-usability">
              <img src="/assets/images/projects/project10.png" alt="Case Study"/>
              <div class="text-hover">
                  <h4>Usability Testing</h4>
                  <h6>Read Case Study <fa-icon [icon]="['fas','chevron-right']"></fa-icon></h6>
              </div>
          </div>
      </div>
          <div class="col-md-4">
            <div class="step-image" routerLink="/projects/skill-development">
                <img src="/assets/images/projects/project3.png" alt="Case Study"/>
                <div class="text-hover">
                    <h4>Skill Development</h4>
                    <h6>Read Case Study <fa-icon [icon]="['fas','chevron-right']"></fa-icon></h6>
                </div>
            </div>
        </div>
        </div>
    </div>
  </div>
</section>
<!-- /Other Works -->
