<!-- App Development -->
<section class="app-development">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="case-study">
          <p>CASE STUDY</p>
        </div>
        <div class="heading">
          <h1><span class="text-primary">APP</span> DEVELOPMENT</h1>
          <p>Platform for designers, design aspirants/students, mentor to collaborate and share their ideology, design method, process and uplift their skills in the Design domain.</p>
        </div>
          <div class="web">
          <p>WHAT WE DID</p>
        </div>
          <ul class="dev">
          <li>UX Research</li>
          <li>UI Design</li>
          <li>Android & iOS</li>
          <li>Back End Development</li>
          </ul>
      </div>
      <div class="col-md-8">
        <img src="/assets/images/projects/app-development/app-dev.png" alt="Native App Development"/>
      </div>
    </div>
  </div>
  </section>
  <!-- App Development -->

  <!-- About Project -->
<section class="about-project">
<div class="container">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-5">
         <h1>ABOUT PROJECT</h1>
    </div>
    <div class="col-md-6">
        <p>The user base was scattered across multiple segments of "Students, Mentors, Designers" the requirement 
          was to service every segment of the user differently. Some were using the application to only browse through 
          or consume the information while others were active participants who contributed to the content. The framework had to 
          be chosen carefully to cater all the needs seemlessly.
        </p>
    </div>
  </div>
</div>
</section>
<!-- About Project -->

<!-- Platform we used -->
<section class="platform">
  <div class="container">
    <h1>PLATFORM WE USED</h1>
    <p>Native platforms were chosen based on the User Research to cover all the user segments
    </p>
    <div class="row">
      <ul class="list-icons">
          <li>
            <fa-icon [icon]="['fab','android']"></fa-icon>
            <p>Android</p>
          </li>
          <li>
            <fa-icon [icon]="['fab','apple']"></fa-icon>
            <p>iOS</p>
          </li>
          </ul>
          </div>
  </div>
</section>
<!-- Platform we used -->

<!-- Framework we used -->
<section class="framework">
  <div class="container">
     <h1>FRAMEWORK WE USED</h1>
     <p>We had chosen React Native & ReactJS with Microservices (Spring Boot) to service all the UI interfaces.</p>
        <div class="row">
            <ul class="list-icons">
                <li>
                    <div class="step-image1">
                        <img src="/assets/images/services/fdicon8.png" alt="" />
                        <p>React JS</p>
                    </div>
                </li>
            </ul>
        </div>
  </div>
</section>
<!-- Framework we used -->

<!-- What we did -->
<!--
<section class="what-we-done">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <h1>What we did</h1>
        <p>Parallel development for 
        </p>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-6">
        <ul class="list">
          <li>but lack the features to get requirements coordinate with customers provide quote sign 
              SLA deliver seamless service Marriages
          </li>
          <li>but lack the features to get requirements coordinate with customers provide quote sign 
              SLA deliver seamless service Marriages
          </li>
          <li>but lack the features to get requirements coordinate with customers provide quote sign 
              SLA deliver seamless service Marriages
          </li>
          <li>but lack the features to get requirements coordinate with customers provide quote sign 
              SLA deliver seamless service Marriages
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
-->
<!-- What we done -->

<!-- Web image -->
<section class="web-image">
  <div class="container">
    <div class="image">
       <img src="/assets/images/projects/app-development/app.png" alt="UX consulting"/>
    </div>
  </div>
</section>
<!-- Web image -->

<!-- Other Works -->
<section class="other-works">
  <div class="container">
    <div class="other-works-heading">
        <h3>OTHER WORKS</h3>
    </div>
    <div class="other-works-body">
        <div class="row space">
          <div class="col-md-4">
            <div class="step-image" routerLink="/projects/event-management">
              <img src="/assets/images/projects/project1.png" alt="Case Study"/>
              <div class="text-hover">
                  <h4>Event Management</h4>
                  <h6>Read Case Study <fa-icon [icon]="['fas','chevron-right']"></fa-icon></h6>
              </div>
          </div>
        </div>
          <div class="col-md-4">
            <div class="step-image" routerLink="/projects/networking">
              <img src="/assets/images/projects/project2.png" alt="Case Study"/>
              <div class="text-hover">
                  <h4>Network Scalability</h4>
                  <h6>Read Case Study <fa-icon [icon]="['fas','chevron-right']"></fa-icon></h6>
              </div>
          </div>
          </div>
          <div class="col-md-4">
            <div class="step-image" routerLink="/projects/skill-development">
                <img src="/assets/images/projects/project3.png" alt="Case Study"/>
                <div class="text-hover">
                    <h4>Skill Development</h4>
                    <h6>Read Case Study <fa-icon [icon]="['fas','chevron-right']"></fa-icon></h6>
                </div>
            </div>
        </div>
        </div>
    </div>
  </div>
</section>
<!-- /Other Works -->
