@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import '../../../../scss/colors';

/* App Development */
.app-development{
    .case-study{
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        padding-top: 80px;
    }
    .heading{
        font-family: 'Roboto', sans-serif;
        h1{
            font-size: 60px;
            font-weight: 400;
        }
        p{
            color: #575757;
            font-size: 16px;
            text-align: justify;
        }
    }
    .web{
        p{
            color: #575757;
            font-family: 'Roboto', sans-serif;
            font-size: 16px;
            padding-top: 40px;
        }
    }
    .dev{
        list-style: none;
        padding: 0;
        li{
            padding-right: 15px;
            display: inline-block;
            color: #000000;
            font-size: 16px;
            &:last-child{
                padding-right: 0;
            }
        }
    }
    img{
        width: 100%;
        height: 700px;
    }
}

@include media-breakpoint-down(md) {
    .app-development{
        .case-study{
            font-size: 13px;
            padding-top: 50px;
        }
        .heading{
            h1{
                font-size: 40px;
            }
            p{
                font-size: 13px;
                line-height: 25px;
            }
        }
        .web{
            p{
                font-size: 13px;
            }
        }
        .dev{
            li{
                font-size: 13px;
            }
        }
        img{
            width: 100%;
            height: auto;
        }
    }
}

/*About Project */
.about-project{
    padding-top: 50px;
    padding-bottom: 50px;
    h1{
        font-family: 'Roboto', sans-serif;
        font-size: 60px;
        font-weight: 400;
    }
    p{
        color: #575757;
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        text-align: justify;
    }
}

@include media-breakpoint-down(md) {
    .about-project{
        padding-top: 0px;
        padding-bottom: 30px;
        h1{
            font-size: 40px;
        }
        p{
            font-size: 13px;
            line-height: 25px;
        }
    }
}

/* Platform we used */
.platform{
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #484848;
    color: #ffffff;
    h1{
        font-family: 'Roboto', sans-serif;
        font-size: 60px;
        font-weight: lighter;
        padding-bottom: 20px;
    }
    p{
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        font-weight: normal;
        text-align: justify;
    }
    .list-icons{
        padding-top: 20px;
        list-style: none;
        li{
            padding-right: 38px;
            display: inline-block;
        }
        fa-icon{
            font-size: 50px;
            vertical-align: middle;
            min-width: 26px;
            padding-right: 26px;
            display: inline-block;
            color: #C44F6E;
            padding: 10px;
        }
        p{
            text-align: center;
        }
    }
}

@include media-breakpoint-down(md) {
.platform{
    padding-top: 30px;
    padding-bottom: 30px;
    h1{
        font-size: 40px;
        padding-bottom: 10px;
    }
    p{
        font-size: 13px;
        line-height: 25px;
    }
}
}

/* Framework we used */
.framework{
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #FCEFF3;
    h1{
        font-family: 'Roboto', sans-serif;
        font-size: 60px;
        font-weight: lighter;
    }
    p{
        padding-top: 30px;
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        color: #575757;
        font-weight: normal;
        text-align: justify;
    }
    h3{
        color: #000000;
        font-size: 20px;
        margin-bottom: 20px;
        margin-top: 20px;
    }
    .list-icons{
        list-style: none;
        padding: 0;
        li{
            padding-right: 38px;
            display: inline-block;
            padding-left: 15px;
        }
        p{
            color: #000000;
            text-align: center;
        }
    }
}

@include media-breakpoint-down(md) {
    .framework{
        h1{
            font-size: 40px;
        }
        p{
            padding-top: 10px;
        }
        .list-icons{
            li{
                padding-right: 50px;
            }
        }
    }
}

/* What we done */
.what-we-done{
    padding-top: 50px;
    padding-bottom: 50px;
    h1{
        font-family: 'Roboto', sans-serif;
        font-size: 60px;
        font-weight: lighter;
    }
    p{
        color: #575757;
        padding-top: 30px;
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        font-weight: normal;
        text-align: justify;
    }
    .list{
        padding-top: 60px;
        li{
        padding-top: 20px;
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        color: #575757;
        font-weight: normal;
        }
    }
}

@include media-breakpoint-down(md) {
    .what-we-done{
        h1{
            font-size: 40px;
        }
        p{
            padding-top: 10px;
        }
    .list{
        padding-top: 10px;
    }
}
}

/* Web image */
.web-image{
    background-color: #DF3F6F;
    .image{
        img{
              width: 100%;
              height: auto;
}
}
}
