@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import '../../../../scss/colors';

/* Social review */
.social-review{
    padding-top: 40px;
    .heading{
        padding-top: 60px;
        h1{
            font-size: 50px;
            font-weight: 400;
            font-family: 'Noto Serif JP', serif;
            color: #15A450;
        }
        h3{
            font-size: 40px;
            font-weight: 400;
            padding-bottom: 10px;
        }
        p{
            font-size: 14px;
            font-weight: 400;
            color: #5C5C5C;
            text-align: justify;
        }
        .background{
            img{
            width: 100%;
            height: 400px;
            }
        }
    }
    .img{
    img{
        margin-top: 50px;
        width: 110%;
        height: auto;
    }
}
}

@include media-breakpoint-down(md) {
.social-review{
    padding-bottom: 40px;
    .heading{
        padding-top: 0px;
        h1{
            font-size: 30px;
            margin-bottom: 15px;
        }
        h3{
            font-size: 25px;
        }
        p{
            font-size: 13px;
            line-height: 20px;
            margin-bottom: 0;
        }
        .background{
            img{
            width: 100%;
            height: 200px;
            }
        }
        }
        .img{
            text-align: center;
        img{
            width: 80%;
            height: auto;
        }
    }
    }
}

/*About Project */
.about-project{
    padding-bottom: 50px;
    padding-top: 50px;
    background-color: #15A450;
    color: #ffffff;
    h1{
        font-size: 40px;
        font-weight: 400;
        font-family: 'Noto Serif JP', serif;
    }
    p{
        font-size: 14px;
        font-weight: 400;
        text-align: justify;
    }
    .list{
        list-style: none;
        padding: 0;
        li{
            padding-top: 60px;
            padding-right: 80px;
            display: inline-block;
            &:last-child{
                padding-right: 0;
            }
            h3{
                font-size: 15px;
                font-weight: 400;
            }
            p{
                font-size: 15px;
                font-weight: 400;
            }
        }
    }
}

@include media-breakpoint-down(md) {
.about-project{
    padding-bottom: 30px;
    padding-top: 30px;
        h1{
            font-size: 25px;
            margin-bottom: 15px;
        }
        p{
            font-size: 13px;
            line-height: 20px;
        }
        .list{
            li{
                padding-top: 40px;
                h3{
                    font-size: 13px;
                }
                p{
                    font-size: 13px;
                }
            }
        }
    }
}

/* Process */
// .process{
//     padding-top: 50px;
//     padding-bottom: 50px;
//     h1{
//         font-size: 40px;
//         font-weight: 400;
//         font-family: 'Noto Serif JP', serif;
//         padding-bottom: 50px;
//     }
//     h6{
//         font-size: 24px;
//         font-weight: 400;
//         font-family: 'Noto Serif JP', serif;
//         color: #808080;
//         padding-bottom: 10px;
//     }
//     p{
//         font-size: 14px;
//         font-weight: 400;
//     }
//     .step-image1 img {
//         height: auto;
//         width: auto;
//         padding-bottom: 15px;
//         margin-left: 15px;
//         margin-right: auto;
//     }
// }

// @include media-breakpoint-down(md) {
// .process{
//         h1{
//             font-size: 25px;
//             padding-bottom: 20px;
//         }
//         h6{
//             font-size: 17px;
//         }
//         p{
//             font-size: 13px;
//         }
//         .step-image1 img {
//             margin-left: 0px;
//         }
//         .col-sm-3{
//             //width: 40%;
//             padding-left: 40px;
//             padding-bottom: 20px;
//         }
//     }
// }

/* Research */
.research{
    //padding-top: 50px;
    padding-bottom: 50px;
    background-color: #15A450;
    color: #ffffff;
    h1{
        font-size: 40px;
        font-weight: 400;
        font-family: 'Noto Serif JP', serif;
        padding-bottom: 20px;
    }
    h3{
        font-size: 24px;
        font-weight: 400;
        font-family: 'Noto Serif JP', serif;
        padding-bottom: 10px;
    }
    p{
        font-size: 14px;
        font-weight: 400;
        padding-bottom: 10px;
        text-align: justify;
        //color: #CBCBCB;
    }
}

@include media-breakpoint-down(md) {
.research{
        //padding-top: 30px;
        padding-bottom: 30px;
        h1{
            font-size: 25px;
            padding-bottom: 0px;
        }
        h3{
            font-size: 17px;
            margin-bottom: 10px;
            margin-top: 10px;
            padding-bottom: 0px;
        }
        p{
            font-size: 13px;
            padding-bottom: 0px;
            line-height: 20px;
        }
    }
}

/* Challenge & needs */
.challenges-needs{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #3B445B;
    h3{
        font-size: 40px;
        font-weight: 400;
        font-family: 'Noto Serif JP', serif;
        padding-bottom: 20px;
        color: #ffffff;
    }
    p{
        font-size: 14px;
        font-weight: 400;
        color: #CBCBCB;
    }
}

@include media-breakpoint-down(md) {
.challenges-needs{
    padding-top: 30px;
    padding-bottom: 30px;
        h3{
            font-size: 25px;
            padding-top: 20px;
            padding-bottom: 10px;
        }
        p{
            font-size: 13px;
        }
    }
}

/* Interface design */
.interface{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #FAFAFA;
    h1{
        font-size: 40px;
        font-weight: 400;
        font-family: 'Noto Serif JP', serif;
        padding-bottom: 20px;
    }
}

@include media-breakpoint-down(md) {
.interface{
        padding-top: 30px;
        padding-bottom: 30px;
        h1{
            font-size: 25px;
        }
        .step-image img{
            width: 100%;
            height: auto;
        }
    }
}

/* Design system */
.design-system{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #FAFAFA;
    h1{
        font-size: 40px;
        font-weight: 400;
        font-family: 'Noto Serif JP', serif;
        padding-bottom: 20px;
    }
}

@include media-breakpoint-down(md) {
.design-system{
            padding-top: 30px;
            padding-bottom: 30px;
            h1{
                font-size: 25px;
            }
            .step-image img{
                width: 100%;
                height: auto;
            }
        }
}

/* Icons & illustration */
.icons{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #FAFAFA;
    h1{
        font-size: 40px;
        font-weight: 400;
        font-family: 'Noto Serif JP', serif;
        padding-bottom: 20px;
    }
}

@include media-breakpoint-down(md) {
.icons{
            padding-top: 30px;
            padding-bottom: 30px;
            h1{
                font-size: 25px;
            }
            .step-image img{
                width: 100%;
                height: auto;
            }
        }
}    

/*  Web view */
.web-view{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #3B445B;
    .heading{
    h1{
        font-size: 40px;
        font-weight: 400;
        font-family: 'Noto Serif JP', serif;
        padding-bottom: 30px;
        color: #ffffff;
    }
    .step-image{
        text-align: center;
    img{
        width: 80%;
        padding-bottom: 100px;
    }
}
}
}
  @include media-breakpoint-down(md) {
.web-view{
         padding-top: 30px;
         padding-bottom: 20px;
         .heading{
        h1{
            font-size: 25px;
        }
        .step-image{
            text-align: center;
        img{
            width: 80%;
            padding-bottom: 80px;
        }
    }
    }
    .col-md-3{
        width: 50%;
        margin-bottom: 40px;
        margin-top: 10px;
    }
}
}
