<!-- Child  care portal-->
<section class="child-care">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="heading">
        <h1>Child Care Portal</h1>
        <p>A worldwide NGO approached us for thier PoC on tablet based application for children in under-previlidged 
          countries. The application would be used on shared tablets by multiple children.
        </p>
      </div>
    </div>
    </div>
  </div>
</section>
<!-- Child  care portal-->

 <!-- image -->
<div class="image">
  <div class="step-image">
    <img src="/assets/images/projects/child-care/child-care.png" />
  </div>
</div>
 <!-- image -->

  <!-- About Project -->
<section class="about-project">
  <div class="container">
    <div class="heading">
      <h1>About Project</h1>
    </div>
    <div class="row">
      <div class="col-md-5">
        <p>Application for children in under-previlidged countries, to be used under guidance of the NGO for 
          learning, interaction with sponsor and community.
        </p>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-5">
          <p>
          </p>
      </div>
    </div>
    <ul class="list">
      <li>
        <h3>PLATFORM</h3>
        <p>Android App</p>
      </li>
      <li>
        <h3>SEGMENT</h3>
        <p>Education</p>
      </li>
    </ul>
  </div>
  </section>
  <!-- About Project -->

  <!-- Solution -->
  <section class="solution">
    <div class="container">
    <div class="heading">
      <h1>Solution</h1>
    </div>
    <div class="row">
      <div class="col-md-5">
        <p>Easy login with facial recognition<br>
        Simple and Enjoyable interactive games for learning<br>
        Bonding with the sponsor<br>
        Different solutions for diffent age band<br>
        Remote data loading to allow usage even in regions of no network connectivity</p>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-5">
        <p>Our solutions were to enable children using the app intrinsic motivation and without any difficulties 
        </p>
        <div class="image2">
          <img src="/assets/images/projects/child-care/solution.png" alt=" "/>
        </div>
      </div>
    </div>
  </div>
  </section>
  <!-- Solutions -->

<!-- Other Works -->
<section class="other-works">
  <div class="container">
    <div class="other-works-heading">
        <h3>Other Works</h3>
    </div>
    <div class="other-works-body">
        <div class="row space">
          <div class="col-md-4">
            <div class="step-image" routerLink="/projects/web-development">
                <img src="/assets/images/projects/project7.png" alt="Case Study"/>
                <div class="text-hover">
                    <h4>Website for Start-Up</h4>
                    <h6>Read Case Study <fa-icon [icon]="['fas','chevron-right']"></fa-icon></h6>
                </div>
            </div>
        </div>
          <div class="col-md-4">
              <div class="step-image" routerLink="/projects/health">
                  <img src="/assets/images/projects/project5.png" alt="Case Study"/>
                  <div class="text-hover">
                      <h4>Healthy Buy</h4>
                      <h6>Read Case Study <fa-icon [icon]="['fas','chevron-right']"></fa-icon></h6>
                  </div>
              </div>
          </div>
          <div class="col-md-4">
            <div class="step-image" routerLink="/projects/skill-development">
                <img src="/assets/images/projects/project3.png" alt="Case Study"/>
                <div class="text-hover">
                    <h4>Skill Development</h4>
                    <h6>Read Case Study <fa-icon [icon]="['fas','chevron-right']"></fa-icon></h6>
                </div>
            </div>
        </div>
        </div>
    </div>
  </div>
</section>
<!-- /Other Works -->
