@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import '../../../../scss/colors';

/* Child care portal */
.child-care{
        padding-top: 50px;
        padding-bottom: 20px;
    .heading{
        h1{
            font-size: 70px;
            font-weight: 400;
            font-family: 'Libre Baskerville', serif;
        }
        p{
            color: #5C5C5C;
            font-size: 15px;
            font-weight: 400;
            font-family: 'Roboto Slab', serif;
            text-align: justify;
        }
    }
}

@include media-breakpoint-down(md) {
    .child-care{
        padding-top: 30px;
        .heading{
        h1{
            font-size: 40px;
        }
        p{
            font-size: 13px;
            line-height: 25px;
        }
    }
    }
}


/*About Project */
.about-project{
    padding-bottom: 30px;
    padding-top: 50px;
    background-color: #E3E3E3;
    h1{
        font-weight: 300;
        font-family: 'Inter', sans-serif;
        font-size: 40px;
        padding-bottom: 20px;
    }
    p{
        color: #5C5C5C;
        font-size: 15px;
        font-weight: 400;
        font-family: 'Roboto Slab', serif;
        text-align: justify;
    }
    .list{
        list-style: none;
        padding: 0;
        li{
            padding-top: 60px;
            padding-right: 80px;
            display: inline-block;
            &:last-child{
                padding-right: 0;
            }
            h3{
                font-weight: 400;
                font-family: 'Roboto Slab', serif;
                font-size: 15px;
                color: #707070;
            }
            p{
                font-weight: 400;
                font-family: 'Roboto Slab', serif;
                font-size: 15px;
                color: #000000;
            }
        }
    }
}

@include media-breakpoint-down(md) {
    .about-project{
        h1{
            font-size: 25px;
            padding-bottom: 10px;
        }
        p{
            font-size: 13px;
            line-height: 25px;
        }
        .list{
            li{
                padding-top: 40px;
                h3{
                    font-size: 13px;
                }
                p{
                    font-size: 13px;
                }
            }
        }
    }
}

/* Solution */
.solution{
    padding-bottom: 50px;
    padding-top: 50px;
    background-color: #F4F4F4;
    h1{
        font-size: 40px;
        font-weight: 300;
        font-family: 'Inter', sans-serif;
        padding-bottom: 20px;
    }
    p{
        padding-bottom: 0px;
        font-weight: 400;
        font-family: 'Roboto Slab', serif;
        font-size: 14px;
        color: #5C5C5C;
        text-align: justify;
    }
    .image2{
        img{
            width: 100%;
            height: auto;
            transition-property: width, height;
            transition-duration: 1s;
            filter: #606A74; 
            -webkit-filter: grayscale(1);
        }
        img:hover{
            filter: none; 
            -webkit-filter: grayscale(0);
        }
    }
}

@include media-breakpoint-down(md) {
    .solution{
        padding-bottom: 50px;
        padding-top: 50px;
        h1{
            font-size: 25px;
            padding-bottom: 10px;
        }
        p{
            padding-bottom: 0px;
            font-size: 13px;
            line-height: 25px;
        }
    }
}
