<div class="works">
    <div class="banner">
        <div class="container">
            <div class="row">
                <div class="col-md-6 ordertwo">
                    <div class="banner-header">
                        <h2>Child Care Portal</h2>
                        <h6>UX <span>. UI .</span><span> Mobile </span><span>. Web .</span><span> B2C</span></h6>
                    </div>
                </div>
                <div class="col-md-6 orderone">
                    <div class="container">
                        <img src="./assets/images/works/child4.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="about-project">
        <div class="row">
            <div class="col-md-4">
                <div class="container">
                    <h2>About Project</h2>
                </div>
            </div>
            <div class="col-md-8">
                <div class="container">
                    <p>A worldwide NGO approached us for thier PoC on tablet based application for children in under-previlidged countries which will be used on shared tablets by multiple children.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="container">
                    <h2>Approach</h2>
                </div>
            </div>
            <div class="col-md-8">
                <div class="container">
                    <p>Kids should be encouraged and motivated through our designs which will help them to think and grow with joy in their early age</p>
                </div>
            </div>
        </div>
    </div>
    <div class="image-event">
        <img src="./assets/images/works/child2.jpg">
    </div>
    <div class="target-strategy">
        <div class="container">
            <div class="target">
                <div class="row">
                    <div class="col-md-4">
                        <h6>Target Audience</h6>
                    </div>
                    <div class="col-md-8">
                <p>- Kids of age 6 - 12</p>
                <p>- Coordinators who takes care of kids</p>
                    </div>
                </div>
            </div>
            <div class="strategy">
                <div class="row">
                    <div class="col-md-4">
                        <h6>Strategy</h6>
                    </div>
                    <div class="col-md-8">
                        <p>The platform should encourage students and motivate them in what they do and enable them to do things that makes them happy with the help of the technology.</p> 
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="needs-challenges">
        <div class="row">
            <div class="container">
            <div class="col-md-8">
                    <h2>The Challenge</h2>
                    <hr class="line"> 
                    <p>The challenge was to create a intuitive prototype which the kids can use to create new things and show their love for their donors.</p>
                    <div class="needs">
                        <div class="needs-right">
                           <h2>Solutions</h2>
                           <hr class="line"> 
                      <p>- Character specific interface themes. <br> - Simple and Enjoyable interactive games for learning reducing difficulty. <br>  - Functionalities that lets them show their love and engage with their sponsors in a much easy and fun way. <br> - Age specific features to cater a larger crowd. <br> - Remote data loading to allow usage even in regions of no network connectivity.</p>
                        </div>
                     </div>
                </div>
            </div>
        </div>
    </div>
    <div class="background">
    </div>
    <div class="other-case-studies">
        <div class="row">
            <div class="col-md-6 left">
                <h2>Other Case Studies</h2>
                <div class="button">
                    <div class="btn btnn" routerLink="/works">See All Works</div>
                </div>
            </div>
            <div class="col-md-6 right">
                <ngu-carousel class="blog-carousel" #blogCarousel [inputs]="blogsCarouselConfig" [dataSource]="blogs">
                    <ngu-tile *nguCarouselDef="let item; let i = index">
                        <div class="class">
                            <div class="image">
                                <a [routerLink]="item.url"> <img [src]="item.img"></a>
                            </div>
                            <h3><a [routerLink]="item.url">{{ item.title }}</a></h3>
                            <h4>{{ item.sub }}</h4>
                        </div>
                    </ngu-tile>
                    <ul class="ngucarousel-indicator" NguCarouselPoint>
                      <li *ngFor="let pointer of blogCarousel.pointNumbers; let i = index">
                        <a (click)="blogCarousel.moveTo(i)" [class.active]="blogCarousel.activePoint == i">&nbsp;</a>
                      </li>
                    </ul>
                </ngu-carousel>
            </div>
        </div>
    </div>
    <div class="craft">
        <div class="container">
          <div class="row">
             <div class="col-md-4">
             <h2>Let's craft design together!</h2>
          </div>
             <div class="button">
                 <div class="btn-white" routerLink="/contact-us">Let's Talk</div>
             </div>
        </div>
        </div>
     </div>
</div>