<div class="projects">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Our <span class="highlight">Case Studies</span></h2>
                <p>We have worked in stages of incubation, revival and next leap
                </p>
            </div>
        </div>
        <div class="row space">
            <div class="col-md-4">
                <div class="step-image" routerLink="/projects/event-management">
                    <img src="/assets/images/projects/project1.png" alt="Case Study"/>
                    <div class="text-hover">
                        <h4>Event Management</h4>
                        <h6>Read Case Study  <fa-icon [icon]="['fas','chevron-right']"></fa-icon></h6>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="step-image" routerLink="/projects/networking">
                    <img src="/assets/images/projects/project2.png" alt="Case Study"/>
                    <div class="text-hover">
                        <h4>Network Scalability</h4>
                        <h6>Read Case Study <fa-icon [icon]="['fas','chevron-right']"></fa-icon></h6>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="step-image" routerLink="/projects/skill-development">
                    <img src="/assets/images/projects/project3.png" alt="Case Study"/>
                    <div class="text-hover">
                        <h4>Skill Development</h4>
                        <h6>Read Case Study  <fa-icon [icon]="['fas','chevron-right']"></fa-icon></h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="row ">
            <div class="col-md-4">
                <div class="step-image" routerLink="/projects/social-review">
                    <img src="/assets/images/projects/project4.png" alt="Case Study"/>
                    <div class="text-hover">
                        <h4>Social Marketing</h4>
                        <h6>Read Case Study  <fa-icon [icon]="['fas','chevron-right']"></fa-icon></h6>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="step-image" routerLink="/projects/health">
                    <img src="/assets/images/projects/project5.png" alt="Case Study"/>
                    <div class="text-hover">
                        <h4>Healthy Buy</h4>
                        <h6>Read Case Study  <fa-icon [icon]="['fas','chevron-right']"></fa-icon></h6>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="step-image" routerLink="/projects/construction">
                    <img src="/assets/images/projects/project6.png" alt="Case Study"/>
                    <div class="text-hover">
                        <h4>Construction Portal</h4>
                        <h6>Read Case Study  <fa-icon [icon]="['fas','chevron-right']"></fa-icon></h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="step-image" routerLink="/projects/web-development">
                    <img src="/assets/images/projects/project7.png" alt="Case Study"/>
                    <div class="text-hover">
                        <h4>Website for startup</h4>
                        <h6>Read Case Study  <fa-icon [icon]="['fas','chevron-right']"></fa-icon></h6>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="step-image" routerLink="/projects/child-care">
                    <img src="/assets/images/projects/project8.png" alt="Case Study"/>
                    <div class="text-hover">
                        <h4>Child Care</h4>
                        <h6>Read Case Study  <fa-icon [icon]="['fas','chevron-right']"></fa-icon></h6>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="step-image" routerLink="/projects/health-care">
                    <img src="/assets/images/projects/project9.png" alt="Case Study"/>
                    <div class="text-hover">
                        <h4>Health Care Portal</h4>
                        <h6>Read Case Study  <fa-icon [icon]="['fas','chevron-right']"></fa-icon></h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="step-image" routerLink="/projects/car-usability">
                    <img src="/assets/images/projects/project10.png" alt="Case Study"/>
                    <div class="text-hover">
                        <h4>Usability Testing</h4>
                        <h6>Read Case Study  <fa-icon [icon]="['fas','chevron-right']"></fa-icon></h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>