<!-- <div class="searvice-jumbotron">
    <div class="container"> -->
        <!-- <div class="searvice-jumbotron-inner"> -->
            <!-- <div class="row">
                <div class="col-md-5">
                    <h1><span class="highlight"> UI</span> DEVELOPMENT</h1>
                    <p>The design comes to life when the robust technologies are put in place to experience the best</p>
                        <h3><img src="/assets/images/services/ui-dev/ui-1.svg" alt="" /><span class="list">Business Understanding</span></h3>
                        <h3><img src="/assets/images/services/ui-dev/ui-2.svg" alt="" /><span class="list">Platform</span></h3>
                        <h3><img src="/assets/images/services/ui-dev/ui-3.svg" alt="" /><span class="list">Framework</span></h3>
                        <h3><img src="/assets/images/services/ui-dev/ui-4.svg" alt="" /><span class="list">Manage</span></h3>
                        <h3><img src="/assets/images/services/ui-dev/ui-5.svg" alt="" /><span class="list">Testing</span></h3>
                </div>
                <div class="col-md-6">
                    <picture>
                    <div class="step-image1 head">
                        <img src="/assets/images/services/ui-dev/fd4.png" alt="" />
                    </div>
                </picture>
                </div>
            </div> -->
        <!-- </div> -->
    <!-- </div>
</div> -->

<section class="ui">
    <div class="container">
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-7">
          <h1>UI DEVELOPMENT</h1>
          <p>It’ll aid us to understand your objectives. We need to get to the bottom
            of who you are, what you stand for and who you stand besid
          </p>
        </div>
        <div class="col-md-2"></div>
      </div>
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-3">
          <h3><img src="/assets/images/services/ui-dev/icon-1.svg" /><span>Understanding Business</span></h3>
        </div>
        <div class="col-md-2">
          <h3><img src="/assets/images/services/ui-dev/icon-2.svg" /><span>Platform</span></h3>
        </div>
        <div class="col-md-2">
          <h3><img src="/assets/images/services/ui-dev/icon-3.svg" /><span>Framwork</span></h3>
        </div>
        <div class="col-md-2">
          <h3><img src="/assets/images/services/ui-dev/icon-4.svg" /><span>Manage</span></h3>
        </div>
        <div class="col-md-2">
          <h3><img src="/assets/images/services/ui-dev/icon-5.svg" /><span>Testing</span></h3>
        </div>
        <!-- <div class="col-md-1"></div> -->
      </div>
    </div>
  </section>

<div class="spacing">
    <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h5>BUSINESS UNDERSTANDING</h5>
                    <p>When it comes to selecting a platform it can be challenging, since that defines how the product can or cannot expand in future without technical boundaries. 
                        We strongly believe technology should aid a Product in scaling higher and not cripple the growth in any way. Based on the product vision and road map appropriate technology needs to be selected.</p>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-5">
                    <div class="step-image2 image">
                        <img src="/assets/images/services/ui-dev/image-2.svg" alt="" />
                    </div>
                </div>
            </div>
    </div>
</div>

<div class="service-step1">
    <div class="container">
        <div class="row">
           <div class="col-12">
           <h5>PLATFORM EXPERTISE</h5>
           <!-- <p></p> -->
           </div>
       </div>
        <div class="row">
            <ul class="list-icons">
                <li>
                    <fa-icon [icon]="['fas','desktop']"></fa-icon>
                        <p>Websites</p>
                </li>
                <li>
                        <fa-icon [icon]="['fas','mobile-alt']"></fa-icon>
                        <p>Hybrid Mobile Apps</p>
                </li>
                <li>
                        <fa-icon [icon]="['fab','android']"></fa-icon>
                        <p>Android</p>
                </li>
                <li>
                        <fa-icon [icon]="['fab','windows']"></fa-icon>
                        <p>Windows</p>
                </li>
                <li>
                       <fa-icon [icon]="['fab','apple']"></fa-icon>
                        <p>iOS</p>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="service-step2">
    <div class="container">
        <div class="row">
          <div class="col-12">
           <h5>LANGUAGES & FRAMEWORK</h5>
          <p>We choose the right framework to suite the business needs in terms: ease of use, scalability, interoperability with standard technology, adaptability with emerging technologies and integration with back-end system.</p>
        </div>
        </div>
        <!-- <h3></h3> -->
        <div class="row">
            <ul class="list-icons">
                <li>
                    <div class="step-image1">
                        <img src="/assets/images/services/ui-dev/fdicon7.png" alt="" />
                        <p>HTML</p>
                    </div>
                </li>
                <li>
                    <div class="step-image1">
                        <img src="/assets/images/services/ui-dev/fdicon6.png" alt="" />
                        <p>Angular</p>
                    </div>
                </li>
                <li>
                    <div class="step-image1">
                        <img src="/assets/images/services/ui-dev/fdicon8.png" alt="" />
                        <p>React</p>
                    </div>
                </li>
                <li>
                    <div class="step-image1">
                        <img src="/assets/images/services/ui-dev/fdicon9.png" alt="" />
                        <p>Node</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="service-step3">
    <div class="container">
        <div class="row">
            <div class="col-md-5 m-first">
                <h5>CODES MANAGEMENT</h5>
                <p>We manage the code in Git repository with version control to allow multiple teams 
                    to colloborate in a distributed environment.</p>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-5 m-last">
                <div class="step-image">
                    <img src="/assets/images/services/ui-dev/image-3.svg" alt="" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 m-first">
                <h5>TESTING & IMPLEMENTATION</h5>
                <p>We never settle for anything less than best, we iterate with the business and 
                    end-users to refine the interface periodically. 
                    With focus on cross-platform and cross-browser testing to achieve the best results.</p>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-5 m-last">
                <div class="step-image">
                    <img src="/assets/images/services/ui-dev/image-4.svg" alt="" />
                </div>
            </div>
        </div>
    </div>
</div>

<div class="service-step4">
    <div class="step-heading">
        <h4>OUR  SOLUTIONS  ARE  HELPING  AUDIENCE</h4>
        <div class="step-image">
            <img src="/assets/images/sample/line.svg" />
          </div>
    </div>
        <div class="case-study">
        <div class="body">
        <div class="shadow p-3 mb-5 bg-white rounded">
        <div class="row">
           <div class="col-md-4">
            <div class="step-image">
                <img src="/assets/images/services/ui-dev/fd3.png" alt="" />
            </div>
           </div>
           <div class="col-md-8">
               <div class="text">
               <h5>APP DEVELOPMENT</h5>
               <p>A community portal for Skill Development providing end-to-end solution 
                   for continious learning and collaboration. </p>
               <a routerLink="/projects/app-development"><h3>VIEW CASE STUDY  <fa-icon [icon]="['fas','chevron-right']"></fa-icon></h3></a>
              </div>
           </div>
        </div>
    </div>
    </div>
</div>

<!-- Services -->
<div class="services">
    <div class="container">
        <div class="services-heading">
            <h5>OTHER SERVICES</h5>
        </div>
        <div class="service-body">
            <div class="row">
                <div class="col-md-4">
                    <div class="service" routerLink="/services/user-experience">
                      <div class="service-icon">
                          <img src="/assets/images/home/user-experience.svg" alt="User Experience"/>
                      </div>
                      <h4>USER EXPERIENCE</h4>
                      <p>We believe research brings insights our team of design experts connect with your business and ‘dev team to build a better product</p>
                      <a class="btn">Show More</a>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="service" routerLink="/services/interface-design">
                      <div class="service-icon">
                        <img src="/assets/images/home/interface-design.svg" alt="Interface Design"/>
                      </div>
                      <h4>INTERFACE DESIGN</h4>
                      <p>Aesthetically good design can instil curiosity for the customers to move beyond the landing page. Make your website come alive with best UI</p>
                      <a class="btn">Show More</a>
                  </div>
                </div>
                <div class="col-md-4">
                    <div class="service" routerLink="/services/end-to-end">
                        <div class="service-icon">
                          <img src="/assets/images/home/end-to-end.svg" alt="End-to-End Development"/>
                        </div>
                        <h4>END TO END DEVELOPMENT</h4>
                        <p>We build products which are innovative scalable & modular to solve critical business problems. We use Java Spring, REST API, PHP, MongoDB, MySQL</p>
                        <a class="btn">Show More</a>
                      </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Services -->