<div class="searvice-jumbotron">
    <div class="container">
        <div class="searvice-jumbotron-inner">
            <div class="row">
                <div class="col-md-5">
                    <h5><span class="highlight"> UI</span> Development</h5>
                    <p>The design comes to life when the robust technologies are put in place to experience the best</p>
                        <h3><img src="/assets/images/services/Group 2858.png" alt="" /><span class="list1">Business Understanding</span></h3>
                        <h3><img src="/assets/images/services/Group 2859.png" alt="" /><span class="list2">Platform</span></h3>
                        <h3><img src="/assets/images/services/Group 2861.png" alt="" /><span class="list2">Framework</span></h3>
                        <h3><img src="/assets/images/services/Group 3425.png" alt="" /><span class="list3">Manage</span></h3>
                        <h3><img src="/assets/images/services/Group 2860.png" alt="" /><span class="list3">Testing</span></h3>
                </div>
                <div class="col-md-6">
                    <picture>
                    <div class="step-image1 head">
                        <img src="/assets/images/services/fd4.png" alt="" />
                    </div>
                </picture>
                </div>
            </div>
            <div class="row spacing">
                <div class="col-md-6">
                    <h5>Business <span class="highlight">Understanding</span></h5>
                    <p>When it comes to selecting a platform it can be challenging, since that defines how the product can or cannot expand in future without technical boundaries. 
                        We strongly believe technology should aid a Product in scaling higher and not cripple the growth in any way. Based on the product vision and road map appropriate technology needs to be selected.</p>
                </div>
                <div class="col-md-6">
                    <div class="step-image2 image">
                        <img src="/assets/images/services/fd.svg" alt="" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="service-step1">
    <div class="container">
        <div class="row">
            <div class="col-12">
           <h5>Platform Expertise</h5>
           <p></p>
        </div>
    </div>
        <div class="row">
            <ul class="list-icons">
                <li>
                    <fa-icon [icon]="['fas','desktop']"></fa-icon>
                        <p>Websites</p>
                </li>
                <li>
                        <fa-icon [icon]="['fas','mobile-alt']"></fa-icon>
                        <p>Mobile Apps</p>
                </li>
                <li>
                        <fa-icon [icon]="['fab','android']"></fa-icon>
                        <p>Android</p>
                </li>
                <li>
                        <fa-icon [icon]="['fab','windows']"></fa-icon>
                        <p>Windows</p>
                </li>
                <li>
                       <fa-icon [icon]="['fab','apple']"></fa-icon>
                        <p>iOS</p>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="service-step2">
    <div class="container">
        <div class="row">
            <div class="col-12">
          <h5><span class="highlight">Languages & </span>Framework <span class="highlight"></span></h5>
          <p>We choose the right framework to suite the business needs in terms: ease of use, scalability, interoperability with standard technology, adaptability with emerging technologies and integration with back-end system.</p>
        </div>
        </div>
        <h3></h3>
        <div class="row">
            <ul class="list-icons">
                <li>
                    <div class="step-image1">
                        <img src="/assets/images/services/fdicon7.png" alt="" />
                        <p>HTML</p>
                    </div>
                </li>
                <li>
                    <div class="step-image1">
                        <img src="/assets/images/services/fdicon6.png" alt="" />
                        <p>Angular</p>
                    </div>
                </li>
                <li>
                    <div class="step-image1">
                        <img src="/assets/images/services/fdicon8.png" alt="" />
                        <p>React</p>
                    </div>
                </li>
                <li>
                    <div class="step-image1">
                        <img src="/assets/images/services/fdicon9.png" alt="" />
                        <p>Node</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="service-step3">
    <div class="container">
        <div class="row">
            <div class="col-12">
           <h5>Codes Management</h5>
        </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <p>We manage the code in Git repository with version control to allow multiple teams to colloborate in a distributed environment.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h5><span class="highlight">Testing </span>& Implementation</h5>
                    <p>We never settle for anything less than best, we iterate with the business and end-users to refine the interface periodically. 
                        With focus on cross-platform and cross-browser testing to achieve the best results.</p>
            </div>
            <div class="col-md-6">
                <div class="step-image">
                    <img src="/assets/images/services/fd2.svg" alt="" />
                </div>
            </div>
        </div>
    </div>
</div>

<div class="service-step4">
        <div class="case-study">
        <div class="row">
           <div class="col-md-6">
            <div class="step-image">
                <img src="/assets/images/services/fd3.png" alt="" />
            </div>
           </div>
           <div class="col-md-6">
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10">
               <div class="text">
               <h5>App Development</h5>
               <p>A community portal for Skill Development providing end-to-end solution 
                   for continious learning and collaboration. </p>
               <a routerLink="/projects/app-development"><h3>View Case Study  <fa-icon [icon]="['fas','chevron-right']"></fa-icon></h3></a>
              </div>
            </div>
            <div class="col-md-1"></div>
            </div>
           </div>
        </div>
    </div>
</div>

<!-- Services -->
<div class="services">
    <div class="container">
        <div class="services-heading">
            <h5>Other Services</h5>
        </div>
        <div class="service-body">
            <div class="row">
                <div class="col-md-4">
                    <div class="service" routerLink="/services/user-experience">
                      <div class="service-icon">
                          <img src="/assets/images/services/one.png" alt="UX consulting"/>
                      </div>
                      <h4>USER EXPERIENCE</h4>
                      <p>We believe research brings insights our team of design experts connect with your business and ‘dev team to build a better product</p>
                      <a class="btn">Show More</a>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="service" routerLink="/services/interface-design">
                      <div class="service-icon">
                        <img src="/assets/images/services/two.png" alt="Interface Design"/>
                      </div>
                      <h4>INTERFACE DESIGN</h4>
                      <p>Aesthetically good design can instil curiosity for the customers to move beyond the landing page. Make your website come alive with best UI</p>
                      <a class="btn">Show More</a>
                  </div>
                </div>
                <div class="col-md-4">
                    <div class="service" routerLink="/services/end-to-end">
                        <div class="service-icon">
                          <img src="/assets/images/services/four.png" alt="End-to-End Development"/>
                        </div>
                        <h4>END TO END DEVELOPMENT</h4>
                        <p>We build products which are innovative scalable & modular to solve critical business problems. We use Java Spring, REST API, PHP, MongoDB, MySQL</p>
                        <a class="btn">Show More</a>
                      </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Services -->