@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
h2{
    font-size: 57px;
    font-family: Baskerville;
    @include media-breakpoint-down(md) {
        font-size: 36px;
    }
}
p{
    font-size: 16px;
    line-height: 30px;
    font-family: Muli;
    @include media-breakpoint-down(md) {
        font-size: 14px;
    }
}
h6{
    font-size: 36px;
    font-family: Muli;
    @include media-breakpoint-down(md) {
        font-size: 28px;
    }
} 
    .banner{
        background-color: #DDDDDD;
        padding-top: 140px;
        top: -100px;
        position: relative;
        height: 830px;
        padding: 350px 0px;
        img{
            position: absolute;
            width: 100%;
            margin-top: -15%;
            top: 20px;
            right: 20px;
        }
        h6{
            font-weight: 300;
            margin-top: 30px;
        }
        @include media-breakpoint-down(lg){
            .banner-header{
                padding: 15px 0px;
            }
            img{
                position: absolute;
                width: 100%;
                top: 20%;
                right: 20px;
            }
        }
        @include media-breakpoint-down(md){
            height: 650px;
            .banner-header{
                padding: 15px 0px;
            }
        }
        @include media-breakpoint-down(sm){
            .banner-header{
                padding: 150px 0px;
            }
            img{
                width: 100%;
                margin-top: -45%;
                margin-left: -40px;
            }
        }
    }
    .about-project{
        background-color: #FCFCFC;
        padding: 200px 0px;
        margin-top: -100px;
        .row{
            margin-right: 0;
            margin-left: 0;
        }
        p{
            font-size: 18px;
           line-height: 40px;
       }
        @include media-breakpoint-down(lg){
            padding: 200px 0px;
        }
        @include media-breakpoint-down(md){
            padding: 150px 0px;
        }
        @include media-breakpoint-down(sm){
            padding: 80px 0px;
        }
    }
    .image-event{
        img{
            width: 100%;
        }
        @include media-breakpoint-down(sm){
            img{
                width: 100%;
                //display: none !important;
            }  
        }
    }
    .green-image{
        //background-color: #E4F0EC;
        //padding: 100px 0px 100px 100px;
        img{
            width: 100%;
        }
    }
    .approach{
        background-color: #EBEBEB;
        color: #000000;
        padding: 150px 0px;
        p{
            font-size: 18px;
            font-family: Muli;
            line-height: 50px;
        }
        img{
            position: absolute;
            width: 100%;
            top: 20px;
            right: 20px;
        }
        @include media-breakpoint-down(lg){
            padding: 200px 0px;
        }
        @include media-breakpoint-down(md){
            padding: 150px 0px;
        }
        @include media-breakpoint-down(sm){
            h2{
                font-size: 36px;
                margin-bottom: 30px;
            }
            img{
                top: -25px;
                right: 45px;
            }
        }
    }
    .background{
        background-color: #FCFCFC;
        padding: 50px;
    }
    .target-strategy{
        background-color: #FCFCFC;
        color: #3D3D3D;
        padding: 150px 0px;
        .strategy{
            margin-top: 30px;
        }
        h6{
            font-size: 36px;
            font-family: Baskerville;
        }
        p{
             font-size: 18px;
            font-family: Muli;
            line-height: 40px;
        }
        @include media-breakpoint-down(sm){
            padding: 80px 0px;
        }
    }
    .needs-challenges{
        background-color: #EBEBEB;
        padding: 50px 0px;
        h1{
            color: #222222;
            font-size: 116px;
            font-family: Muli;
            margin-top: 100px;
        }
        h2{
            font-size: 56px;
            font-family: Baskerville;
            color: #222222;
            font-weight: 300;
        }
        h6{
            margin-bottom: 25px;
            font-family: Baskerville;
            font-size: 36px;
        }
        p{
            font-weight: 300;
             font-size: 18px;
            font-family: Muli;
        }
        .needs{
            height: 500px;
            overflow: auto;
        }
        ::-webkit-scrollbar {
            width: 0px;
        }
        .needs-right{
            padding: 100px 30px;
        }
        @include media-breakpoint-down(lg){
            padding: 50px 0px;
            h1{
                font-size: 100px;
            }
        }
        @include media-breakpoint-down(md){
            padding: 50px 0px;
            h1{
                font-size: 72px; 
            }
            h2{
                font-size: 36px;
            }
        }
        @include media-breakpoint-down(sm){
            padding: 0px 0px;
            .needs{
                height: 930px;
                overflow: hidden;
            }
            .needs-right{
                padding: 10px 0 0 0;
            }
        }
    }
    .research{
        padding: 80px 0px;
        color: #3D3D3D;
        h6{
            line-height: 55px;
            font-family: Baskerville;
            font-size: 36px;
        }
        p{
            font-family: Muli;
             font-size: 18px;
            line-height: 40px;
        }
        @include media-breakpoint-down(lg){
            padding: 80px 0px;
        }
        @include media-breakpoint-down(md){
            padding: 80px 0px;
            h6{
               font-size: 28px;
               line-height: 43px;
            }
        }
        @include media-breakpoint-down(sm){
            padding: 80px 0px;
        }
    }
    .work-description{
        padding: 80px 0px;
        color: #3D3D3D;
        background-color: #FAFAFA;
        h6{
            font-size: 36px;
            font-family: Baskerville;
            line-height: 55px;
            margin-top: 150px;
        }
        @include media-breakpoint-down(lg){
            padding: 80px 0px;
            img{
                width: 100%;
                margin-top: 100px;
            }
        }
        @include media-breakpoint-down(md){
            padding: 40px 0px;
            h6{
               font-size: 28px;
            }
        }
        @include media-breakpoint-down(sm){
            padding: 40px 0px;
            h6{
                margin-top: 20px;
             }
            img{
                width: 100%;
                margin-top: 50px;
            }
    }
    }
    .typography-image{
        background-color: #FAFAFA;
        text-align: center;
        padding: 100px 0px;
        @include media-breakpoint-down(lg){
            padding: 100px 0px;
            img{
                width: 110%;
                margin-top: 100px;
            }
        }
        @include media-breakpoint-down(md){
            padding: 75px 0px;
            img{
                width: 100%;
                margin-top: 100px;
            }
        }
        @include media-breakpoint-down(sm){
            padding: 50px 0px;
            img{
                width: 100%;
                margin-top: 50px;
            }
        }
    }
    .craft{
        background-color: #C3343C;
        padding-top: 40px;
        padding-bottom: 40px;
        h2{
            font-size: 57px;
            font-family: Baskerville;
            color: #FCFCFC;
        }
        .button{
            margin-top: 80px;
        }
        .btn-white{
            border: 2px solid #FFFFFF;
            color: #FCFCFC;
             font-size: 18px;
            padding: 8px;
            border-radius: 0px;
            font-family: Muli;
        }
        @include media-breakpoint-down(md){
            h2{
                font-size: 37px;
            }
        }
        @include media-breakpoint-down(sm){
            .button{
                margin-top: 50px;
               padding-left: 15px;
            }
        }
    }
    .other-case-studies{
        .row{
            margin-left: 0;
            margin-right: 0;
            .col-md-6.right{
                padding-left: 0;
                padding-right: 0;
            }
        }
       .left{
           padding: 40px 130px 80px 90px;
           background-color: #EBEBEB;
           h2{
            font-size: 57px;
            font-family: Baskerville;
            color: #282829;
            margin-top: 120px;
            margin-bottom: 80px;
        }
        .btnn{
            border: 2px solid #0D0D0D;
            border-radius: 0;
            color: #0D0D0D;
            cursor: pointer;
            font-size: 20px;
            font-family: Muli;
            &:hover{
                background-color: #C3343C;
                color: #FFFFFF;
                border: 2px solid #E2E2E2;
            }
        }
           @include media-breakpoint-down(md){
            padding: 100px 40px 80px 30px;
            h2{
                font-size: 30px;
                margin-top: 80px;
                margin-bottom: 40px;
            }
            .btn{
                font-size: 16px;
            }
           }
           @include media-breakpoint-down(sm){
            padding: 0px 40px 80px 20px;
           }
       }
       .right{
           .class{
               .image{
                   img{
                       width: 100%;
                   }
               }
               h3{
                font-size: 36px;
                font-family: Baskerville;
                margin: 40px 130px 20px 40px;
            }
            h4{
             font-family: Muli;
             font-size: 20px;
                margin: 0 0 10px 40px;
            }
           }
           @include media-breakpoint-down(md){
            .class{
                h3{
                    font-size: 24px;
                }
            }
           }
       }
    }

// Carousel
.item{
    padding: 0;
}
.ngucarousel-indicator{
    width: 100%;
    padding-bottom: 20px;
    padding-top: 30px;
    padding-left: 40px;
    li{
        display: inline-block;
        line-height: 22px;
        a{
            display: block;
            margin: 0 5px;
            width: 15px;
            height: 15px;
            border: 2px solid #FFF;
            background-color: #D0D0D0 !important;
            text-indent: -999px;
            overflow: hidden;
            border-radius: 10px;
            cursor: pointer;
            &.active{
                width: 11px;
                height: 11px;
                border: 8px solid #C3343C;
                background-color: #C3343C !important;
            }
        }
    }
}
::ng-deep .tile{
    border-radius: 15px;
    box-shadow: none !important;
}
@include media-breakpoint-down(sm) {
    .banner{
        img{
            width: 100%;
            margin-top: -48%;
        }
    }
    }