@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
h2{
    font-size: 56px;
    font-family: Baskerville;
    color: #3B3B3B;
    @include media-breakpoint-down(md) {
        font-size: 32px;
        padding-bottom: 15px;
    }
}
p{
    font-size: 18px;
    font-family: Muli;
    color: #3B3B3B;
    @include media-breakpoint-down(md) {
        font-size: 14px;
    }
}
h6{
    font-size: 24px;
    font-family: Muli;
    color: #3B3B3B;
    @include media-breakpoint-down(md) {
        font-size: 28px;
    }
}  
    .banner{
        background-color: #E4F0EC;
        padding-top: 140px;
        height: 775px;
        padding: 250px 0px;
        img{
            position: absolute;
            width: 70%;
            margin-top: -27%;
            top: 20px;
            right: 45px;
        }
        h6{
            font-weight: 300;
            font-size: 24px;
            margin-top: 50px;
        }
        @include media-breakpoint-down(lg){
            height: 732px;
            padding: 250px 0px;
            .banner-header{
                padding: 15px 0px;
            }
            img{
                margin-top: -10%;
            }
        }
        @include media-breakpoint-down(md){
            height: 520px;
            padding: 100px 0px;
            .banner-header{
                padding: 85px 0px;
            }
            img{
                margin-top: -5%;
            }
            h6{
                font-size: 20px;
            }
        }
        @include media-breakpoint-down(sm){
            height: 600px;
            padding: 400px 0px;
            .banner-header{
                padding: 150px 0px;
            }
            img{
                width: 100%;
                margin-top: -65%;
                margin-left: -40px;
            }
        }
    }
    .about-project{
        background-color: #FCFCFC;
        padding: 200px 0px;
        p{
             font-size: 18px;
            line-height: 40px;
        }
        @include media-breakpoint-down(lg){
            padding: 150px 0px;
        }
        @include media-breakpoint-down(md){
            padding: 100px 0px;
        }
        @include media-breakpoint-down(sm){
            padding: 80px 0px;
        }
    }
    .image-event{
        img{
            width: 100%;
        }
        @include media-breakpoint-down(sm){
            img{
                width: 100%;
                display: none !important;
            }  
        }
    }
    .approach{
        background-color: #EBEBEB;
        padding: 200px 0px;
        p{
            font-size: 18px;
            font-family: Muli;
            line-height: 40px;
        }
        @include media-breakpoint-down(lg){
            padding: 150px 0px;
        }
        @include media-breakpoint-down(md){
            padding: 100px 0px;
        }
        @include media-breakpoint-down(sm){
            padding: 80px 0px;
            h2{
                font-size: 36px;
                margin-bottom: 30px;
            }
        }
    }
    .target-strategy{
        background-color: #FCFCFC;
        color: #3D3D3D;
        padding: 150px 0px;
        .target{
            margin-bottom: 120px;
        }
        h6{
            font-size: 36px;
            font-family: Baskerville;
        }
        p{
             font-size: 18px;
            font-family: Muli;
            line-height: 35px;
        }
        @include media-breakpoint-down(lg){
            padding: 100px 0px;
            .target{
                margin-bottom: 70px;
            }
        }
        @include media-breakpoint-down(md){
            padding: 100px 0px;
            h6{
                padding-bottom: 15px;
            }
        }
        @include media-breakpoint-down(sm){
            padding: 80px 0px;
        }
    }
    .needs-challenges{
        background-color: #EBEBEB;
        color: #FCFCFC;
        padding: 50px 0px;
        h1{
            color: #53BC67;
            font-size: 116px;
            font-family: Muli;
            margin-top: 100px;
        }
        h2{
            font-size: 56px;
            font-family: Baskerville;
            color: #53BC67;
            font-weight: 300;
        }
        h6{
            margin-bottom: 25px;
            font-family: Baskerville;
            font-size: 36px;
        }
        p{
            //font-weight: 300;
             font-size: 18px;
            font-family: Muli;
        }
        .needs{
            height: 500px;
            overflow: auto;
        }
        ::-webkit-scrollbar {
            width: 0px;
        }
        .needs-right{
            padding: 28px 30px;
        }
        @include media-breakpoint-down(lg){
            padding: 50px 0px;
            h1{
                font-size: 100px;
            }
        }
        @include media-breakpoint-down(md){
            padding: 50px 0px;
            h1{
                font-size: 56px; 
            }
            h2{
                font-size: 36px;
            }
        }
        @include media-breakpoint-down(sm){
            padding: 0px 0px;
            .needs{
                height: 1050px;
                overflow: hidden;
            }
            .needs-right{
                padding: 50px 0 0 0;
            }
        }
    }
    .research{
        padding: 80px 0px;
        color: #3D3D3D;
        h6{
            line-height: 55px;
            font-family: Baskerville;
            font-size: 36px;
        }
        p{
            font-family: Muli;
             font-size: 18px;
            line-height: 40px;
        }
        @include media-breakpoint-down(lg){
            padding: 80px 0px;
        }
        @include media-breakpoint-down(md){
            padding: 80px 0px;
            h6{
               font-size: 28px;
               line-height: 43px;
            }
        }
        @include media-breakpoint-down(sm){
            padding: 80px 0px;
        }
    }
    .green-image{
        background-color: #E4F0EC;
        padding: 100px 0px 100px 100px;
        img{
            width: 100%;
        }
    }
    .work-description1{
        padding: 80px 0px;
        color: #3D3D3D;
        h6{
            font-size: 36px;
            font-family: Baskerville;
            line-height: 55px;
            margin-top: 150px;
        }
        p{
            line-height: 40px;
            font-family: Muli;
             font-size: 18px;
        }
        img{
            width: 40%;
            margin-left: 150px;
        }
        @include media-breakpoint-down(lg){
            padding: 80px 0px;
            img{
                width: 45%;
                margin-top: 130px;
                margin-left: 90px;
            }
        }
        @include media-breakpoint-down(md){
            padding: 40px 0px;
            h6{
               font-size: 28px;
            }
            img{
                margin-top: 200px;
            }
        }
        @include media-breakpoint-down(sm){
            padding: 40px 0px;
            h6{
                margin-top: 20px;
                line-height: 45px;
             }
            img{
                //width: 100%;
                margin-top: 50px;
            }
    }
    }
    .work-description2{
        padding: 80px 0px;
        color: #3D3D3D;
        //background-color: #FAFAFA;
        h6{
            line-height: 55px;
            margin-top: 40px;
            font-family: Baskerville;
            font-size: 36px;
        }
        img{
            width: 100%;
        }
        h5{
            font-size: 20px;
            font-family: Muli;
        }
        P{
             font-size: 18px;
            font-family: Muli;
            line-height: 35px;
        }
        @include media-breakpoint-down(lg){
            padding: 80px 0px;
            img{
                width: 100%;
                margin-top: 15px;
            }
        }
        @include media-breakpoint-down(md){
            padding: 40px 0px;
            h6{
               font-size: 28px;
            }
        }
        @include media-breakpoint-down(sm){
            padding: 60px 0px 100px 0;
            h6{
                margin-top: 0px;
            }
            img{
                width: 100%;
                margin-top: 50px;
            }
    }
    }
    .only-mobile{
        display: none;
    }
    .design{
        background-color: #EBEBEB;
        color: #FCFCFC;
        padding: 70px 0px;
        h6{
            line-height: 40px;
            font-family: Muli;
            font-size: 24px;
            margin-top: 200px;
        }
        
        @include media-breakpoint-down(lg){
            padding: 40px 0px;
            img{
                width: 100%;
                margin-top: 15px;
            }
        }
        @include media-breakpoint-down(md){
            padding: 40px 0px;
            h6{
               font-size: 28px;
            }
            p{
               font-size: 18px;
            }
        }
       
        @include media-breakpoint-down(sm){
            .only-mobile{
                display: block;
            }
            .only_web{
                display: none;
            }
            padding: 40px 0px 100px 0;
            img{
                width: 100%;
                margin-top: 0px;
            }
            h6{
                margin-top: 50px;
                font-size: 20px;
            }
        .design{
            display: none;
        }
    }
   
    }
    .typography-image{
        background-color: #FAFAFA;
        text-align: center;
        padding: 100px 0px;
        @include media-breakpoint-down(lg){
            padding: 40px 0px;
            img{
                width: 100%;
                margin-top: 100px;
            }
        }
        @include media-breakpoint-down(md){
            padding: 75px 0px;
            img{
                width: 100%;
                margin-top: 100px;
            }
        }
        @include media-breakpoint-down(sm){
            padding: 50px 0px;
            img{
                width: 100%;
                margin-top: 50px;
            }
        }
    }
    .work-layout{
        background-color: #FCFCFC;
        color: #3D3D3D;
        padding: 100px 0px;
        h6{
            line-height: 50px;
            font-size: 36px;
            font-family: Baskerville;
            margin-top: 60%;
        }
         p{
            line-height: 40px;
            font-family: Muli;
             font-size: 18px;
        }
        img{
            width: 100%;
        margin-left: 90px;
        }
        @include media-breakpoint-down(lg){
            padding: 80px 0px;
            img{
                margin-left: -15%;
                width: 117%;
            }
        }
        @include media-breakpoint-down(md){
            padding: 60px 0px;
        }
        @include media-breakpoint-down(sm){
            padding: 80px 0px 100px 0;
            h6{
                margin-top: 0px;
            }
        }
    } 

    .other-case-studies{
        .row{
            margin-left: 0;
            margin-right: 0;
            .col-md-6.right{
                padding-left: 0;
                padding-right: 0;
            }
        }
       .left{
           padding: 40px 130px 80px 90px;
           background-color: #EBEBEB;
           h2{
               font-size: 57px;
               font-family: Baskerville;
               color: #282829;
               margin-top: 120px;
               margin-bottom: 80px;
           }
           @include media-breakpoint-down(md){
            padding: 100px 40px 80px 30px;
            h2{
                font-size: 30px;
                margin-top: 80px;
                margin-bottom: 40px;
            }
            .btn{
                font-size: 16px;
            }
           }
           @include media-breakpoint-down(sm){
            padding: 0px 40px 80px 20px;
           }
       }
       .right{
           .class{
               .image{
                   img{
                       width: 100%;
                   }
               }
               h3{
                   font-size: 36px;
                   font-family: Baskerville;
                   margin: 40px 130px 20px 40px;
               }
               h4{
                font-family: Muli;
                 font-size: 18px;
                   margin: 0 0 10px 40px;
               }
           }
           @include media-breakpoint-down(md){
            .class{
                h3{
                    font-size: 24px;
                }
            }
           }
       }
    }

// Carousel
.item{
    padding: 0;
}
.ngucarousel-indicator{
    width: 100%;
    padding-bottom: 20px;
    padding-top: 30px;
    padding-left: 40px;
    li{
        display: inline-block;
        line-height: 22px;
        a{
            display: block;
            margin: 0 5px;
            width: 15px;
            height: 15px;
            //border: 2px solid #FFF;
            background-color: #D0D0D0 !important;
            text-indent: -999px;
            overflow: hidden;
            border-radius: 10px;
            cursor: pointer;
            &.active{
                width: 11px;
                height: 11px;
                border: 8px solid #C3343C;
                background-color: #C3343C !important;
            }
        }
    }
}
::ng-deep .tile{
    border-radius: 15px;
    box-shadow: none !important;
}
@include media-breakpoint-down(sm) {
    .banner{
        img{
            width: 78%;
        }
    }
    }
    .craft{
        background-color: #C3343C;
        padding-top: 40px;
        padding-bottom: 40px;
        h2{
            font-size: 57px;
            font-family: Baskerville;
            color: #FCFCFC;
        }
        .button{
            margin-top: 80px;
        }
        .btn-white{
            border: 2px solid #FFFFFF;
            color: #FCFCFC;
             font-size: 18px;
             padding: 10px 20px;
            border-radius: 0px;
            font-family: Muli;
            cursor: pointer;
            &:hover{
                background-color: #FFFFFF;
                color: #C3343C;
            }
        }
        @include media-breakpoint-down(md){
            h2{
                font-size: 37px;
            }
        }
        @include media-breakpoint-down(sm){
            .button{
                margin-top: 50px;
               padding-left: 15px;
            }
        }
    }
    .btnn{
        border: 2px solid #0D0D0D;
        border-radius: 0;
        color: #0D0D0D;
        cursor: pointer;
         font-size: 18px;
        font-family: Muli;
        padding: 10px 15px;
        &:hover{
            background-color: #C3343C;
            color: #FFFFFF;
            border: 2px solid #E2E2E2;
        }
    }