<div class="footer">
  <div class="container">
    <div class="enquiry">
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-8">
        <div class="row">
        <h5>Lets connect and build a </h5><h2>better Product </h2>
      </div>
      </div>
      <div class="col-sm-2">
          <a class="btn btn-primary enquire" routerLink="/contact-us"><span>Enquire</span></a>
      </div>
      <div class="col-sm-1"></div>
    </div>
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-10">
        <div class="contact">
          <div class="row">
            <div class="col-sm-3"><img src="/assets/images/footer/contact.svg"> <span class="contacts"><a href="tel:+91 9940410072">+91 9940410072</a></span></div>
            <div class="col-sm-3"><img src="/assets/images/footer/mail.svg"> <span class="contacts"><a href="mailto:enquire@uxmint.in">enquire@uxmint.in</a></span></div>
            <div class="col-sm-3"><img src="/assets/images/footer/location.svg"> <span class="contacts"><a href="https://www.google.com/maps/place/UXMINT/@12.9676175,80.2130584,14.9z/data=!4m5!3m4!1s0x3a525c31fbc1e857:0xd520a88b9abf07ec!8m2!3d12.9703721!4d80.2175152" target="_blank">Locate us</a></span></div>
            <div class="col-sm-1"></div>
           </div>
          </div>
      </div>
      <div class="col-sm-1"></div>
    </div>
  </div>
</div>
</div>
