<div class="searvice-jumbotron">
  <div class="container">
      <!-- <div class="searvice-jumbotron-inner"> -->
          <div class="row">
              <div class="col-md-6">
                  <h1><span class="highlight"> USABILITY </span> TESTING</h1>
                  <p>It’ll aid us to understand your objectives. We need to get to thebottom
                    of who you are, what you stand for and who you stand besid</p>
                      <h3><img src="/assets/images/services/usability-testing/ut-1.svg" alt="" /><span class="list">Undestanding Product</span></h3>
                      <h3><img src="/assets/images/services/usability-testing/ut-2.svg" alt="" /><span class="list">User Scenario</span></h3>
                      <h3><img src="/assets/images/services/usability-testing/ut-3.svg" alt="" /><span class="list">Understand Behaviour</span></h3>
                      <h3><img src="/assets/images/services/usability-testing/ut-4.svg" alt="" /><span class="list">Report</span></h3>
              </div>
              <div class="col-md-1"></div>
              <div class="col-md-5">
                  <div class="step-image head">
                      <img src="/assets/images/services/usability-testing/ut1.png" alt="" />
                  </div>
              </div>
          </div>
        <!-- </div> -->
    </div>
</div>

<div class="spacing">
  <div class="container">
          <div class="row">
            <div class="col-md-6">
              <h6>UNDERSTANDING THE</h6>
                 <span class="highlight">PRODUCT PROTOTYPE</span>
              <p>We choose the right framework to suite the business needs in terms:ease of use, scalability, interoperability
                with standard technology, adaptability with emerging technologies and integration with back-end system</p>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-5">
              <div class="step-image image">
                <img src="/assets/images/services/usability-testing/image-2.svg" alt="" />
              </div>
            </div>
          </div>
    </div>
</div>

<div class="service-step2">
  <div class="container">
      <div class="row">
        <div class="col-md-5">
        <h5><span class="highlight">CREATING SCENARIO </span><br>
          FOR THE USERS</h5>
        </div>
        <div class="col-md-1"></div>
          <div class="col-md-6">
            <p>We choose the right framework to suite the business needs in terms:ease of use, scalability, 
              interoperability with standard technology, adaptability with emerging technologies and 
              integration with back-end system</p>
              <div class="row">
                <div class="col-sm-1">
                  <img src="/assets/images/services/icons/line.svg" />
                </div>
                <div class="col-sm-8">
                  <h6><span> Gurella Testing</span></h6>
                  <h6><span> Remote based Testing</span></h6>
                  <h6><span> Lab Based Testing</span></h6>
                  <h6><span> Explolatory Testing</span></h6>
                </div>
              </div>
          </div>
      </div>
  </div>
</div>

<div class="service-step3">
  <div class="container">
      <div class="row">
          <div class="col-md-5 m-first">
            <h5>UNDERSTANDING THE </h5>
              <span class="highlight">USER BEHAVIOUR</span>
            <p>We choose the right framework to suite the business needs in terms:ease of use, 
              scalability, interoperability with standard technology, adaptability with emerging 
              technologies and integration with back-end system</p>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-5 m-last">
            <div class="step-image">
              <img src="/assets/images/services/usability-testing/image-3.svg" />
            </div>
          </div>
      </div>
      <div class="row">
          <div class="col-md-5 m-last">
            <div class="step-image">
              <img src="/assets/images/services/usability-testing/image-4.svg" />
            </div>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-5 m-first">
            <h4>REPORT</h4>
            <p>We choose the right framework to suite the business needs in terms:ease of use, 
              scalability, interoperability with standard technology, adaptability with emerging 
              technologies and integration with back-end system</p>
        </div>
      </div>
  </div>
</div>

<div class="service-step9">
  <div class="step-heading">
    <h4>OUR  SOLUTIONS  ARE  HELPING  AUDIENCE</h4>
    <div class="step-image">
      <img src="/assets/images/sample/line.svg" />
    </div>
</div>
    <div class="case-study">
    <div class="body">
    <div class="shadow p-3 mb-5 bg-white rounded">
      <div class="row">
          <div class="col-md-4">
              <div class="step-image image">
                  <img src="/assets/images/projects/project10.png" alt="" />
              </div>
          </div>
          <div class="col-md-8">
            <div class="text"> 
              <h5>USABILITY TESTING FOR VEHICLE</h5>
                <p>Portal for business (commercial network services for companies) with high level of scalability to have the services currently done manually.Portal for business (commercial network services for companies) with high level of scalability to have the services currently done manually. </p>
                <a routerLink="/projects/automobile-usability"><h3>VIEW CASE STUDY  <fa-icon [icon]="['fas','chevron-right']"></fa-icon></h3></a>
              </div>
          </div>
      </div>
    </div>
  </div>
</div>
</div>

<!-- Services -->
<div class="services">
  <div class="container">
      <div class="services-heading">
          <h5>OTHER SERVICES</h5>
      </div>
      <div class="service-body">
          <div class="row">
              <div class="col-md-4">
                <div class="service" routerLink="/services/user-experience">
                  <div class="service-icon">
                      <img src="/assets/images/home/user-experience.svg" alt="User Experience"/>
                  </div>
                  <h4>USER EXPERIENCE</h4>
                  <p>We believe research brings insights our team of design experts connect with your business and ‘dev team to build a better product</p>
                  <a class="btn">Show More</a>
                </div>
              </div>
              <div class="col-md-4">
                <div class="service" routerLink="/services/interface-design">
                  <div class="service-icon">
                    <img src="/assets/images/home/interface-design.svg" alt="Interface Design"/>
                  </div>
                  <h4>INTERFACE DESIGN</h4>
                  <p>Aesthetically good design can instil curiosity for the customers to move beyond the landing page. Make your website come alive with best UI</p>
                  <a class="btn">Show More</a>
              </div>
            </div>
            <div class="col-md-4">
              <div class="service" routerLink="/services/ui-dev">
                  <div class="service-icon">
                    <img src="/assets/images/home/ui-dev.svg" alt="UI Development" />
                  </div>
                  <h4>UI DEVELOPMENT</h4>
                  <p>We specialise in HTML/CSS JavaScript, Angular and back-end integration. We can liaise with the back-end team to
                    execute it pixel perfect</p>
                  <a class="btn">Show More</a>
                </div>
          </div>
          </div>
      </div>
  </div>
</div>
<!-- /Services -->