@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
.works{
    padding-top: 100px;
    margin-top: -200px;
}
h2{
    font-size: 56px;
    font-family: Baskerville;
    color: #3B3B3B;
    @include media-breakpoint-down(md) {
        font-size: 32px;
        padding-bottom: 15px;
    }
}
p{
    font-size: 18px;
    font-family: 'Muli', sans-serif;
    color: #3B3B3B;
    @include media-breakpoint-down(md) {
        font-size: 14px;
    }
}
h6{
    font-size: 24px;
    font-family: 'Muli', sans-serif;
    color: #3B3B3B;
    @include media-breakpoint-down(md) {
        font-size: 28px;
    }
}  
    .banner{
        background-color: #F0DBDE;
        padding-top: 140px;
       height: 830px;
       padding: 350px 0px;
        h6{
            font-weight: 300;
            margin-top: 40px;
        }
        img{
            position: absolute;
            width: 100%;
            margin-top: -15%;
            top: 20px;
            right: 20px;
        }
        @include media-breakpoint-down(lg){
            height: 645px;
            padding: 250px 0px;
            .banner-header{
                padding: 15px 0px;
            }
            img{
                margin-top: -15%;
            }
        }
        @include media-breakpoint-down(md){
            height: 501px;
            padding: 200px 0px;
            .banner-header{
                padding: 30px 0px;
            }
            h6{
                font-size: 20px;
            }
        }
        @include media-breakpoint-down(sm){
            height: 500px;
            padding: 300px 0px;
            h2{
                padding-bottom: 0px;
            }
            .banner-header{
                padding: 100px 0px;
            }
            img{
                width: 100%;
                margin-top: -65%;
                margin-left: -40px;
            }
        }
    }
    .about-project{
        background-color: #FCFCFC;
        padding: 200px 0px;
        .row{
            margin-right: 0;
            margin-left: 0;
        }
        p{
            font-size: 18px;
           line-height: 40px;
       }
       @include media-breakpoint-down(lg){
           padding: 150px 0px;
       }
       @include media-breakpoint-down(md){
           padding: 100px 0px;
       }
       @include media-breakpoint-down(sm){
           padding: 80px 0px;
       }
    }
      .image-event{
        img{
            width: 100%;
        }
        h6{
            font-size: 36px;
            font-family: Baskerville;
            padding-bottom: 30px;
            @include media-breakpoint-down(lg) {
                    padding-top: 50px;
            }
            @include media-breakpoint-down(md) {
                font-size: 28px;
                padding-top: 50px;
            }
        } 
        @include media-breakpoint-down(sm){
            img{
                width: 100%;
                //display: none !important;
            }  
        }
    }
    .approach{
        background-color: #EBEBEB;
        color: #000000;
        padding: 200px 0px;
        p{
            font-size: 18px;
            font-family: 'Muli', sans-serif;
            line-height: 50px;
        }
        @include media-breakpoint-down(lg){
            padding: 150px 0px;
            img{
                top: -5px;
            }
        }
        @include media-breakpoint-down(md){
            padding: 100px 0px;
            img{
                top: 20px;
                width: 130%;
                margin-right: -40px;
            }
        }
        @include media-breakpoint-down(sm){
            padding: 150px 10px 150px 10px;
            h2{
                font-size: 36px;
                margin-bottom: 30px;
            }
            img{
                top: -5px;
                margin-right: 0px;
            }
            .only-mobile{
                margin-bottom: 100px;
            }
        }
    }
    .target-strategy{
        //background-color: #FCFCFC;
        color: #3D3D3D;
        padding: 150px 0px;
        .target{
            margin-bottom: 120px;
        }
        h6{
            font-family: Baskerville;
        }
        p{
            font-size: 18px;
           font-family: 'Muli', sans-serif;
           line-height: 35px;
       }
       @include media-breakpoint-down(lg){
           padding: 100px 0px;
           .target{
               margin-bottom: 70px;
           }
       }
       @include media-breakpoint-down(md){
           padding: 100px 0px;
           h6{
               padding-bottom: 15px;
           }
       }
       @include media-breakpoint-down(sm){
           padding: 80px 0px;
       }
    }
    .research{
        padding: 80px 0px;
        color: #3D3D3D;
        h6{
            line-height: 55px;
            font-family: Baskerville;
        }
        p{
            font-family: 'Muli', sans-serif;
            font-size: 18px;
            line-height: 40px;
        }
        @include media-breakpoint-down(lg){
            padding: 80px 0px;
        }
        @include media-breakpoint-down(md){
            padding: 80px 0px;
            h6{
               font-size: 28px;
               line-height: 43px;
            }
        }
        @include media-breakpoint-down(sm){
            padding: 80px 0px;
        }
    }
    .work-description{
        padding: 100px 0px;
        color: #3D3D3D;
        background-color: #FAFAFA;
        h6{
            line-height: 55px;
            margin-top: 40px;
            font-family: Baskerville;
            font-size: 36px;
        }
        h5{
            font-size: 20px;
            font-family: 'Muli', sans-serif;
        }
        P{
             font-size: 18px;
            font-family: 'Muli', sans-serif;
            line-height: 35px;
        }
        img{
            padding: 200px 125px;
        }
        @include media-breakpoint-down(lg){
            padding: 80px 0px;
            img{
                width: 100%;
                margin-top: 100px;
            }
        }
        @include media-breakpoint-down(md){
            padding: 80px 0px;
            h6{
               font-size: 28px;
               margin-top: 0px;
            }
            img{
                padding: 90px 20px;
                margin-top: 0px;
            }
        }
        @include media-breakpoint-down(sm){
            padding: 40px 0px;
            h6{
                margin-top: 20px;
             }
            img{
                width: 100%;
                margin-top: 50px;
                padding: 0;
            }
    }
    }
    .typography-image{
        background-color: #FFFFFF;
        padding: 100px 0px;
        @include media-breakpoint-down(lg){
            padding: 0px 0px;
            img{
                width: 100%;
                margin-top: 30px;
            }
        }
        @include media-breakpoint-down(md){
            padding: 0px 0px;
            img{
                width: 100%;
                margin-top: 30px;
            }
        }
        @include media-breakpoint-down(sm){
            padding: 25px 0px;
            img{
                width: 100%;
                margin-top: 25px;
            }
        }
    }
    .craft{
        background-color: #000000;
        padding-top: 40px;
        padding-bottom: 40px;
        h2{
            font-size: 57px;
            font-family: Baskerville;
            color: #FCFCFC;
        }
        .button{
            margin-top: 80px;
        }
        .btn-white{
            border: 2px solid #FFFFFF;
            color: #FCFCFC;
             font-size: 18px;
            border-radius: 0px;
            font-family: 'Muli', sans-serif;
            padding: 10px 20px;
            cursor: pointer;
            &:hover{
                background-color: #FFFFFF;
                color: #C3343C;
            }
        }
        @include media-breakpoint-down(md){
            h2{
                font-size: 37px;
            }
        }
        @include media-breakpoint-down(sm){
            .button{
                margin-top: 50px;
               padding-left: 15px;
            }
        }
    }
    .other-case-studies{
        .row{
            margin-left: 0;
            margin-right: 0;
            .col-md-6.right{
                padding-left: 0;
                padding-right: 0;
            }
        }
       .left{
           padding: 40px 130px 80px 90px;
           background-color: #EBEBEB;
           h2{
            font-size: 57px;
            font-family: Baskerville;
            color: #282829;
            margin-top: 120px;
            margin-bottom: 80px;
        }
           .btnn{
            border: 2px solid #0D0D0D;
            border-radius: 0;
            color: #0D0D0D;
            cursor: pointer;
            font-size: 20px;
            font-family: 'Muli', sans-serif;
            padding: 10px 15px;
            &:hover{
                background-color: #C3343C;
                color: #FFFFFF;
                border: 2px solid #E2E2E2;
            }
        }
           @include media-breakpoint-down(md){
            padding: 100px 40px 80px 30px;
            h2{
                font-size: 30px;
                margin-top: 80px;
                margin-bottom: 40px;
            }
            .btn{
                font-size: 16px;
            }
           }
           @include media-breakpoint-down(sm){
            padding: 0px 40px 80px 20px;
           }
       }
       .right{
           .class{
               .image{
                   img{
                       width: 100%;
                   }
               }
               h3{
                font-size: 36px;
                font-family: Baskerville;
                margin: 40px 130px 20px 40px;
                a{
                    color: #3B3B3B; 
                   }
            }
            h4{
             font-family: 'Muli', sans-serif;
             font-size: 20px;
                margin: 0 0 10px 40px;
            }
           }
           @include media-breakpoint-down(md){
            .class{
                h3{
                    font-size: 24px;
                }
            }
           }
       }
    }

// Carousel
.item{
    padding: 0;
}
.ngucarousel-indicator{
    width: 100%;
    padding-bottom: 20px;
    padding-top: 30px;
    padding-left: 40px;
    li{
        display: inline-block;
        line-height: 22px;
        a{
            display: block;
            margin: 0 5px;
            width: 15px;
            height: 15px;
            //border: 2px solid #FFF;
            background-color: #D0D0D0 !important;
            text-indent: -999px;
            overflow: hidden;
            border-radius: 10px;
            cursor: pointer;
            &.active{
                width: 11px;
                height: 11px;
                border: 8px solid #C3343C;
                background-color: #C3343C !important;
            }
        }
    }
}
::ng-deep .tile{
    border-radius: 15px;
    box-shadow: none !important;
}
@include media-breakpoint-down(sm) {
    .banner{
        img{
            width: 100%;
            padding-left: 30px;
        }
    }
    }

 