@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

footer{
    background-color: #282829;
    color: #FFFFFF;
    padding: 100px 0px 20px 0px;
    h2{
        font-size: 48px;
    }
    .button{
        margin-top: 40px;
        img{
            margin-left: 35px;
        }
    }
    .btn-white{
        background-color: #FFFFFF;
        color: #282829;
        font-size: 20px;
        padding: 15px;
        border-radius: 0px;
    }
    h4{
        color: #A9A9A9;
        font-size: 28px;
    }
    .contact{
        list-style: none;
        padding: 30px 0;
        li{
            margin-bottom: 20px;
        }
        a{
            font-size: 20px;
            color: #FFFFFF;
            text-decoration: underline;
            font-weight: 300;
        }
    }
    .socialmedia{
            padding-left: 0px;
        li{
            list-style: none;
            display: inline-flex;
            margin-right: 20px;
            cursor: pointer;
        }
    }
    .credits{
        color: #A9A9A9;
        font-size: 16px;
        a{
            cursor: pointer;
        }
    }
    @include media-breakpoint-down(md){
        h2{
            font-size: 36px;
        }
        .btn-white{
            font-size: 16px;
        }
        h4{
            font-size: 20px;
        }
        a{
            font-size: 16px;
        }
        .credits{
            font-size: 14px;
        }
    }
    @include media-breakpoint-down(sm){
        .btn-white{
            margin-bottom: 100px;
        }
        a{
            font-size: 14px;
        }
    }
}