<header>
    <div class="header-container">
        <nav class="navbar navbar-expand">
            <!--<a class="navbar-brand" href="#">uxmint design</a>-->
            <div class="row header-logo">
                <div class="col-md-5 ux-logo">
                    <img src="./assets/images/uxmint-logo.svg" routerLink="/" alt="Logo">
                </div>
                <div class="col-md-1">
                    <div class="line"></div>
                </div>
                <div class="col-md-3">
                <h2 routerLink="/">DESIGN<br>CONSULTING</h2>
                </div>
            </div>
            <div class="collapse navbar-collapse ">
              <ul class="navbar-nav ml-auto ">
                <li class="nav-item web-only snip1189">
                  <a class="nav-link " routerLinkActive="active" routerLink="/works"><span>Work</span></a>
                </li>
                <li class="nav-item web-only snip1189">
                    <a class="nav-link" routerLinkActive="active" routerLink="/about-us">About</a>
                </li>
                <li class="nav-item web-only snip1189">
                  <a class="nav-link" routerLinkActive="active" routerLink="/services">Services</a>
                </li>
                <li class="nav-item web-only snip1189">
                    <a class="nav-link" routerLinkActive="active" routerLink="/contact-us">Let's Talk</a>
                </li>
                <div class="col-md-1 only-mobile snip1189">
                    <div class="lines"></div>
                </div>
                <li class="nav-item menu">
                    <a class="nav-link menu-activator" (click)="openMenu()"> <img src="./assets/images/menu.png" alt="menu"></a>
                </li>
              </ul>
            </div>
        </nav>
    </div>
</header>

<router-outlet></router-outlet>
<!--Footer-->
<footer>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <h2>What We Do</h2>
            <ul class="contact">
                <li>
                    <a routerLink="/works">Work</a>
                </li>
                <li>
                    <a routerLink="/services">Service</a>
                </li>
                <li>
                    <a routerLink="/engagement-models">Engagement Models</a>
                </li>
            </ul>
            <!--<div class="button">
                <div class="btn btn-white">Let's Talk <img src="./assets/images/rightarrow.svg" alt="letTalk"></div>
            </div>-->
        </div>
        <div class="col-md-3">
            <h2>Who We Are</h2>
            <ul class="contact">
                <li>
                    <a routerLink="/about-us">About Us</a>
                </li>
                <li>
                    <a routerLink="/blogs">Blogs</a>
                </li>
                <li>
                    <a routerLink="/careers">Careers</a>
                </li>
            </ul>
        </div>
        <div class="col-md-3">
            <h2>Services</h2>
            <ul class="contact">
                <li>
                    <a routerLink="service/user-experience">User Experience</a>
                </li>
                <li>
                    <a routerLink="service/interface-design">Interface Design</a>
                </li>
                <li>
                    <a routerLink="service/ui-development">UI Development</a>
                </li>
                <!--<li>
                    <a href="#">End To End Development</a>
                </li>-->
                <li>
                    <a routerLink="service/usability-testing">Usability Testing</a>
                </li>
            </ul>
        </div>
        <div class="col-md-3">
            <h2>Contact Us</h2>
            <ul class="contact">
                <li>
                    <a href="mailto:hello@uxmint.in?subject=Query and Collabration!">hello@uxmint.in</a>
                </li>
                <li>
                    <a href="tel:+91 9884053886">+91 9884053886</a>
                </li>
                <li>
                    <a href="tel:+91 9940410072">+91 9940410072</a>
                </li>
                <li class="web-only">
                    <a href="https://www.linkedin.com/company/uxmint-design/" target="_blank">Linkedin</a> <span>|</span> <a href="https://medium.com/uxmint" target="_blank">Medium</a><span>|</span> <a href="https://www.instagram.com/uxmint.design/" target="_blank">Instagram</a>
                </li>
            </ul>           
        </div>
    </div>
    <div class="mobile-only">
        <div class="row">
            <div class="mediaIcons">
                <ul>
                    <li>
                        <a href="https://www.linkedin.com/company/uxmint-design/" target="_blank">Linkedin</a> <span> | </span>
                    </li>
                    <li>
                        <a href="https://medium.com/uxmint" target="_blank">Medium</a><span> | </span>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/uxmint.design/" target="_blank">Instagram</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <hr class="footer">
    <div class="footer-bottom">
        <div class="row">
            <div class="col-md-6">
                <div class="rights">
                    <h2>All Rights reserved@2021 </h2>
                </div>
            </div>
            <div class="col-md-6">
                <div class="policy">
                    <h2><a target="_blank" routerLink="/privacy-policy">Privacy Policy</a> | <a target="_blank" routerLink="/terms-and-conditions">Terms & Conditions </a></h2>
                </div>
            </div>
        </div>
    </div>
</div>
</footer>