<router-outlet></router-outlet>
<!--Footer-->
<footer>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h2>Let's craft design together!</h2>
            <div class="button">
                <div class="btn btn-white">Let's Talk <img src="./assets/images/rightarrow.svg"></div>
            </div>
        </div>
        <div class="col-md-6">
            <h4>For a quick response</h4>
            <ul class="contact">
                <li>
                    <a href="mailto:enquire@uxmint.in">hello@uxmint.in</a>
                </li>
                <li>
                    <a href="tel:+91 9884053886">+91 9884053886</a>
                </li>
                <li>
                    <a href="tel:+91 9940410072">+91 9940410072</a>
                </li>
            </ul>
            <ul class="socialmedia">
                <li><a href="https://www.linkedin.com/company/uxmint" target="_blank"><img src="./assets/images/linkedin.svg"></a></li>
                <li><a href="https://medium.com/uxmint" target="_blank"><img src="./assets/images/medium.svg"></a></li>
            </ul>
            <div class="credits">
                @2021 . <span><a>Privacy Policy</a></span> . <span><a>Terms & Conditions</a></span>
            </div>
        </div>
    </div>
</div>
</footer>