@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
.navbar-brand{
    color: #C3343C;
    font-weight: 600;
    font-size: 22px;
}
header{
    z-index: 1;
}
.nav-item{
    margin-left: 22px;
}
img{
    width: 25%;
    margin-left: -35px;
    padding-top: 5px;
}
.nav-link{
    font-family: Muli;
    font-size: 16px;
    color: #505050;
    font-weight: 400;
}
.menu-activator{
    cursor: pointer;
    position: relative;
    margin-left: 30px;
    img{
        height: 20px;
        width: auto;
    }
    &::before{
        content: '';
        border-left: 1px solid #AAA;
        position: absolute;
        height: 20px;
        margin-left: -35px;
        top: 11px;
    }
}
@include media-breakpoint-down(sm){
    img{
        width: 70%;
        margin-left: -24px;
        padding-top: 5px;
    }
}
footer{
    background-color: #282829;
    color: #FFFFFF;
    padding: 100px 0px 20px 0px;
    h2{
        font-size: 20px;
        font-family: GD Sherpa;
    }
    .button{
        margin-top: 40px;
        img{
            margin-left: 35px;
        }
    }
    .btn-white{
        background-color: #FFFFFF;
        color: #282829;
        font-size: 20px;
        padding: 15px;
        border-radius: 0px;
    }
    h4{
        color: #A9A9A9;
        font-size: 28px;
    }
    .contact{
        list-style: none;
        padding: 30px 0;
        li{
            margin-bottom: 20px;
        }
        a{
            font-size: 14px;
            color: #707070;
           font-family: Muli;
        }
    }
    hr.line {
        border-top: 1px solid #707070;
      }
      .footer-bottom{
          padding-top: 5px;
          padding-bottom: 15px;
      .rights{
          h2{
              font-family: GD Sherpa;
              font-size: 14px;
              color: #707070;
          }
      }
    
    @include media-breakpoint-down(md){
        .btn-white{
            font-size: 16px;
        }
        h4{
            font-size: 20px;
        }
        a{
            font-size: 16px;
        }
    }
    @include media-breakpoint-down(sm){
        padding-top: 5px;
          padding-bottom: 40px;
        .btn-white{
            margin-bottom: 100px;
        }
        a{
            font-size: 14px;
        }
    }
}
}