@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
:host{
    padding-top: 0px;
}
.about-us{
    .only-mobile{
        display: none;
    }
    .about{
        padding-top: 140px;
        height: 700px;
        padding: 200px 0px;
        background-color: #FCFCFC;
    .design{
        h1{
            font-size: 56px;
            color: #3B3B3B;
            font-family: Baskerville;
            padding-bottom: 20px;
            span{
                color: #C3343C;
            }
        }
        h4{
            font-size: 26px;
            color: #3B3B3B;
            font-family: Muli;
            span{
                color: #C3343C;  
            }
        }
    }
    @include media-breakpoint-down(lg) {
        height: 650px;
        padding: 245px 0px;
    }
    @include media-breakpoint-down(md) {
        height: 540px;
        padding: 180px 0px;
        .design{
            h1{
                font-size: 36px;
            }
            h5{
                font-size: 24px;
            }
        }
    }
    @include media-breakpoint-down(sm) {
        height: 500px;
        padding: 150px 0px;
    }
}
.about-layout{  
        h2{
            font-size: 56px;
            color: #3B3B3B;
            font-family: Baskerville;
            padding-bottom: 20px;
        }
        h6{
            font-size: 20px;
            color: #3B3B3B;
            padding-top: 10px;
            font-family: Muli;
        }   
.design-layout{
            background-color: #ebebeb;
            padding-left: 60px;
            .design-left{
                padding: 150px 30px;
            }
            .button{
                margin-top: 60px;
            }
            .btn{
                border: 2px solid #0D0D0D;
                border-radius: 0;
                color: #0D0D0D;
                cursor: pointer;
                font-size: 20px;
                padding: 10px 20px;
                font-family: Muli;
                &:hover{
                    background-color: #C3343C;
                    color: #FFFFFF;
                    border: 2px solid #FFFFFF;
                }
            }
}
.design-layouts{
            background-color: #282829;
            border: 1px solid #707070;
            text-align: center;
            
            .design-right{
                padding: 150px 30px;
                .logo{
                    list-style: none;
                    padding: 60px 0;
                    li{
                        margin-bottom: 70px;
                    }
                }
                }
            }  
            @include media-breakpoint-down(lg) {
                .design-layout{
                    padding-left: 50px;
                    .design-left{
                        padding: 130px 20px;
                    }
                }
                .design-layouts{
                    .design-right{
                        padding: 130px 0px;
                    }
                }
            }
            @include media-breakpoint-down(md) {
                .design-layout{
                    padding-left: 50px;
                    .design-left{
                        padding: 120px 10px;
                        h2{
                            font-size: 36px;
                        }
                        h6{
                            font-size: 20px;
                            padding-top: 8px;
                        }
                    }
                    .button{
                        margin-top: 30px;
                        img{
                            margin-left: 35px;
                        }
                    }
                    .btnn{
                        border: 2px solid #0D0D0D;
                        border-radius: 0;
                        color: #0D0D0D;
                        cursor: pointer;
                        font-size: 20px;
                        padding: 10px 20px;
                        font-family: Muli;
                        &:hover{
                            background-color: #C3343C;
                            color: #FFFFFF;
                            border: 2px solid #E2E2E2;
                        }
                    }
                }
                .design-layouts{
                    .img_cover img{
                        width: 110px; 
                    }
                    .design-right{
                        padding: 120px 0px;
                      
                        .logo{
                            list-style: none;
                            padding: 40px 0;
                            li{
                                margin-bottom: 60px;
                               
                            }
                        }
                    }
                }
            }
            @include media-breakpoint-down(sm) {
                .design-layout{
                    padding-left: 15px;
                }
                .design-layouts{
                    display: none;
                }
                .flex{
                    overflow-y: scroll;
                    display: flex;
                    padding: 100px 0px 40px 30px;
                    .icon1{
                        padding: 0 10px 0 0px;
                        position: relative;
                        img{
                            bottom: 0;
                        }
                    }
                    .icon2{
                        padding: 0 20px 0 65px;
                        position: relative;
                        img{
                            bottom: 0;
                        }
                    }
                    .icon3{
                        padding: 0 30px 0 65px;
                        position: relative;
                        img{
                            bottom: 0;
                        }
                    }
                    .icon4{
                        padding: 0 40px 0 65px;
                        position: relative;
                        img{
                            bottom: 0;
                        }
                    }
                    .icon5{
                        padding: 0 50px 0 65px;
                        position: relative;
                        img{
                            bottom: 0;
                        }
                    }
                    .icon6{
                        padding: 0 60px 0 65px;
                        position: relative;
                        img{
                            bottom: 0;
                        }
                    }
                }
            }
}      
.about-layout1{
        background-color: #FCFCFC;
        //padding: 100px 0px;
            .design-layout{
                padding-left: 60px;
                h2{
                    font-family: Baskerville;
                    font-size: 56px;
                    color: #3B3B3B;
                }
                .design-left{
                    padding: 150px 30px;
                }
                .button{
                    margin-top: 60px;
                }
                .btnn{
                    border: 2px solid #0D0D0D;
                    border-radius: 0;
                    color: #0D0D0D;
                    cursor: pointer;
                    font-size: 20px;
                    padding: 10px 20px;
                    font-family: Muli;
                    &:hover{
                        background-color: #C3343C;
                        color: #FFFFFF;
                        border: 2px solid #E2E2E2;
                    }
                }
            }
            .design-layouts{
                padding-top: 160px;
                    .layouts{
                        height: 500px;
                        //overflow: auto;
                        padding-top: 80px;
                    }
                    ::-webkit-scrollbar {
                        width: 0px;
                    }
                h5{
                    font-size: 36px;
                    color: #3B3B3B;
                    font-family: Baskerville;
                }
                p{
                    font-size: 18px;
                    color: #707071;
                    font-weight: 400;
                    font-family: Muli;
                }
                .design-right{
                    //padding: 70px 30px;
                }
                .design-rights{
                    padding: 0px 30px;
                }
            }
            @include media-breakpoint-down(lg) {  
                padding: 80px 0px;
                .design-layout{
                    padding-left: 60px;
                    .design-left{
                        padding: 125px 30px;
                    }
                    .design-right{
                        padding: 125px 30px;
                    }
                }
            }
            @include media-breakpoint-down(md) {
                padding: 60px 0px;
                .design-layout{
                    padding-left: 30px;
                    h2{
                        font-size: 36px;
                    }
                    .design-left{
                        padding: 100px 10px;
                    }
                    .button{
                        margin-top: 20px;
                        img{
                            margin-left: 25px;
                        }
                    }
                    .btnn{
                        font-size: 16px;
                        padding: 10px;
                        border-radius: 0px;
                    }
                }
                .design-layouts{
                    .layouts{
                       // height: 500px;
                       // overflow: auto;
                h5{
                    font-size: 28px;
                }
                p{
                    font-size: 20px;
                    font-weight: 400;
                }
                .design-right{
                    padding: 100px 25px;
                }
            }
        }
    }
            @include media-breakpoint-down(sm) {
                padding: 50px 0px;
                .design-layout{
                    padding-left: 0px;
                    .design-left{
                        padding: 80px 15px;
                    }
                    .design-right{
                        padding: 100px 30px;
                    }
                }
                .design-layouts{
                    .layouts{
                        height: 100%;
                       overflow: visible;
                       .design-right{
                        padding: 45px 30px;
                        h5{
                            font-size: 28px;
                        }
                        p{
                            font-size: 20px;
                            font-weight: 400;
                        }
                    }
            }
        }
            }
    }
    .situations-layout{
      background-color: #FCFCFC;
        padding: 150px 0px;
        color: #FFF;
        h2{
            font-size: 36px;
            font-family: Baskerville;
            padding: 0px 45px;
        }
        .nav-link{
            display: flex;
            padding: 0 20px 40px 20px;
            margin-top: 90px;
        }
        .row{
            .col-md-5 {
                flex: 0 0 50%;
                max-width: 50%;
            }
            .col-md-7 {
                flex: 0 0 50%;
                max-width: 50%;
            }
        }
        @include media-breakpoint-down(lg) {
            padding: 100px 0px;
            .row{
                .col-md-5 {
                    flex: 0 0 35%;
                    max-width: 35%;
                }
                .col-md-7 {
                    flex: 0 0 65%;
                    max-width: 65%;
                }
            }
        }
        @include media-breakpoint-down(md) {
            padding: 80px 0px;
            h2{
                font-size: 20px;
            }
            .row{
                .col-md-5 {
                    flex: 0 0 20%;
                    max-width: 20%;
                }
                .col-md-7 {
                    flex: 0 0 80%;
                    max-width: 80%;
                }
            }
        }
        @include media-breakpoint-down(sm) {
            padding: 70px 0px;
            h2{
                padding-bottom: 40px;
            }
            .row{
                .col-md-5 {
                    flex: 0 0 100%;
                    max-width: 100%;
                }
                .col-md-7 {
                    flex: 0 0 100%;
                    max-width: 100%;
                }
            }
        }
    }
.about-layout2{
        background-color: #C3343C;
            .design{
                padding: 150px 0px;
                margin-left: -20px;
                h2{
                    font-size: 48px;
                    color: #FCFCFC;
                    font-family: Baskerville;
                    padding-bottom: 20px;
                }
                h6{
                    font-size: 20px;
                    color: #FCFCFC;
                    font-family: Muli;
                }
                .button{
                    margin-top: 60px;
                    img{
                        margin-left: 35px;
                    }
                }
                .btn-white{
                    border: 2px solid #FFFFFF;
                    color: #FCFCFC;
                    font-size: 20px;
                    padding: 10px 20px;
                    border-radius: 0px;
                    font-family: Muli;
                }
            }
            @include media-breakpoint-down(lg) { 
                .design{
                    padding: 150px 30px;
                }
            }
            @include media-breakpoint-down(md) {
                .design{
                    padding: 125px 10px;
                    h2{
                        font-size: 28px;
                    }
                    h6{
                        font-size: 20px;
                        padding-top: 30px;
                    }
                    .button{
                        margin-top: 30px;
                        img{
                            margin-left: 25px;
                        }
                    }
                    .btnn{
                        font-size: 16px;
                        padding: 15px;
                        border-radius: 0px;
                    }
                }
            }
            @include media-breakpoint-down(sm) {
                .design{
                    padding: 125px 10px;
                }
            }
    }
}