<div class="about-us">
    <div class="about">
       <div class="container">
          <div class="desgin">
             <h1>There is always a better way <br> to do it & we find it </h1>
             <h5>- by Thomas Alva Edison + uxmint</h5>
          </div>
       </div>
    </div>
    <div class="about-layout">
       <div class="row">
          <div class="col-md-6 desgin-layout">
            <div class="container">
             <div class="desgin-left">
                <h2> We have created <br> products that are <br> loved by users and <br> product owners</h2>
                <h6>If you want your product to be <br> loved by its users ?</h6>
                <div class="button">
                   <div class="btn btn-white">Let us Know <img src="./assets/images/rightarrow-white.svg"></div>
                </div>
             </div>
             </div>
          </div>
          <div class="col-md-6 desgin-layouts">
            <div class="container">
             <div class="desgin-right">
                <div class="blogs-image">
                    <img src="./assets/images/services/Group-logo.png">
                 </div>
             </div>
             </div>
          </div>
       </div>
       </div>
    <div class="about-layout1">
       <div class="row">
          <div class="col-md-6 desgin-layout">
            <div class="container">
             <div class="desgin-left">
                <h2> We have built & are building some great products together</h2>
                <div class="button">
                   <div class="btn btn-white">Check our Service <img src="./assets/images/rightarrow-white.svg"></div>
                </div>
             </div>
          </div>
          </div>
          <div class="col-md-6 desgin-layouts">
            <div class="container">
             <div class="desgin-right">
                <h5>Startups</h5>
                <p>We've been there and we exactly know the struggles and whst it takes to build a product from  the scrarch. We have the expertise to validate your ideas with the right process and to bring the right solutions for your target customers and ensure a</p>
             </div>
          </div>
       </div>
       </div>
    </div>
    <div class="about-layout2">
       <div class="container">
          <div class="desgin">
             <h2>We are a mix of Designers, Artists, <br> Psychologists, Programmers, Engineers, <br> Architects & more. </h2>
             <h6>We've come together to build great Products and Services. Drop in <br> your detail if you want to be a part of us.</h6>
             <div class="button">
                <div class="btn btn-white">Join our Team <img src="./assets/images/rightarrow-red.svg"></div>
             </div>
          </div>
       </div>
    </div>
 </div>