
<app-our-team></app-our-team>

<div class="love-working">
  <div class="about">
      <div class="container">
          <div class="row">
              <div class="col-md-3">
                <h2>We love working with</h2>
              </div>
              <div class="col-md-4">
                <div class="image">
                <img src="/assets/images/about-us/start-up.svg" />
              </div>
                <h3>Founders of Start-ups</h3>
                  <p>We've been there and we exactly know the struggles and what it takes to build a product from the scratch. We have the expertise to validate your ideas with the right process and to bring the right solutions for your target customers and ensure a successful launch.</p>
              </div>
              <div class="col-md-1"></div>
              <div class="col-md-4">
                <div class="image">
                <img src="/assets/images/about-us/manager.svg" />
              </div>
                <h3>Product Managers/SME</h3>
                <p>We work with mid-size or large-size organisations in designing or redesigning complex systems. Optimising the process to bring transformation to the legacy system.</p>
              </div>
            </div>
      </div>
  </div>
</div>


<div class="our-mission">
<div class="container">
  <div class="heading">
  <h3>Our Mission and Goal</h3>
</div>
  <div class="row">
    <div class="col-md-5">
      <div class="description">
         <p>Provide Meaningful design solution for products which amplifies human ability resulting in harmony between users and technology. Design for solving problems, Design for emotions, Design for culture, Design for a better tomorrow.</p>
        </div>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-5">
        <div class="description">
        <p>Transform and invoke design thinking though process and innovation to school and college students which helps us to build a better environment.</p>
      </div>
    </div>
  </div>
</div>
</div>