@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import '../../../scss/colors';
.desktop{
    display: block;
}
.mobile{
    display: none;  
}
.love-working{
    margin-bottom: 72px;
    background-color: #E8FBF5;
    .about{
        padding: 56px 20px;
        border-bottom: 1px solid #EEE;
        &:last-child{
            border-bottom: 0;
        }
        .image{
            text-align: center;
        }
        h2{
            font-size: 40px;
            font-weight: 300;
            font-family: 'Inter', sans-serif;
            line-height: 50px;
            margin-bottom: 50px;
        }
        h3{
            font-size: 24px;
            font-weight: 300;
            font-family: 'Inter', sans-serif;
            line-height: 60px;
            margin-bottom: 10px;
        }
        p{
            line-height: 36px;
            font-size: 15px;
            font-weight: 300;
            font-family: 'Roboto Slab', serif;
            color: rgba(0,0,0,0.69);
            text-align: justify;
        }
    }
}

.our-mission{
    padding: 50px 20px;
    margin-bottom: 50px;
    .heading{
        h3{
            font-size: 40px;
            font-weight: 300;
            font-family: 'Inter', sans-serif;
            line-height: 56px;
            margin-bottom: 16px;
        }
    }
    .description{
        p{
            font-size: 15px;
            font-weight: 300;
            font-family: 'Roboto Slab', serif;
            color: rgba(0,0,0,0.69);
            line-height: 36px;
            text-align: justify;
        }
        .mission-image{
            display: none;
        }
    }
    .mission-image{
        img{
            width: 100%;
            height: auto;
        }
    }
}

@include media-breakpoint-down(sm) {
    .our-team{
        margin-bottom: 60px;
    }
    .love-working{
        padding-left: 10px;
        padding-right: 10px;
        margin-bottom: 0;
        padding-top: 20px;
        .about{
            padding: 10px 0;
            border-bottom: 0;
            .col-md-4{
                order: 1;
            }
            .col-md-8{
                order: 2;
            }
            .image{
                text-align: center;
            }
            h2{
                font-size: 30px;
                text-align: center;
            }
            h3{
                font-size: 20px;
                line-height: 47px;
                text-align: center;
            }
            p{
                font-size: 13px;
                line-height: 30px;
                padding-left: 20px;
                padding-right: 20px;
                padding-bottom: 40px;
            }
        }
    }
    .our-mission{
        margin-bottom: 20px;
        .col-md-6{
            order: 2;
            &+.col-md-6{
                order: 1;
            }
        }
        .heading{
            h3{
                font-size: 25px;
                margin-bottom: 0;
            }
        }
        .description{
            p{
                font-size: 13px;
                line-height: 30px;
            }
        }
    }
}

@include media-breakpoint-down(md) {
    .desktop{
        display: none;  
     }
     .mobile{
         display: block;
     }

     .our-team{
        .row + .row{
            &> div{
                margin-top: auto;
            }
        } 
     }
}