@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
:host{
    padding-top: 100px;
    margin-top: -200px;
}
.about-us{
    .only-mobile{
        display: none;
    }
    .about{
        background-color: #f7f5f0;
        background-image: url('/assets/images/workillus.svg');
        background-repeat: no-repeat;
        background-position: bottom;
        padding: 130px 0px;
    .design{
        h1{
            font-size: 76px;
            font-weight: 100;
            color: #3B3B3B;
            font-family: "Muli", sans-serif;
            padding-bottom: 20px;
            padding-top: 200px;
            span{
                color: #000000;
            }
        }
        h4{
            font-size: 26px;
            font-weight: 100;
            color: #3B3B3B;
            font-family: "Muli", sans-serif;
            span{
                color: #000000;  
            }
        }
    }
    @include media-breakpoint-down(lg) {
        height: 650px;
        padding: 245px 0px;
    }
    @include media-breakpoint-down(md) {
        height: 540px;
        padding: 180px 0px;
        .design{
            h1{
                font-size: 36px;
            }
            h5{
                font-size: 24px;
            }
        }
    }
    @include media-breakpoint-down(sm) {
        height: 500px;
        padding: 150px 0px;
        img{
            display: none;
        }
        .only-web{
            display: none;
        }
    }
}
.about-layout{  
        h2{
            font-size: 56px;
            font-weight: 100;
            color: #3B3B3B;
            font-family: "Muli", sans-serif;
            padding-bottom: 20px;
        }
        h6{
            font-size: 20px;
            font-weight: 100;
            color: #3B3B3B;
            padding-top: 10px;
            font-family: "Muli", sans-serif;
        }   
.design-layout{
            background-color: #f7f5f0;
            .design-left{
                padding-top: 100px;
            }
            .button{
                margin-top: 60px;
            }
            .btn{
                border: 2px solid #0D0D0D;
                border-radius: 0;
                color: #0D0D0D;
                cursor: pointer;
                font-size: 20px;
                font-weight: 100;
                padding: 10px 20px;
                font-family: "Muli", sans-serif;
                &:hover{
                    background-color: #000000;
                    color: #FFFFFF;
                    border: 2px solid #FFFFFF;
                }
            }
}
.design-layouts{
            background-color: #282829;
            border: 1px solid #707070;
            .design-right{
                padding-top: 100px;
                text-align: center;
                .logo{
                    list-style: none;
                    padding: 60px 0;
                    li{
                        margin-bottom: 70px;
                    }
                }
                }
            }  
            @include media-breakpoint-down(lg) {
                .design-layout{
                    padding-left: 50px;
                    .design-left{
                        padding: 130px 20px;
                    }
                    .button{
                        margin-top: 80px;
                    }
                }
                .design-layouts{
                    .design-right{
                        padding: 130px 0px;
                    }
                }
            }
            @include media-breakpoint-down(md) {
                .design-layout{
                    padding-left: 50px;
                    .design-left{
                        padding: 120px 10px;
                        h2{
                            font-size: 36px;
                            font-weight: 100;
                        }
                        h6{
                            font-size: 20px;
                            font-weight: 100;
                            padding-top: 8px;
                        }
                        .button{
                            margin-top: 80px;
                        }
                    }
                    .button{
                        margin-top: 30px;
                        img{
                            margin-left: 35px;
                        }
                    }
                    .btnn{
                        border: 2px solid #0D0D0D;
                        border-radius: 0;
                        color: #0D0D0D;
                        cursor: pointer;
                        font-size: 20px;
                        font-weight: 100;
                        padding: 10px 20px;
                        font-family: "Muli", sans-serif;
                        &:hover{
                            background-color: #C3343C;
                            color: #FFFFFF;
                            border: 2px solid #E2E2E2;
                        }
                    }
                }
                .design-layouts{
                    .img_cover img{
                        width: 110px; 
                    }
                    .design-right{
                        padding: 120px 0px;
                      
                        .logo{
                            list-style: none;
                            padding: 40px 0;
                            li{
                                margin-bottom: 60px;
                               
                            }
                        }
                    }
                }
            }
            @include media-breakpoint-down(sm) {
                .design-layout{
                    padding-left: 35px;
                    .button{
                        margin-top: 70px;
                    }
                }
                .design-layouts{
                    display: none;
                }
                .custom-slider-main{
                    background-color: #f7f5f0;
                    display: flex;
                    overflow-y: scroll;
                    scroll-behavior: smooth;
                    padding-left: 70px;
                    overflow-y: scroll;
                    display: flex;
                    padding: 80px 0px 5px 45px;
                    .icon1{
                        padding: 0 10px 0 0px;
                        position: relative;
                        img{
                            bottom: 0;
                        }
                    }
                    .icon2{
                        padding: 0 20px 0 65px;
                        position: relative;
                        img{
                            bottom: 0;
                        }
                    }
                    .icon3{
                        padding: 0 30px 0 65px;
                        position: relative;
                        img{
                            bottom: 0;
                        }
                    }
                    .icon4{
                        padding: 0 40px 0 65px;
                        position: relative;
                        img{
                            bottom: 0;
                        }
                    }
                    .icon5{
                        padding: 0 50px 0 65px;
                        position: relative;
                        img{
                            bottom: 0;
                        }
                    }
                    .icon6{
                        padding: 0 60px 0 65px;
                        position: relative;
                        img{
                            bottom: 0;
                        }
                    }
                    }
                    .icon{
                        padding-right: 85px;
                    }
                    .custom-slider-main::-webkit-scrollbar-track {
                    border: 1px solid #fff;
                    padding: 2px 0px;
                    margin: 20px;
                    background-color: #f7f5f0;
                    }
                    .custom-slider-main::-webkit-scrollbar {
                    width: 0px;
                    height: 4px;
                    }
                    .custom-slider-main::-webkit-scrollbar-thumb {
                    border-radius: 10px;
                    background-color: #737272;
                    }
            }
}      
.about-layout1{
        background-color:#f7f5f0;
            .design-layout{
                h2{
                    font-family: "Muli", sans-serif;
                    font-size: 56px;
                    font-weight: 100;
                    color: #3B3B3B;
                }
                .design-left{
                    padding: 150px 0px;
                }
                .button{
                    margin-top: 60px;
                }
                .btnn{
                    border: 2px solid #0D0D0D;
                    border-radius: 0;
                    color: #0D0D0D;
                    cursor: pointer;
                    font-size: 20px;
                    font-weight: 100;
                    padding: 10px 20px;
                    font-family: "Muli", sans-serif;
                    &:hover{
                        background-color: #C3343C;
                        color: #FFFFFF;
                        border: 2px solid #E2E2E2;
                    }
                }
            }
            .design-layouts{
                padding: 160px 0px 40px 0px;
                .design-right{
                    margin-bottom: 80px;
                }
                h5{
                    font-size: 36px;
                    font-weight: 100;
                    color: #3B3B3B;
                    font-family: "Muli", sans-serif;
                }
                p{
                    font-size: 18px;
                    color: #707071;
                    font-weight: 400;
                    font-family: "Muli", sans-serif;
                }
            }
            @include media-breakpoint-down(lg) {  
                padding: 80px 0px;
                .design-layout{
                    .design-left{
                        padding: 125px 0px;
                    }
                    .design-right{
                        padding: 125px 30px;
                    }
                    .button{
                        margin-top: 80px;
                    }
                }
                .design-layouts{
                    padding-top: 140px;
                    .design-right{
                        margin-bottom: 80px;
                    }
                }
            }
            @include media-breakpoint-down(md) {
                padding: 60px 0px;
                .design-layout{
                    h2{
                        font-size: 36px;
                        font-weight: 100;
                    }
                    .design-left{
                            padding: 100px 5px 8px 0px;
                    }
                    .button{
                        margin-top: 80px;
                        img{
                            margin-left: 25px;
                        }
                    }
                    .btnn{
                        font-size: 16px;
                        padding: 10px;
                        border-radius: 0px;
                    }
                }
                .design-layouts{
                    padding-top: 100px;
                    .design-right{
                        margin-bottom: 40px;
                    }
                    
        }
    }
            @include media-breakpoint-down(sm) {
                .design-layouts{
                padding: 5px;
                }
                .design-layout{
                    .design-left{
                        padding: 80px 15px;
                    }
                    .design-right{
                        padding: 100px 30px;
                    }
                    .button{
                        margin-top: 70px;
                    }
                }
                .design-layouts{
                    .layouts{
                        height: 100%;
                       overflow: visible;
                       .design-right{
                        padding: 20px;
                        h5{
                            font-size: 28px;
                            font-weight: 100;
                        }
                        p{
                            font-size: 20px;
                            font-weight: 400;
                        }
                    }
            }
        }
            }
    }
    .situations-layout{
      background-color: #FCFCFC;
        padding: 150px 0px;
        color: #FFF;
        h2{
            font-size: 36px;
            font-weight: 100;
            font-family: "Muli", sans-serif;
            padding: 0px 45px;
        }
        .nav-link{
            display: flex;
            padding: 0 20px 40px 20px;
            margin-top: 90px;
        }
        .row{
            .col-md-5 {
                flex: 0 0 50%;
                max-width: 50%;
            }
            .col-md-7 {
                flex: 0 0 50%;
                max-width: 50%;
            }
        }
        @include media-breakpoint-down(lg) {
            padding: 100px 0px;
            .row{
                .col-md-5 {
                    flex: 0 0 35%;
                    max-width: 35%;
                }
                .col-md-7 {
                    flex: 0 0 65%;
                    max-width: 65%;
                }
            }
        }
        @include media-breakpoint-down(md) {
            padding: 80px 0px;
            h2{
                font-size: 20px;
                font-weight: 100;
            }
            .row{
                .col-md-5 {
                    flex: 0 0 20%;
                    max-width: 20%;
                }
                .col-md-7 {
                    flex: 0 0 80%;
                    max-width: 80%;
                }
            }
        }
        @include media-breakpoint-down(sm) {
            padding: 70px 0px;
            h2{
                padding-bottom: 40px;
            }
            .row{
                .col-md-5 {
                    flex: 0 0 100%;
                    max-width: 100%;
                }
                .col-md-7 {
                    flex: 0 0 100%;
                    max-width: 100%;
                }
            }
        }
    }
.about-layout2{
        background-color: #000000;
            .design{
                padding: 150px 0px;
                margin-left: -20px;
                h2{
                    font-size: 48px;
                    font-weight: 100;
                    color: #FCFCFC;
                    font-family: "Muli", sans-serif;
                    padding-bottom: 20px;
                }
                h6{
                    font-size: 20px;
                    font-weight: 100;
                    color: #FCFCFC;
                    font-family: "Muli", sans-serif;
                }
                .button{
                    margin-top: 60px;
                    img{
                        margin-left: 35px;
                    }
                }
                .btn-white{
                    border: 2px solid #FFFFFF;
                    color: #FCFCFC;
                    font-size: 20px;
                    padding: 10px 20px;
                    border-radius: 0px;
                    font-family: "Muli", sans-serif;
                }
            }
            @include media-breakpoint-down(lg) { 
                .design{
                    padding: 150px 30px;
                    .button{
                        margin-top: 80px;
                    }
                }
            }
            @include media-breakpoint-down(md) {
                .design{
                    padding: 125px 10px;
                    h2{
                        font-size: 28px;
                        font-weight: 100;
                    }
                    h6{
                        font-size: 20px;
                        font-weight: 100;
                        padding-top: 30px;
                    }
                    .button{
                        margin-top: 80px;
                        img{
                            margin-left: 25px;
                        }
                    }
                    .btnn{
                        font-size: 16px;
                        padding: 15px;
                        border-radius: 0px;
                    }
                }
            }
            @include media-breakpoint-down(sm) {
                height: 700px;
                .design{
                    padding: 124px 5px 0px 30px;
                    .button{
                        margin-top: 90px;
                    }
                }
            }
    }
}
