<div class="about-us">
   <div class="about">
      <div class="container">
         <div class="design">
            <h1>There is always a better way <br> to do it & <span>we find it</span> </h1>
            <h4>- by Thomas Alva Edison +<span> uxmint</span> </h4>
         </div>
      </div>
   </div>
   <div class="about-layout">
      <div class="row">
         <div class="col-md-6 design-layout">
            <div class="design-left">
               <h2> We have created <br> products that are <br> loved by users and <br> product owners</h2>
               <h6>If you want your product to be <br> loved by its users ?</h6>
               <div class="button">
                  <div class="btn" routerLink="/contact-us">Let us Know</div>
              </div>
            </div>
            </div>
         <div class="col-md-6 design-layouts">
           <div class="container">
              <div class="row">
               <div class="col-md-6">  
            <div class="design-right">
                <ul class="logo">
                <li>
                  <img src="./assets/images/services/logo-1.svg">
                </li>
                <li>
                  <img src="./assets/images/services/logo-3.svg">
                </li>
                <li>
                  <img src="./assets/images/services/logo-5.svg">
                </li>
            </ul>
         </div>
         </div>
         <div class="col-md-6">  
            <div class="design-right img_cover">
                <ul class="logo">
                <li>
                  <img src="./assets/images/services/logo-2.svg">
                </li>
                <li>
                  <img src="./assets/images/services/logo-4.svg">
                </li>
                <li>
                  <img src="./assets/images/services/logo-6.svg">
                </li>
            </ul>
         </div>
         </div>
            </div>
            </div>
         </div>
         <div class="flex only-mobile">
            <div class="icon1">
               <img src="./assets/images/about/logo-1.svg">
            </div>
            <div class="icon2">
               <img src="./assets/images/about/logo-2.svg">
            </div>
            <div class="icon3">
               <img src="./assets/images/about/logo-3.svg">
            </div>
            <div class="icon4">
               <img src="./assets/images/about/logo-4.svg">
            </div>
            <div class="icon5">
               <img src="./assets/images/about/logo-5.svg">
            </div>
            <div class="icon6">
               <img src="./assets/images/about/logo-6.svg">
            </div>
         </div>
      </div>
      </div>
   <!--<div class="about-layout1">
      <div class="row">
         <div class="col-md-6 design-layout">
            <div class="design-left">
               <h2> We have built & are building some great products together</h2>
               <div class="button">
                  <div class="btn btnn" routerLink="/services">Check our Service</div>
               </div>
            </div>
         </div>
         <div class="col-md-6 design-layouts ">
           <div class="layouts">
            <div class="design-right">
               <h5>Startups</h5>
               <p>We've been there and we exactly know the struggles and whst it takes to build a product from  the scrarch. We have the expertise to validate your ideas with the right process and to bring the right solutions for your target customers and ensure a successful launch</p>
            </div>
            <div class="design-rights">
               <h5>Established Brands</h5>
               <p>We work with mid-size or large organisations in designing or redesigning complex systems. Optimising the process to bring transformation to the legacysystem.</p>
            </div>
         </div>
      </div>
      </div>
   </div>-->
   <div class="about-layout1">
        <div class="row">
          <div class="col-md-5 design-layout">
            <div class="design-left">
             <h2>We have built & are building some great products together</h2>
             <div class="button">
               <div class="btn btnn" routerLink="/services">Check our Service</div>
            </div>
            </div>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-6 design-layouts">
            <div class="container">
            <div [ngbNavOutlet]="nav"></div>
            <ul ngbNav #nav="ngbNav">
              <li ngbNavItem class="design-right">
                <a ngbNavLink> <svg xmlns="http://www.w3.org/2000/svg" width="16.546" height="17.825" viewBox="0 0 16.546 17.825"> <g id="Group_5633" data-name="Group 5633" transform="translate(15.131 1) rotate(90)"> <path id="Path_9437" data-name="Path 9437" d="M-11443.52,11612.816h-15.825l6.716,6.716" transform="translate(11459.345 -11605.815)" fill="none" stroke="#C3343C" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/> <path id="Path_9438" data-name="Path 9438" d="M-11459.344,11615.815l3-3" transform="translate(11463.06 -11612.814)" fill="none" stroke="#C3343C" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/> </g> </svg></a>
                <ng-template ngbNavContent> <h5>Startups</h5>
                  <p>We've been there and we exactly know the struggles and whst it takes to build a product from  the scrarch. We have the expertise to validate your ideas with the right process and to bring the right solutions for your target customers and ensure a successful launch</p></ng-template>
              </li>
              <li ngbNavItem class="design-rights">
                <a ngbNavLink> <svg xmlns="http://www.w3.org/2000/svg" width="16.546" height="17.825" viewBox="0 0 16.546 17.825"> <g id="Group_5633" data-name="Group 5633" transform="translate(15.131 1) rotate(90)"> <path id="Path_9437" data-name="Path 9437" d="M-11459.344,11612.816h15.825l-6.716,6.716" transform="translate(11459.344 -11605.815)" fill="none" stroke="#C3343C" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/> <path id="Path_9438" data-name="Path 9438" d="M-11456.344,11615.815l-3-3" transform="translate(11468.453 -11612.814)" fill="none" stroke="#C3343C" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/> </g> </svg></a>
                <ng-template ngbNavContent><h5>Established Brands</h5>
                  <p>We work with mid-size or large organisations in designing or redesigning complex systems. Optimising the process to bring transformation to the legacysystem.</p></ng-template>
              </li>
            </ul>
            </div>
          </div>
        </div>
      </div>
   <div class="about-layout2">
      <div class="container">
         <div class="design">
            <h2>We are a mix of Designers, Artists, <br> Psychologists, Programmers, Engineers, <br> Architects & more. </h2>
            <h6>We've come together to build great Products and Services. Drop in <br> your detail if you want to be a part of us.</h6>
            <div class="button">
               <div class="btn btn-white" routerLink="/contact-us">Join our Team</div>
            </div>
         </div>
      </div>
   </div>
</div>

