<div class="career-ui">
    <div class="banner only-mobile">
       <div class="container">
          <div class="careerui-layout1 ">
             <h1>Drop in your detail <br> if you want to be <span> a part of us</span> </h1>
             <h6>Candidates can share their resume<br> with portfolio to  <span>work@uxmint.in</span></h6>
          </div>
       </div>
    </div>
    <div class="careerui-layout">
       <div class="container">
          <div class="careerui-design">
             <div class="row">
                <div class="col-md-5">
                   <h1>UI Designer</h1>
                   <h6>Experience</h6>
                   <h5>2 to 4 years</h5>
                   <h6>Location</h6>
                   <h5>Chennai, India</h5>
                   <div class="button only-mobile">
                      <div class="btn btn-white " routerLink="/careers"><img src="./assets/images/left-arrow.svg"> Back</div>
                   </div>
                </div>
                <div class="col-md-7 description">
                   <h6>Job Description</h6>
                   <p>
                      - Create styleguide, themes, layouts for different interfaces<br>
                      - Work in coherence with Brand Guidelines<br>
                      - Ability to create illustration and icons from the scratch<br>
                      - Proficiency in Sketch, Axure, Zeplin, Adobe XD, Illustrator & Photoshop<br>
                      - Ability to work effectively in a cross cultural environment<br> 
                      - Experience in retail domain added advantage<br>
                      - Ability to prioritize and manage multiple milestones and projects efficiently<br>
                      - Strong communication skills is a must<br> 
                      - Degree in Fine Art, Vis. Comm, Media & Studies, Product Design is<br>preferred.
                   </p>
                   <div class="button">
                      <div class="btn btn-white" routerLink="/career/ui/apply">Apply<img src="./assets/images/rightarrow-white.svg"></div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>