@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

.career-ui{
    .banner{
        padding: 245px 0px;
        background-color: #D3B1FF;
        height: 700px;
        margin-top: -100px;
        h1{
            font-size: 56px;
            font-weight: 100;
            color: #3B3B3B;
            font-family: "Muli", sans-serif;
            span{
                color: #000000;
            }
        }
        h4{
            font-size: 26px;
            font-weight: 100;
            color: #3B3B3B;
            padding-top: 25px;
            font-family: "Muli", sans-serif;
            span a{
                color: #000000;
                text-decoration: underline;
                cursor: pointer;
            }
        }
      
        @include media-breakpoint-down(lg) {
            height: 650px;
        }
        @include media-breakpoint-down(md) {
            height: 540px;
            h1{
                font-size: 36px;
            }
            h6{
                font-size: 24px; 
            }
        }
        @include media-breakpoint-down(sm) {
            //display: none;
            height: 600px;
        }
    }

    .careerui-layout{
        .careerui-design{
            padding: 130px 30px;
            h1{
                font-size: 36px;
                font-weight: 100;
                color: #3B3B3B;
                font-family: "Muli", sans-serif;
                padding-bottom: 30px;
            }
            h6{
                font-size: 20px;
                font-weight: 100;
                color: #3B3B3B;
                font-family: "Muli", sans-serif;
            }
            h5{
                font-size: 20px;
                font-weight: 100;
                color: #707071;
                font-family: "Muli", sans-serif;  
                padding-bottom: 20px;
            }
            .button{
                margin-top: 40px;
                margin-bottom: 50px;
            }
            .btn-white{
                border: 2px solid #0D0D0D;
                border-radius: 0;
                cursor: pointer;
                font-size: 20px;
                font-family: "Muli", sans-serif;
                padding: 8px 25px;
                a:hover{
                    background-color: #000000;
                    color: #FFFFFF!important;
                }
                a{
                    color: #0D0D0D!important;
                    text-decoration: none;
                }
            }
            .btn-white:focus{
                border-color: #ced4da;
                box-shadow: none;
              }
            .description{
                h6{
                    font-size: 24px;
                    font-weight: 100;
                    color: #8B8B8F;
                    margin-top: -45px;
                    font-family: "Muli", sans-serif;
                }
                p{
                    font-size: 16px;
                    color: #707071;
                    //padding-top: 35px;
                    line-height: 45px;
                    font-family: "Muli", sans-serif;
                }
                .button{
                    margin-top: 40px;
                }
                .btn-white{
                    border: 2px solid #0D0D0D;
                    border-radius: 0;
                    color: #0D0D0D;
                    cursor: pointer;
                    font-size: 20px;
                    font-family: "Muli", sans-serif;
                    padding: 8px 25px;
                    &:hover{
                        background-color: #000000;
                        color: #FFFFFF;
                        border: 2px solid #FFFFFF;
                    }
                }
                .btn-white:focus{
                    border-color: #ced4da;
                    box-shadow: none;
                  }
            }
        }

        @include media-breakpoint-down(lg) {  
            .careerui-design{
                padding: 130px 30px;
            }
    }
    @include media-breakpoint-down(md) {  
        .careerui-design{
            padding: 100px 20px;
            h1{
                font-size: 24px;
                font-weight: 100;
                font-weight: 700;
                padding-bottom: 0px;
            }
            h6{
                font-size: 20px;
                font-weight: 100;
                padding-top: 40px;
            }
            h5{
                font-size: 20px;
                font-weight: 100;
            }
            .btn-white{
                font-size: 20px;
                padding: 8px 25px;
            }
            .description{
                h6{
                    font-size: 20px;
                }
                p{
                    font-size: 20px;
                    color: #707071;
                    padding-top: 35px;
                    line-height: 45px;
                }
                .btn-white{
                    font-size: 20px;
                    padding: 8px 25px;
                }
            }
        }
}

@include media-breakpoint-down(sm) { 
  
    padding: 50px 0px;
    .careerui-design{
        padding: 10px 0px;
        .careerui-design{
            padding: 30px 20px;
                }
                .description{
                    h6{
                        margin-top: 10px;
                    }
                    .btn-white{
                        padding: 8px 25px;
                    }
                }
           }
        }
    }
}
