<div class="career-ui">
    <div class="banner">
       <div class="container">
             <h1>Drop in your detail <br> if you want to be <span> a part of us</span> </h1>
             <h4>Candidates can share their resume with portfolio to  <span><a href="mailto:hello@uxmint.in?subject=Query and Collabration!">hello@uxmint.in</a></span></h4>
          
       </div>
    </div>
    <div class="careerui-layout">
       <div class="container">
          <div class="careerui-design" *ngIf="job == 1">
             <div class="row">
                <div class="col-md-5">
                   <h1>Sr Frontend Developer</h1>
                   <h6>Experience</h6>
                   <h5>3 to 6 years</h5>
                   <h6>Location</h6>
                   <h5>Chennai, India</h5>
                   <div class="button only-mobile">
                      <div class="btn btn-white " routerLink="/careers"> Back</div>
                   </div>
                </div>
                <div class="col-md-7 description">
                   <h1>Job Description</h1>
                   <p>
                    - Developing UI for mobile and web applications from the scratch<br>
                    - Build reusable components and libraries for future use<br>
                    - Accurately translate designs into functional UI<br>
                    - Co-ordinate with business, designs and testing teams<br>
                    - Share status on the open tasks and inform the management on any impending risks proactively<br>
                    - Adhered to schedule and timeline
                   </p>
                   <div class="button">
                      <div class="anime-button"><a href="https://www.linkedin.com/jobs/view/3217209178/?refId=usE%2F9Hq%2BdhXjbBk9YIkuWA%3D%3D&trackingId=X3I3FSGtISnOmx25S7tWsw%3D%3D" target="_blank">Apply</a></div>
                   </div>
                </div>
             </div>
          </div>
          <div class="careerui-design" *ngIf="job != 1">
            <div class="row">
               <div class="col-md-5">
                  <h1>Hybrid Designer</h1>
                  <h6>Experience</h6>
                  <h5>2 to 5 years</h5>
                  <h6>Location</h6>
                  <h5>Chennai, India</h5>
                  <div class="button only-mobile">
                     <div class="btn btn-white " routerLink="/careers"> Back</div>
                  </div>
               </div>
               <div class="col-md-7 description">
                  <h1>Job Description</h1>
                  <p>
                     - Create digital campaigns and layouts as per brand guidelines<br>
                     - Edit existing UI Frameworks [basic of HTML/CSS]<br>
                    - Work cross-functionally with other teams<br>
                    - Multi-task while designing components of various projects<br>
                  </p>
                  <div class="button">
                     <div class="anime-button"><a href="https://www.linkedin.com/jobs/view/3319069273/?refId=usE%2F9Hq%2BdhXjbBk9YIkuWA%3D%3D&trackingId=rb1FxiZMEouWwEQ6pqrMwQ%3D%3D" target="_blank">Apply</a></div>
                  </div>
               </div>
            </div>
         </div>
       </div>
    </div>
 </div>