.page-not-found{
    display: flex;
    min-height: calc( 100vh - 82px);
    justify-content: center;
    align-items: center;
    text-align: center;
    .page-not-found-body{
        h1{
            font-size: 140px;
            text-shadow: 4px 5px 1px #b3bbbf;
        }
        h2{
            font-size: 30px;
            font-weight: 400;
        }
        p{
            color: #99abb4;
        }
        .btn{
            color: #FFF;
        }
    }
}