@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import '../../../../scss/colors';

/* Health Buy */
.health-buy{
    background-color: #52BC67;
    color: #ffffff;
    h1{
        padding-top: 150px;
        font-size: 70px;
        font-weight: 400;
        font-family: 'Libre Baskerville', serif;
        padding-bottom: 20px;
    }
    p{
        font-size: 15px;
        font-weight: 400;
        font-family: 'Roboto Slab', serif;
        padding-bottom: 20px;
        text-align: justify;
    }
    img{
        width: 120%;
        height: auto;
    }
}

@include media-breakpoint-down(md) {
.health-buy{
        h1{
            padding-top: 50px;
            font-size: 40px;
            padding-bottom: 10px;
        }
        p{
            font-size: 13px;
        }
    img{
        width: 100%;
        height: auto;
    }
}
}

/*About Project */
.about-project{
    padding-top: 50px;
    h1{
        font-size: 40px;
        font-weight: 300;
        font-family: 'Inter', sans-serif;
        padding-bottom: 20px;
    }
    p{
        font-size: 15px;
        font-weight: 400;
        font-family: 'Roboto Slab', serif;
        color: #5C5C5C;
        text-align: justify;
    }
    .list{
        list-style: none;
        padding: 0;
        li{
            padding-top: 60px;
            padding-right: 80px;
            display: inline-block;
            &:last-child{
                padding-right: 0;
            }
            h3{
                font-size: 15px;
                font-weight: 400;
                font-family: 'Roboto Slab', serif;
                color: #707070;
            }
            p{
                font-size: 15px;
                font-weight: 400;
                font-family: 'Roboto Slab', serif;
                color: #000000;
            }
        }
    }
}

@include media-breakpoint-down(md) {
.about-project{
        padding-bottom: 30px;
        h1{
            font-size: 25px;
            padding-bottom: 10px;
        }
        p{
            font-size: 13px;
            line-height: 25px;
        }
        .list{
            li{
                padding-top: 40px;
                h3{
                    font-size: 13px;
                }
                p{
                    font-size: 13px;
                }
            }
        }
    }
}

/* Process */
.process{
    //background-image: url('/assets/images/projects/health/process.png');
    padding-top: 50px;
    padding-bottom: 50px;
    h1{
        font-size: 40px;
        font-weight: 300;
        font-family: 'Inter', sans-serif;
    }
    .icons{
        list-style: none;
        padding: 0;
        li{
            padding-top: 30px;
            padding-right: 50px;
            display: inline-block;
            &:last-child{
                padding-right: 0;
            }
            img{
                width: 100%;
                height: auto;
            }
        }
    }
}

@include media-breakpoint-down(md) {
.process{
        padding-top: 30px;
        h1{
            font-size: 25px;
        }
        .icons{
            li{
                padding-right: 0px;
                img{
                    width: 80%;
                    height: auto;
                }
            }
        }
    }
}

/* Research */
.research{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #313131;
    color: #ffffff;
    h1{
        font-size: 40px;
        font-weight: 300;
        font-family: 'Inter', sans-serif;
        padding-bottom: 20px;
    }
    .research1{
        padding-bottom: 30px;
    h3{
        font-size: 24px;
        font-weight: 300;
        font-family: 'Inter', sans-serif;
        padding-bottom: 10px;
    }
    p{
        font-size: 15px;
        font-weight: 400;
        font-family: 'Roboto Slab', serif;
        text-align: left;
        color: #CBCBCB;
    }
}
    .research2{
        h3{
            font-size: 24px;
            font-weight: 300;
            font-family: 'Inter', sans-serif;
            padding-bottom: 10px;
        }
        p{
            font-size: 15px;
            font-weight: 400;
            font-family: 'Roboto Slab', serif;
            text-align: justify;
            color: #CBCBCB;
        }
        img{
            width: 18%;
            height: auto;
        }
        .user-list{
            margin-top: 40px;
            .row{
                padding-left: 20px;
                padding-right: 20px;
            }
                img{
                    padding-bottom: 20px;
                    width: 60px;
                    height: auto;
                }
                .highlights1{
                    padding-bottom: 0px;
                    padding-top: 20px;
                    font-size: 15px;
                    font-weight: 400;
                    font-family: 'Roboto Slab', serif;
                    margin-left: 13px;
                }
            }
        .image{
            img{
                width: 100%;
                height: auto;
                transition-property: width, height;
                transition-duration: 1s;
                filter: #606A74; 
                -webkit-filter: grayscale(1);
            }
            img:hover{
                filter: none; 
                -webkit-filter: grayscale(0);
            }
        }
    }
}

@include media-breakpoint-down(md) {
    .research{
        padding-top: 30px;
        h1{
            font-size: 25px;
        }
        .research1{
        h3{
            font-size: 17px;
            padding-bottom: 0;
            padding-top: 10px;
        }
        p{
            font-size: 13px;
            line-height: 20px;
        }
    }
        .research2{
            h3{
                font-size: 17px;
            }
            p{
                font-size: 13px;
                line-height: 25px;
            }
            img{
                width: 30%;
                height: auto;
            }
            .user-list{
                    img{
                        width: 40px;
                        height: auto;
                    }
                    .highlights1{
                        padding-bottom: 0px;
                        padding-top: 10px;
                        font-size: 10px;
                        margin-left: 13px;
                        padding-right: 50px;
                    }
                }
            .image{
                img{
                    width: 100%;
                    height: auto;
                    transition-property: width, height;
                    transition-duration: 1s;
                    padding: 20px;
                    filter: #606A74; 
                    -webkit-filter: grayscale(1);
                }
                img:hover{
                    filter: none; 
                    -webkit-filter: grayscale(0);
                }
            }
        }
    }
}


/* Users journer */
.users-journey{
    padding-top: 50px;
    padding-bottom: 50px;
    h1{
        font-size: 40px;
        font-weight: 300;
        font-family: 'Inter', sans-serif;
        padding-bottom: 20px;
    }
    p{
        font-size: 15px;
        font-weight: 400;
        font-family: 'Roboto Slab', serif;
        color: #5C5C5C;
        padding-bottom: 40px;
        text-align: justify;
    }
    h3{
        font-size: 24px;
        font-weight: 300;
        font-family: 'Inter', sans-serif;
        padding-bottom: 10px;
        color: #707070;
    }
    .user-grp{
        list-style: none;
        padding: 0;
        li{
            padding-right: 10px;
            display: inline-block;
            &:last-child{
                padding-right: 0;
            }
            img{
                width: 100%;
                height: auto;
                padding: 5px;
            }
        }
    }
    img{
        width: 120%;
        height: auto;
        padding: 10px;
    }
}

@include media-breakpoint-down(md) {
.users-journey{
        padding-top: 30px;
        h1{
            font-size: 25px;
            padding-bottom: 10px;
        }
        p{
            font-size: 13px;
            padding-bottom: 20px;
        }
        h3{
            font-size: 17px;
            padding-bottom: 10px;
        }
        .user-grp{
            list-style: none;
            padding: 0;
            li{
                padding-right: 0;
                display: inline-block;
                &:last-child{
                    padding-right: 0;
                }
                img{
                    width: 100%;
                    height: auto;
                }
            }
        }
        img{
            width: 100%;
            height: auto;
            padding: 10px;
        }
    }
}

/* Challenge & needs */
.challenges-needs{
    padding-top: 30px;
    padding-bottom: 50px;
    h3{
        font-size: 40px;
        font-weight: 300;
        font-family: 'Inter', sans-serif;
        padding-bottom: 20px;
        padding-top: 20px;
    }
    p{
        font-size: 15px;
        font-weight: 400;
        font-family: 'Roboto Slab', serif;
        color: #5C5C5C;
        text-align: justify;
    }
}

@include media-breakpoint-down(md) {
.challenges-needs{
    padding-top: 10px;
    h3{
        font-size: 25px;
        padding-bottom: 10px;
    }
    p{
        font-size: 13px;
    }
}
}

.veg-image{
    .step-image{
        text-align: center;
        img{
            width: 100%;
            height: auto;
        }
    }
}
/* Other screen */
.other-screen{
    background-color: #313131;
    h1{
        padding-top: 80px;
        font-size: 40px;
        font-weight: 300;
        font-family: 'Inter', sans-serif;
        padding-bottom: 20px;
        color: #15A450;
    }
    .step-image{
        text-align: center;
    img{
        width: 80%;
        height: auto;
    }
}
}

@include media-breakpoint-down(md) {
.other-screen{
    h1{
        font-size: 25px;
        padding-top: 30px;
    }
}
}

/* Mobile image */
.mobile-image{
    padding-top: 30px;
    padding-bottom: 10px;
    background-color: #46AE62;
    .mobile{
        text-align: center;
        img{
              width: 80%;
              height: auto;
           }
       }
}

@include media-breakpoint-down(md) {
    .mobile-image{
        padding-top: 30px;
        padding-bottom: 10px;
        background-color: #46AE62;
        .mobile{
            img{
                  width: 80%;
                  height: auto;
               }
           }
    }
}
