<!-- Health Buy-->
<section class="health-buy">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1>Health Buy</h1>
        <p>A startup focused on SaaS solutions that empower local communities, globally for healthy food produce</p>
      </div>
      <div class="col-md-6">
        <div class="health-image">
        <img src="/assets/images/projects/health/health.png" />
      </div>
      </div>
    </div>
  </div>
</section>
<!-- Health Buy-->

<!-- About Project -->
<section class="about-project">
  <div class="container">
    <div class="heading">
      <h1>About Project</h1>
    </div>
    <div class="row">
      <div class="col-md-5">
        <p>A platform to connect local farming communities to needy urban dwellers to bring a impact in Health Sector.
        </p>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-5">
          <p>The application connect various segments of users ranging from home-makers, organic produce users, concerned parents to 
            the farmers who are suppressed by the middle-men.
          </p>
      </div>
    </div>
    <ul class="list">
      <li>
        <h3>PLATFORM</h3>
        <p>App</p>
      </li>
      <li>
        <h3>SEGMENT</h3>
        <p>Farm to Consumer</p>
      </li>
    </ul>
  </div>
  </section>
  <!-- About Project -->

  <!-- Process -->
  <section class="process">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
        <h1>Process</h1>
      </div>
      </div>
      <div class="row">
        <div class="col-md-12">
        <ul class="icons">
          <li><img src="/assets/images/projects/health/stackholder.png" /></li>
          <li><img src="/assets/images/projects/health/research.png" /></li>
          <li><img src="/assets/images/projects/health/user.png" /></li>
          <li><img src="/assets/images/projects/health/design.png" /></li>
          <li><img src="/assets/images/projects/health/refine.png" /></li>
        </ul>
      </div>
      </div>
    </div>
  </section>
  <!-- Process -->

  <!-- Research -->
  <section class="research">
    <div class="container">
      <h1>Research</h1>
        <div class="row research1">
          <div class="col-md-3">
            <h3>Goal</h3>
            <p>Enabling Consumers to buy 
              locally grown produce and 
              stay engaged with their farmers</p>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-3">
            <h3>Target Audience</h3>
            <p>We Target people who using 
              Organic products, homemakers 
              Existing portal users</p>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-3">
            <h3>Objective</h3>
            <p>We Target people who using 
              Organic products, homemakers 
              Existing portal users</p>
          </div>
          <div class="col-md-1"></div>
        </div>
        <div class="row research2">
          <div class="col-md-8">
            <h3>User Research</h3>
            <p>Five distinct user groups was formed through our user research</p>
            <img src="/assets/images/projects/health/survey.png" />
            <div class="row user-list">
              <div class="col-md-4">
                <img src="/assets/images/projects/health/home-maker.png" /><span class="highlights1">Home Maker</span>
                <img src="/assets/images/projects/health/org-user.png" /><span class="highlights1">Organic User</span>
            </div>
              <div class="col-md-4">
                <img src="/assets/images/projects/health/env-friendly.png" /><span class="highlights1">Environment Friendy</span>
                <img src="/assets/images/projects/health/inorg-user.png" /><span class="highlights1">InOrganic User</span>
            </div>
              <div class="col-md-4">
                <img src="/assets/images/projects/health/member.png" /><span class="highlights1">Existing User</span>
            </div>
            </div>
        </div>
          <div class="col-md-4">
              <div class="image">
                <img src="/assets/images/projects/health/re-search.png" />
            </div>
          </div>
        </div>
        </div>
  </section>
   <!-- Research -->

<!-- Users journer -->
<section class="users-journey">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <h1>Users Journey</h1>
        <p>The wide range of User Challenges and User needs collated from all % user groups was 
          narrowed down to a limited number which will be addressed in the first phase of 
          the design Process</p>
          <h3>User Groups</h3>
          <ul class="user-grp">
            <li><img src="/assets/images/projects/health/org-user.png" /></li>
            <li><img src="/assets/images/projects/health/inorg-user.png" /></li>
            <li><img src="/assets/images/projects/health/home-maker.png" /></li>
            <li><img src="/assets/images/projects/health/env-friendly.png" /></li>
            <li><img src="/assets/images/projects/health/csa-member.png" /></li>
          </ul>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-6">
        <img src="/assets/images/projects/health/user-journey.png" />
      </div>
    </div>
  </div>
</section>
<!-- Users journer -->

<!-- Challenge & needs -->
<section class="challenges-needs">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h3>Challenges</h3>
        <p>Planning a list of buying product</p>
        <p>Identifying the right and trust worthy shop</p>
        <p>Don't have knowledge about how much quantity to buy for family</p>
        <p>Need another person's help to while buying products</p>
        <p>People forgot to at least one product in their list</p>
      </div>
      <div class="col-md-6">
        <h3>Needs</h3>
        <p>Weekly pre-planned vegetable + groceries list for the whole family</p>
        <p>A place to buy goods in fast and easy way</p>
        <p>A Food Chart to avoid "daily new recipe" confusion</p>
        <p>Health benefits of the Goods and Recipes</p>
        <p>Recipe suggestions based on Taste, Quality, Time, Health</p>
      </div>
    </div>
  </div>
</section>
<!-- Challenge & needs -->


  <!-- Vegetable image -->
  <div class="veg-image">
    <div class="step-image">
      <img src="/assets/images/projects/health/veg.jpg" />
    </div>
  </div>
   <!-- Vegetable image -->

   <!-- Other screen -->
   <section class="other-screen">
     <div class="container">
       <div class="row">
         <div class="col-md-3">
           <h1>Other Screens</h1>
         </div>
         <div class="col-md-9">
         <img src="/assets/images/projects/health/other-screen.png" />
        </div>
       </div>
     </div>
   </section>
   <!-- Other screen -->

<!-- Mobile image -->
<section class="mobile-image">
  <div class="container">
    <div class="mobile">
       <img src="/assets/images/projects/health/mobile.png" />
    </div>
  </div>
</section>
<!-- Mobile image -->
  
  <!-- Other Works -->
  <section class="other-works">
    <div class="container">
      <div class="other-works-heading">
          <h3>Other Works</h3>
      </div>
      <div class="other-works-body">
          <div class="row space">
            <div class="col-md-4">
              <div class="step-image" routerLink="/projects/social-review">
                  <img src="/assets/images/projects/project4.png" alt="Case Study"/>
                  <div class="text-hover">
                      <h4>Social Marketing</h4>
                      <h6>Read Case Study <fa-icon [icon]="['fas','chevron-right']"></fa-icon></h6>
                  </div>
              </div>
          </div>
          <div class="col-md-4">
            <div class="step-image" routerLink="/projects/skill-development">
                <img src="/assets/images/projects/project3.png" alt="Case Study"/>
                <div class="text-hover">
                    <h4>Skill Development</h4>
                    <h6>Read Case Study <fa-icon [icon]="['fas','chevron-right']"></fa-icon></h6>
                </div>
            </div>
        </div>
        <div class="col-md-4">
          <div class="step-image" routerLink="/projects/event-management">
              <img src="/assets/images/projects/project1.png" alt="Case Study"/>
              <div class="text-hover">
                  <h4>Event Management</h4>
                  <h6>Read Case Study <fa-icon [icon]="['fas','chevron-right']"></fa-icon></h6>
              </div>
          </div>
      </div>
            </div>
      </div>
    </div>
  </section>
  <!-- /Other Works -->
  