<section class="project">
    <div class="layout1">
      <div class="container">
      <div class="row">
        <div class="col-md-4">
            <div class="project-detail-wrap">
              <div class="project-detail">
                <div class="project-logo">
                    <h2>EVENT</h2>
                    <h5>MANAGEMENT</h5>
                    <p>Platform for Venues Owners & Professionals to 
                      showcase their Venues and Services and find their customers online.</p>
                </div>
              </div>
            </div>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-6">
            <div class="project-image-wrap">
              <div class="step-image">
                  <img src="/assets/images/projects/event-management/em2.png" alt="Event Management"/>
              </div>
            </div>
        </div>
      </div>
      </div>
    </div>
    <div class="layout2">
      <div class="container">
      <div class="row">
        <div class="col-12">
          <h2>ABOUT PROJECT</h2>
        </div>
        <div class="col-md-5">
        <p>Business segments like Hotel Management, Wedding Halls, Decorators, Photographers, Make-up Artists, Fashion Designers lean more and more into social media (Instagram & Facebook) to showcase their professional services. 
          <br>But they lack the features to get requirements, coordinate with customers, provide quote, sign SLA and deliver seamless service. 
        </p>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-5">
          <p>Marriages and family events are more emotionally connected to people's lives in India; and the current generation is ready to outsource the events and sit back to enjoy a peaceful event without the hassles of organising themselves. Connecting the dots between these two segments is the role of the platform.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3">
          <h5>PLATFORM</h5>
          <h6>Responsive Web Design</h6>
        </div>
        <div class="col-sm-3">
          <h5>SEGMENT</h5>
          <h6>B2B2C</h6>
        </div>
      </div>
      </div>
    </div>
    <div class="layout3">
      <div class="container">
      <div class="row">
        <div class="col-12">
          <h2>PROCESS</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3">
          <div class="step-image1">
            <img src="/assets/images/projects/event-management/Group-1.png" alt="Event Management"/>
        </div>
        <h6>Discover</h6>
        <p>- Background Research</p>
        <p>- Business Requirement Gathering</p>
        <p>- User Research</p>
        </div>
        <div class = "vertical1"></div> 
        <div class="col-sm-3">
          <div class="step-image1">
            <img src="/assets/images/projects/event-management/Group-2.png" alt="Event Management"/>
        </div>
        <h6>Define</h6>
        <p>- Personas</p>
        <p>- Journey Map</p>
        <p>- Root Cause Analysis</p>
        <p>- Conceptual Model</p>
        </div>
        <div class = "vertical2"></div> 
        <div class="col-sm-3">
          <div class="step-image1">
            <img src="/assets/images/projects/event-management/Group-3.png" alt="Event Management"/>
        </div>
        <h6>Design</h6>
        <p>- Feature Mapping</p>
        <p>- Information Architecture</p>
        <p>- Task Flow</p>
        <p>- Wireframe</p>
        </div>
        <div class = "vertical3"></div> 
        <div class="col-sm-3">
          <div class="step-image1">
            <img src="/assets/images/projects/event-management/Group-4.png" alt="Event Management"/>
        </div>
        <h6>Interface</h6>
        <p>- Design Systems</p>
        <p>- Visual Design</p>
        </div>
      </div>
    </div>
  </div>
    <div class="layout4">
      <div class="container">
      <div class="row research">
        <div class="col-12">
          <h2>RESEARCH</h2>
        </div>
      </div>
      <div class="row research1">
        <div class="col-md-3">
          <h3>Objective</h3>
          <p>Platform to assist vendors to amplify their service ability to end customers
            and cross connect with other venders for resources and supplies, follow-up
            on payments and delivery of service.</p>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-3">
          <h3>Target Audience</h3>
          <p>Venue Managers/Owners, Decorators, Photographers, Make-up  artists, Stage
            Performers, Fashion Designers Individuals Corporates in search of venue or event vendors</p>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-4">
          <h3>Story of Event planning</h3>
          <p>Weddings occupy majority of the event planning
            industry. </p>
          <div class="row box">
            <div class="col-sm-4">
              <h4><span class="highlight">$50 </span>Billion</h4>
              <h6>Indian wedding market share</h6>
            </div>
            <div class = "vertical1"></div> 
            <div class="col-sm-4">
              <h4><span class="highlight">20-30</span> %</h4>
              <h6>Growth each year</h6>
            </div>
            <div class = "vertical2"></div> 
            <div class="col-sm-4">
              <h4><span class="highlight">1 Million</span> to <span class="highlight">1 Billion</span></h4>
              <h6>Average budget for a wedding</h6>
            </div>
          </div>
        </div>
      </div>
      <div class="row research2">
        <div class="col-md-4">
          <h5>User Research</h5>
          <p>We have interviewed 100+ users</p>
          <div class="step-image1">
            <img src="/assets/images/projects/event-management/em4.png" alt="Event Management"/>
        </div>
        <div class="set"><img src="/assets/images/projects/event-management/Ellipse 560.png"/><span class="profile"><img src="/assets/images/projects/event-management/em5.png"/></span><span class="highlights">25</span><span class="highlights1">Vendors</span></div><hr>
        <div class="set"><img src="/assets/images/projects/event-management/Ellipse 561.png"/><span class="profile"><img src="/assets/images/projects/event-management/em6.png"/></span><span class="highlights">25</span><span class="highlights1">Venue  Managers</span></div><hr>
        <div class="set"><img src="/assets/images/projects/event-management/Ellipse 562.png"/><span class="profile"><img src="/assets/images/projects/event-management/em7.png"/></span><span class="highlights">50</span><span class="highlights1">Users</span></div>
      <p>With categaorized into 4 Personas</p> 
      </div>
        <div class="col-md-8">
          <p>Based on the interviewed data we done affinity mapping and classified to
            different Personas</p>
            <div class="step-image">
              <img src="/assets/images/projects/event-management/em3.png" alt="Event Management"/>
          </div>
        </div>
      </div>
      </div>
      </div>
    <div class="layout5">
      <div class="container">
      <div class="row">
          <div class="col-md-6">
             <h2> <img src="/assets/images/projects/event-management/em8.png" />CHALLENGES</h2>
             <p>- Decidophobia, Dilemma of selecting an option</p>
              <p>- Not having a clarity on the cost of the service</p>
              <p>- How skilled is this service provider?</p>
              <p>- How many events have they done in past?</p>
              <p>- What is the track record of this service provider?</p>
              <p>- How to get in touch with the right service provider?</p>
          </div>
          <div class="col-md-6">
            <h2> <img src="/assets/images/projects/event-management/em8.png" />NEEDS</h2>
            <p>- Shortlisted set of services that match your budget and spl. occasion</p>
            <p>- Break down of the total cost for the service</p>
            <p>- Similar works, Testimonials, Videos</p>
            <p>- Team members, Portfolio </p>
            <p>- Contact inline, Request call via phone</p>
          </div>
      </div>
      </div>
    </div>
    <div class="layout6">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h2>DESIGN</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <h5>Feature Mapping</h5>
            <p>After finding major problems in
              Root Cause Analysis, Solutioning
              process is done for all the key
              problems that we have found out.</p>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-3">
            <h5>Information Architecture</h5>
            <p>Closed Card Sorting is performed for the
              list of task and information architecture
              is drawn for the task.</p>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-3">
            <h5>Task Flow</h5>
            <p>All possibles scenarios are plotted with the help of Task Flow diagrams to ensure coverage.</p>
          </div>
        </div>
        <div class="step-image">
          <img src="/assets/images/projects/event-management/em9.png" alt="Event Management"/>
      </div>
      </div>
    </div>
    <div class="layout7">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h2>INTERFACE DESIGN</h2>
          </div>
          <div class="col-12">
            <div class="step-image">
              <img src="/assets/images/projects/event-management/em10.png" alt="Event Management"/>
          </div>
          </div>
        </div>
      </div>
    </div>
    <div class="layout8">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h2>LOGO</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <p>With Lots of Sketching and iterations several variation of logos
              are designed </p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="step-image">
              <img src="/assets/images/projects/event-management/em11.png" alt="Event Management"/>
          </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <h2>COMPONENTS</h2>
          </div>
        </div>
        <div class="row">
         <div class="col-md-12">
          <div class="step-image">
            <img src="/assets/images/projects/event-management/em13.png" alt="Event Management"/>
        </div>
         </div>
        </div>
      </div>
    </div>
    <!-- <div class="layout9">
      <div class="container">
        <div class="row">
          <div class="col-md-5">
            <h2>Photographers Profile</h2>
              <p>Users can able to see the event cordinator profiles and contact. Users
                Can be able to see the reviews of the Event coordinator Photographers
                Etc</p>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-6">
            <div class="step-image">
              <img src="/assets/images/projects/event-management/em14.png" alt="Event Management"/>
          </div>
          </div>
        </div>
      </div>
    </div> -->
    <div class="layout10">
        <div class="row">
          <div class="col-md-4">
            <div class="container">
            <h2>RESPONSIVE 
              SCREENS</h2>
              <p>Shortlisted set of services that match
              your budget and spl. occasion
              Break down of the total cost for the service
              Similar works, Testimonials, Videos
              Team members, Portfolio 
              Contact inline, Request call via phone</p>
          </div> 
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-6">
          <div class="step-image">
            <img src="/assets/images/projects/event-management/em15.png" alt="Event Management"/>
        </div>
        </div>
      </div>
    </div>
    <div class="layout11">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h2>WEB VIEW</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="step-image1">
              <img src="/assets/images/projects/event-management/em16.png" alt="Event Management"/>
          </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <div class="step-image">
              <img src="/assets/images/projects/event-management/em17.png" alt="Event Management"/>
          </div>
          </div>
          <div class="col-md-3">
            <div class="step-image">
              <img src="/assets/images/projects/event-management/em18.png" alt="Event Management"/>
          </div>
          </div>
          <div class="col-md-3">
            <div class="step-image">
              <img src="/assets/images/projects/event-management/em19.png" alt="Event Management"/>
          </div>
          </div>
          <div class="col-md-3">
            <div class="step-image">
              <img src="/assets/images/projects/event-management/em20.png" alt="Event Management"/>
          </div>
          </div>
        </div>
      </div>
    </div>
</section>

  
  <!-- Other Works -->
  <section class="other-works">
      <div class="container">
        <div class="other-works-heading">
            <h3>OTHER WORKS</h3>
        </div>
        <div class="other-works-body">
          <div class="row space">
            <div class="col-md-4">
                <div class="step-image" routerLink="/projects/networking">
                    <img src="/assets/images/projects/project2.jpg" alt="Case Study"/>
                    <div class="text-hover">
                        <h4>Network Scalability</h4>
                        <h6>Read Case Study <fa-icon [icon]="['fas','chevron-right']"></fa-icon></h6>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="step-image" routerLink="/projects/skill-development">
                    <img src="/assets/images/projects/project3.jpg" alt="Case Study"/>
                    <div class="text-hover">
                        <h4>Skill Development</h4>
                        <h6>Read Case Study <fa-icon [icon]="['fas','chevron-right']"></fa-icon></h6>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
              <div class="step-image" routerLink="/projects/social-review">
                  <img src="/assets/images/projects/project4.jpg" alt="Case Study"/>
                  <div class="text-hover">
                      <h4>Social Marketing</h4>
                      <h6>Read Case Study <fa-icon [icon]="['fas','chevron-right']"></fa-icon></h6>
                  </div>
              </div>
          </div>
        </div>
        </div>
      </div>
    </section>
    <!-- /Other Works -->
    
