<div class="services">
    <div class="banner">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <div class="banner-content">
                        <h1>User Experience</h1>
                        <p>Digital Products we use in our daily lives should behave as good as the nicest person we know!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="service-layout1">
        <div class="row">
            <div class="col-md-6 left-layout">
                <div class="container">
                    <h3>A product with good User Experience will Improve Productivity drastically</h3>
                </div>
            </div>
            <div class="col-md-6">
                <img src="./assets/images/services/image.png">
            </div>
        </div>
    </div>
    <div class="service-layout2">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <h3>User experience is Acknowledging the emotions</h3>
                    <p>Unravelling solutions for business problems in alignment with end-user expectations. Creating functional, Usable, Pleasurable Unique and Value for digital products.</p>
                </div>
                <div class="col-md-4">
                    <div class="list">
                        <img src="./assets/images/services/icon1.svg"><span>Understanding Business</span>
                    </div>
                    <div class="list">
                        <img src="./assets/images/services/icon2.svg"><span>Framework</span>
                    </div>
                    <div class="list">
                        <img src="./assets/images/services/icon3.svg"><span>Testing</span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="list">
                        <img src="./assets/images/services/icon4.svg"><span>Platform</span>
                    </div>
                    <div class="list">
                        <img src="./assets/images/services/icon5.svg"><span>Manage</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="service-layout3">
        <div class="container">
            <div class="d-flex">
                <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-pills" orientation="vertical">
                  <li ngbNavItem="discussion">
                    <a ngbNavLink><img src="./assets/images/services/icon6.svg">Discussion</a>
                    <ng-template ngbNavContent>
                      <h2>Stake Holder Discussion</h2>
                      <p>We start our requirements gathering from the pillars of the business; the Product Owners, Business SME, CEO/CTO to get their perspectives, needs & current process issues that they encounter and the potential areas of improvement. Based on the inputs we define the features and the scope.</p>
                      <p>On a broader scope the vision for the product and the market context gets defined. Next step would be SWAT Analysis on the competitors in the market.</p>
                    </ng-template>
                  </li>
                  <li ngbNavItem="discovery">
                    <a ngbNavLink><img src="./assets/images/services/icon7.svg">Discovery</a>
                    <ng-template ngbNavContent>
                    <h2>Discovering User Needs</h2>
                      <p>We funnel the requirements from the Stakeholders, Business Team and the End-Users - align according to the Vision of the Product. It takes a series of process to get the inference from the Research Data. Based on the inputs gleaned from the extensive research and analysis we plot the Journey Maps & Persona. This allowing us to Empathise with the end-users bringing value to the Design Strategy.</p>
                      <p>The Divergent & Convergent Thinking Process aims to unearth the innovative solutions and to nail the needs & challenges of the end-users & the business.</p>
                      <div class="li">1. User Research</div>
                      <div class="li">2. User Persona</div>
                      <div class="li">3. Users Journey Map</div>
                      <div class="li">4. Root Cause Analysis</div>
                    </ng-template>
                  </li>
                  <li ngbNavItem="solution">
                    <a ngbNavLink><img src="./assets/images/services/icon8.svg">Solution</a>
                    <ng-template ngbNavContent>
                      <h2>Supporting Solutions</h2>
                      <p>We combine the research and the insights to conceptualize to build the wireframes and iterate the prototypes with the business, technical team and the consumers.</p>
                      <div class="li">1. Conceptual Model</div>
                      <div class="li">2. Task Flow</div>
                      <div class="li">3. Card Sorting</div>
                      <div class="li">4. Information Architecture</div>
                    </ng-template>
                  </li>
                  <li ngbNavItem="test">
                    <a ngbNavLink><img src="./assets/images/services/icon9.svg">Test</a>
                    <ng-template ngbNavContent>
                        <h2>Test Feature Viability</h2>
                        <p>We value your time & effort, we employ Early Testing to avoid rework due to mismatch between the users/market needs. We design Visual Prototype and test in multiple stages. Iterate design based on the feedback avoiding changes during the product development or even worse after market launch which could be very expensive for the business.</p>
                        <div class="li">1. Low Fidelity Wireframe</div>
                        <div class="li">2. High Fidelity Wireframe</div>
                        <div class="li">3. Clickable Prototyping</div>
                        <div class="li">4. Iteration</div>
                    </ng-template>
                  </li>
                  <li ngbNavItem="launch">
                    <a ngbNavLink><img src="./assets/images/services/icon10.svg">Launch</a>
                    <ng-template ngbNavContent>
                        <h2>Market Launch</h2>
                        <p>With multiple iterations and checkpoints at various stages we ensure the prototype is ready for hassle freemarket development and market launch.</p>
                        <div class="li">1. Web Analytics</div>
                        <div class="li">2. Conversion Funnel</div>
                        <div class="li">3. Customer Feedback</div>
                        <div class="li">4. Sprint Iteration</div>
                    </ng-template>
                  </li>
                </ul>
              
                <div [ngbNavOutlet]="nav" class="ml-4 px-5"></div>
              </div>
        </div>
    </div>
</div>