<div class="services">
    <div class="banner">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <div class="banner-content">
                        <h1>User Experience</h1>
                        <hr class="line">
                        <p>Digital Products we use in our daily lives should behave as good as the nicest person we know!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="service-layout1">
        <div class="row">
            <div class="col-md-6 left-layout">
                <div class="container">
                    <h3>A product with good User Experience will Improve Productivity drastically</h3>
                </div>
            </div>
            <div class="col-md-6 right-layout">
              <img src="./assets/images/services/Asset11.svg" alt="User Experience">
            </div>
        </div>
    </div>
    <div class="service-layout2">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <h3>User experience is Acknowledging the emotions</h3>
                    <p>Unravelling solutions for business problems in alignment with end-user expectations. Creating functional, Usable, Pleasurable Unique and Value for digital products.</p>
                </div>
                <div class="col-md-4">
                    <div class="list">
                        <img src="./assets/images/services/icon1.svg" alt="Understanding Business"><span>Understanding Business</span>
                    </div>
                    <div class="list">
                        <img src="./assets/images/services/icon2.svg" alt="Framework"><span>Framework</span>
                    </div>
                    <div class="list">
                        <img src="./assets/images/services/icon3.svg" alt="Testing"><span>Testing</span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="list">
                        <img src="./assets/images/services/icon4.svg" alt="Platform"><span>Platform</span>
                    </div>
                    <div class="list">
                        <img src="./assets/images/services/icon5.svg" alt="Manage"><span>Manage</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="service-layout3">
        <div class="container">
            <div class="d-flex">
                <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-pills" orientation="vertical">
                  <li ngbNavItem="discussion">
                    <a ngbNavLink><svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40">
                        <g id="Group_6453" data-name="Group 6453" transform="translate(-9286 -661)">
                        <g id="Group_6448" data-name="Group 6448" transform="translate(9150.591 -3158.732)">
                        <path id="Path_9471" data-name="Path 9471" d="M1057.03,13422.9v-5.122h-17.621V13435l3.818-4.322h2.081" transform="translate(-896 -9590)" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                        <path id="Path_9472" data-name="Path 9472" d="M1057.03,13434v-17.223h-17.621v12.9h13.262Z" transform="translate(-890 -9583)" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                        </g>
                        <rect id="Rectangle_4822" data-name="Rectangle 4822" width="40" height="40" transform="translate(9286 661)" fill="none" opacity="0"/>
                        </g>
                       </svg>Discussion</a>
                    <ng-template ngbNavContent>
                      <h2>Stake Holder Discussion</h2>
                      <p>We start our requirements gathering from the pillars of the business; the Product Owners, Business SME, CEO/CTO to get their perspectives, needs & current process issues that they encounter and the potential areas of improvement. Based on the inputs we define the features and the scope.</p>
                      <p>On a broader scope the vision for the product and the market context gets defined. Next step would be SWAT Analysis on the competitors in the market.</p>
                    </ng-template>
                  </li>
                  <li ngbNavItem="discovery">
                    <a ngbNavLink>
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40">
                            <g id="Group_6450" data-name="Group 6450" transform="translate(-9187 -638)" opacity="0.8">
                              <g id="Icon_feather-search" data-name="Icon feather-search" transform="translate(9190.5 641.5)">
                                <path id="Path_9469" data-name="Path 9469" d="M25.537,15.019A10.519,10.519,0,1,1,15.018,4.5,10.519,10.519,0,0,1,25.537,15.019Z" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                                <path id="Path_9470" data-name="Path 9470" d="M30.695,30.695l-5.72-5.72" transform="translate(-2.528 -2.528)" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                              </g>
                              <rect id="Rectangle_4823" data-name="Rectangle 4823" width="40" height="40" transform="translate(9187 638)" fill="none" opacity="0"/>
                            </g>
                          </svg>                          
                        Discovery</a>
                    <ng-template ngbNavContent>
                    <h2>Discovering User Needs</h2>
                      <p>We funnel the requirements from the Stakeholders, Business Team and the End-Users - align according to the Vision of the Product. It takes a series of process to get the inference from the Research Data. Based on the inputs gleaned from the extensive research and analysis we plot the Journey Maps & Persona. This allowing us to Empathise with the end-users bringing value to the Design Strategy.</p>
                      <p>The Divergent & Convergent Thinking Process aims to unearth the innovative solutions and to nail the needs & challenges of the end-users & the business.</p>
                      <div class="li">1. User Research</div>
                      <div class="li">2. User Persona</div>
                      <div class="li">3. Users Journey Map</div>
                      <div class="li">4. Root Cause Analysis</div>
                    </ng-template>
                  </li>
                  <li ngbNavItem="solution">
                    <a ngbNavLink>
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40">
                            <g id="Group_6452" data-name="Group 6452" transform="translate(-9109 -530)" opacity="0.8">
                              <g id="Group_6449" data-name="Group 6449" transform="translate(8477.5 -3289.999)">
                                <line id="Line_114" data-name="Line 114" x2="6" transform="translate(648.5 3853.5)" fill="none" stroke="currentColor" stroke-linecap="round" stroke-width="2"/>
                                <path id="Union_3" data-name="Union 3" d="M-877.5-9559v-5.066A10,10,0,0,1-883-9573a10,10,0,0,1,10-10,10,10,0,0,1,10,10,10,10,0,0,1-5.5,8.934l0,5.066Z" transform="translate(1524.499 13409)" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                              </g>
                              <rect id="Rectangle_4825" data-name="Rectangle 4825" width="40" height="40" transform="translate(9109 530)" fill="none" opacity="0"/>
                            </g>
                          </svg>                          
                        Solution</a>
                    <ng-template ngbNavContent>
                      <h2>Supporting Solutions</h2>
                      <p>We combine the research and the insights to conceptualize to build the wireframes and iterate the prototypes with the business, technical team and the consumers.</p>
                      <div class="li">1. Conceptual Model</div>
                      <div class="li">2. Task Flow</div>
                      <div class="li">3. Card Sorting</div>
                      <div class="li">4. Information Architecture</div>
                    </ng-template>
                  </li>
                  <li ngbNavItem="test">
                    <a ngbNavLink>
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40">
                            <g id="Group_6455" data-name="Group 6455" transform="translate(-9487 -503)" opacity="0.8">
                              <g id="Icon_feather-smartphone" data-name="Icon feather-smartphone" transform="translate(9491.5 508)">
                                <path id="Path_9474" data-name="Path 9474" d="M9.884,3H21.8a2.384,2.384,0,0,1,2.384,2.384V24.455A2.384,2.384,0,0,1,21.8,26.839H9.884A2.384,2.384,0,0,1,7.5,24.455V5.384A2.384,2.384,0,0,1,9.884,3Z" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                                <path id="Path_9475" data-name="Path 9475" d="M18,27h4.49" transform="translate(-4.156 -3.929)" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                                <path id="Path_9476" data-name="Path 9476" d="M11.23,13.709l2.37,2.368,5.156-5.156" transform="translate(0.85 -0.103)" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                              </g>
                              <rect id="Rectangle_4830" data-name="Rectangle 4830" width="40" height="40" transform="translate(9487 503)" fill="none" opacity="0"/>
                            </g>
                          </svg>                          
                        Test</a>
                    <ng-template ngbNavContent>
                        <h2>Test Feature Viability</h2>
                        <p>We value your time & effort, we employ Early Testing to avoid rework due to mismatch between the users/market needs. We design Visual Prototype and test in multiple stages. Iterate design based on the feedback avoiding changes during the product development or even worse after market launch which could be very expensive for the business.</p>
                        <div class="li">1. Low Fidelity Wireframe</div>
                        <div class="li">2. High Fidelity Wireframe</div>
                        <div class="li">3. Clickable Prototyping</div>
                        <div class="li">4. Iteration</div>
                    </ng-template>
                  </li>
                  <li ngbNavItem="launch">
                    <a ngbNavLink>
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40">
                            <g id="Group_6507" data-name="Group 6507" transform="translate(-9525 -718)" opacity="0.8">
                              <rect id="Rectangle_4836" data-name="Rectangle 4836" width="40" height="40" transform="translate(9525 718)" fill="#fff" opacity="0"/>
                              <g id="Group_6506" data-name="Group 6506" transform="translate(8475.262 -3007.718)">
                                <path id="Union_4" data-name="Union 4" d="M-883-9568.95l7.459.818,10.186-10.187,7.924-1.44-1.378,7.986L-869-9561.58l.819,7.456Z" transform="translate(1940.51 13311.476)" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                                <line id="Line_115" data-name="Line 115" y2="3.704" transform="translate(1058.357 3749.955) rotate(45)" fill="none" stroke="currentColor" stroke-linecap="round" stroke-width="2"/>
                                <line id="Line_116" data-name="Line 116" y2="3.704" transform="translate(1064.904 3756.502) rotate(45)" fill="none" stroke="currentColor" stroke-linecap="round" stroke-width="2"/>
                                <line id="Line_117" data-name="Line 117" y2="6.481" transform="translate(1061.631 3753.229) rotate(45)" fill="none" stroke="currentColor" stroke-linecap="round" stroke-width="2"/>
                              </g>
                            </g>
                          </svg>                          
                        Launch</a>
                    <ng-template ngbNavContent>
                        <h2>Market Launch</h2>
                        <p>With multiple iterations and checkpoints at various stages we ensure the prototype is ready for hassle freemarket development and market launch.</p>
                        <div class="li">1. Web Analytics</div>
                        <div class="li">2. Conversion Funnel</div>
                        <div class="li">3. Customer Feedback</div>
                        <div class="li">4. Sprint Iteration</div>
                    </ng-template>
                  </li>
                </ul>
              
                <div [ngbNavOutlet]="nav" class="ml-4 px-5"></div>
              </div>
        </div>
    </div>
    <div class="service-layout3-responsive">
      <ngb-accordion [closeOthers]="true" activeIds="static-1">
        <ngb-panel id="static-1"  >  
           <ng-template ngbPanelTitle>
              <div class="dis_flex">
                 <div> Stake Holder Discussion </div>
                 <div class="arrow_rotate">  <img src="./assets/images/about/arrow.png" alt="Arrow"> </div>
              </div>
            </ng-template> 
          <ng-template ngbPanelContent >
           <div class="row">
              <div class="col-md-6 design-left">
                <p>We start our requirements gathering from the pillars of the business; the Product Owners, Business SME, CEO/CTO to get their perspectives, needs & current process issues that they encounter and the potential areas of improvement. Based on the inputs we define the features and the scope.</p>
                <p>On a broader scope the vision for the product and the market context gets defined. Next step would be SWAT Analysis on the competitors in the market.</p>
              </div>
           </div>
          </ng-template>
        </ngb-panel>
        <ngb-panel id="static-2">
           <ng-template ngbPanelTitle>
              <div class="dis_flex">
                 <div>Discovering User Needs</div>
                 <div class="arrow_rotate">  <img src="./assets/images/about/arrow.png" alt="arrow"> </div>
              </div>
            </ng-template> 
           <ng-template ngbPanelContent>
              <div class="row">
                 <div class="col-md-6 design-left">
                  <p>We funnel the requirements from the Stakeholders, Business Team and the End-Users - align according to the Vision of the Product. It takes a series of process to get the inference from the Research Data. Based on the inputs gleaned from the extensive research and analysis we plot the Journey Maps & Persona. This allowing us to Empathise with the end-users bringing value to the Design Strategy.</p>
                  <p>The Divergent & Convergent Thinking Process aims to unearth the innovative solutions and to nail the needs & challenges of the end-users & the business.</p>
                  <div class="li">1. User Research</div>
                  <div class="li">2. User Persona</div>
                  <div class="li">3. Users Journey Map</div>
                  <div class="li">4. Root Cause Analysis</div>
                 </div>
              </div>
           </ng-template>
         </ngb-panel>
         <ngb-panel id="static-3">
           <ng-template ngbPanelTitle>
              <div class="dis_flex">
                 <div>Supporting Solution</div>
                 <div class="arrow_rotate">  <img src="./assets/images/about/arrow.png" alt="Arrow"> </div>
              </div>
            </ng-template>
           <ng-template ngbPanelContent>
              <div class="row">
                 <div class="col-md-6 design-left">
                  <p>We combine the research and the insights to conceptualize to build the wireframes and iterate the prototypes with the business, technical team and the consumers.</p>
                  <div class="li">1. Conceptual Model</div>
                  <div class="li">2. Task Flow</div>
                  <div class="li">3. Card Sorting</div>
                  <div class="li">4. Information Architecture</div>
                 </div>
              </div>
           </ng-template>
         </ngb-panel>
         <ngb-panel id="static-4">
           <ng-template ngbPanelTitle>
              <div class="dis_flex">
                 <div>Test Feature Viability</div>
                 <div class="arrow_rotate">  <img src="./assets/images/about/arrow.png" alt="Arrow"> </div>
              </div>
            </ng-template>
           <ng-template ngbPanelContent>
              <div class="row">
                 <div class="col-md-6 design-left">
                  <p>We value your time & effort, we employ Early Testing to avoid rework due to mismatch between the users/market needs. We design Visual Prototype and test in multiple stages. Iterate design based on the feedback avoiding changes during the product development or even worse after market launch which could be very expensive for the business.</p>
                  <div class="li">1. Low Fidelity Wireframe</div>
                  <div class="li">2. High Fidelity Wireframe</div>
                  <div class="li">3. Clickable Prototyping</div>
                  <div class="li">4. Iteration</div>
                 </div>
              </div>
           </ng-template>
         </ngb-panel>
      </ngb-accordion>
    </div>
    <div class="other-case-studies">
      <div class="row">
          <div class="col-md-6 left">
              <h2>Case Studies</h2>
              <div class="button">
                  <div class="btn btnn" routerLink="/works">See All Works</div>
              </div>
          </div>
          <div class="col-md-6 right">
              <ngu-carousel class="blog-carousel" #blogCarousel [inputs]="blogsCarouselConfig" [dataSource]="otherCaseStudies">
                  <ngu-tile *nguCarouselDef="let item; let i = index">
                      <div class="class">
                          <div class="image">
                              <a [routerLink]="item.url"><img [src]="item.img" alt="Blogs"></a>
                          </div>
                          <h3><a [routerLink]="item.url">{{ item.title }}</a></h3>
                          <h4>{{ item.sub }}</h4>
                      </div>
                  </ngu-tile>
                  <ul class="ngucarousel-indicator" NguCarouselPoint>
                    <li *ngFor="let pointer of blogCarousel.pointNumbers; let i = index">
                      <a (click)="blogCarousel.moveTo(i)" [class.active]="blogCarousel.activePoint == i">&nbsp;</a>
                    </li>
                  </ul>
              </ngu-carousel>
          </div>
      </div>
  </div>
</div>