@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
:host{
    padding-top: 0px;
}
.services{
    .layout{
        background-color: #E4E4E4;
        padding-top: 140px;
        height: 700px;
        padding: 200px 0px;       
        img{
            width: 100%;
            opacity: 0.5;
        }
        h1{
            font-size: 60px;
            font-weight: 400;
            color: #3b3b3b;
            padding-top: 50px;
            font-family: Baskerville;
            span{
                font-size: 60px;
                font-weight: 400;
                color: #000000;
                font-family: Baskerville;
            }       
            #nextline::before{
                content: "\a";
                white-space: pre;
            }
        }
        h3{
            font-size: 36px;
            font-weight: 400;
            color: #3b3b3b;
            font-family: 'Muli', sans-serif;
            a{
                color: #3B3B3B;
                text-decoration: underline;
                cursor: pointer;
            }
        }
        @include media-breakpoint-down(lg){
            height: 750px;
            h1{
                #nextline::before{
                    content: "\a";
                    white-space: pre;
                }
            }
        }
        @include media-breakpoint-down(md){
            height: 615px;
            h1{
                font-size: 36px;
                padding-top: 10px;
                span{
                    font-size: 36px;
                    margin-left: 10px;
                }
                #nextline::before{
                    content: "";
                    white-space: none;
                }
            }
            h3{
                font-size: 24px;
            }
        }
        @include media-breakpoint-down(sm){
            height: 690px;
            padding: 100px 0px;
        }
    }
    .types{
        background-color: #5277BA;
        padding: 100px 0;
        color: #FFF;
        li{
            font-size: 28px;
            font-weight: 300;
            cursor: pointer;
            font-family: Baskerville;
            h2{
                font-size: 56px;
                font-weight: 500;
                margin-bottom: 30px;
                font-family: Baskerville;
            }
        }
        p{
            font-size: 18px;
            font-weight: 300;
            margin-bottom: 60px;
            line-height: 40px;
            font-family: 'Muli', sans-serif;
        }
        .btn{
            font-size: 20px;
            font-weight: 400;
            background-color: #FFF;
            color: #5277BA;
            border-radius: 0;
            font-family: 'Muli', sans-serif;
            img{
                padding-left: 15px;
            }
        }
        .nav-pills .nav-link.active, .nav-pills .show > .nav-link{
            background-color: #5277BA;
            color: #FFF;
            font-size: 36px;
            font-weight: 600;
        }
        .nav-pills a{
            color: #FFF;
        }
        @include media-breakpoint-down(lg){
            padding: 100px 0;
        }
        @include media-breakpoint-down(md){
            padding: 100px 0;
            h2{
                font-size: 36px;
            }
        }
   
    }
    .types-responsive{
        display: none;
    }

    @include media-breakpoint-down(sm) {
        // .layout{
        //     // background-image: url('/assets/images/Mobile Service.png');
        // }
        .types-responsive{
            margin-top: 0px;
            display: block;
            ::ng-deep{
                .card{
                    background-color: #5277BA !important;
                    border-top-left-radius: 0px;
                    border-top-right-radius: 0px;
                }
            }
            ::ng-deep{
            .card-header {
                background-color: #5277BA !important;
            }
            .btn-link:hover {
                color: #C3343C;
                font-size: 20px;
            
            }
            .btn-link {
                font-size: 20px;
                font-weight: 700; 
                color: #C3343C;
                text-decoration: none;
                width: 100%;
            }
            .dis_flex{
                display:flex;
                align-items: center;
                justify-content: space-between;
            }
            .btn:focus  {
                 outline: 0;
                 box-shadow: none !important; 
            }
            .collapsed .arrow_rotate{
                -ms-transform: rotate(180deg);  
                transform: rotate(180deg);
            }
          
        }
        h2{
            font-size: 20px;
            color: #ffffff;
            font-family: Baskerville;
        }
        .design-left{
            padding: 40px 20px;
                p{
                    font-size: 18px;
                    color: #ffffff;
                    padding-top: 10px;
                    font-family: 'Muli', sans-serif;
                }
                .li{
                    font-size: 20px;
                    margin-top: 6px;
                }
            }
        }
        .types{
            display: none;
        }
    }

    .cater{
        padding: 100px 0;
        li{
            font-size: 28px;
            font-weight: 300;
            cursor: pointer;
            font-family: Baskerville;
        }
        h2{
            font-size: 56px;
            font-weight: 500;
            margin-bottom: 30px;
            font-family: Baskerville;
            color: #3B3B3B;
        }
        p{
            font-size: 18px;
            font-weight: 300;
            color: #707071;
            margin-bottom: 60px;
            line-height: 35px;
            font-family: 'Muli', sans-serif;
        }
        .nav-link{
            color: #282829;
        }
        .nav-pills .nav-link.active, .nav-pills .show > .nav-link{
            background-color: #FFF;
            color: #5277BA;
            font-size: 28px;
            font-weight: 500;
            text-decoration: underline;
            text-decoration-thickness: 20%;
            text-underline-offset: 8px;
        }
        @include media-breakpoint-down(lg){
            padding: 100px 0;
        }
        @include media-breakpoint-down(md){
            padding: 100px 0;
            h2{
                font-size: 36px;
            }
        }
   
    }
    .cater-responsive{
        display: none;
    }

    @include media-breakpoint-down(sm) {

        .cater-responsive{
            margin-top: 75px;
            display: block;
            ::ng-deep{
                .card{
                    background-color: #FFFFFF !important;
                }
            }
            ::ng-deep{
            .card-header {
                background-color: #FFFFFF !important;
            }
            .btn-link:hover {
                color: #C3343C;
                font-size: 20px;
            
            }
            .btn-link {
                font-size: 20px;
                font-weight: 700; 
                color: #C3343C;
                text-decoration: none;
                width: 100%;
            }
            .dis_flex{
                display:flex;
                align-items: center;
                justify-content: space-between;
            }
            .btn:focus  {
                 outline: 0;
                 box-shadow: none !important; 
            }
            .collapsed .arrow_rotate{
                -ms-transform: rotate(180deg);  
                transform: rotate(180deg);
            }
          
        }
        h2{
            font-size: 20px;
            color: #282829;
            font-family: Baskerville;
        }
        .design-left{
            padding: 40px 20px;
                p{
                    font-size: 18px;
                    color: #282829;
                    padding-top: 10px;
                    font-family: 'Muli', sans-serif;
                }
                .li{
                    font-size: 20px;
                    margin-top: 6px;
                }
            }
        }
        .cater{
            display: none;
        }
    }
    }


.nav-pills{
    width: 200%;
}
.tab-content{
    width: 200%;
}
.service .nav-link{
    padding: 0 20px 40px 20px;
}
.service .nav-pills .nav-link.active, .nav-pills .show > .nav-link{
    background-color: #FCFCFC;
    color: #C3343C;
    font-size: 36px;
    font-weight: 600;
}
.service .nav-link{
    display: flex;
    padding: 0 20px 40px 20px;
}
.nav-pills a{
    color: #282829;
}

// *********************** BUTTONS white ***************
.anime-button-blue{
    display: flex;
    

    a{
        border: 2px solid #ffffff;
        border-radius: 0;
        color: #ffffff;
        cursor: pointer;
        font-size: 20px;
        padding: 10px 20px;
        font-family: "Muli", sans-serif;
        margin-top: 30px;
        position: relative;
        transition:all .3s;
        z-index: 1;
        text-decoration: none;
        overflow:hidden;
    }
    a::before{
        content:"";
        position: absolute;
        width: 100%;
        height: 100%;
        top:0;
        left:0;
        background-color: #ffffff;
        transition:all 1.5s;
        transform: translateX(-100%);
        z-index: -1;
        overflow:hidden;
       
    
    }
    a:hover:before{
        transform: translateX(0);
    }
    a:hover{
        color:#007bff;
    
    }
  }
.lets-talk{
    height: 80px;
    margin-top: 42px;
}


// *********** HEADER START*********** //

header{
    z-index: 1;
    background-color: #E4E4E4;
    .nav-item a.active{
        color: #000000;
        border-bottom: 3px solid #000000;
    }
    .nav-item{
        margin-left: 22px;
    }
    h2{
        font-family: "Muli", sans-serif;
        font-size: 14px;
        color: #000000;
        margin-left: -14px;
        padding-top: 9px;
    }
}

.header-logo{
    display: inline-flex;
    flex-wrap: nowrap;
    cursor: pointer;
}
.ux-logo{
    img{
        margin-left: 28px;
        margin-top: 7px;
        width: 75%;
    }
}

@include media-breakpoint-down(sm){
    h2{
        margin-left: -78px;
        padding-top: 13px;
    }
    .ux-logo{
        img{
            margin-left: 6px;
            margin-top: 7px;
            width: 54%;
        }}
}
.nav-link{
    font-family: 'Muli', sans-serif;
    font-size: 16px;
    color: #000000;
    font-weight: 400;
}
.lines{
    border-left: 1px solid #AAAAAA;
    height: 25px;
    margin-top: 8px;
    margin-left: 50px;
}
.menu-activator{
    cursor: pointer;
    position: relative;
    margin-left: 30px;
    @include media-breakpoint-down(lg){
        margin-left: 30px;
    }
    @include media-breakpoint-down(md){
        margin-left: 4px;
    }
    @include media-breakpoint-down(sm){
        margin-left: 2px;
    }
    img{
        height: 16px;
        width: auto;
        margin-left: 0px;
        margin-top: -5px;
        @include media-breakpoint-down(lg){
            height: 28px;
            margin-top: -5px;
        }
        @include media-breakpoint-down(md){
            height: 24px;
            margin-top: -10px;
        }
        @include media-breakpoint-down(sm){
            height: 21px;
            margin-top: -5px;
        }
    }
}


@include media-breakpoint-down(lg){
    img{
        margin-left: -20px;
        padding-top: 7px;
    }
    .lines{
      margin-left: 85px;
        }
        .nav-item{
            margin-left: 57px;
        }

}
@include media-breakpoint-down(md){
    .lines{
      margin-left: 45px;
        }
        .nav-item{
            margin-left: 15px;
        }
        .menu-activator{
            img{
               margin-left: 15px;
            }
        }

}
@include media-breakpoint-down(sm){
    .mobile-only{
        display: inline-block;
        a{
            color: #a3a3a3 !important;
        }
    }
    .mediaIcons{
        ul{
            list-style: none;
            display: inline-flex;
            li{
                span{
                    margin-right: 4px;
                }
            }
        }
    }
    .only-mobile{
        display: none;
    }
    .web-only{
        display: none;
    }
}

  // *********** HEADER ENDS *********** //