<div class="services">
    <div class="layout">
        <div class="container">
          <div class="row">
            <div class="col-md-7 ordertwo">
              <h1>Enhance your product with<span> the right strategy</span></h1>
              <h3><a routerLink="/contact-us">let us know</a> what you are looking for</h3>
            </div>
            <div class="col-md-5 orderone">
            </div>
          </div>
        </div>
    </div>
    <div class="services-list">
      <div class="container">
        <h1>Skilled in</h1>
        <div class="service-offer row">
        <div class="col-md-4 service-card">
          <h4>UX Consulting</h4>
          <p>we believe research brings inside our<br>team of design experts connect with<br> your buisness and 'dev team to build a <br>better product </p>
          <a class="swipe-button" routerLink="/service/user-experience">Show More</a>
        </div>
        <div class="col-md-4 service-card">
          <h4>Visual Design</h4>
          <p>Aesthetically good design can instill <br>curiosity for the customers to move <br> beyond the landing page.Make your</p><br>
          <a class="swipe-button" routerLink="/service/interface-design">Show More</a>
        </div>
          <div class="col-md-4 service-card">
          <h4>Front End Development</h4>
          <p>We specialice in HTML/CSS JavaScript,<br>Angular,ReactJS,React Native and back- <br>end interaction.We can liaise with the</p><br>
          <a class="swipe-button" routerLink="/service/ui-development">Show More</a>
        </div>
        </div>
        <div class="service-offer row">
          <div class="col-md-4 service-card">
          <h4>End-to-End Devolopement</h4>
          <p>We build products which are innovative<br>Scalable & modular to solve critical<br> buisness problems. we use Java <br> Spring,REST API,PHP,MongoDB </p><br>
          <a class="swipe-button" routerLink="/service/end-to-end-development">Show More</a>
        </div>
          <div class="col-md-4 service-card">
            <h4>Usablity Testing</h4>
            <p>By means of Usablity Testing<br>techniques we valuate the product or<br>website's user Experience even before <br> it is build it hits the market to</p><br>
            <a class="swipe-button" routerLink="/service/usability-testing">Show More</a>
          </div>
    
        </div>
          
        </div>
    </div>
    <div class="cater">
        <div class="container">
          <h1>We Do</h1>
          <div class="row mb30">
              <h2 class="col-md-5">Enterprise Applications</h2>
              <p class="col-md-7">Prioritizing the road map with the key features involved is the key for designing 
              Enterprise Applications. It involves closely working with the internal business and product 
              teams; aligning the mission and vision with the key Stakeholders of the business. 
              Our consultants work as a true extension of the internal teams to bring the key changes 
              required in designing the application which acts as the backbone of the Core Business.</p>
          </div> 
          <!-- <div class="row justify-content-md-left">
              <div class="col-md-12 line"></div>
          </div> -->
            <div class="row mb30">     
                        <h2 class="col-md-5">Information Portals</h2>
                        <p class="col-md-7">Discussion with the stakeholders to set the pitch and get the inputs 
                        of target audience to focus on customer engagement and conversion. Building the face of your business 
                        that speaks of the product or service offered and acts as the gateway for your business 
                        transactions.</p>
                      </div>
                      <!-- <div class="row justify-content-md-left">
                          <div class="col-md-12 line"></div>
                      </div>   -->
            <div class="row mb30">         
                        <h2 class="col-md-5">Product Development</h2>
                        <p class="col-md-7">Beginning from Ideation to Market Launch our Consultants can help you bring 
                        the product live. Our consultants can work as a true extension of internal business or development team. 
                        The key for a Product Development is understand the Market; deep Research brings key Insights for 
                        product development.<br>
                        Urban & Hauser outline a range of new product development strategies  companies should consider. 
                        They are classified as Reactive or Proactive, depending on how a company handles pressures from the 
                        market and how it decides to use external and internal sources of product development.</p>
                      </div>
                      <!-- <div class="row justify-content-md-left">
                          <div class="col-md-12 line"></div>
                      </div> -->
            <div class="row mb30">         
                        <h2 class="col-md-5">Digital Transformation</h2>
                        <p class="col-md-7">Transform the legacy system by reimagining the Process to embrace 
                          Continuous Improvement & Innovation to elevate customer experience. A digital transformation 
                          strategy can immensely help transform the business, streamline process with the use of latest 
                          technologies for better customer experience and delivery better productivity.<br>
                          The concern for many businesses can be, Are we too late to begin now?  It’s never too late to 
                          begin, it is better to start now than never. In fact, digital speed is as much as 5 times faster 
                          than a traditional business, and that pace is essential to becoming a  pioneer in the business 
                          domain. Those companies at the forefront of the digital revolution earn much more authority, 
                          trust and respect from customers.</p>
                        </div>
                        <!-- <div class="row justify-content-md-left">
                            <div class="col-md-12 line"></div>
                        </div> -->
            <div class="row">
                        <h2 class="col-md-5">Mobile Applications</h2>
                        <p class="col-md-7">Mobile Apps have the potential to increase the business productivity 
                          multi-fold by being in the field. Helps your product to reach masses and plays a critical role for 
                          reaching the customers. With the need for constant updates and customer interaction the demand for 
                          mobile apps have increased multi-fold. Aligning with the Native Ecosystem is the key to design for 
                          Android & iOS which helps in easier adaptability. Our designers can churn the right features and 
                          engagement with the best of customer experience.</p><p></p>
                        </div>
                    
        </div>
    </div>
    <div class="cater-responsive">
      <ngb-accordion [closeOthers]="true" activeIds="static-1">
        <ngb-panel id="static-1"  >  
           <ng-template ngbPanelTitle>
              <div class="dis_flex">
                 <div><h2>Enterprise Applications </h2></div>
                 <div class="arrow_rotate">  <img src="./assets/images/about/arrow.png" alt="Arrow Rotate"> </div>
              </div>
            </ng-template> 
          <ng-template ngbPanelContent >
           <div class="row">
              <div class="col-md-6 design-left">
                <p>Prioritizing the road map with the key features involved is the key for designing 
                  Enterprise Applications. It involves closely working with the internal business and product 
                  teams; aligning the mission and vision with the key Stakeholders of the business. 
                  Our consultants work as a true extension of the internal teams to bring the key changes 
                  required in designing the application which acts as the backbone of the Core Business.</p>
              </div>
           </div>
          </ng-template>
        </ngb-panel>
        <ngb-panel id="static-2">
           <ng-template ngbPanelTitle>
              <div class="dis_flex">
                 <div><h2>Information Portals</h2></div>
                 <div class="arrow_rotate">  <img src="./assets/images/about/arrow.png" alt="Arrow Rotate"> </div>
              </div>
            </ng-template> 
           <ng-template ngbPanelContent>
              <div class="row">
                 <div class="col-md-6 design-left">
                  <p>Discussion with the stakeholders to set the pitch and get the inputs 
                    of target audience to focus on customer engagement and conversion. Building the face of your business 
                    that speaks of the product or service offered and acts as the gateway for your business 
                    transactions.</p>
                 </div>
              </div>
           </ng-template>
         </ngb-panel>
         <ngb-panel id="static-3">
          <ng-template ngbPanelTitle>
             <div class="dis_flex">
                <div><h2>Product Development</h2></div>
                <div class="arrow_rotate">  <img src="./assets/images/about/arrow.png" alt="Arrow Rotate"> </div>
             </div>
           </ng-template> 
          <ng-template ngbPanelContent>
             <div class="row">
                <div class="col-md-6 design-left">
                  <p>Beginning from Ideation to Market Launch our Consultants can help you bring 
                    the product live. Our consultants can work as a true extension of internal business or development team. 
                    The key for a Product Development is understand the Market; deep Research brings key Insights for 
                    product development.<br>
                    Urban & Hauser outline a range of new product development strategies  companies should consider. 
                    They are classified as Reactive or Proactive, depending on how a company handles pressures from the 
                    market and how it decides to use external and internal sources of product development.</p>
                </div>
             </div>
          </ng-template>
        </ngb-panel>
        <ngb-panel id="static-4">
          <ng-template ngbPanelTitle>
             <div class="dis_flex">
                <div><h2>Digital Transformation</h2></div>
                <div class="arrow_rotate">  <img src="./assets/images/about/arrow.png" alt="Arrow Rotate"> </div>
             </div>
           </ng-template> 
          <ng-template ngbPanelContent>
             <div class="row">
                <div class="col-md-6 design-left">
                  <p>Transform the legacy system by reimagining the Process to embrace 
                    Continuous Improvement & Innovation to elevate customer experience. A digital transformation 
                    strategy can immensely help transform the business, streamline process with the use of latest 
                    technologies for better customer experience and delivery better productivity.<br>
                    The concern for many businesses can be, Are we too late to begin now?  It’s never too late to 
                    begin, it is better to start now than never. In fact, digital speed is as much as 5 times faster 
                    than a traditional business, and that pace is essential to becoming a  pioneer in the business 
                    domain. Those companies at the forefront of the digital revolution earn much more authority, 
                    trust and respect from customers.</p>
                </div>
             </div>
          </ng-template>
        </ngb-panel>
        <ngb-panel id="static-5">
          <ng-template ngbPanelTitle>
             <div class="dis_flex">
                <div><h2>Strategy Design</h2></div>
                <div class="arrow_rotate">  <img src="./assets/images/about/arrow.png" alt="Arrow Rotate"> </div>
             </div>
           </ng-template> 
          <ng-template ngbPanelContent>
             <div class="row">
                <div class="col-md-6 design-left">
                  <p>Mobile Apps have the potential to increase the business productivity 
                    multi-fold by being in the field. Helps your product to reach masses and plays a critical role for 
                    reaching the customers. With the need for constant updates and customer interaction the demand for 
                    mobile apps have increased multi-fold. Aligning with the Native Ecosystem is the key to design for 
                    Android & iOS which helps in easier adaptability. Our designers can churn the right features and 
                    engagement with the best of customer experience.</p>
                </div>
             </div>
          </ng-template>
        </ngb-panel>
      </ngb-accordion>
    </div>
</div>