@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

.services{
    .layout{
        background-color: #3A75DD;
        background-image: url('/assets/images/bg3.png');
        height: 750px;
        border-bottom: 1px solid #739FED;
        h1{
            font-size: 56px;
            font-weight: 700;
            color: #FFF;
            padding-top: 270px;
        }
        h2{
            font-size: 56px;
            font-weight: 700;
            margin-bottom: 40px;
        }
        h3{
            font-size: 36px;
            font-weight: 400;
            color: #FFF;
            a{
                color: #282829;
                text-decoration: underline;
                cursor: pointer;
            }
        }
        @include media-breakpoint-down(lg){
            height: 750px;
        }
        @include media-breakpoint-down(md){
            height: 700px;
            h1{
                font-size: 36px;
            }
            h2{
                font-size: 36px;
            }
            h3{
                font-size: 24px;
            }
        }
        @include media-breakpoint-down(sm){
            height: 690px;
        }
    }
    .types{
        background-color: #3A75DD;
        padding: 100px 0;
        color: #FFF;
        li{
            font-size: 28px;
            font-weight: 300;
            cursor: pointer;
        }
        h2{
            font-size: 56px;
            font-weight: 500;
            margin-bottom: 30px;
        }
        p{
            font-size: 24px;
            font-weight: 300;
            margin-bottom: 60px;
        }
        .btn{
            font-size: 20px;
            font-weight: 400;
            background-color: #FFF;
            color: #3A75DD;
            border-radius: 0;
            img{
                padding-left: 15px;
            }
        }
        .nav-pills .nav-link.active, .nav-pills .show > .nav-link{
            background-color: #3A75DD;
            color: #FFF;
            font-size: 36px;
            font-weight: 500;
        }
        .nav-pills a{
            color: #FFF;
        }
        @include media-breakpoint-down(lg){
            padding: 100px 0;
        }
        @include media-breakpoint-down(md){
            padding: 100px 0;
            h2{
                font-size: 36px;
            }
        }
   
    }
    .types-responsive{
        display: none;
    }

    @include media-breakpoint-down(sm) {

        .types-responsive{
            margin-top: 75px;
            display: block;
            ::ng-deep{
                .card{
                    background-color: #FFFFFF !important;
                }
            }
            ::ng-deep{
            .card-header {
                background-color: #FFFFFF !important;
            }
            .btn-link:hover {
                color: #C3343C;
                font-size: 20px;
            
            }
            .btn-link {
                font-size: 20px;
                font-weight: 700; 
                color: #C3343C;
                text-decoration: none;
                width: 100%;
            }
            .dis_flex{
                display:flex;
                align-items: center;
                justify-content: space-between;
            }
            .btn:focus  {
                 outline: 0;
                 box-shadow: none !important; 
            }
            .collapsed .arrow_rotate{
                -ms-transform: rotate(180deg);  
                transform: rotate(180deg);
            }
          
        }
        h2{
            font-size: 20px;
            color: #282829;
        }
        .design-left{
            padding: 40px 20px;
                p{
                    font-size: 20px;
                    color: #282829;
                    padding-top: 10px;
                }
                .li{
                    font-size: 20px;
                    margin-top: 6px;
                }
            }
        }
        .types{
            display: none;
        }
    }

    .cater{
        padding: 100px 0;
        li{
            font-size: 28px;
            font-weight: 300;
            cursor: pointer;
        }
        h2{
            font-size: 56px;
            font-weight: 500;
            margin-bottom: 30px;
        }
        p{
            font-size: 24px;
            font-weight: 300;
            margin-bottom: 60px;
        }
        .nav-link{
            color: #282829;
        }
        .nav-pills .nav-link.active, .nav-pills .show > .nav-link{
            background-color: #FFF;
            color: #3A75DD;
            font-size: 28px;
            font-weight: 500;
        }
        @include media-breakpoint-down(lg){
            padding: 100px 0;
        }
        @include media-breakpoint-down(md){
            padding: 100px 0;
            h2{
                font-size: 36px;
            }
        }
   
    }
    .cater-responsive{
        display: none;
    }

    @include media-breakpoint-down(sm) {

        .cater-responsive{
            margin-top: 75px;
            display: block;
            ::ng-deep{
                .card{
                    background-color: #FFFFFF !important;
                }
            }
            ::ng-deep{
            .card-header {
                background-color: #FFFFFF !important;
            }
            .btn-link:hover {
                color: #C3343C;
                font-size: 20px;
            
            }
            .btn-link {
                font-size: 20px;
                font-weight: 700; 
                color: #C3343C;
                text-decoration: none;
                width: 100%;
            }
            .dis_flex{
                display:flex;
                align-items: center;
                justify-content: space-between;
            }
            .btn:focus  {
                 outline: 0;
                 box-shadow: none !important; 
            }
            .collapsed .arrow_rotate{
                -ms-transform: rotate(180deg);  
                transform: rotate(180deg);
            }
          
        }
        h2{
            font-size: 20px;
            color: #282829;
        }
        .design-left{
            padding: 40px 20px;
                p{
                    font-size: 20px;
                    color: #282829;
                    padding-top: 10px;
                }
                .li{
                    font-size: 20px;
                    margin-top: 6px;
                }
            }
        }
        .cater{
            display: none;
        }
    }
    }


.nav-pills{
    width: 200%;
}
.tab-content{
    width: 200%;
}
.nav-link{
    padding: 0 20px 40px 20px;
}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link{
    background-color: #FCFCFC;
    color: #C3343C;
    font-size: 36px;
    font-weight: 600;
}
.nav-link{
    display: flex;
    padding: 0 20px 40px 20px;
}
.nav-pills a{
    color: #282829;
}
.flex-column{
    padding: 75px 0px;
}