@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
h2{
    font-size: 57px;
    font-family: Baskerville;
    @include media-breakpoint-down(md) {
        font-size: 36px;
    }
}
p{
    font-size: 16px;
    line-height: 30px;
    @include media-breakpoint-down(md) {
        font-size: 14px;
    }
}
h6{
    font-size: 36px;
    font-family: Muli;
    @include media-breakpoint-down(md) {
        font-size: 28px;
    }
} 
    .banner{
        background-color: #6DAFD8;
        position: relative;
        color: #FFFFFF;
        //padding-top: 150px;
        h6{
            font-weight: 300;
            margin-top: 30px;
        }
    }
    .image-event{
        img{
            width: 100%;
        }
        @include media-breakpoint-down(sm){
            img{
                width: 100%;
                //display: none !important;
            }  
        }
    }
    .approach{
        background-color: #FCFCFC;
        color: #3D3D3D;
        padding: 100px 0px;
        .row{
            padding-bottom: 50px;

        }
        h6{
            font-size: 26px;
            font-family: Baskerville;
        }
        p{
            font-size: 16px;
            font-family: Muli;
            line-height: 50px;
        }
        @include media-breakpoint-down(lg){
            padding: 100px 0px;
            .row{
                padding-bottom: 40px;
    
            }
        }
        @include media-breakpoint-down(md){
            padding: 50px 0px;
            .row{
                padding-bottom: 30px;
    
            }
        }
        @include media-breakpoint-down(sm){
            padding: 30px 0px;
            .row{
                padding-bottom: 20px;
    
            }
            h2{
                font-size: 36px;
                margin-bottom: 30px;
            }
        }
    }
    .craft{
        background-color: #C3343C;
        padding-top: 40px;
        padding-bottom: 40px;
        h2{
            font-size: 57px;
            font-family: Baskerville;
            color: #FCFCFC;
        }
        .button{
            margin-top: 80px;
        }
        .btn-white{
            border: 2px solid #FFFFFF;
            color: #FCFCFC;
             font-size: 18px;
            padding: 8px;
            border-radius: 0px;
            font-family: Muli;
        }
        @include media-breakpoint-down(md){
            h2{
                font-size: 37px;
            }
        }
        @include media-breakpoint-down(sm){
            .button{
                margin-top: 50px;
               padding-left: 15px;
            }
        }
    }
    .other-case-studies{
        .row{
            margin-left: 0;
            margin-right: 0;
            .col-md-6.right{
                padding-left: 0;
                padding-right: 0;
            }
        }
       .left{
           padding: 40px 130px 80px 90px;
           background-color: #EBEBEB;
           h2{
            font-size: 57px;
            font-family: Baskerville;
            color: #282829;
            margin-top: 120px;
            margin-bottom: 80px;
        }
        .btnn{
            border: 2px solid #0D0D0D;
            border-radius: 0;
            color: #0D0D0D;
            cursor: pointer;
             font-size: 18px;
            font-family: Muli;
            &:hover{
                background-color: #C3343C;
                color: #FFFFFF;
                border: 2px solid #E2E2E2;
            }
        }
           @include media-breakpoint-down(md){
            padding: 100px 40px 80px 30px;
            h2{
                font-size: 30px;
                margin-top: 80px;
                margin-bottom: 40px;
            }
            .btn{
                font-size: 16px;
            }
           }
           @include media-breakpoint-down(sm){
            padding: 0px 40px 80px 20px;
           }
       }
       .right{
           .class{
               .image{
                   img{
                       width: 100%;
                   }
               }
               h3{
                font-size: 36px;
                font-family: Baskerville;
                margin: 40px 130px 20px 40px;
            }
            h4{
             font-family: Muli;
              font-size: 18px;
                margin: 0 0 10px 40px;
            }
           }
           @include media-breakpoint-down(md){
            .class{
                h3{
                    font-size: 24px;
                }
            }
           }
       }
    }

// Carousel
.item{
    padding: 0;
}
.ngucarousel-indicator{
    width: 100%;
    padding-bottom: 20px;
    padding-top: 30px;
    padding-left: 40px;
    li{
        display: inline-block;
        line-height: 22px;
        a{
            display: block;
            margin: 0 5px;
            width: 15px;
            height: 15px;
            border: 2px solid #FFF;
            background-color: #D0D0D0 !important;
            text-indent: -999px;
            overflow: hidden;
            border-radius: 10px;
            cursor: pointer;
            &.active{
                width: 11px;
                height: 11px;
                border: 8px solid #C3343C;
                background-color: #C3343C !important;
            }
        }
    }
}
::ng-deep .tile{
    border-radius: 15px;
    box-shadow: none !important;
}
@include media-breakpoint-down(sm) {
    .banner{
        img{
            width: 100%;
        }
    }
    }