<div class="works">
    <div class="banner">
        <div class="container">
            <div class="row">
                <div class="col-md-6 orderone">
                        <img src="./assets/images/works/Automobile-1.png">
                </div>
            </div>
        </div>
    </div>
    <div class="image-event">
        <img src="./assets/images/works/Automobile-2.png">
    </div>
    <div class="approach">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h2>Approach</h2>
                </div>
                <div class="col-md-8">
                    <p>To observe the user Behaviour under different conditions with the parameters of Cognition, Acceptance and Reach. Also How Culture & Environment impacts the understanding of the functionalities?</p>
                    </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <h2>Testing Process </h2>
                </div>
                <div class="col-md-8">
                    <h6>Testing Environment</h6>
                    <p>Vehicle was tested in Natural Environment (to the extent possible) in calm road and broad daylight condition; while other pedestrians/vehicles were passing by the testing vehicle.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-8">
                    <h6>Testing Equipments</h6>
                    <p>Vehicle was provided with the prototype installed. Prototype was simulated for different scenarios with various alerts “Visual”, “Audio” and “Haptics”.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                        <h2>Testing Summary</h2>
                    </div>
                <div class="col-md-8">
                        <div class="needs">
                            <div class="needs-right">
                               <p>The various touch points on user preferences, cultural impact, segment variance and the enhancements required were provided based on the exhaustive usability testing done on different user segments ranging from children, teenagers, adults, parents and elderly.</p>
                               <p>Environmental</p>
                                <p>Emotional</p>
                                <p>Intellectual</p>
                                <p>Ergonomical</p>
                                <p>Senses</p>
                            </div>
                         </div>
                    </div>
                </div>
            </div>
        </div>
    <div class="other-case-studies">
        <div class="row">
            <div class="col-md-6 left">
                <h2>Other Case Studies</h2>
                <div class="button">
                    <div class="btn btnn" routerLink="/services">See All Works</div>
                </div>
            </div>
            <div class="col-md-6 right">
                <ngu-carousel class="blog-carousel" #blogCarousel [inputs]="blogsCarouselConfig" [dataSource]="blogs">
                    <ngu-tile *nguCarouselDef="let item; let i = index">
                        <div class="class">
                            <div class="image">
                                <img [src]="item.img">
                            </div>
                            <h3>{{ item.title }}</h3>
                            <h4>{{ item.sub }}</h4>
                        </div>
                    </ngu-tile>
                    <ul class="ngucarousel-indicator" NguCarouselPoint>
                      <li *ngFor="let pointer of blogCarousel.pointNumbers; let i = index">
                        <a (click)="blogCarousel.moveTo(i)" [class.active]="blogCarousel.activePoint == i">&nbsp;</a>
                      </li>
                    </ul>
                </ngu-carousel>
            </div>
        </div>
    </div>
    <div class="craft">
        <div class="container">
          <div class="row">
             <div class="col-md-4">
             <h2>Let's craft design together!</h2>
          </div>
             <div class="button">
                 <div class="btn-white" routerLink="/contact-us">Let's Talk</div>
             </div>
        </div>
        </div>
     </div>
</div>