<div class="container">
    <div class="page">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <main>
                    <div class="page-description">
                        <h3>Terms and Conditions</h3>
                        <p>Areas of the Site may have different terms of use posted. If there is a conflict between the Terms of Use and terms of use posted for a specific area of the Site, the latter shall have precedence with respect to your use of that area of the Site. Capitalized terms are defined in this Agreement. There are no charges any fee for browsing the Website. We grant browsers limited rights to access of this website and its content, but not to download (other than page caching) or copy or modify or reproduce in any medium. These rights do not include any commercial use of this website or its contents; any collection and use of any content, descriptions, images, and artefact.<br>
                           This website or any portion of this website (including but not limited to any copyrighted material, trademarks, or other proprietary nformation) may not be reproduced, duplicated, copied, sold, resold, visited, distributed or otherwise exploited for any commercial purpose.</p>
                    </div>
                    <div class="page-description">
                        <h3>Disclaimer</h3>
                        <p>We expressly disclaim any warranties or representations (express or implied) in respect of quality, suitability, accuracy, reliability, completeness, timeliness, performance, safety, merchantability, fitness for a particular purpose, or legality of the products listed or displayed or the content (including product information and/or specifications) on the Website. While we have taken precautions to avoid inaccuracies in content, this Website, all content, information, software, products, services and related graphics are provided as is, without warranty of any kind.</p>
                    </div>
                    <div class="page-description">
                        <h3>Governing Law</h3>
                        <p>This Agreement (and any further rules, polices, or guidelines incorporated by reference) shall be governed and construed in accordance with the laws of Tamilnadu, India, without giving effect to any principles of conflicts of law.</p> 
                        <p>This document was last updated on Dec 22 2021.</p>
                    </div>
                </main>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
</div>