@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
.page{
    padding: 150px 100px;
    h3{
        font-size: 36px;
        color: #3B3B3B;
        font-family: Baskerville;
        margin-bottom: 25px;
    }
    p{
        font-size: 18px;
        color: #707071;
        line-height: 35px;
        font-family: Mulish;
    }
    .page-description{
        margin-bottom: 50px;
    }
    a{
        color: #707070;
    }
}