<div class="team">
  <div class="step-image">
    <img src="/assets/images/about-us/our1.jpg" alt="uxmint">
</div>
<div class="container">
<div class="row">
  <div class="col-sm-6">
    <h2>"There's always a better way to do it - </h2>
    <h2>- and we find it"</h2>
   <p>- originally said by Thomas Alva Edison</p>
  </div>
  <div class="col-sm-1"></div>
  <div class="col-sm-5">
    <h6>Provide Meaningful design solution for products which
      amplifies human ability resulting in harmony between
      users and technology. Design for Solving Problems,
      Design for Emotions, Design for Culture, Design for a
      Better Tomorrow.
      </h6>
      <h6>Transform and invoke design thinking though process
        and innovation to school and college students which
        helps us to build a better environment.</h6>
        <div class="build-next-product-body">
          <a class="btn btn-primary enquire" href="https://uxmint.design/contact-us"><span>Join the clan</span></a>
      </div>
  </div>
</div>
</div>
</div>