<div class="team">
  <div class="step-image">
    <img src="/assets/images/about-us/our1.png" alt="uxmint">
</div>
<div class="container">
<div class="row">
  <div class="col-sm-6">
    <h2>"THERE IS ALWAYS A<span class="highlight"> BETTER</span> WAY TO DO IT </h2>
    <h2>BUT WE HAVE TO <span class="highlight">FIND</span> IT"</h2>
   <p>- Thomas Alva Edison</p>
  </div>
  <div class="col-sm-1"></div>
  <div class="col-sm-5">
    <h6>Provide Meaningful design solution for products which
      amplifies human ability resulting in harmony between
      users and technology. Design for solving problems,
      Design for emotions, Design for culture, Design for a
      better tomorrow.
      </h6>
      <h6>Transform and invoke design thinking though process
        and innovation to school and college students which
        helps us to build a better environment</h6>
        <div class="build-next-product-body">
          <a class="btn btn-primary enquire" routerLink="/contact-us"><span>Join our Team</span></a>
      </div>
  </div>
</div>
</div>
</div>