@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import '../../../scss/colors';
.team{
text-align: left;
color: #6C6C6C;
font-style: 'Roboto';
.step-image img{
    filter: #606A74; 
  -webkit-filter: grayscale(1);

}
.step-image img:hover{
    filter: none;
    -webkit-filter: grayscale(0);
}

.highlight{
    color: #1ED69F;
}
h2{
    font-size: 24px;
    font-weight: 300;
    font-family: 'Inter', sans-serif;
}
h6{
    font-size: 15px;
    font-weight: 300;
    font-family: 'Roboto Slab', serif;
    line-height: 37px;
    margin-bottom: 22px;
    text-align: justify;
}
p{
    font-size: 15px;
    font-weight: 300;
    font-family: 'Roboto Slab', serif;
    text-align:right;
}
.build-next-product-body {
    text-align: left;
    margin-left: 24px;
}
.build-next-product-body .btn.enquire {
    cursor: pointer;
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    font-weight: 400;
    border-radius: 5px;
    padding: 11px 25px;
    margin-left: -23px;
    margin-top: 17px;
}
.container{
    margin-top: 50px;
    margin-bottom: 100px;
}
@include media-breakpoint-down(md) {
    .container{
        padding-left: 30px;
        padding-right: 30px;
    }
    h2{
        font-size: 20px;
    }
    h6{
        font-size: 13px;
        line-height: 22px;
    }
    p{
        font-size: 13px;
    }
    .build-next-product-body .btn.enquire {
        font-size: 13px;
    }
    .step-image img{
        width: 100%;
        height: auto;
        filter: none;
        -webkit-filter: grayscale(0);
     }
}
}