@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import '../../../scss/colors';
.team{
text-align: left;
color: #6C6C6C;
font-style: 'Roboto';
.step-image img{
    width: 100%;
    height: auto;
    filter: #606A74; 
  -webkit-filter: grayscale(1);

}
// .step-image img:hover{
//     filter: none;
//     -webkit-filter: grayscale(0);
// }

.highlight{
    color: #60D6C9;
}
h2{
    font-size: 24px;
    font-weight: 400;
    font-family: 'Noto Serif JP', serif;
}
h6{
    font-size: 14px;
    font-weight: 400;
    font-family: 'Noto Sans JP', sans-serif;
    line-height: 20px;
    margin-bottom: 22px;
    text-align: justify;
}
p{
    font-size: 14px;
    font-weight: 400;
    font-family: 'Noto Sans JP', sans-serif;
    text-align:right;
}
.build-next-product-body {
    text-align: left;
    margin-left: 24px;
}
.build-next-product-body .btn.enquire {
    cursor: pointer;
    color: #FFF;
    background-color: #FDEE78;
    border-color: unset;
    font-weight: 300;
    font-size: 14px;
    border-radius: 5px;
    padding: 11px 25px;
    margin-left: -23px;
    margin-top: 17px;
    span{
        color: #000000;
        font-weight: 400;
        font-family: 'Noto Sans JP', sans-serif;
    }
}
.container{
    margin-top: 50px;
    margin-bottom: 100px;
}
@include media-breakpoint-down(md) {
    .container{
        padding-left: 20px;
        padding-right: 20px;
    }
    h2{
        font-size: 15px;
    }
    h6{
        font-size: 13px;
        line-height: 22px;
    }
    p{
        font-size: 13px;
    }
    .build-next-product-body .btn.enquire {
        font-size: 13px;
    }
    .step-image img{
        width: 100%;
        height: auto;
        // filter: none;
        // -webkit-filter: grayscale(0);
     }
}
}