<div class="searvice-jumbotron">
    <div class="container">
        <div class="searvice-jumbotron-inner">
            <div class="row">
                <div class="col-md-7">
                    <h5>INTERFACE<span class="highlight"> DESIGN</span></h5>
                    <p>Aesthetically good design can instil curiosity for the customers to move beyond the landing page. Make your website come alive with best UI.
                    </p>
                        <ul class="list-icons">
                            <li><div class="step-image1">
                                <img src="/assets/images/services/vdicon1.png" alt="" />
                                <p>Mood Board</p>
                            </div></li>
                            <li><div class="step-image1">
                                <img src="/assets/images/services/vdicon2.png" alt="" />
                                <p>Colors & Typography</p>
                            </div></li>
                            <li>
                                <div class="step-image1">
                                    <img src="/assets/images/services/vdicon3.png" alt="" />
                                    <p>Iconography</p>
                                </div>
                            </li>
                            <li><div class="step-image1">
                                <img src="/assets/images/services/vdicon4.png" alt="" />
                                <p>User Interface</p>
                            </div></li>
                            <li> <div class="step-image1">
                                <img src="/assets/images/services/vdicon5.png" alt="" />
                                <p>Layout & Style Guide</p>
                            </div></li>
                            <li> <div class="step-image1">
                                <img src="/assets/images/services/vdicon6.png" alt="" />
                                <p>Illustrations</p>
                            </div></li>
                            <li><div class="step-image1">
                                <img src="/assets/images/services/vdicon7.png" alt="" />
                                <p>Branding & Logos</p>
                            </div></li>
                        </ul>
                </div>
                <div class="col-md-5">
                    <div class="step-image head">
                        <img src="/assets/images/projects/skill-development/skill-dev.png" alt="" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="service-step1">
    <div class="container">
        <div class="row">
        <div class="col-md-12">
            <h5>MOOD BOARD</h5>
        </div>
        </div>
        <div class="row">
            <div class="col-md-5">
                <p>We interview the stakeholder to understand the emotions and the  brand/product values. We look beyond the digital world to conceive ideas that reflect the business values & belief.</p>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-5">
                <p>Mood Board - a visual representation put across the table to convey or emote the Product ideas and build the theme for the application or product.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 m-last">
                <h3>We define</h3>
                <div class="row">
                    <div class="col-sm-1">
                        <img src="/assets/images/services/line-2.svg" />
                    </div>
                    <div class="col-sm-8">
                        <h6><span> Color</span></h6>
                        <h6><span> Typography</span></h6>
                        <h6><span> Components</span></h6>
                        <h6><span> Illustrations</span></h6>
                        <h6><span> Logos</span></h6>
                    </div>
                </div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-5 m-first">
                <div class="step-image">
                    <img src="/assets/images/services/vd2.png" alt="Color Variation" />
                </div>
            </div>
        </div>
    </div>
</div>

<div class="service-step2">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
        <h5>COLORS & TYPOGRAPHY</h5>
    </div>
    </div>
        <div class="row">
            <div class="col-md-6 m-first">
                <p>We come up with ample of variations for the product/brand and brainstorm with the stakeholders/business consultants and finalise the variations that most inspire the product/brand team.</p>
                <p>Off the shelf typography may not be the solution for every company. Sometimes special products demand the special typography. We help you make the right choice of based on  legible, readable, and appeal when displayed across interfaces</p></div>
        </div>
    
    <div class="row space">
        <div class="col-md-12">
        <div class="step-image step-image-res">
            <img src="/assets/images/services/vd4.png" class="img" alt="Color Variation" />
            <img src="/assets/images/services/vd9.png" class="over-img" alt="Color Variation" />
        </div>
        </div>
    </div>
</div>
</div>

<div class="service-step3">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
        <h5>ICONOGRAPHY</h5>
    </div>
    </div>
        <div class="row">
            <div class="col-md-6">
                <p>We define Icons based on the colour palette and the target audience that are custom-made and are well communicative.</p>
            </div>
            <div class="col-md-6">
                <div class="step-image">
                    <img src="/assets/images/services/vd5.png" alt="Iconography" />
                </div>
            </div>
        </div>
        <div class="row icons-list">
                <ul class="list-icons1">
                    <li>
                        <fa-icon [icon]="['fas','cog']"></fa-icon>
                    </li>
                    <li>
                        <fa-icon [icon]="['fas','user']"></fa-icon>
                    </li>
                    <li>
                        <fa-icon [icon]="['fas','gift']"></fa-icon>
                    </li>
                    <li>
                        <fa-icon [icon]="['fas','bell']"></fa-icon>
                    </li>
                    <li>
                        <fa-icon [icon]="['fas','search']"></fa-icon>
                    </li>
                    <li>
                        <fa-icon [icon]="['fas','calendar']"></fa-icon>
                    </li>
                    <li>
                        <fa-icon [icon]="['fas','play-circle']"></fa-icon>
                    </li>
                    <li>
                        <fa-icon [icon]="['fas','user-alt']"></fa-icon>
                    </li>
                </ul>
                <ul class="list-icons1">
                    <li>
                        <fa-icon [icon]="['fas','th-large']"></fa-icon>
                    </li>
                    <li>
                        <fa-icon [icon]="['fas','envelope']"></fa-icon>
                    </li>
                    <li>
                        <fa-icon [icon]="['fas','clock']"></fa-icon>
                    </li>
                    <li>
                        <fa-icon [icon]="['fas','map-marker-alt']"></fa-icon>
                    </li>
                    <li>
                        <fa-icon [icon]="['fas','link']"></fa-icon>
                    </li>
                    <li>
                        <fa-icon [icon]="['fas','info-circle']"></fa-icon>
                    </li>
                    <li>
                        <fa-icon [icon]="['fas','envelope-open']"></fa-icon>
                    </li>
                    <li>
                        <fa-icon [icon]="['fas','check-square']"></fa-icon>
                    </li>
                </ul>
                <ul class="list-icons2">
                    <li>
                        <fa-icon [icon]="['fas','paperclip']"></fa-icon>
                    </li>
                    <li>
                        <fa-icon [icon]="['fas','chart-bar']"></fa-icon>
                    </li>
                    <li>
                        <fa-icon [icon]="['fas','chevron-down']"></fa-icon>
                    </li>
                    <li>
                        <fa-icon [icon]="['fas','chevron-up']"></fa-icon>
                    </li>
                    <li>
                        <fa-icon [icon]="['fas','portrait']"></fa-icon>
                    </li>
                    <li>
                        <fa-icon [icon]="['fas','camera']"></fa-icon>
                    </li>
                    <li>
                        <fa-icon [icon]="['fas','calendar-alt']"></fa-icon>
                    </li>
                    <li>
                        <fa-icon [icon]="['fab','linkedin']"></fa-icon>
                    </li>
                </ul>
                <ul class="list-icons3">
                    <li>
                        <fa-icon [icon]="['fas','arrow-left']"></fa-icon>
                    </li>
                    <li>
                        <fa-icon [icon]="['fas','user-friends']"></fa-icon>
                    </li>
                    <li>
                        <fa-icon [icon]="['fab','whatsapp']"></fa-icon>
                    </li>
                    <li>
                        <fa-icon [icon]="['fas','comment-alt']"></fa-icon>
                    </li>
                    <li>
                        <fa-icon [icon]="['fab','facebook']"></fa-icon>
                    </li>
                    <li>
                        <fa-icon [icon]="['fas','users']"></fa-icon>
                    </li>
                    <li>
                        <fa-icon [icon]="['fas','desktop']"></fa-icon>
                    </li>
                </ul>
        </div>
    </div>
</div>

<div class="service-step4">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
        <h5><span class="highlight">LAYOUT </span>SETUP</h5>
    </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <p>We have every component that comprises the Layout, now how we organise them in relation to each other in accordance to "Design Principles in a Science rather than just Art!"</p>
                <p>The layout design is the skeleton on which all the components are to be laid, it also pays way for a Responsive Design when it spans across devices; making it with at most precision helps speed up the Development process and by making reusable components wherever possible.</p>
            </div>
            <div class="col-md-6">
                <div class="step-image">
                    <img src="/assets/images/services/vd7.png" alt="Layout" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="step-image image-align">
                <img src="/assets/images/services/vd8.png" alt="Layout" />
            </div>
        </div>
    </div>
</div>

<div class="service-step5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
            <h5>SETUP <span class="highlight">STYLE GUIDE</span></h5>
        </div>
        </div>
        <div class="row">
            <div class="col-md-6 m-first">
                <p>The standard that define the companies branding in reference to Theme/Colour usage, fonts styles, visuals in accordance with the Product Topography even extending to tone and grammar.
                    </p>
            </div>
            <div class="col-md-6 m-last">
                <div class="step-image">
                    <img src="/assets/images/services/vd10.png" alt="Style Guide" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 m-last">
                <div class="step-image">
                    <img src="/assets/images/services/vd11.png" alt="Style Guide" />
                </div>
            </div>
            <div class="col-md-6 m-first">
                <p>A well defined Style Guide brings attention and notice to the Product even among thousands of other brands. In short it defines the personality of the Product!
                </p>
            </div>
        </div>
    </div>
</div>

<div class="service-step6">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
           <h5>ILLUSTRATIONS</h5>
        </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <p>Expressing in words may be challenging at times and Illustration can be the better way to showcase what the product or service is all about.</p>
                <p>Even complex ideas represented pictorically can be simplified in comparison to a written expression. Our team can transend the textual information to Illustation which speaks a 1000 words and captures attention.</p>
            </div>
            <div class="col-md-6">
                <div class="step-image">
                    <img src="/assets/images/services/vd12.png" alt="Illustrations" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="step-image image-align">
                <img src="/assets/images/services/vd13.png" alt="Layout" />
            </div>
        </div>
    </div>
</div>
<div class="service-step7">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
            <h5>LOGO CREATION</h5>
        </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <p>A great product demands individuality; as per studies, “it is often said that customers form an opinion about a Company/Product within seconds.</p>
                <p>A well-designed logo is an easy way to convey to potential customers that your business is professional, trustworthy, and provides quality goods or services”. </p>
                <p>We create multiple variations that can suite different interfaces/ mediums that reflects the Brand Indentity & Individuality.</p>
            </div>
            <div class="col-md-6">
                <div class="step-image">
                    <img src="/assets/images/services/vd14.png" alt="Logo" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 image">
                <div class="step-image">
                    <img src="/assets/images/services/vd15.png" alt="Logo" />
                </div>
            </div>
            <div class="col-md-6 image">
                <div class="step-image">
                    <img src="/assets/images/services/vd16.png" alt="Logo" />
                </div>
            </div>
        </div>
    </div>
</div>


<div class="service-step8">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
            <h5>USER INTERFACE</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <p>The confluence of multiple devices and the consistency across all the interfaces is the key. We design as per the standards of different interfaces keeping in mind the Behavioural Science of different users and their priorities.</p>
            </div>
        </div>
        <div class="row">
            <div class="step-image image-align">
                <img src="/assets/images/services/interface-design/vd17.png" alt="Interface" />
            </div>
            <div class="step-image image-align">
                <img src="/assets/images/services/vd18.png" alt="Interface" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="step-image5 image-align5">
                    <img src="/assets/images/services/vd19.png" alt="Interface" />
                </div>
            </div>
            <div class="col-md-3">
                <div class="step-image5 image-align5">
                    <img src="/assets/images/services/vd20.png" alt="Interface" />
                </div>
            </div>
            <div class="col-md-3">
                <div class="step-image5 image-align5">
                    <img src="/assets/images/services/vd21.png" alt="Interface" />
                </div>
            </div>
            <div class="col-md-3">
                <div class="step-image5 image-align5">
                    <img src="/assets/images/services/vd22.png" alt="Interface" />
                </div>
            </div>
        </div>
    </div>
</div>


<div class="service-step9">
        <div class="case-study">
        <div class="row">
            <div class="col-md-6">
                <div class="step-image image">
                    <img src="/assets/images/projects/project7.png" alt="Interface" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-10">
                <div class="text">
                <h5>UX AHEAD STARTUP WEBSITE</h5>
                <p>Portal for business to for Recruitment and Consulting - showcasing their services and portfolio of works.</p>
                <a routerLink="/projects/marketing"><h3>VIEW CASE STUDY  <fa-icon [icon]="['fas','chevron-right']"></fa-icon></h3></a>
                </div>
            </div>
            <div class="col-md-1"></div>
            </div>
            </div>
        </div>
    </div>
</div>

<!-- Services -->
<div class="services">
    <div class="container">
        <div class="services-heading">
            <h5>OTHER SERVICES</h5>
        </div>
        <div class="service-body">
            <div class="row">
                <div class="col-md-4">
                    <div class="service" routerLink="/services/user-experience">
                      <div class="service-icon">
                          <img src="/assets/images/services/one.png" alt="UX consulting"/>
                      </div>
                      <h4>USER EXPERIENCE</h4>
                      <p>We believe research brings insights our team of design experts connect with your business and ‘dev team to build a better product</p>
                      <a class="btn">Show More</a>
                    </div>
                  </div>

                <div class="col-md-4">
                    <div class="service" routerLink="/services/ui-dev">
                        <div class="service-icon">
                          <img src="/assets/images/services/three.png" alt="Front End Dev" /> 
                        </div>
                        <h4>UI DEVELOPMENT</h4>
                        <p>We specialise in HTML/CSS JavaScript, Angular and back-end integration. We can liaise with the back-end team to
                          execute it pixel perfect</p>
                        <a class="btn">Show More</a>
                      </div>
                </div>

                <div class="col-md-4">
                    <div class="service" routerLink="/services/end-to-end">
                        <div class="service-icon">
                          <img src="/assets/images/services/four.png" alt="End-to-End Development"/>
                        </div>
                        <h4>END TO END DEVELOPMENT</h4>
                        <p>We build products which are innovative scalable & modular to solve critical business problems. We use Java Spring, REST API, PHP, MongoDB, MySQL</p>
                        <a class="btn">Show More</a>
                      </div>
                </div>
              
            </div>
        </div>
    </div>
</div>
<!-- /Services -->