<section class="cater">
<div class="container">
      <div class="row">
            <div class="col-md-6">
                  <h1>We cater to your needs</h1>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-1">
                  <div class="v1"></div>
            </div>
            <div class="col-md-4">
                  <div class="list-items">
                    <h3><span class="image1"><img src="/assets/images/cater/icon-1.svg" alt="" /></span><span class="list">DIGITAL TRANSFORMATION</span></h3>
                    <h3><span class="image2"><img src="/assets/images/cater/icon-2.svg" alt="" /></span><span class="list">PRODUCT DEVELOPMENT</span></h3>
                    <h3><span class="image3"><img src="/assets/images/cater/icon-3.svg" alt="" /></span><span class="list">STARTUPS</span></h3>
                    <h3><span class="image4"><img src="/assets/images/cater/icon-4.svg" alt="" /></span><span class="list">MOBILE APPS</span></h3>
                    <h3><span class="image5"><img src="/assets/images/cater/icon-5.svg" alt="" /></span><span class="list">ENTERPRICE APPLICATION</span></h3>
                    <h3><span class="image6"><img src="/assets/images/cater/icon-6.svg" alt="" /></span><span class="list">INFORMATION PORTALS</span></h3>
                  </div>
            </div>
            <div class="col-md-1"></div>
      </div>
</div>
</section>

<section class="digital-trans">
      <div class="container">
            <div class="row">
                  <div class="col-md-12">
                        <h1>DIGITAL TRANSFORMATION</h1>
                  </div>
            </div>
            <div class="row">
                  <div class="col-md-5">
                        <h2>How Digital Transformation
                        can aid business?</h2>
                        <p>A digital transformation strategy can immensely help transform the business, streamline process 
                              with the use of latest technologies to enhance customer experience and delivery better 
                              productivity. The concern for many businesses can be, Are we too late to begin now? 
                              It’s never too late to begin, is better to start now than never. In fact, digital speed is as 
                              much as 5 times faster than a traditional business, and that pace is essential to becoming a 
                              pioneer in the business domain. Those companies at the forefront of the digital revolution earn 
                              much more authority, trust and respect from customers.</p>
                  </div>
                  <div class="col-md-1"></div>
                  <div class="col-md-5">
                        <h2>Advantages of Digital Transformation</h2>
                        <ul class="list">
                              <li><p>Achieve customer adoption of digital customer journeys</p></li>
                              <li><p>Design and digitise customer journeys</p></li>
                              <li><p>Faster delivery</p></li>
                              <li><p>Deeper Customer Insights</p></li>
                              <li><p>Better Customer Experience</p></li>
                              <li><p>Opening the Door to Globalization</p></li>
                        </ul>
                  </div>
            </div>
            <div class="row">
                  <div class="col-md-5">
                        <div class="step-image">
                              <img src="/assets/images/services/ui-dev/fd4.png" alt="" />
                        </div>
                  </div>
                  <div class="col-md-1"></div>
                  <div class="col-md-5">
                        <h2>Digital Transformation Services</h2>
                        <p>Accelerate the shift to digital with our design driven strategy with clarity and sprint based 
                              approach. Our structured approach helps clients accelerate their digital adoption rate at the 
                              same pace they see business change happening all around them. We priorities initiatives that 
                              deliver value with the highest ROI.
                        </p>
                        <p>Our consultants can build well-crafted digital experience for the end users thereby increasing 
                        the customer footfall and retention. 
                        </p>
                        <div class="btn">View Case Study</div>
                  </div>
            </div>
      </div>
</section>

<section class="produce-dev">
      <div class="container">
            <div class="row">
                  <div class="col-md-12">
                        <h1>PRODUCT DEVELOPMENT</h1>
                  </div>
            </div>
            <div class="row">
                  <div class="col-md-5">
                        <h2>Product Development Strategy</h2>
                        <p>The key for a Product Development is understand the market, deep Research brings key Insights for 
                              product development. Urban & Hauser outline a range of new product development strategies 
                              companies should consider. They are classified as Reactive or Proactive, depending on how a 
                              company handles pressures from the market and how it decides to use external and internal sources 
                              of product development.
                        </p>
                        <h2>Product Development Process</h2>
                        <ul class="list">
                              <li><p>Selecting the Target Group</p></li>
                              <li><p>Conducting Market Research</p></li>
                              <li><p>Data Synthesis</p></li>
                              <li><p>Ideation & Conceptualisation</p></li>
                              <li><p>Wireframes</p></li>
                              <li><p>Interaction Design</p></li>
                              <li><p>Usability Testing</p></li>
                              <li><p>Design Refinement</p></li>
                        </ul>
                        <div class="btn">View Case Study</div>
                  </div>
                  <div class="col-md-1"></div>
                  <div class="col-md-5">
                        <div class="step-image">
                              <img src="/assets/images/home/img-4.png" alt="" />
                        </div>
                  </div>
            </div>
      </div>
</section>

<section class="startups">
      <div class="container">
            <div class="row">
                  <div class="col-md-12">
                        <h1>START-UPS</h1>
                  </div>
            </div>
            <div class="row">
                  <div class="col-md-5">
                        <h2>Designing the MVP</h2>
                        <p>The process starts with understanding the mission and the bigger vision and set the pitch. The 
                              requirement gathering happens in a series of iteration for better refinement and alignment of 
                              goals and realistic road map.
                        </p>
                        <ul class="list">
                              <li><p>Understanding the Goals</p></li>
                              <li><p>Ideation</p></li>
                              <li><p>Solution Divergence (thinking out of the box)</p></li>
                              <li><p>Solution Convergence (adding constraints and bringing to reality)</p></li>                                    <li><p>Setting the Road map</p></li>
                        </ul>
                        
                  </div>
                  <div class="col-md-1"></div>
                  <div class="col-md-5">
                        <h2>Set-up Business Strategy</h2>
                        <p>With the overall road map defined we convert the drawing board ideas to realistic Business Strategy and collaborate with the 
                              Product Owners to priorities and assign timeline. Analyse the ROI and align the features for the road map ahead.
                        </p>
                  </div>
            </div>
            <div class="row">
                  <div class="col-md-5">
                        <h2>Design Sprints</h2>
                        <p>Design Sprints have been used by product leaders in companies like Uber, Slack, Google and Twitter 
                              to solve problems and build better products. It is an ultimate tool for 
                        </p>
                        <ul class="list">
                              <li><p>developing a hypothesis</p></li>
                              <li><p>prototyping an idea</p></li>
                              <li><p>rapid testing</p></li>
                        </ul>
                        <p>with as little investment as possible in a the actual market.</p>

                        <p>Design Sprints brings together cross-functional team to explore ideas from 360 degree with the 
                              core idea of “Faster to market”. We make sure the MVP hits the market with the best of experience 
                              and iterate based on real customer feedback. The successive sprints are planned help in increasing 
                              the customer base and also in retaining existing customer.
                        </p>
                        <ul class="list">
                              <li><p>Colloborate</p></li>
                              <li><p>Innovate</p></li> 
                              <li><p>Accelerate</p></li>
                        </ul>
                        
                        <div class="btn">View Case Study</div>
                  </div>
                  <div class="col-md-1"></div>
                  <div class="col-md-5">
                        <div class="step-image">
                              <img src="/assets/images/projects/skill-development/web-view.png">
                        </div>
                  </div>
            </div>
      </div>
</section>

<section class="mobile-apps">
      <div class="container">
            <div class="row">
                  <div class="col-md-12">
                        <h1>MOBILE APPS</h1>
                  </div>
            </div>
            <div class="row">
                  <div class="col-md-5">
                        <h2>New Era</h2>
                        <p>With the need for constant updates and customer interaction the demand for mobile apps have increased multifold. 
                              Aligning with the Native Ecosystem is the key to design for Android & iOS which helps in easier adaptability. 
                              Our designers can churn the right features and engagement with the best of customer experience.
                        </p>
                  </div>
                  <div class="col-md-1"></div>
                  <div class="col-md-5">
                        <h2>INCREASE YOUR BUSINESS SALES</h2>
                        <p>Mobile Apps have the potential to increase the business productivity multifold by being in the field.
                              Helps your product to reach masses and plays a critical role for reaching the customers.
                        </p>
                  </div>
            </div>
            <div class="row">
                  <div class="col-md-5">
                        <div class="step-image">
                              <img src="/assets/images/cater/two.png" alt="" />
                        </div>
                  </div>
                  <div class="col-md-1"></div>
                  <div class="col-md-5">
                        <h2>B2B & B2C</h2>
                        <p>Out of sight is out of mind for certain categories of tasks, if your business tasks falls under that
                               critical region be that your business falls under B2B or B2C mobile apps leverage of 
                               serving the customer spontaniously with continuity and enhanced productivity.
                        </p>
                  </div>
            </div>
      </div>
</section>

<section class="enterprise-app">
      <div class="container">
            <div class="row">
                  <div class="col-md-12">
                        <h1>ENTERPRISE APPLICATION</h1>
                  </div>
            </div>
            <div class="row">
                  <div class="col-md-5">
                        <h2>Strategies Feature Map</h2>
                        <p>Prioritising the road map with the key features involved is the key for designing Enterprise Applications. It 
                              involves closely working with the internal business and product teams; aligning the mission and vision with 
                              the key Stakeholders of the business. Our consultants work as a true extension of the internal teams to bring 
                              the key changes required in designing the application which acts as the backbone of the Core Business.   
                        </p>
                        <h2>The Design Process</h2>
                        <ul class="list">
                              <li><p>Deep dive to understand the Business Domain</p></li>
                              <li><p>Breakdown the complexities</p></li>
                              <li><p>Build the key component wireframes</p></li>
                              <li><p>Iterate with end users and businesss</p></li>
                              <li><p>Finalise the clickable prototype for development</p></li>
                        </ul>
                  </div>
                  <div class="col-md-1"></div>
                  <div class="col-md-6">
                        <div class="step-image">
                              <img src="/assets/images/projects/app-development/app-dev.png" alt=""/>
                        </div>
                  </div>
            </div>
      </div>
</section>

<section class="info-portals">
      <div class="container">
            <div class="row">
                  <div class="col-md-12">
                        <h1>INFORMATION PORTALS</h1>
                  </div>
            </div>
            <div class="row">
                  <div class="col-md-5">
                        <h2>Requirement Gathering</h2>
                        <p>We discuss with the stakeholders to set the pitch and get the inputs of target audience to focus on customer engagement 
                              and conversion.
                        </p>
                        <h2>The Design Process</h2>
                        <ul class="list">
                              <li><p>Existing portal analytics</p></li>
                              <li><p>Competitor Analysis</p></li>
                              <li><p>Key conversion factors</p></li>
                              <li><p>Content Strategy</p></li>
                              <li><p>High Level Sketches</p></li>
                              <li><p>Refinement Iteration</p></li>
                              <li><p>Tested & Iterated Web Design</p></li>
                        </ul>
                  </div>
                  <div class="col-md-1"></div>
                  <div class="col-md-6">
                        <div class="step-image">
                              <img src="/assets/images/cater/img.png" alt="" />
                        </div>
                  </div>
            </div>
      </div>
</section>

<section class="our-process">
      <div class="container">
            <div class="row">
                  <div class="col-md-12">
                        <h1>OUR PROCESS</h1>
                  </div>
            </div>
            <div class="row">
                  <div class="col-md-1"></div>
                  <div class="col-md-2">
                        <div class="step-image">
                              <img src="/assets/images/cater/process-1.svg" alt="" />
                        </div>
                        <h2>Research</h2>
                        
                  </div>
                  <div class="col-md-2">
                        <div class="step-image">
                              <img src="/assets/images/cater/process-2.svg" alt="" />
                        </div>
                        <h2>Define</h2>
                      
                  </div>
                  <div class="col-md-2">
                        <div class="step-image">
                              <img src="/assets/images/cater/process-3.svg" alt="" />
                        </div>
                        <h2>Strategies</h2>
                       
                  </div>
                  <div class="col-md-2">
                        <div class="step-image">
                              <img src="/assets/images/cater/process-4.svg" alt="" />
                        </div>
                        <h2>Design</h2>
                       
                  </div>
                  <div class="col-md-2">
                        <div class="step-image">
                              <img src="/assets/images/cater/process-5.svg" alt="" />
                        </div>
                        <h2>Test & Iterate</h2>
                       
                  </div>
                  
                  <div class="col-md-1"></div>
            </div>
            <div class="row bttn">
                  <div class="col-md-12">
                        <div class="btn">Know More</div>
                  </div>
            </div>
      </div>
</section>