@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import '../../../scss/colors';

.blog-posts{
    padding-bottom: 200px;
    background-color: #F7F7F7;
    .post-title{
        margin-bottom: 120px;
        text-align: left;
        padding-top: 80px;
        h1{
            font-weight: 300;
            font-size: 60px;
            line-height: 72px;
            span{
                color: #60D6C9 !important;
            }
        }
    }
    .post-excerpt{
            margin-bottom: 80px;
            background-color: #ffffff;
            .p-3{
                padding: 0rem !important;
            }
        .step-image img{
            width: 100%;
            height: 300px;
            filter: #606A74; 
            -webkit-filter: grayscale(1);
        }
        .step-image img:hover{
            filter: none; 
            -webkit-filter: grayscale(0);
        }
        &:last-child{
            margin-bottom: 0;
            padding-bottom: 0;
            border-bottom: 0;
        }
        h3{
            font-size: 20px;
            font-weight: 300;
            margin-bottom: 20px;
        }
        p{
            line-height: 21px;
            font-size: 14px;
            margin-bottom: 20px;
            font-weight: 300;
            color: #6C6C6C;
            text-align: justify;
        }
        .btn{
            font-size: 12px;
            font-weight: 300;
            color: #60D6C9;
            padding: 0;
        }
        .post-detail{
            padding-left: 30px;
            padding-right: 30px;
            padding-top: 30px;
        }
    }
}


@include media-breakpoint-down(sm) {
    .blog-header{
        .inner-wrap{
            h1{
                font-size: 26px;
                line-height: 44px;
            }
        }
    }
    .blog-posts{
        padding-bottom: 100px;
        .post-title{
            margin-bottom: 60px;
            h1{
                font-size: 35px;
            }
        }
        .post-excerpt{
            background-color: #F7F7F7;
            margin-bottom: 60px;
            &:last-child{
                margin-bottom: 0;
                padding-bottom: 0;
                border-bottom: 0;
            }
            .step-image img{
                width: 100%;
                height: 300px;
            }
            h3{
                font-size: 15px;
                line-height: 30px;
            }
            p{
                line-height: 24px;
                font-size: 13px;
                margin-bottom: 20px;
            }
            .btn{
                font-size: 15px;
                color: #60D6C9;
            }
            .post-detail{
                margin-top: 20px;
                padding: 20px
            }
        }
    }
}