<!-- Blog Posts -->
<section class="blog-posts">
    <div class="container">
        <div class="post-title">
            <h1>Latest <span class="text-primary">Blogs and Articles</span></h1>
        </div>
        <div class="post-excerpt" *ngFor="let post of posts">
            <div class="shadow p-3 mb-5 bg-white rounded">
            <div class="row">
                <div class="col-md-4">
                    <div class="step-image">
                        <img [src]="post.imageSrc" [alt]="post.title" />
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="post-detail">
                        <h3>{{post.title}}</h3>
                        <p>{{post.description}}</p>
                        <a class="btn" [href]="post.url" target="_blank">Read More</a>
                    </div>
                </div>
              </div>
            </div>
        </div>
    </div>
</section>