<!-- Health  care -->
<section class="health-care">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h1>HEALTH CARE SYSTEM</h1>
        <p>Holistic healthcares system for the healthcare centers in remote hamlets to enable doctors, healthcare workers.
          Adopted by Government of Tamil Nadu for implementation across all the primay healthcare centers.
        </p>
    </div>
    </div>
  </div>
</section>
<!-- Health  care -->

<!-- image -->
<div class="image">
  <div class="step-image">
    <img src="/assets/images/projects/health-care/health-care.png" />
  </div>
</div>
 <!-- image -->

   <!-- About Project -->
<section class="about-project">
  <div class="container">
    <div class="heading">
      <h1>ABOUT PROJECT</h1>
    </div>
    <div class="row">
      <div class="col-md-5">
        <p>An NGO approached us for Usability Testing of existing platform designed for Remote Healthcare Centers.
        </p>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-5">
          <p>But as it spanned out the Usability Testing revealed deeper changes that were required and it turned out to be 
            a full fledged User Experience Design revamp of the project.
          </p>
      </div>
    </div>
  </div>
  </section>
  <!-- About Project -->

   <!-- Research -->
<section class="research">
  <div class="container">
    <div class="heading">
      <h1>RESEARCH</h1>
    </div>
    <div class="row">
      <div class="col-md-5">
        <div class="res1">
        <h3>Understanding the existing</h3>
        <p>We landed ourselves in the clinics of the Andipatti, Thanjavur to get to know the day-to-day 
          activities of the healthcare workers and the current system.
        </p>
        <div class="research-image">
        <div class="row box">
          <div class="col-md-6 m-first">
            <div class="img1">
            <img src="/assets/images/projects/health-care/case1.png" alt=" "/>
          </div>
          <div class="img2">
            <img src="/assets/images/projects/health-care/case3.png" alt=" "/>
          </div>
          </div>
            <div class="col-md-6 m-last">
              <div class="img3">
              <img src="/assets/images/projects/health-care/case2.png" alt=" "/>
            </div>
              <div class="img4">
            <img src="/assets/images/projects/health-care/case4.png" alt=" "/>
          </div>
            </div>
        </div>
      </div>
    </div>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-5">
        <div class="res2">
        <h3>User interviews and Discoveries</h3>
          <p>The desktop system was consuming most of the time of the doctors in locating the patient record 
            (finding the previous visit history, ailments and their medication). Also rather than allowing the 
            doctors to diagonse; the system was suggesting with possible reasons for the patient's visit. 
            There by reducing the interaction with the patient that eventually reduced the trust factor on doctors.
          </p>
          <p>This was the driving factor for us, we had to change the process and reduce the overload for the doctors enabling 
            better patient and doctor rapport at the same time collecting the data crucial for the management team.
          </p>
        </div>
      </div>
  </div>
  </div>
  </section>
  <!-- Research -->

    <!-- Solution -->
    <section class="solution">
      <div class="container">
      <div class="heading">
        <h1>SOLUTION</h1>
      </div>
      <div class="row">
        <div class="col-md-5">
          <p>Our solutions enabled the doctors to interact with the patients reducing the effort spent in data retrieval 
            and data entry for doctors. The field agents had to re-enter twice since they were in remote area that had 
            very least connectivity. As part of the solution the devices “Tablets” that they carried were loaded with updates 
            in Wi-Fi enabled zones of the clinic everyday before and after their field visit reducing effort data entry and 
            paper work.
          </p>
          <p>We brought in changes in process that allowed data entry to be taken up by other staff members who were part of 
            the primary healthcare and were localites who knew the patients history and their frequency of visits.
          </p>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-5">
          <p>When we were requested to be part of the launch event it was indeed a suprise that it was taken over by 
            Government of Tamil Nadu.
            An honour that we need expected when we started it a Usability Testing activity.
          </p>
          <p>
          </p>
        </div>
      </div>
    </div>
</section>
<!-- Solutions -->

<!-- Web image -->
<section class="web-image">
  <div class="container">
    <div class="web">
       <img src="/assets/images/projects/health-care/web-dev.png" alt="UX consulting"/>
    </div>
  </div>
</section>
<!-- Web image -->

<!-- Other Works -->
<section class="other-works">
  <div class="container">
    <div class="other-works-heading">
        <h3>OTHER WORKS</h3>
    </div>
    <div class="other-works-body">
        <div class="row space">
            <div class="col-md-4">
              <div class="step-image" routerLink="/projects/automobile-usability">
                <img src="/assets/images/projects/project10.png" alt="Case Study"/>
                <div class="text-hover">
                    <h4>Automobile Usability</h4>
                    <h6>Read Case Study  <fa-icon [icon]="['fas','chevron-right']"></fa-icon></h6>
                </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="step-image" routerLink="/projects/event-management">
              <img src="/assets/images/projects/project1.png" alt="Case Study"/>
              <div class="text-hover">
                  <h4>Event Management</h4>
                  <h6>Read Case Study <fa-icon [icon]="['fas','chevron-right']"></fa-icon></h6>
              </div>
          </div>
          </div>
          <div class="col-md-4">
            <div class="step-image" routerLink="/projects/networking">
              <img src="/assets/images/projects/project2.png" alt="Case Study"/>
              <div class="text-hover">
                  <h4>Network Scalability</h4>
                  <h6>Read Case Study <fa-icon [icon]="['fas','chevron-right']"></fa-icon></h6>
              </div>
          </div>
        </div>
        </div>
    </div>
  </div>
</section>
<!-- /Other Works -->
